/* selected list element
----------------------------------------------------------------------------- selected list element */
.form .selected {

  background-color: floralwhite;
  box-shadow: -0.3rem 0 0 floralwhite, 0.3rem 0 0 floralwhite;

  > a:hover {
    background-color: floralwhite;
    box-shadow: -0.3rem 0 0 floralwhite, 0.3rem 0 0 floralwhite;
  }

}

/* table
----------------------------------------------------------------------------- table */

table {
  td {
    &.warning, &.success {
      border-style: solid;
      border-width: 0 1px;
    }
  }

  th {
    &.warning:not(.step), &.success:not(.step) {
      border-style: solid;
      border-width: 0 1px;
    }
  }

  .k-grid-header th {
    &.warning:not(.step), &.success:not(.step) {
      border-style: solid;
      border-width: 0 1px;
    }

    &.warning:not(.step), &.success:not(.step) {
      border-top-width: 1px;
    }
  }

  tr:last-child td {
    &.success, &.warning {
      border-bottom-width: 1px;
    }
  }

  td.warning, th.warning:not(.step), .k-grid-header th.warning:not(.step) {
    background-color: lightyellow;
    border-color: #f49530;
  }

  td.success, th.success:not(.step), .k-grid-header th.success:not(.step) {
    background-color: honeydew;
    border-color: #4ea31e;
  }

  tr:hover td {
    background-color: transparent;
  }
}

.gradient-box {
  position: relative;
  overflow: hidden;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 0 15rem 8rem rgba(255, 255, 255, 1);
  }
}

.window-content {
  max-height: 50vh;
  overflow-y: auto;
}

.toolbar {
  padding-top: 0;
  padding-bottom: 0;
}
