body.new .content-box {
  padding-bottom: .5rem;
}

nav .menu-v li,
nav .menu-v li > a {white-space: normal;}

.txt-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new {
  .k-grid {
    border-width: 0;

    th, td {
      border-width: 1px 0 1px 1px;
      font-size: 1.2rem;
      padding: .1rem .5rem;
      &:first-child {
        border-left-width: 0;
      }
    }

    td:first-child {
      padding-left: 1rem;
    }

    .filter-row td {
      background-color: #fafafa;
      padding-left:  .1rem;
      padding-right: .1rem;
    }
  }

  .k-grid-header th:first-child {
    padding-left: 1rem;
  }
}

.menu-v {
  &.folders {
    font-size: 1.2rem;
    padding: 2rem 1rem;

    li > a {
      border: 1px solid #e5e5e5;
      border-radius: .3rem;
      margin-bottom: .5rem;
      overflow: hidden;
      padding: .5rem .9rem;
      background: white;
    }
  }
}

.archive {
  &.auth {
    .header {
      display: none;
    }

    .content-box > * > .box {
      background: transparent;
      border: none;
      padding: 0;
    }

    > * > .wrapper {
      background: transparent;
    }
  }
}

.status-table {
  width: 15rem;
  margin-left: 1rem;
}

.tiles {
  .tools > * {
    overflow: visible;
  }

  .title-block {
    display: block;
    margin-bottom: 1rem;
    max-height: 6rem;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.hidden-row {
  background-color: #f5f5f5;
  color: darkgray;

  .dropdown {
    color: #000;
  }
}

.header .menu-h > li .count {
  transform: none;
  min-width: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff890c;
  border-radius: 50%;
  margin-top: -0.2rem;
  margin-right: -0.4rem;
  margin-left: -0.2rem;
}
