@import "../variables/themes/_nova.scss";

.radio-button-label {
  &::before,
  &::after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.radio-button-input:checked + .radio-button-label::after {
  transform: translateY(-50%) scale(1);
}

.token-stroke {
  stroke: $primary-02;
}

.token-fill {
  fill: $primary-02;
}
