@import '../variables/themes/_nova.scss';

// VARIABLES
$header-height: 6rem;
$hamburger: $primary-02;
// END VARIABLES

// PROJECT HELPERS
.panel-color {
  background-color: $black-07;
}
// END PROJECT HELPERS

// CUSTOM
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;

  .personal-box {
    .user-name {
      display: inline-block;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      text-align: left;
      max-width: 29.2rem;
    }
  }
}

.hamburger {
  .bar {
    background-color: $primary-02;
    transition: .3s;
  }
  &.open {
    .bar-1 {
      top: .8rem;
      transform: rotate(45deg);
    }
    .bar-2 {
      top: .8rem;
      transform: rotate(-45deg);
    }
    .bar-4 {
      opacity: 0;
    }
  }
  &.button-wrapper {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 2rem;
    border: none;
    &:focus {
      padding: 0;
    }
    &:active {
      background-color: transparent;
    }
  }
}

.sidebar {
  padding-top: $header-height;
  overflow-x: hidden;
  margin-left: -$sidebar-width;
  transition: .3s ease margin-left;
  &.visible {
    margin-left: 0;
    transition: .3s ease margin-left;
  }
}

.document-body {
  padding-top: $header-height;
  padding-left: 0;
}

.tabs-bar {
  padding: 0 .8rem;
}

.list {
  margin-bottom: 0;
  & > dt {
    padding-top: .6rem;
    &:first-of-type {
      padding-top: 0;
    }
  }
  & > dd {
    padding-top: .6rem;
    padding-bottom: .6rem;
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
// END CUSTOM

// MEDIA QUERIES
@media (min-width: 1130px) {
  header .user-name.more {
    max-width: 32.8rem;
  }
}

@media (min-width: 1281px) {
  .sidebar {
    margin-left: 0;
  }
  .document-body {
    padding-left: $sidebar-width;
  }

  .hamburger {
    display: none !important;
  }
}
// END MEDIA QUERIES
