.credit {
  .logo {
    background: url(https://cdn.esphere.ru/images/sberbank/logo.png) 50% 0 no-repeat;
    background-size: 18.5rem 4rem;
    display: block;
    height: 4rem;
    width: 18.5rem;
    margin: 1rem 0;
  }
}

.stamp {
  border: .2rem dashed #949494;
  border-radius: .3rem;
  padding: 2rem;
  max-width: 35%;
  .warning {
    border-color: #f49530;
  }
  .danger {
    border-color: #e84040;
  }
  .success {
    border-color: #4ea31e;
  }
}

.tile {
  &.disable {
    > * {
      filter: none;
    }
    .txt-warning {
      color: #949494;
    }
  }
  h4 {
    padding-right: 2.4rem;
    line-height: 2.6rem;
  }
}

.badge {
  top: -1px;
}

.k-radio-label,
.k-checkbox-label {
  &.with-hint {
    flex-wrap: wrap;
    small {
      flex-basis: 100%;
    }
  }
}

.no-events {
  pointer-events: none;
}
