@import '../variables/themes/_nova.scss';

@for $i from 1 through 4 {
  .margin-left-#{$i*5} {
    margin-left: $i * 5%;
  }
  .margin-right-#{$i*5} {
    margin-right: $i * 5%;
  }
}

.dms-logo {
  width: 13rem;
  height: 100%;
}

.wrapper {
  max-width: 160rem;
}

.sidebar + .content-box .wrapper {
  margin: initial;
}

.user-box {
  position: fixed;
  width: 100%;
  box-shadow: 0.1rem 0.5rem 1.5rem rgba($black-03, 0.4);
  background: $white;
  z-index: 91;
}

.personal-box .novicon-expand {
  color: $black-05;
  font-size: 1.4rem;
  padding-left: 1.6rem;
}

$dms-sidebar-width: 10.6rem;
$dms-sidebar-full: 38.9rem;
$dms-selection-width: 38.8rem;
.dms-content {
  display: flex;
  flex: auto;
}

.content-box {
  padding-top: 10rem;
}

.sidebar {
  background-color: $black-07;
  width: $dms-sidebar-width;
  padding-top: 8rem;
}

.sidebar.sidebar-full {
  width: $dms-sidebar-full;
  flex: 0 0 #{$dms-sidebar-full};
  position: unset !important;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.sidebar + .content-box {
  padding-left: $dms-sidebar-width + 6.25rem;
}

.sidebar.sidebar-full + .content-box {
  flex: 1 1 100%;
  display: flex;
  padding-left: 2rem;
  margin-bottom: auto;
}

.avatar {
  background-color: $primary-04;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: $text-color;
  font-size: 1.8rem;
  line-height: 2.2;
}

.empty-page-icon {
  margin: 2rem auto;
}

.icon {
  &-2rem,
  &-2-rem {
    width: 2rem;
    height: 2rem;
  }

  &-3rem,
  &-3-rem {
    width: 3rem;
    height: 3rem;
  }

  &-account {
    width: 3.6rem;
    height: 3.6rem;
  }
}

.system-menu {
  margin-left: calc(#{$dms-sidebar-width} + 5rem);
}

.sidebar ul.icon-menu {
  height: 100%;
  width: 8rem;
  > li {
    background-size: 3.2rem;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 0;

    &.active,
    &:hover {
      font-weight: 500;
      background-color: transparent;

      > a {
        background-color: transparent;
      }

      &::after {
        content: none;
      }
    }

    &.account {
      background-size: 4.6rem;
      background-position: top center;
      background-image: url('https://cdn.esphere.ru/images/dms/account.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/account_active.svg');
      }
    }

    &.employees {
      background-image: url('https://cdn.esphere.ru/images/dms/profile.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/profile_active.svg');
      }
    }

    &.cart {
      background-image: url('https://cdn.esphere.ru/images/dms/cart.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/cart_active.svg');
      }
    }

    &.settings {
      background-image: url('https://cdn.esphere.ru/images/dms/settings.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/settings_active.svg');
      }
    }

    &.market {
      background-image: url('https://cdn.esphere.ru/images/dms/market.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/market_active.svg');
      }
    }

    &.templatecreator {
      background-image: url('https://cdn.esphere.ru/images/dms/templates.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/templates_active.svg');
      }
    }

    &.usersclient {
      background-image: url('https://cdn.esphere.ru/images/dms/users_client.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/users_client_active.svg');
      }
    }

    &.productselection {
      background-position: 60% 20%;
      background-image: url('https://cdn.esphere.ru/images/dms/selection.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/selection_active.svg');
      }
    }

    &.promotion {
      background-image: url('https://cdn.esphere.ru/images/dms/promotion.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/promotion_active.svg');
      }
    }

    &.help {
      position: absolute;
      left: 1.4rem;
      width: 8rem;
      bottom: 0;
      background-image: url('https://cdn.esphere.ru/images/dms/helpdesk.svg');

      &.active,
      &:hover {
        background-image: url('https://cdn.esphere.ru/images/dms/helpdesk_active.svg');
      }
    }

    > a {
      padding: 4.8rem 0 0;
      line-height: 1.43;
      margin-left: 0;
    }
  }
}

img + .count {
  font-size: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 1.6rem;
  padding: 0 0.1rem;
  line-height: 1.6;
  position: absolute;
  left: 2.4rem;
  top: 0;
}

.button-wrapper.blank {
  color: $secondary-01;
}

.list > dt,
.list > dd {
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}

.blocked {
  background-color: $black-07;
  color: $gray-dark;
}

.mail {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.scroll-data {
  max-height: 40rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.scroll-data-min {
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-width: thin;
}

.constructor {
  table {
    border-collapse: collapse;

    td,
    th {
      border: 1px solid $border;
      padding: 1.6rem;
    }

    th {
      text-align: left;
      font-weight: normal;
    }
  }

  .turn-left {
    position: relative;
    height: 40rem;

    .add-option {
      transform: rotate(-90deg);
      width: 24rem;
      right: calc(100% - 13.6rem);
      position: absolute;
      top: 35%;
    }
  }

  .col-height {
    height: 44rem;
  }

  .list-tree {
    li {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;

      li {
        padding-left: 2rem;

        &::before {
          height: 1.5rem;
        }

        &::after,
        &::before {
          left: 1rem;
          width: 1rem;
        }
      }
    }

    i {
      color: $black-05;
    }
  }

  .bg-gray {
    background-color: $black-07;
  }

  .txt-lightgray {
    color: $black-04;
  }

  @for $i from 2 through 5 {
    .col-width-#{$i} {
      width: calc((100% - 50rem) / #{$i});
    }
  }

  .flex-10-auto {
    flex: 1 0 auto;
  }

  .collapsible {
    padding: 1.6rem 0 0 1.6rem;
    position: relative;

    .collapse-btn {
      width: 1.6rem;
      position: relative;
      background-color: $black-06;
      cursor: pointer;
      height: calc(100% + 1.6rem);
      float: right;
      margin-top: -1.6rem;

      &::after {
        position: absolute;
        content: '\e970';
        font-family: 'novicon' !important;
        width: 1.6rem;
        height: 100%;
        left: 0;
        top: 45%;
      }
    }

    &.turn-left {
      background-color: $black-08;
    }
  }

  .factor-table {
    .factor-row {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;

      &:nth-child(n + 2) {
        border-top: 0.1rem solid $black-05;
        padding-top: 1rem;
      }
    }
  }
}

::-webkit-scrollbar-track {
  background: $black-07;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem $base-3;
  background-color: $black-05;
}

.button-group-wrapper.button-group-min {
  .button-group-item {
    min-width: 1rem;
    padding: 0.5rem 1.2rem;
  }
}

.dropdown-list {
  li > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  ol,
  ul {
    margin-left: 4.2rem;
  }

  i {
    color: $black-03;
  }
}

.feature-list {
  .checkbox-label {
    display: inline-block;
  }
}

%product-block {
  background-color: $body-bg;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.7rem $base-09;
}

.product-item {
  @extend %product-block;
  width: 35.2rem;
  min-height: 30rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;

  > img {
    width: 100%;
    height: 15.2rem;
    object-fit: contain;
  }

  div[class*='ending'] {
    width: 100%;
    margin-top: auto;
  }

  .item-price {
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.filter-fixed {
  background-color: $black-07;
  width: $dms-sidebar-full;
  position: fixed;
  bottom: 0;
  left: 0;
  border-right: 1px solid $black-05;
}

.scroll-x {
  padding: 1rem;
  overflow-x: auto;
  width: 98%;
  height: 35rem;
  white-space: nowrap;
}

.product-catalog-item {
  @extend %product-block;
  width: 42.4rem;
  height: 30.8rem;
  display: inline-block;
  margin-right: 1.6rem;

  > img {
    width: 100%;
    height: 20.4rem;
    object-fit: cover;
  }
}

.sale-item {
  @extend %product-block;
  height: auto;
  padding: 1.6rem 0.4rem 1.6rem 2.4rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .item-price {
    font-size: 2.1rem;
    line-height: 3.2rem;
    font-weight: 500;
    margin: 0 1.6rem;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 23rem;

  th:first-child,
  td:first-child {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 5;
  }

  tr:hover {
    td:first-child {
      background-color: $hover;
    }
  }
}

.bank-label {
  align-content: center;
}

.chat {
  width: 46.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 2rem;
  padding-left: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: $black-07;
  transition: right;
  transition-duration: 500ms;
  .chat-hide-button {
    position: absolute;
    left: 1.1rem;
    top: 7.8rem;
    z-index: 3;
    height: 100vh;
  }
  .chat-header {
    position: absolute;
    top: 0;
    background: $black-07;
    padding-top: 15.8rem;
    padding-bottom: 1.2rem;
    z-index: 2;
    font-weight: 500;
    width: 100%;
  }
  .chat-footer {
    position: absolute;
    bottom: 1.2rem;
    background: $black-07;
    z-index: 3;
    width: 100%;
    padding-top: 1.2rem;
  }
  .chat-body {
    height: 100%;
    overflow-y: scroll;
    padding-top: 18.2rem;
    padding-bottom: 18.2rem;
    .chat-messages {
      margin-bottom: 3.2rem;
      .chat-message {
        position: relative;
        width: fit-content;
        max-width: 92%;
        background: $white;
        padding: 1.2rem 2.4rem;
        border-radius: 2.4rem;
        margin-bottom: 1.6rem;
        &.new:after {
          content: '';
          position: absolute;
          height: 0.7rem;
          width: 0.7rem;
          border-radius: 50%;
          background: $primary-01;
          right: -1.2rem;
          top: 0;
        }
      }
    }
  }
}
.chat-hide {
  right: -42.5rem;
}

.content-wrapper-chat-hide {
  transition: max-width;
  transition-duration: 500ms;
  padding-right: 4.1rem;
}

.content-wrapper-chat {
  padding-right: 46.6rem;
}

.dropdown > ul {
  min-width: max-content;
}

@media (max-width: 1200px) {
  .dropdown > ul:not(.pos-right) {
    left: -10rem;
  }
}

.radio-button {
  label {
    padding-top: 1px;
  }
}

.warning-message {
  color: $brand-warning;
}

.reg-footer {
  border-radius: 0 0 0.8rem 0.8rem;
  margin: -0.9rem;
  padding: 1.6rem;
  background-color: $black-07;
}

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -0.4rem;
}

.precalc-dialog-list > li:not(:last-child) {
  margin-bottom: 1.6rem;
}
.dnd-container {
  padding-right: 41.6rem;
  .dnd-header {
    border: .1rem solid $black-07;
    box-shadow: 0 .2rem .7rem $base-09;
    border-radius: .6rem;
    li {
      display: flex;
      align-items: center;
      justify-content: start;
      height: content-box;
      min-height: 4rem;
      border: .1rem solid $black-07;
      border-radius: .6rem;
      background: $white;
    }
  }
  .dnd-group {
    border: .1rem solid $black-07;
    box-shadow: 0 .2rem .7rem $base-09;
    border-radius: .6rem;
    padding-top: 1.6rem;
    .dnd-empty-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: content-box;
      min-height: 4rem;
      border: .1rem dashed $black-05;
      border-radius: .6rem;
      background: $white;
      .dnd-fix-position {
        position: relative;
        right: -.2rem;
      }
    }
    .dnd-filled-item {
      display: flex;
      align-items: center;
      height: content-box;
      min-height: 4rem;
      border: .1rem solid $black-05;
      border-radius: .6rem;
      box-shadow: 0 .2rem .7rem $base-09;
      background: white;
      .dnd-drag-n-drop {
        cursor: pointer;
        width: 2.2rem;
        height: 2.2rem;
        align-self: center;
        padding: 0 1.6rem;
        margin-left: 1.6rem;
        background: no-repeat;
        background-image: url('https://cdn.esphere.ru/images/dms/ic_drag_n_drop.svg');
        &:hover {
          background-image: url('https://cdn.esphere.ru/images/dms/ic_drag_n_drop_hover.svg');
        }
      }
      .dnd-button-container {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: flex-end;
        .dnd-checkbox {
          padding-top: .3rem;
        }
      }
      &:hover .dnd-scale {
        position: absolute;
        right: 0;
        top: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        background: no-repeat;
        background-image: url('https://cdn.esphere.ru/images/dms/ic_scale.svg');
        &:hover {
          background-image: url('https://cdn.esphere.ru/images/dms/ic_scale_hover.svg');
        }
      }
    }
  }
}
.dnd-available-fields-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 2rem;
  padding-left: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: $black-07;
  .dnd-available-fields-header {
    position: relative;
    top: 0;
    background: $black-07;
    padding-top: 11.8rem;
    padding-bottom: 1.2rem;
    padding-right: 2rem;
    z-index: 2;
    width: 100%;
  }
  .dnd-available-fields-body {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 24.2rem;
    .dnd-available-field-list {
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding-right: 1.6rem;
      border-radius: .5rem;
      padding-top: 1.2rem;
      .dnd-available-field-item {
        position: relative;
        min-width: 25rem;
        height: 4.5rem;
        margin-bottom: 1rem;
        justify-content: start;
        border-radius: .5rem;
        align-items: center;
        background: white;
        border: .1rem solid $black-07;
        &:hover {
          box-shadow: 0 .2rem .7rem $base-09;
          .dnd-available-field-item-button {
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            left: 1.6rem;
            background: no-repeat;
            background-image: url('https://cdn.esphere.ru/images/dms/ic_drag_n_drop.svg');
          }
        }
        .dnd-available-field-item-header {
          height: 4.5rem;
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 5.2rem;
        }
      }
      .dnd-available-field-item-open {
        height: 100%;
      }
    }
  }
}

.content-wrapper-selection {
  margin-right: $dms-selection-width;
}

.selection-content-box {
  padding-top: 10rem;
  margin-left: $dms-sidebar-width;
}

.selection {
  width: $dms-selection-width;
  flex: 0 0 #{$dms-selection-width};
  padding-bottom: 8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 8rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: $black-07;
  transition: right;
  transition-duration: 500ms;
  .filter-fixed {
    left: auto;
    right: 0;
    border: none;
  }
}

.selection + .selection-content-box {
  flex: 1 1 100%;
  display: flex;
  padding-left: 2rem;
  margin-bottom: auto;
}

.selection-category-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.2rem;
  .selection-category-item {
    position: relative;
    width: 35.2rem;
    margin-top: 2.4rem;
    margin-right: 2.4rem;
    box-shadow: 0 .2rem .7rem $base-09;
    border-radius: .6rem;
    > h4 {
      width: 70%;
      padding-top: .8rem;
      padding-bottom: 1.6rem;
      padding-left: 2.4rem;
    }
    > img {
      width: 35.2rem;
      height: auto;
      object-fit: contain;
    }
    > button {
      position: absolute;
      width: 4rem;
      height: 4rem;
      right: 1.6rem;
      top: 14.8rem;
      border: .2rem solid $white;
      border-radius: 50%;
    }
  }
}
.selection-promo-container {
  display: flex;
  flex-wrap: wrap;
  .selection-promo-item {
    position: relative;
    width: 25.4rem;
    height: 14.6rem;
    margin-top: 2.4rem;
    margin-right: 2.4rem;
    border-radius: .6rem;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .6rem;
    }
    > h6 {
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: .8rem;
      color: $white;
      text-shadow: .1rem .1rem .1rem $black-01;
    }
  }
}

.promotion-filedrop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.2rem;
  height: 31.6rem;
  margin-top: 2.4rem;
  margin-right: 2.4rem;
}
