
.fabrika {
  .logo {
    background: url(https://cdn.esphere.ru/images/sberbank/logo-cc.png) 50% 0 no-repeat;
    background-size: 18.5rem 4rem;
    display: block;
    height: 4rem;
    width: 18.5rem;
    margin: 1rem 0;
  }
}

/* Errors
----------------------------------------------------------------------------- Errors */
body {
  &.error {
    h1 {
      font-size: 8em;
      line-height: 100%;
    }
  }
}

.error-box {
  position: relative;
  margin-top: 4rem;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, .1);
  .box {
    padding: 4rem 3rem 6rem;
  }
  .button-box {
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0;
  }
}
