$text-reverse: #ffffff;
$btn-bg: #199884;
$btn-bg-hover: #20bba3;
$link-color: #FFFDE1;
$link-color-hover: #edff8f;
$designers-bg: #a4457e;

body.main {
  .first {
    padding-top: 3rem;
  }

  &.promo.kit .content-box {
    padding: 0;
  }
}

.landing {
  font-family: 'PT Sans', sans-serif;

  .wrapper {
    width: 100rem;
    margin: 0 auto;
    position: relative;
  }

  h1 {
    font-size: 9rem;
    line-height: .85;
    font-family: "Hammersmith One", sans-serif;
    text-transform: none;
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
    font-size: 8rem;
    line-height: 1;
    margin: 0 0 2rem 0;
  }

  p {
    font-size: 2.4rem;
    line-height: 1.3;
    margin: 0 0 2rem 0;
    padding: 0;
  }

  .header {
    font-family: "Source Sans Pro", sans-serif;
    color: $text-reverse;

    p {
      font-size: 3rem;
      line-height: 1.1;
      margin: 0 0 1.5rem 0;
    }
  }
}

.landing-item {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100vh;

  > * {
    display: table-row;
  }

  > * > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.pos-r {
  position: relative;
}

// Кнопки и ссылки

%nav-buttons {
  margin: .4rem;
  padding: .9rem 3rem;
  border-radius: .5rem;
  color: $text-reverse;

  &:hover {
    background-color: $btn-bg;
    color: $text-reverse;
  }
}

.nav-services a {
  display: block;
  font-size: 2rem;

  @extend %nav-buttons;
}

.nav-main a {
  display: inline-block;
  font-size: 1.8rem;

  @extend %nav-buttons;

  &.cta:hover {
    background-color: $btn-bg-hover;
  }
}

.cta {
  background-color: $btn-bg;
}

%links {
  display: inline-block;
  padding: 0 0 .3rem 0;
  border-bottom: .3rem solid;
  font-size: 2.1rem;
  line-height: 2rem;
}

.technologies li {
  a {
    padding-top: 1.5rem;

    @extend %links;
  }

  &:first-child {
    padding-top: 0;
  }

  &.main {
    font-size: 2.4rem;
    line-height: 1;
    padding: 0;
  }
}

.underline {
  @extend %links;
}

// Изображения

.analytics,
.designers,
.developers,
.qa {
  .pictures {
    position: absolute;
    height: 30rem;
    width: 40rem;
    top: 50%;
    margin-top: -15rem;
    right: 0;
    background: no-repeat 50% 50%;
    background-size: contain;
  }
}

.analytics  .pictures {background-image: url('https://cdn.esphere.ru/images/main/analytics.svg');}
.designers  .pictures {background-image: url('https://cdn.esphere.ru/images/main/designers.svg');}
.developers .pictures {background-image: url('https://cdn.esphere.ru/images/main/developers.svg');}
.qa         .pictures {background-image: url('https://cdn.esphere.ru/images/main/qa.svg');}


.angular {
  margin: 2rem 0 0 0;

  p {
    margin: 0;
  }

  * {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
}

.logo-angular {
  height: 8rem;
  width: 8rem;
  margin: 0 2rem 0 0;
  background: url('https://cdn.esphere.ru/images/main/angular.png') no-repeat 50% 50%;
  background-size: contain;
}

// Иконка кита

.whale-logo {
  height: 5rem;
  width: 8rem;
  margin: 0 0 3rem 0;
}

.whale-in {
  position: absolute;
  height: 11rem;
  width: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body path {
  transform: translate(-10px, -10px);
}

.body-filter {
  stroke: #cacaca;
}

// Тема light

%light-colors {
  border-bottom-color: $btn-bg;

  &:hover {
    color: $btn-bg;
  }
}

.light {
  color: #000000;

  .landing .header {
    background: #67597A url('https://cdn.esphere.ru/images/main/light-header-background.jpg') no-repeat 0 70%;
    background-size: cover;
  }

  .technologies {
    background-color: #ffe490;

    li a {
      color: #2db9a6;
      @extend %light-colors;
    }
  }

  .underline {
    color: $link-color;
    @extend %light-colors;
  }

  .analytics {
    background-color: #91c8d6;
  }

  .designers {
    background-color: #68c5c2;
  }

  .developers {
    background-color: #9acb9f;
  }

  .qa {
    background-color: #cbd17e;
  }
}

// Тема dark

%dark-colors {
  border-bottom-color: $link-color-hover;
  color: $link-color;

  &:hover {
    color: $link-color-hover;
  }
}

.dark {
  color: $text-reverse;

  .landing .header {
    background: $designers-bg url('https://cdn.esphere.ru/images/main/dark.jpg') no-repeat 0 0;
    background-size: cover;
  }

  .technologies {
    background-color: #1697b7;

    li a {
      @extend %dark-colors;
    }
  }

  .underline {
    @extend %dark-colors;
  }

  .analytics {
    background-color: #533073;
  }

  .designers {
    background-color: $designers-bg;
  }

  .developers {
    background-color: #9055a2;
  }

  .qa {
    background-color: #0c6c8c;
  }
}
