.logo > a {
  display: block;
  height: 4rem;
  width: 16rem;
  background: url(../../images/lkuc/logo.svg) 0 0 no-repeat;
  background-size: 16rem 4rem;
}

//Цвет иконки, если поиск в гриде ничего не дал

.txt-lightgray {
  color: #E5E5E5;
}

//Блок с документами в заявке

.content.docs {
  .k-grid {
    border-color: transparent;

    tbody tr:hover {
      background: #fff;
    }

    td {
      vertical-align: middle;
      border-color: transparent;

      &:first-child {
        vertical-align: top;
      }
    }

    tr {
      border-color: transparent;
    }
  }
}

body.auth-phone {
  position: relative;
  padding-bottom: 14.8rem;
  box-sizing: border-box;

  .button {
    border-radius: .3rem;
  }

  header {
    margin-top: 6rem;
  }

  .footer-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
  }

  .footer {
    padding-bottom: 3rem;
  }
}

@media (max-height: 700px) {
  body.auth-phone {
    padding-bottom: 0;

    .footer-box {
      position: static;
    }
  }
}
