@import "../variables/themes/_nova.scss";

h2 {
  font-size: 2.2rem;
}

.min-height-100 {
  min-height: 100vh;
}

.col-left {
  width: 62rem;
}

.bg-malachite {
  background-color: $primary-02;

  .button-wrapper {
    background-color: transparent;
    border-color: $body-bg;
  }
}

.wrapper-auth,
.bd-logo {
  width: 42rem;

  .form {
    width: 24rem;
  }
}

.txt-light-gray {
  color: $black-04;
}

.disabled-link {
  &, &:hover {
    color: $secondary-04;
    cursor: auto;
  }
}

.wrapper {
  max-width: 144rem;
  padding: 0 3.2rem;
}

.head-service {
  padding: 2.4rem 0;
}

.personal-box .header-button.more {
  display: block;
  max-width: 24.4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.collapse {
  &-heading-wrapper {
    border-radius: 1.6rem;
    padding: 1.6rem 3.2rem;
  }
  &-content[aria-expanded="true"] {
    border-radius: 0 0 1.6rem 1.6rem;
    border: 1px solid $black-05;
    border-top: none;

    .collapse-footer {
      border-top: 1px solid $black-05;
      padding: 1.6rem 3.2rem;
      text-align: right;
    }
  }
}

.is-open {
  .collapse-heading-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      border-color: $black-05;
    }
  }
}

.list {
  > dd {
    padding-bottom: .8rem;
  }
}

a {
  .prodicon-link {
    color: inherit;
    line-height: inherit;
    vertical-align: middle;
  }
}

.remove-button-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  &::before {
    background-color: $black-05;
    content: '';
    display: block;
    height: 1px;
    width: calc(100% - 9.6rem);
  }
}

footer.footer {
  background-color: $body-bg;
  border-top: 1px solid $black-06;
  bottom: 0;
  padding: 1.6rem 2.4rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  &.terminal-footer {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    background-color: $black-07;
  }
}

.content-box {
  min-width: 13.6rem;
  padding-bottom: 16rem;
}

.panel-color {
  background-color: $black-07;
  border-radius: 1.6rem;
  padding: 2.4rem;
}

.row.radio-wrapper {
  display: flex;
}

.terminal {
  &-auth {
    &-wrapper {
      max-width: 40rem;
      padding-top: 18rem;
    }
    &-message {
      max-width: 33.2rem;
    }
  }
  &-input {
    [class*="wrapper"],
    [class*="wrapper"] input {
      height: 4.8rem;
    }
    &.sms {
      input {
        max-width: 4rem;
        padding: 0;
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
  &-col {
    & + .terminal-col {
      padding-left: 3.2rem;
    }
    &:not(:last-child) {
      padding-right: 3.2rem;
      border-right: 1px solid $black-06;
    }
  }
  &-button {
    padding: 1.5rem 4rem;
    border-radius: 3.2rem;
    &:not(.blank):focus {
      padding: 1.4rem 3.9rem;
      &.disabled {
        padding: 1.5rem 4rem;
      }
    }
  }
}