@import '../variables/base.scss';

.content-box {
  min-height: calc(100vh - 10rem);
}
.logo {
  width: 12rem;
}
.instruction {
  width: 100%;
  box-shadow: $shadow-level-2;
  padding: 1.6rem 0;
  > div {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &-stage {
    padding: 0 1rem;
    flex: 1 1;
    position: relative;

    &.counter:after {
      content: '';
      width: 30%;
      height: 0.5rem;
      border-radius: 1rem;
      background-color: $gray-light;
      position: absolute;
      top: 29%;
      right: -13%;
    }
  }

  &-icon {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.5rem;

    svg,
    img {
      height: 100%;
      width: 100%;
    }
  }

  &-open {
    height: 4.5rem;
    width: 4.5rem;

    img {
      opacity: 1;
    }

    svg {
      height: 6rem;
    }

    &:hover {
      opacity: 0.54;
    }
  }
}

.table {
  th.table-header {
    overflow: visible;
    text-transform: unset;
    position: relative;
    background-color: $white;
    border-bottom-width: 1px;
    border-top-width: 1px;
    font-size: inherit;
    padding: 1.2rem;
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }
  }
  .table,
  .add-pack {
    table {
      padding-bottom: 0;
      border-bottom: none;
    }
    thead {
      &::after {
        content: none;
      }
      tr + tr {
        th {
          border-top: 0;
        }
      }
    }
    td {
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
    }
    .quick-view {
      &-selected {
        + tr {
          > td {
            padding-left: 0;
            padding-right: 0;
            .inner.ending {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.empty-page-icon {
  margin: 2rem auto;
}

.add-pack {
  td,
  th {
    padding: 1rem;
  }
  .tools {
    padding: 0;

    i {
      visibility: hidden;
    }

    a {
      visibility: visible;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }

    .top-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
    }
  }
}

@mixin td-sticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: $white;
  z-index: 2;
}

.scroll-table {
  flex-direction: row;
  &:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }

  &-fixed {
    position: relative;
    width: 30%;
    border-bottom: 0.1rem solid $black-05;
    &:after {
      border-right: 0.1rem solid $black-05;
      content: '';
      position: absolute;
      right: -1px;
      width: 1px;
      height: 100%;
      top: 0;
    }
    tr:first-child {
      > th.table-header:nth-of-type(1) {
        height: 4rem;
      }
    }
    tr:nth-child(1) {
      > th.table-header:nth-of-type(1) {
        height: 5.1rem;
      }
    }
  }
  &-scrolled {
    overflow-x: auto;
    overflow-y: visible;
    width: 70%;
    position: relative;
    thead {
      tr {
        position: relative;
        &:last-child {
          min-height: 3.5rem;
        }
      }
    }
    tbody {
      tr:hover td {
        background-color: $black-07;
      }
    }

  }

}

.list {
  &.form {
    > dd,
    > dt {
      padding-bottom: 0.6rem;
      padding-top: 0.6rem;
    }
  }
}
.textarea-input {
  height: 10rem;
}
/* print styles */
.print-wrapper {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.print-portrait  {width: 72rem;}