@import "../variables/themes/_nova.scss";

$quick-view-bg: #F3F5F7;
$wrapper-width: 102.4rem;
$footer-shadow: 0 -3.2rem 1rem -3.2rem rgba($black-01, 0.09);

// для новой отчетности

body {
  background-color: $black-07;
}

header {
  position: fixed;
  width: 100%;
  background-color: $body-bg;
  z-index: 100;

  .more {
    &.count-to-upper {
      position: relative;
      margin-top: 0;

      .count {
        margin: 0;
        padding: 0;
        min-width: 0;
        width: .7rem;
        height: .7rem;
        top: .7rem;
        right: .7rem;
        border-radius: 50%;
      }
    }
  }
}

.wrapper {
  max-width: $wrapper-width;
}

.subtitle {
  color: $black-03;
}

.personal-box {
  padding-right: 1.6rem;
  padding-left: 1.6rem;

  .header-button.more {
    display: block;
    max-width: 20rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    &.active,
    &:active {
      .prodicon-signed {
        color: $black-04;
        &.txt-success {
          color: $primary-02
        }
        &.txt-warning {
          color: $accent-02
        }
        &.txt-danger {
          color: $error-02
        }
      }
    }
  }
}

.sidebar {
  padding-top: 6rem;
  margin-left: -22.4rem;
  overflow-x: hidden;
  z-index: 90;
  transition: .3s ease margin-left;
  &.visible {
    margin-left: 0;
  }
}

%content-view {
  padding-top: 6rem;
  min-height: 100vh;
  background-color: $body-bg;
}

.content-box {
  @extend %content-view;
  padding-bottom: 0;
}

.document-body {
  @extend %content-view;
  transition: .3s ease padding-left;
  .content-box {
    padding-top: 0;
    min-height: calc(100vh - 6rem);
  }
  &.with-sidebar {
    padding-left: 22.4rem;
  }
}

.dropdown-wrapper button.more {
  width: 3.2rem;
  &.small {
    width: 2.8rem;
  }
}

.panel-color,
.box-gray {
  background-color: $black-07;
}

.settings-list {
  > dt {
    padding-top: .8rem;
  }
  > dd {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
}

.txt-light-gray {
  color: $black-04;
}

.etax-tabs .tabs-bar {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-color: $black-07;
}

.checkbox-single.checkbox-wrapper {
  position: relative;
  top: -.4rem;
}

.quick-view-table table  {
  tr:hover {
    background-color: transparent;
    td {
      background-color: $quick-view-bg;
    }
  }
  .quick-view + tr:hover td {
    background-color: transparent;
  }
}

.quick-view {
  &.quick-view-selected + tr > td,
  &.is-open > td  {
    background-color: $quick-view-bg;
    border-bottom: 1px solid $black-06;
    &:first-child {
      border-bottom-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
    }
  }

  & + tr {
    background-color: transparent;
    td {
      border-width: 0;
      background-color: transparent;
    }
    .quick-view-body {
      background-color: $quick-view-bg;
      border-bottom-left-radius: .8rem;
      border-bottom-right-radius: .8rem;
    }
    .ending {
      border-top-color: $black-06;
      padding-left: 5.2rem;
    }
  }

  & + tr > td {
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }
  }
}

.empty-list-wrapper {
  padding-top: 6.4rem;
}

.sidebar-panel {
  overflow-y: auto;
  margin-right: -42.4rem;
  width: 42rem;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  padding-top: 6rem;
  box-shadow: $shadow-menu-top-bar;
  transition: .3s;

  &.visible {
    margin-right: 0;
    transition: .3s;
  }
}

.wizard {
  .step {
    &::before {
      border-width: .2rem;
    }
    &.active::before {
      border-color: $primary-02;
    }
  }

  .active label {
    font-size: 1.2rem;
    color: $black-03;
  }

  .line {
    left: 0;
    width: 100%;
  }
}

.etax-collapse {
  border-radius: .8rem;
  .settings-page &,
  &.is-open,
  &:hover {
    background-color: $black-07;
  }

  .collapse-heading-wrapper {
    border-width: 0;
    border-radius: .8rem .8rem 0 0;
    padding: 1.6rem 2.4rem;
  }

  .heading-with-label {
    padding-left: 5.5rem;
  }

  .collapse-heading-wrapper + div[aria-expanded="true"] {
    border-top: 1px solid $black-06;
  }
}

.row-with-label {
  position: relative;
  .i-label {
    left: -3rem;
  }
}

.preview-box {
  background-color: $black-03;
}

.preview-page {
  max-width: 125.2rem;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $white;
}

.preview-wrapper {
  border: 1px solid $black-05;
  min-height: calc(100vh - 16.4rem);

  img {
    width: 100%;
  }
}


.list-h a:hover > i {
  color: $primary-03;
  transition: color .3s;
}

.etax-list {
  > li {
    padding-bottom: .8rem;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.etax-table {
  &-gray {
    table {
      border: 1px solid $black-06;
      border-radius: .8rem;
    }
  }

  tr {
    th,
    td {
      &:first-child {
        padding-left: 2rem;
      }
      &:last-child {
        padding-right: 2rem;
      }
    }
  }

  .loader-wrapper {
    margin-top: 6.4rem;
  }
}

.settings-body,
.settings-box-height {
  height: 100%;
}

.settings-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  min-height: calc(100vh - 13.2rem);
}

.settings-footer {
  width: 100%;
  > .footer-panel {
    padding: 2.4rem;
    background-color: $black-07;
    border-radius: .8rem;
  }
}

.icon-18 {
  font-size: 1.8rem;
  line-height: 2rem;
}

.icon-24 {
  font-size: 2.4rem;
}

.files-list {
  > li {
    border-radius: .8rem;
    margin-bottom: .8rem;
    &:hover {
      background-color: $black-07;
      transition: background-color .5s;
    }
  }
}

.button-link {
  &.disabled {
    background-color: transparent !important;
  }
  i {
    transition: .3s color;
  }
  &:hover i,
  &:hover {
    color: $black-03;
  }
}

.list-success {
  li {
    position: relative;
    padding-left: 2.4rem;
    margin-bottom: .8rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: .55rem;
      width: .9rem;
      height: .9rem;
      background-color: $primary-02;
      border-radius: 50%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.table {
  .sub-table-title {
    border-top: 1px solid $black-06;
    padding-top: 2.4rem;
    &:last-child,
    &:first-child {
      border-radius: 0;
    }
  }

  .sub-table {
    &::before {
      content: '';
      display: block;
      height: 1.2rem;
      width: 100%;
    }

    &-first::before {
      height: 3.8rem;
    }
  }
}

.dropzone-wrapper {
  border-radius: .8rem;
}

.box-icon {
  padding-top: .6rem;
}

.button-group-item {
  &.notify {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: .8rem;
      right: 1.2rem;
      width: .8rem;
      height: .8rem;
      background-color: $brand-warning;
      border-radius: 50%;
    }
  }
}

.start-page {
  max-width: 66.4rem;
}

// styles for demo start
@mixin demo-overlay-image {
  top: 0;
  left: 0;
  opacity: .15;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.esphere.ru/images/etax/demo-bg.png');
  background-repeat: repeat;
  pointer-events: none;
}

@mixin demo-overlay-index {
  position: relative;
  z-index: 10002 !important;
}

.demo-overlay {
  position: fixed;
  z-index: 600;
  @include demo-overlay-image;
}

.demo-component {
  @include demo-overlay-index;
  .modal-cross,
  .no-events {
    pointer-events: none;
  }

  &.notary-modal ~ .tour-overlay {
    fill: rgba(33, 33, 33, 0.1);
  }

  &.light-box-wrapper,
  &.notary-modal {
    position: fixed;
  }

  &.light-box-wrapper {
    .light-box-window > .light-box-content::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(33, 33, 33, 0.7);
      z-index: 2;
    }
    .light-box-footer.fixed {
      position: relative;
      z-index: auto;
    }

    .light-box-overlay {
      z-index: auto;
    }

    .demo-component {
      background: $white;
      border-radius: .8rem;
    }

    .demo-checkbox {
      padding: .4rem .4rem .6rem;
    }

    .demo-button {
      @include demo-overlay-index;
      background: $white;
      border-radius: 1.6rem;
      padding: .4rem;
    }
  }
}

.demo-sub-table {
  .sub-table-title {
    &:first-child,
    &:last-child {
      border-top-right-radius: .8rem;
      border-top-left-radius: .8rem;
    }
  }

  td {
    @include demo-overlay-index;
    background: $white;
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }
  }
}

.table tbody .demo-table-row:hover {
  background-color: transparent;
}

.demo-table-row {
  td {
    @include demo-overlay-index;
    background: $white;
  }

  &.is-open + tr td {
    @include demo-overlay-index;
  }

  .etax-table-gray & td {
    background: $black-07;
  }
}

.demo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scenarios-page {
  .wrapper {
    max-width: 87.2rem;
  }

  .box {
    height: 19.2rem;
  }
}

.divider {
  max-width: 121.6rem;
  width: 100%;
}

.daterange-delimiter {
  max-width: 1.8rem;
}

.tour-modal {
  border-radius: 1.6rem;
  z-index: 600;
}

.tour-active-element {
  &.notifications-wrapper {
    position: fixed;
    z-index: 600;
  }
}
// styles for demo end

// hamburger
.hamburger {
  .bar {
    background-color: $primary-02;
    transition: .3s;
  }
  &.open {
    .bar-1 {
      top: .8rem;
      transform: rotate(45deg);
    }
    .bar-2 {
      top: .8rem;
      transform: rotate(-45deg);
    }
    .bar-4 {
      opacity: 0;
    }
  }
  &.button-wrapper {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 2rem;
    border: none;
    &:focus {
      padding: 0;
    }
    &:active {
      background-color: transparent;
    }
  }
}

.loader-with-text {
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader-element {
    position: relative;
    transform: none;
  }
}

.filter-toggler {
  min-height: 3.2rem;
}

.icon-96 {
  width: 9.6rem;
  height: 9.6rem;
}

.link-icon {
  color: inherit;
}

.error-list-wrapper {
  padding-top: 12.8rem;
}

tr.txt-gray > td {
  color: $black-03;
}

.tag.small {
  margin-left: 1.2rem;
  &::before {
    left: -1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
  }
}

.pagination-wrapper .pagination-label-options {
  .dropdownselect-input {
    padding-right: 0;
    padding-left: 1.1rem;
  }
}

.box[class*="shadow"] {
  border: none;
}

.erep-modal,
.notifications-wrapper {
  z-index: 600;
}

.border-radius-16 {
  border-radius: 1.6rem;
}