@import "../variables/themes/_sb.scss";

.notary-sms-box .k-textbox {
  border-radius: 0;
  border-color: #f49530;
}

.notary-sms-box .button {
  border-radius: 0;
  height: 3.2rem;
}

.inner.bordered {
  &.success,
  &.warning,
  &.danger {
    border-width: 1px;
    border-style: solid;
    border-radius: .3rem;
  }
  &.success {
    border-color: $brand-primary;
  }
  &.warning {
    border-color: $brand-warning;
  }
  &.danger {
    border-color: $brand-danger;
  }
}

.range,
.daterange-wrapper {
  > .datepicker-wrapper {
    width: 50%;
    &:first-child {
      order: 1;
    }
    &:last-child {
      order: 3;
    }
  }
}

.loader {
  &-element {
    width: 3rem;
    height: 3rem;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    transform: translate(-50%, -50%);
    background: url("https://cdn.esphere.ru/images/booking/loader.gif") 50% 50% no-repeat;
    animation: none;
    &::before,
    &::after {
      content: none;
    }
  }
}
