@import "../variables/themes/_nova.scss";

// Если у боди есть конкретная минимальная ширина и подключен кастомный скрол
// body.os-host > .os-padding > .os-viewport > .os-content,
// body.os-host > .os-padding > .os-viewport > .os-content-arrange {
// 	min-width: 130rem;
// }

.sub-box {
  background: $body-bg;
}

//Карточка объявления - модальное окно
.card {
  &-carousel {
    height: 35.2rem;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $focus;
    border-radius: 2.4rem 2.4rem 0 0;

    &.no-photo {
      background-size: auto;
    }

    &-tracker {
      display: inline-flex;
      margin-top: .2rem;

      .item {
        background-size: cover;
        width: 11rem;
        height: 6.2rem;
        cursor: pointer;
        flex-shrink: 0;
        margin-right: .2rem;

        &:hover {
          box-shadow: inset 0 0 0 1px $brand-primary;
        }
      }
    }
  }

  .carousel-arrow {
    font-size: 2.4rem;
    font-weight: 600;

    &-next, &-prev {
      padding: 0 1rem;
    }

    &:before {
      margin-top: 16.2rem;
    }
  }

  &-source {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.2rem;
    color: $text-reverse;

    > img {
      max-height: 2rem;
    }
  }

  &-content {
    padding-top: 1.2rem;

    > div:not(:last-of-type) {
      margin-bottom: 2.4rem;
    }
  }

  &-title {
    h2 {
      vertical-align: middle;
      display: inline-block;
    }
  }

  &-class {
    line-height: 2.4rem;
    vertical-align: middle;
    display: inline-block;
    height: 2.4rem;
    background: $hover;
    padding: 0 .6rem;
    margin-left: 1.6rem;
  }

  &-address {
    margin: .4rem 0;

    &-floor {
      padding-left: 1.6rem;
    }
  }

  .metro {
    display: inline-block;
    line-height: 1rem;
    margin-top: .8rem;

    .metro-icon {
      @include icon-size(1.8rem, 1.8rem);
    }
  }

  &-views {
    padding-left: 1.6rem;
  }

  &-buttons {
    margin-top: 2.4rem;

    .button {
      color: $text-color;
      padding: .2rem .4rem;
      margin-right: 1.2rem;

      svg {
        @include icon-size(1.8rem, 1.8rem);
        vertical-align: middle;
        margin-right: .2rem;
      }
    }
  }

  &-price {
    width: 20rem;

    h2 {
      margin-bottom: .4rem;
    }

    .button {
      margin-top: 1.6rem;
    }

    &-credit {
      margin-top: .4rem;
    }
  }

  &-banner-block {
    display: flex;
    justify-content: space-between;

    .card-banner {
      width: 34.1rem;
      height: 15rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background: linear-gradient(180deg, rgba($black-01, 0) 0%, $base-2 46.97%, rgba($black-01, 0.6) 100%);
      }

      &-text {
        color: $text-reverse;
        min-height: 6.4rem;
        position: absolute;
        bottom: 0;
        padding: 1.2rem;
        width: calc(100% - 2.4rem);
      }
    }
  }

  .loader-wrapper {
    border-radius: 2.4rem;
    overflow: hidden;
  }
}

.button-group {
  .button.selected {
    background: $focus;
  }
}

.metro {
  &:not(:last-of-type) {
    margin-right: 1.6rem;
  }

  .metro-icon {
    @include icon-size(1.6rem, 1.8rem);

    &:not(:first-of-type) {
      margin-left: -.8rem;
    }
  }

  &-time {
    padding-left: .4rem;

    svg {
      @include icon-size(1.4rem, 1.2rem);
    }
  }

  &-time-icon {
    @include icon-size(1.4rem, 1.2rem);
  }
}

.txt-extra-small {
  font-size: 1rem;
  line-height: 1.2rem;
}

.txt-dark-gray {
  color: rgba($black-01, 0.54);
}

.list > dt {
  padding-bottom: .2rem;
}

.icon-check {
  @include icon-size(1.6rem, 1.1rem);
}

.progressbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: .3rem;
  background: $black-06;

  > .bar {
    height: .3rem;
  }
}

.k-tabstrip {
  float: none;
  margin: 0;

  > .k-tabstrip-items {
    background-color: transparent;
    border-bottom: 1px solid $black-06;
    margin-bottom: 2.2rem;

    .k-item {
      margin: 0 .8rem;

      &.k-state-active {
        .k-link {
          font-weight: 500;
        }
      }

      .k-link {
        padding: .7rem .4rem;
      }
    }
  }
}

.empty-page {
  img {
    margin-bottom: 2.3rem;
  }

  h4 {
    margin-bottom: .5rem;
  }

  &.gateway-page {
    background: url("https://cdn.esphere.ru/images/rea/bg/error/bg-gateway.svg") no-repeat top center;
    min-height: 60.5rem;

    &.service-notavailable {
      background-size: auto 48rem;
      min-height: 48rem;

      > div {
        margin-top: 13.5rem;
      }
    }

    > div {
      margin-top: 18.5rem;
      padding-left: 2.5rem;
    }

    p {
      padding-bottom: .6rem;
    }
  }

  &.map-page {
    margin-top: 6.5rem;

    img {
      margin-bottom: 1.5rem;
    }
  }
}

.empty-aside {
  position: absolute;
  width: calc(100% - 2rem);
  top: calc(50% - 17.5rem);
}


//Старые стили

bside, .content-box .bside {
  box-sizing: border-box;
  width: 25%;
  padding: 1rem;
  background: $gray-light;

  [class*="uicon-"] {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

.menu-box, .personal-box {
  nav {
    display: inline-block;
    vertical-align: middle;
  }
}

//Плашки
.tiles {
  .tile {
    float: none;
    width: 100%;

    .address {
      min-height: 8.5rem;
    }

    .button {
      display: inline-block;
      visibility: visible;
    }

    &:hover {
      .carousel-arrow, .carousel-pages {
        visibility: visible;
      }
    }
  }
}

//Карусель
.photo {
  height: 16rem;
  background: 50% 50%;
  background-size: cover;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background: $base-2;
  }

  .source {
    padding: .5rem 1rem;
    width: 70%;
    position: absolute;
    color: $text-reverse;
  }

  &:hover {
    .carousel-arrow, .carousel-pages {
      visibility: visible;
    }
  }
}

.carousel {
  position: relative;
  &-arrow {
    color: $text-reverse;
    position: absolute;
    height: 100%;
    font-size: 3.4rem;
    display: flex;
    visibility: hidden;

    &:hover {
      color: $text-reverse;
    }

    &:before {
      margin-top: 11.6rem;
    }

    &-next {
      right: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    }

    &-prev {
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
    }
  }

  &-pages {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: $text-reverse;
    text-shadow: 1px 1px 2px $base-7;
    padding-bottom: .6rem;
    visibility: hidden;
  }
}

//Авторизация
.auth {
  h3 {
    line-height: 3.2rem;
  }

  .menu-h {
    background: $black-07;
    border-radius: 2.4rem;
    display: flex;

    > li {
      float: none;
      transition: .3s ease-out 0.1s;

      &:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 2.4rem;
      }

      &.active {
        color: $text-reverse;
        &:after {
          background: $active;
        }
      }

      &:first-of-type {
        &:after {
          right: -100%;
        }

        &.active {
          &:after {
            transition: right .3s ease-out 0.1s;
            right: 0;
          }
        }
      }

      &:last-of-type {
        &:after {
          left: -100%;
        }

        &.active {
          &:after {
            transition: left .3s ease-out 0.1s;
            left: 0;
          }
        }
      }

      > a {
        padding: .6rem 1.2rem .6rem 1.2rem;
        z-index: 2;
      }
    }
  }

  .k-textbox .k-icon {
    top: calc(50% - 1rem);
    margin: 0;
    @include icon-size(2rem, 2rem);
  }
}

//Раздел Сравнение
.compare-wrapper {
  overflow: hidden;
  position: relative;
}

.k-grid.compare-grid {
  flex-direction: unset;
  margin-left: 22rem;
  overflow-x: auto;
  position: static;

  table {
    width: min-content;

    //пляски с бубном для IE
    display: -ms-grid;
    -ms-grid-columns: max-content;
    //пляски с бубном для IE

    tbody {
      border-bottom: 0;

      tr {
        &:not(:first-child):hover,
        &:not(:first-child):hover .compare-header {
          background-color: $gray-light;
        }

        &:first-child {
          &:hover {
            background-color: transparent;
          }

          td {
            border-top: 0;
          }
        }

        &:last-child {
          td {
            padding-bottom: 3rem;
          }
        }

        td {
          width: 30rem;

          &:first-child {
            width: 0;
            min-width: 0;
            max-width: 0;
            padding: 0;
          }
        }

        .compare-header {
          position: absolute;
          left: 0;
          padding: 1rem;
          width: 20rem;
          height: 100%;
          background-color: $body-bg;
        }
      }
    }
  }
}

//Прочие мелкие штуки - иконки, теги и проч.
.list-empty {
  margin-top: 5rem;

  > svg {
    max-width: 27rem;
  }
}

.compare-icon {
  @include icon-size(1.9rem, 1.9rem);
  vertical-align: middle;
}

.blue.tag:before {
  background-color: #225BA8;
}

.purple.tag:before {
  background-color: #BA3380;
}

.search .button.block {
  margin: 0;
}

.dropdown.currency [class*="level-"] > a {
  padding: .5rem 2rem;
}

.margin-right-8 {
  margin-right: .8rem;
}

.margin-right-16 {
  margin-right: 1.6rem;
}

hr {
  border-color: $border;
}


//Стили только для nova
body.nova {
  min-width: 130rem;

  .wrapper {
    max-width: 133rem;
  }

  .content-box {
    padding-bottom: 6rem;
  }

  .button.blank {
    color: $text-color;
  }

  .txt-success {
    color: $brand-primary;
  }

  .uicon-expand {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0 .4rem;
    transition: transform 0.3s;
  }

  .logo {
    display: inline-block;
    padding-left: 4.2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: url('https://cdn.esphere.ru/images/rea/logo.png') no-repeat 0 50%;
    font-size: 1.6rem;
    line-height: 1.7rem;
    font-weight: 500;
  }

  .footer {
    padding: .2rem 1rem;

    .logo {
      background-image: url('https://cdn.esphere.ru/images/rea/logo-white.png');
      margin-top: 0;
    }
  }

  bside {
    display: none;
  }

  .user-box {
    box-shadow: $shadow-menu-top-bar;
    z-index: 3;
  }

  .search-box, .menu-box {
    display: none;
  }

  .personal-box {
    .wrapper {
      max-width: none;
      padding: 0 4.8rem;
    }

    nav > * {
      padding: 0;

      .level-1 {
        > a {
          overflow: visible;
        }
      }
    }
  }

  .menu-h .level-1 {
    > span {
      margin: .6rem 2rem .5rem 2rem;
      padding: 0;
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 500;

      svg {
        margin-right: .3rem;
      }
    }

    > div, > span {
      > a {
        font-size: 1.2rem;
        line-height: 2rem;
        color: $text-color;
        padding: 0;
      }

      > i {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $border;
        padding-left: .8rem;
      }
    }

    &.dropdown {
      > div, > span {
        margin-right: 1rem;
      }
    }

    &.dropdown {
      position: relative;

      > ul {
        padding-top: 1.6rem;
        box-shadow: 0 0.5rem 0.6rem $base-1;
        border-radius: 0 0 6px 6px;
        width: 100%;

        li:first-child a {
          border-radius: 0;
        }

        li:hover a {
          min-width: auto;
        }
      }
    }

    .compare-icon {
      vertical-align: top;
    }
  }

  .head-service {
    background: $hover;
    border: 0;
    padding: 3rem 1.6rem;
    margin-bottom: 0;
    position: relative;

    .search-block {
      max-width: 111rem;
      margin: 0 auto;

      h2 {
        margin-bottom: 1.4rem;
      }

      .button.blank {
        color: #198CFE;

        &.button-icon {
          color: $text-color;

          svg {
            margin-right: .4rem;
            vertical-align: middle;
          }
        }
      }

      .search-row {
        &:first-of-type {
          display: flex;
          padding: 0 1rem 1.6rem 0;
        }

        &:nth-of-type(2n) {
          padding-right: 1rem;

          .k-textbox {
            width: 34.8rem;
          }

          .button {
            padding: 0.5rem 0;
          }
        }

        .button-group {
          min-width: 17.6rem;

          .button,
          .button:focus {
            padding: 0.7rem 2.2rem !important;
          }
        }
      }

      .button-group {
        .button {
          background-color: $body-bg;

          &.selected {
            background-color: $focus;

            &:hover {
              background-color: $black-05;
            }
          }

          &:hover {
            background-color: $black-07;
          }
        }
      }

      .k-dropdown, .dropdownselect-wrapper {
        min-width: 28.2rem;
      }

      .k-numeric-wrap {
        padding-right: .8rem;

        &::before {
          color: rgba(0, 0, 0, 0.54);
          line-height: 3rem;
          padding-left: 1.2rem;
        }

        .k-input {
          padding-right: 0;
          padding-left: .8rem;
        }
      }

      .numeric-from {
        .k-numeric-wrap::before {
          content: 'от';
        }

        &.price-numeric-from {
          .k-numeric-wrap::before {
            content: 'Цена от';
          }
        }
      }

      .numeric-to .k-numeric-wrap::before {
        content: 'до';
      }

      .range > .k-widget {
        width: 60%;
      }

      hr {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
      }
    }
  }

  .search-subscriptions {
    background: $body-bg;
    box-shadow: 0 1.6rem 2.4rem $base-1, 0 0 .8rem $base-03;
    border-radius: .6rem;
    margin-top: .6rem;
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 11;

    li {
      border-top: 1px solid $hover;
      a {
        color: $text-color;
        padding: .7rem 1.2rem .8rem;
        display: block;
      }

      &:hover a {
        background-color: $hover;
      }

      &:first-child a {
        border-radius: .6rem .6rem 0 0;
      }

      &:last-child a {
        border-radius: 0 0 .6rem .6rem;
      }
    }
  }

  .header {
    margin: 2.8rem;
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem;
    align-content: baseline;

    .tile {
      width: calc(25% - 2rem);
      margin: 1.3rem 1rem;
      border-radius: .4rem;
      overflow: hidden;

      > * {
        border: 0;
        border-radius: 0;
        margin: 0;

        &:hover {
          box-shadow: none;
          z-index: 0;
        }
      }

      .loader {
        width: 2rem;
        background-size: 1.6rem 1.1rem;
        height: 2rem;
        margin-left: -.5rem;
        margin-top: -.7rem;
      }

      .button {
        padding: .5rem 1.9rem;
      }

      &-content {
        padding: .6rem 0 0 0;
        font-size: 1.2rem;
        line-height: 1.3;

        h6 {
          line-height: 1.8rem;
        }

        .address {
          min-height: auto;
          max-width: 84%;
        }

        .more-price {
          margin-left: .4rem;

          &::before {
            content: '';
            width: .2rem;
            height: .2rem;
            display: inline-block;
            background: $black-03;
            vertical-align: middle;
            border-radius: 100%;
            margin-right: .4rem;
          }
        }
      }

      &-buttons {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
          margin-left: .8rem;
        }
      }

      &-banner {
        .tile-buttons {
          .button {
            display: block;
            margin-right: 0;
          }
        }

        &-horizontal {
          width: 100%;
          min-height: auto;
          border: none;
          margin: .2rem 1rem 1.4rem 1rem;
          border-radius: 0;
          position: relative;

          &::before {
            content: '';
            background-repeat: no-repeat;
            display: block;
            height: 15.6rem;
            width: 26.6rem;
            background-size: auto 15.6rem;
            background-position: bottom;
            position: absolute;
            bottom: 0;
            right: 5rem;
            z-index: 1;
          }

          .tile-content {
            margin-top: 3rem;
            padding: 3.2rem 1.2rem 3.2rem 8rem;
            font-size: inherit;
            line-height: inherit;
            display: flex;
            align-items: center;
            height: 13.5rem;

            .button {
              padding: .5rem 3rem;
            }

            .banner-text {
              margin-right: 5.6rem;
              max-width: 63rem;
            }
          }

          &.banner-1 {
            .tile-content {
              background: #E4EDF7;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-1.png');
            }
          }

          &.banner-2 {
            .tile-content {
              background: #B9E9DC;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-2.png');
            }
          }

          &.banner-3 {
            .tile-content {
              background: $focus;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-3.png');
            }
          }

          &.banner-4 {
            .tile-content {
              background: #CCDDDC;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-4.png');
            }
          }

          &.banner-5 {
            .tile-content {
              background: $black-05;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-5.png');
            }
          }

          &.banner-6 {
            .tile-content {
              background: #A2FAFE;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-6.png');
            }
          }

          &.banner-7 {
            .tile-content {
              background: $black-05;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-7.png');
            }
          }

          &.banner-8 {
            .tile-content {
              background: #E4EDF7;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-8.png');
            }
          }

          &.banner-9 {
            .tile-content {
              background: #FFF6D5;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-9.png');
            }
          }

          &.banner-10 {
            .tile-content {
              background: #EDE3E0;
            }

            &::before {
              background-image: url('https://cdn.esphere.ru/images/rea/bg/banners/banner-horizontal-10.png');
            }
          }
        }
      }
    }

    &-realty-type {
      margin-bottom: 4.6rem;

      .tile {
        width: calc(20% - 2rem);
        min-height: 30rem;
        line-height: 2.3rem;
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
        color: $text-reverse;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 3.2rem;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 46.97%, rgba(0, 0, 0, 0.6) 100%);
        }

        h2 {
          line-height: 2.2rem;
          min-height: 5.4rem;
        }
      }
    }
  }

  .carousel {
    height: 26rem;
    flex: 0 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    background-color: $focus;

    .i-loading {
      position: absolute;
      left: calc(50% - 1rem);
      top: calc(50% - 1rem);
    }

    .source {
      padding: .6rem;
      position: absolute;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.2rem;

      > img {
        max-height: 2rem;
      }
    }

    &-arrow {
      font-size: 2.8rem;
      visibility: visible;
      color: $text-reverse;
    }

    &-pages {
      visibility: visible;
      text-shadow: none;

      > span {
        margin: 0 .2rem;
      }

      &-point {
        width: .7rem;
        height: .7rem;
        display: inline-block;
        border-radius: 100%;
        background: $body-bg;
        opacity: .7;
        cursor: pointer;

        &:hover, &.active {
          opacity: 1;
        }
      }
    }
  }

  .pagination {
    margin-top: 3rem;

    .k-pager-wrap {
      justify-content: center;
    }

    .k-pager-info, .k-pager-sizes {
      display: none;
    }

    &-button {
      width: 2.4rem;
      height: 2.4rem;
      background: $border;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      padding: 0;
      color: $text-reverse;
      margin: 0 1.2rem;
      vertical-align: middle;
      cursor: pointer;
      opacity: 1;

      &::before {
        vertical-align: middle;
      }
    }
  }

  .list-region {
    li {
      padding: .6rem 0;
      break-inside: avoid;
      page-break-inside: avoid;
      a {
        color: $text-color;
      }
    }
  }

  .k-textbox.k-space-left {
    padding-left: 3.6rem;

    .k-icon {
      left: .8rem;
    }

    input::placeholder {
      color: rgba(116, 121, 124, 0.6);
    }
  }

  .content-wrapper {
    display: flex;
    height: calc(100vh - 6rem);
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1400px) {
      align-items: stretch;
    }

    > .wrapper {
      flex: 1 0 auto;
    }
  }

  .footer-box {
    display: none;
  }

  .footer-box-rea {
    flex: 0 0 auto;
    width: 100%;
    background: #bbc1c5;
    color: $text-reverse;

    a {
      color: $text-reverse;
    }
  }

  .compare-header {
    color: $base-gray;

    h1 {
      color: $text-color;
    }
  }

  .compare-grid {
    .carousel {
      border-radius: .4rem;
    }

    table tbody tr {
      .compare-header {
        padding: .8rem 1rem;
      }

      td:not(:first-child) {
        padding: .8rem 2.4rem;
        width: 31rem;
      }

      &:last-child td {
        padding-bottom: 3.2rem;
      }
    }
  }

  &.start {
    .head-service {
      background: url('https://cdn.esphere.ru/images/rea/bg/search-bg.png');
      background-size: cover;
      background-position-y: bottom;
      padding: 6.2rem 1.6rem;
      margin-bottom: 1rem;
      height: 31.6rem;

      &::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: $base-3;
      }

      h1 {
        margin-bottom: 1.2rem;
      }

      h3 {
        font-weight: 400;
      }

      .search-header {
        max-width: 124.8rem;
        margin: 0 auto;
        color: $text-reverse;
      }

      .search-block {
        max-width: 112rem;
        background: $body_bg;
        padding: 3.2rem 6.4rem;
        margin-top: .8rem;
        z-index: 2;
        box-shadow: 0 1.6rem 2.4rem $base-1, 0 0 .8rem $base-03;
      }
    }

    .search-subscriptions {
      width: calc(100% - 12.8rem);
    }

    .banner {
      background: url('https://cdn.esphere.ru/images/rea/bg/banner-4.png') no-repeat #F1F8FF;
      background-position-y: bottom;
      background-position-x: calc(100% - 4.8rem);
      padding: 2.8rem 3.8rem;
      margin: 0 1rem 3.8rem 1rem;

      h3 {
        line-height: 1;
        margin-bottom: 2rem;
      }

      .inner > .block-inline {
        margin-right: 4.8rem;
      }

      &-count {
        font-size: 8rem;
        line-height: 8.4rem;
        font-weight: 500;
        opacity: .8;
      }
    }

    .sources {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      > img {
        max-height: 5.8rem;
      }
    }
  }
}

.subscribe {
  .window-content {
    padding-bottom: 2.4rem;
  }
}

.subscription-grid {
  .k-grid-header {
    border-top: 0;
  }

  th {
    text-transform: none;
    line-height: 3.2rem;
  }

  tr {
    border-bottom: 1px solid $black-05;

    td {
      padding-top: 2.4rem;
      padding-bottom: 1.6rem;

      > label {
        margin-bottom: 1.2rem;
      }
    }
  }

  .text-form {
    padding-left: 1.3rem;
    line-height: 3.2rem;
  }
}

td.subscription-buttons {
  padding-right: 0;
  .button.more {
    padding: .5rem;
    height: 3.2rem;
  }
}

.subscription-buttons-group {
  .button {
    width: 7.4rem;

    &.success:hover {
      background-color: $primary-02;
      border-color: transparent;

      + .button {
        border-left-color: transparent;
      }
    }
  }
}


.k-window-content .ending .button {
  margin-left: 1.2rem;
}

body.map, body.map-scale, body.map-empty, body.map-loading {
  .user-box {
    box-shadow: none;
    border-bottom: 1px solid $border;
    height: 6rem;
  }
  .content-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: calc(100vh - 6.1rem);
    position: relative;
    overflow: hidden;
  }

  .head-service {
    padding-top: 0;
    padding-bottom: 0;
    background: $body-bg;
    margin-bottom: 0;
    position: absolute;
    box-shadow: 0 .5rem .6rem 0 rgba(48, 53, 97, 0.15);
    z-index: 2;
    width: calc(100% - 3.2rem);
    min-width: 127rem;
    box-sizing: unset;

    .search-block {
      max-width: 140rem;

      .search-row:first-of-type {
        padding-bottom: .2rem;
      }

      hr {
        margin-top: 1rem;
        margin-bottom: 1.2rem;
      }

      .button.block {
        margin: 0.2rem auto;
      }
    }
  }

  .map-items {
    height: calc(100vh - 20rem);

    .map-item {
      width: .6rem;
      height: .6rem;
      background: $brand-primary;
      border: 1px solid #fff;
      border-radius: 100%;
      position: fixed;
      cursor: pointer;
    }

    &-scale {
      .map-item {
        width: auto;
        border: none;
        border-radius: 2rem;
        background: none;
        height: 3.6rem;
        min-width: -moz-min-content; //фикс для мозилы, чтобы правильно рассчитывалась ширина метки и скрытая цена не вылазила за пределы

        &:hover {
          .price {
            width: auto;
            padding-left: 2.6rem;
            padding-right: .8rem;
          }
        }

        .count {
          background: $body-bg;
          color: $brand-primary;
          font-size: 2.4rem;
          line-height: 3rem;
          border-radius: 2rem;
          min-width: 3.6rem;
          font-weight: 500;
          border: .3rem solid $brand-primary;
          position: relative;
          padding: 0 0.8rem;

          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -.6rem;
            bottom: -1.4rem;
            border: .6rem solid transparent;
            border-top: .6rem solid $brand-primary;
          }
        }

        .price {
          overflow: hidden;
          display: inline-block;
          transition: .3s;
          width: 0;
          line-height: 3.6rem;
          background: $black-02;
          border-radius: 0 2.4rem 2.4rem 0;
          color: $text-reverse;
          margin-left: -2.3rem;
          height: 3.6rem;
          vertical-align: middle;
          font-size: 1.2rem;
        }
      }
    }
  }

  .map-zoom {
    position: absolute;
    right: 1.6rem;
    top: calc(50% - 7.2rem);

    &-button {
      display: block;
      @include square-size(4.8rem);
      background: $body-bg;
      border-radius: 50%;
      box-shadow: 0 1.6rem 2.4rem $base-1, 0 0 .8rem $base-03;
      margin-bottom: 4.8rem;

      &::after {
        content: '';
        display: block;
        @include square-size(2.8rem);
        padding: 1rem;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.plus::after {
        background-image: url("https://cdn.esphere.ru/images/rea/icons/zoom-plus.svg");
      }

      &.minus::after {
        background-image: url("https://cdn.esphere.ru/images/rea/icons/zoom-minus.svg");
      }
    }
  }

  .aside {
    position: absolute;
    width: 33rem;
    top: 0;
    left: -33rem;
    background: $body-bg;
    height: calc(100% - 5.6rem);
    overflow-y: auto;
    margin-bottom: 0;
    transition: .3s;
    margin-top: 5.6rem;
  }

  .map-aside-title {
    padding: 1rem 1.5rem;
  }

  .tiles {
    margin: 0;
    overflow: auto;
    height: calc(100% - 6.2rem);
    .tile {
      width: auto;
      flex-basis: 100%;
      margin: 1.3rem .8rem;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.map-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &::before {
    content: "";
    background-color: rgba($reverse, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
  }
}

.loading.button {
  opacity: 1;
}

body.map {
  .content-wrapper {
    background-image: url('https://cdn.esphere.ru/images/rea/bg/map.png');
  }
}

body.map-scale, body.map-loading {
  .content-wrapper {
    background-image: url('https://cdn.esphere.ru/images/rea/bg/map-scale.png');
  }
}

.width-30rem, .width-30-rem {
  width: 30rem;
}

.profile-history-empty {
  display: flex;
  align-items: center;

  img {
    margin-right: 4rem;
  }
}

.button.large.button-search, .button.button-search {
  padding-left: .6rem;
  padding-right: .6rem;
  min-width: 25rem;
}


//Пока прячем для new
body.new {
  .personal-box {
    display: none;
  }
}

//Стили для маркеров карты
.placemark_layout_container {
  position: relative;
  cursor: pointer;
}

.placemark_layout {
  position: absolute;
  width: auto;
  height: auto;
  background: $brand-primary;
  border-radius: 2rem;
  padding: .4rem .8rem;
  border: none;
  color: $text-reverse;
  cursor: pointer;
  line-height: 2rem;
  white-space: nowrap;

  .count {
    background: $body-bg;
    color: $text-color;
    margin-left: -0.4rem;
  }

  &:hover {
    background: $primary-03;

    &::after {
      border-top-color: $primary-03;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -.6rem;
    bottom: -1.2rem;
    border: .6rem solid transparent;
    border-top: 0.6rem solid $brand-primary;
  }
}

//Стили для карты
.map-container {
  margin-top: 5.6rem;
  width: 100%;
  height: calc(100vh - 11.6rem);
  overflow: hidden;
}

.map-aside {
  margin-top: 0;
  height: 100%;
  box-sizing: content-box;
  position: absolute;
  width: 35rem;
  top: 0;
  left: -35rem;
  background: #fff;
  overflow-y: auto;
  margin-bottom: 0;
  transition: .3s;
}

//Стили для автокомплита
.autocomplete {
  &-suggestions {
    &-container {
      margin-top: .6rem;
      border-radius: .6rem;
      z-index: 2;
    }

    &-list {
      max-height: none;
    }
  }

  &-suggestion {
    transition: all .2s ease;
  }
}

.range-label {
  margin-right: 0;
}



//Сторонние стили для слайдера продуктового - нужны здесь, потому что фронт не может использовать никаких своих css файлов

.image-gallery-fullscreen-button::before,.image-gallery-left-nav::before,.image-gallery-play-button::before,.image-gallery-right-nav::before{display:inline-block;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;text-rendering:auto;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.image-gallery{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.image-gallery.fullscreen-modal{background:#000;bottom:0;height:100%;left:0;position:fixed;right:0;top:0;width:100%;z-index:5}.image-gallery.fullscreen-modal .image-gallery-content{top:50%;transform:translateY(-50%)}.image-gallery-content{position:relative;line-height:0;top:0}.image-gallery-content.fullscreen{background:#000}.image-gallery-content.fullscreen .image-gallery-slide{background:#000}.image-gallery-content.fullscreen .image-gallery-slide img{width:auto;height:100vh}.image-gallery-content.fullscreen.thumbnails-horizontal .image-gallery-slide img{width:auto;height:calc(100vh - 85px)}.image-gallery-slide-wrapper{position:relative}.image-gallery-slide-wrapper.left,.image-gallery-slide-wrapper.right{display:inline-block;width:calc(100% - 113px)}@media (max-width:768px){.image-gallery-slide-wrapper.left,.image-gallery-slide-wrapper.right{width:calc(100% - 84px)}}.image-gallery-slide-wrapper.image-gallery-rtl{direction:rtl}.image-gallery-fullscreen-button,.image-gallery-left-nav,.image-gallery-play-button,.image-gallery-right-nav{appearance:none;background-color:transparent;border:0;cursor:pointer;outline:0;position:absolute;z-index:4}.image-gallery-fullscreen-button::before,.image-gallery-left-nav::before,.image-gallery-play-button::before,.image-gallery-right-nav::before{color:#fff;line-height:.7;text-shadow:0 2px 2px #1a1a1a;transition:color .2s ease-out}.image-gallery-fullscreen-button:hover::before,.image-gallery-left-nav:hover::before,.image-gallery-play-button:hover::before,.image-gallery-right-nav:hover::before{color:#337ab7}@media (max-width:768px){.image-gallery-fullscreen-button:hover::before,.image-gallery-left-nav:hover::before,.image-gallery-play-button:hover::before,.image-gallery-right-nav:hover::before{color:#fff}}.image-gallery-fullscreen-button,.image-gallery-play-button{bottom:0}.image-gallery-fullscreen-button::before,.image-gallery-play-button::before{font-size:2.7em;padding:15px 20px;text-shadow:0 1px 1px #1a1a1a}@media (max-width:768px){.image-gallery-fullscreen-button::before,.image-gallery-play-button::before{font-size:2.4em}}@media (max-width:480px){.image-gallery-fullscreen-button::before,.image-gallery-play-button::before{font-size:2em}}.image-gallery-fullscreen-button:hover::before,.image-gallery-play-button:hover::before{color:#fff;transform:scale(1.1)}@media (max-width:768px){.image-gallery-fullscreen-button:hover::before,.image-gallery-play-button:hover::before{transform:none}}.image-gallery-fullscreen-button{right:0}.image-gallery-fullscreen-button::before{content:""}.image-gallery-fullscreen-button.active::before{content:""}.image-gallery-fullscreen-button.active:hover::before{transform:scale(.9)}.image-gallery-play-button{left:0}.image-gallery-play-button::before{content:""}.image-gallery-play-button.active::before{content:""}.image-gallery-left-nav,.image-gallery-right-nav{color:#fff;font-size:5em;padding:50px 15px;top:50%;transform:translateY(-50%)}.image-gallery-left-nav[disabled],.image-gallery-right-nav[disabled]{cursor:disabled;opacity:.6;pointer-events:none}@media (max-width:768px){.image-gallery-left-nav,.image-gallery-right-nav{font-size:3.4em;padding:20px 15px}}@media (max-width:480px){.image-gallery-left-nav,.image-gallery-right-nav{font-size:2.4em;padding:0 15px}}.image-gallery-left-nav{left:0}.image-gallery-left-nav::before{content:""}.image-gallery-right-nav{right:0}.image-gallery-right-nav::before{content:""}.image-gallery-slides{line-height:0;overflow:hidden;position:relative;white-space:nowrap}.image-gallery-slide{background:#fff;left:0;position:absolute;top:0;width:100%}.image-gallery-slide.center{position:relative}.image-gallery-slide img{width:100%}.image-gallery-slide .image-gallery-description{background:rgba(0,0,0,.4);bottom:70px;color:#fff;left:0;line-height:1;padding:10px 20px;position:absolute;white-space:normal}@media (max-width:768px){.image-gallery-slide .image-gallery-description{bottom:45px;font-size:.8em;padding:8px 15px}}.image-gallery-image{text-align:center}.image-gallery-bullets{bottom:20px;left:0;margin:0 auto;position:absolute;right:0;width:80%;z-index:4}.image-gallery-bullets .image-gallery-bullets-container{margin:0;padding:0;text-align:center}.image-gallery-bullets .image-gallery-bullet{appearance:none;background-color:transparent;border:1px solid #fff;border-radius:50%;box-shadow:0 1px 0 #1a1a1a;cursor:pointer;display:inline-block;margin:0 5px;outline:0;padding:5px}@media (max-width:768px){.image-gallery-bullets .image-gallery-bullet{margin:0 3px;padding:3px}}@media (max-width:480px){.image-gallery-bullets .image-gallery-bullet{padding:2.7px}}.image-gallery-bullets .image-gallery-bullet.active{background:#fff}.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl{direction:rtl}.image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{display:inline-block;vertical-align:top;width:108px}@media (max-width:768px){.image-gallery-thumbnails-wrapper.left,.image-gallery-thumbnails-wrapper.right{width:81px}}.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails{height:100%;width:100%;left:0;padding:0;position:absolute;top:0}.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail{display:block;margin-right:0;padding:0}.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail,.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail+.image-gallery-thumbnail{margin-left:0}.image-gallery-thumbnails-wrapper.left{margin-right:5px}@media (max-width:768px){.image-gallery-thumbnails-wrapper.left{margin-right:3px}}.image-gallery-thumbnails-wrapper.right{margin-left:5px}@media (max-width:768px){.image-gallery-thumbnails-wrapper.right{margin-left:3px}}.image-gallery-thumbnails{overflow:hidden;}@media (max-width:768px){.image-gallery-thumbnails{padding:3px 0}}.image-gallery-thumbnails .image-gallery-thumbnails-container{cursor:pointer;text-align:center;transition:transform .45s ease-out;white-space:nowrap}@media (max-width:768px){.image-gallery-thumbnail{border:3px solid transparent;width:75px}}.image-gallery-thumbnail .image-gallery-thumbnail-inner{position:relative}.image-gallery-thumbnail img{vertical-align:middle;width:100%}.image-gallery-thumbnail.active{border:4px solid #337ab7}@media (max-width:768px){.image-gallery-thumbnail.active{border:3px solid #337ab7}}.image-gallery-thumbnail-label{box-sizing:border-box;color:#fff;font-size:1em;left:0;line-height:1em;padding:5%;position:absolute;top:50%;text-shadow:1px 1px 0 #000;transform:translateY(-50%);white-space:normal;width:100%}@media (max-width:768px){.image-gallery-thumbnail-label{font-size:.8em;line-height:.8em}}.image-gallery-index{background:rgba(0,0,0,.4);color:#fff;line-height:1;padding:10px 20px;position:absolute;right:0;top:0;z-index:4}@media (max-width:768px){.image-gallery-index{font-size:.8em;padding:5px 10px}}.app-header{letter-spacing:1px;text-transform:uppercase}.play-button{cursor:pointer;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;height:60px;width:100px;background-color:rgba(0,0,0,.7);border-radius:5px}.play-button:hover{background-color:rgba(0,0,0,.9)}.play-button:after{content:"";display:block;position:absolute;top:16.5px;left:40px;margin:0 auto;border-style:solid;border-width:12.5px 0 12.5px 20px;border-color:transparent transparent transparent rgba(255,255,255,1)}.close-video::before{content:'✖';cursor:pointer;position:absolute;right:0;top:0;font-size:20px;padding:20px;z-index:1;line-height:.7;display:block;color:#fff}.video-wrapper{position:relative;padding:33.35% 0;height:0}.video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}.app .image-gallery,.app-sandbox{margin:0 auto;width:65%;transition:all 1s ease}@media (max-width:1320px){.app-sandbox-content{padding:0 20px}}.app-sandbox{margin:40px auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.app-buttons li{display:block}@media (max-width:768px){.app-header{font-size:20px}.app-buttons li{display:block;margin:10px 0}.app-buttons li+li{padding:0}.play-button{height:40px;width:65px}.play-button:after{top:11px;left:27px;border-width:8.5px 0 8.5px 12px}.close-video::before{font-size:16px;padding:15px}}@media (max-width:1024px){.app .image-gallery,.app-sandbox{width:100%}}
.tile .image-gallery-slide, .tile .photo {
  height: 26rem;
}
.k-window .image-gallery-content {
  height: 42rem;
}
.carousel-arrow {
  visibility: visible;
}
.carousel-arrow,
.carousel-pages,
.source {
  z-index: 1;
}
.k-window .image-gallery {
  border-radius: 2.4rem;
  overflow: hidden;
}
.image-gallery-thumbnails {
  position: absolute;
  text-align: center;
  margin-top: .2rem;
  width: 80rem;
}
.image-gallery-thumbnails .item {
  background-size: cover;
  width: 11rem;
  height: 6.2rem;
  display: inline-flex;
  cursor: pointer;
  margin-right: .2rem;
}
.image-gallery-thumbnail.active .item,
.image-gallery-thumbnail .item:hover {
  box-shadow: inset 0 0 0 1px $primary-02;
  border: none;
}
.image-gallery-thumbnail.active {
  border: none;
}
