
.sbof {
  .toolbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.content {
  &.docs {
    .k-grid {
      tbody {
        tr {
          &:hover {
            background: white;
          }
        }
      }
      th,
      td {
        border-color: transparent;
      }
      td {
        vertical-align: middle;
        &:first-child {
          vertical-align: top;
        }
      }
    }
  }
}
