$brand-warning: #f49530;

// Правки из-за устаревшего кендо

@font-face {
  font-family: 'WebComponentsIcons';
  src: url("../../fonts/kendo-glyphs/WebComponentsIcons.woff2"), url("../../fonts/kendo-glyphs/WebComponentsIcons.woff"), url("../../fonts/kendo-glyphs/WebComponentsIcons.ttf");
  font-weight: normal;
  font-style: normal;
}

// Иконки файлов в разделе Помощь

.help-doc {
  width: 10rem;
}

// Подсветка подходящей по параметрам плашки

.suitable {
  border-color: $brand-warning;
  box-shadow: 0 0 1rem $brand-warning;
}

// Минимальный размер содержимого плашки, чтобы они были одной высоты

.ep-item {
  .list-check {
    min-height: 16rem;
  }
}

// для баннера

.banner-wrap {
  width: 51rem;
  min-height: 12rem;
}

// общее

.icon-inline {
  font-size: inherit;
}

a > [class^="prodicon-"], .button > [class^="prodicon-"] {
  color: inherit;
}
