@import "../variables/themes/_nova.scss";

.wrapper {
  max-width: 100.5rem;
  width: 100%;
}

.button-group-blank {
  .button-group-item {
    padding: .6rem 1rem .5rem;
    color: $secondary-01;
    background-color: transparent;
    border: none;
    &:hover,
    &.first:hover,
    &.last:hover,
    &.active {
      background-color: $black-06;
      border-radius: .6rem;
    }
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
    &.active {
      color: $secondary-03;
    }
  }
}

.data-container {
  min-height: 7.2rem;
}

.checkbox-details {
  margin-left: 2.5rem;
  &-item {
    margin: 1rem 0;
  }
}

[class*="icon-svg"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.icon-svg {
  &-certificate {
    background-image: url(https://cdn.esphere.ru/images/nova/icons/helps-colored.svg);
  }
  &-payments {
    background-image: url(https://cdn.esphere.ru/images/nova/icons/payments.svg);
  }
}

.offer-overflow {
  max-height: 42rem;
  overflow-y: scroll;
}

.company {
  .dropdown-wrapper {
    padding: .7rem 1.2rem .7rem .8rem;
    border-radius: .6rem;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      height: 5rem;
      z-index: -1;
    }
    > ul {
      top: calc(100% + 1rem);
      min-width: auto;
      > li {
        > span {
          min-width: auto;
        }
      }
    }
  }
  &:hover {
    .dropdown-wrapper {
      background-color: $primary-05;
      > ul {
        display: block;
      }
    }
  }
}

.back-link:hover path {
  fill: $black-02;
  fill-opacity: 1;
}

.error {
  &-box {
    padding: 5.8rem 0 2.4rem;
  }
  &-description {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
}

.scroll-data {
  max-height: calc(100vh - 30.6rem);
  overflow-y: auto;
  scrollbar-width: thin;
}

.consent-check {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -2.4rem;
    left: 0;
    height: 2.4rem;
    background: linear-gradient(180deg, $reverse-0 0%, $reverse 100%);
  }
}

.bg {
  &-white {
    background-color: $white;
  }
  &-gray {
    background-color: $gray-2;
  }
}

.table {
  thead {
    tr::before,
    tr::after {
      border-bottom: 1px solid #e4e8eb;
    }
  }
  th {
    text-transform: uppercase;
    color: #74797C;
    background-color: transparent;
  }
  tr {
    &::before,
    &::after {
      content: "";
      display: table-cell;
      width: 32px;
    }
    &:hover {
      td {
        background-color: #F2F4F7;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: transparent;
      }
    }
  }
  .dropdown-wrapper {
    ul {
      left: auto;
      right: 0;
    }
  }
}

.quick-view.quick-view-selected {
  background-color: transparent;
  > td {
    background-color: $gray-2;
  }
  + tr {
    > td {
      background-color: $gray-2;
    }
  }
}

.v-stepper-heading-icon::after {
  font-size: 20px;
}

.v-stepper-content {
  padding-bottom: 0;
  margin-top: 0;
}

.modal-480 {
  .modal-window {
    width: 480px !important;
  }
}