@import "../variables/themes/_black.scss";

$td-hover: #4a4a4a;
$btn-warning-hover: #fce87e;
$brand-primary-hover: #65d08f;
$button-disabled-text: #74797c;
$shadow-color: rgba(#171717, .6);
$table-bg: #414141;
$arrow-bg: #2b2b2d;

$loader-element-size: 6rem;

@font-face {
  font-family: Economica;
  src: url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.woff2") format('woff2'),
       url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.woff") format('woff'),
       url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: $bg-main;
  color: $text;
}

*::-webkit-scrollbar {
  width: .5rem;
  height: .8rem;
}

*::-webkit-scrollbar-thumb {
  background-color: lighten($black-01, 25%);
}

*::-webkit-scrollbar-track {
  background-color: $black-03;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $brand-warning;

  &.txt-index {
    font-size: 6rem;
    font-family: Economica;
    color: $white;
    line-height: 6rem;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $brand-warning;
  }

  &.button:active {
    background: transparent;
  }

  &:focus,
  &:not(.pagination-button):focus {
    box-shadow: none;
  }
}

a.button, .button-wrapper, button.button {
  border-radius: .4rem;
}

ul {
  &.form {
    > li {
      margin-bottom: 1.6rem;
    }
  }
}

.txt-success {
  color: $brand-primary;
}

.txt-warning {
  color: $brand-warning;
}

.txt-danger {
  color: #f41a1a;
}

.user-box {
  background: $black-09;
  border-bottom: none;
}

.wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: content-box;
}

.form-block .item {
  margin-bottom: 4rem;
}

.logo {
  font-family: Economica;
  font-size: 4rem;
  color: $white !important;
  width: 15rem;
  height: 5.7rem;
  padding-left: 7.4rem !important;
  background: url(https://cdn.esphere.ru/images/tiger/logo-tiger.svg) no-repeat 0 50%;
  background-size: 6.7rem;
  padding-top: 1.8rem !important;
}

.table thead::after {
  content: "";
  display: block;
  height: .6rem;
}

.table {
  background: $table-bg;
  box-sizing: border-box;

  .table-header {
    flex: 0 0 auto;
    border-bottom-width: .6rem;
    border-top-width: 2px;
    border-style: solid;
    border-color: $bg-main;
    text-align: left;

    th {
      border-bottom-width: .1rem !important;
      background-color: transparent;
      &:first-child {
        border-top-left-radius: 0;
      }
      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }

  table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    outline: 0;
    table-layout: fixed;
  }

  th,
  td {
    padding: .8rem;
    font-size: 1.2rem;
    color: $white;
    position: relative;
    cursor: pointer;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    vertical-align: middle;

    &:hover {
      background: $td-hover;
    }

    &.txt-index {
      cursor: default;
    }

    &.txt-index.index-info {
      cursor: pointer;
      font-size: 1.4rem;
    }
  }

  th {
    font-size: 1rem;
    font-weight: 500;
    color: $input-upload-file;
    text-transform: uppercase;
    background-color: transparent;
    &:first-child {
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-right-radius: 0;
    }

    span,
    a {
      display: inline-block;
      width: 100%;
      max-height: 5rem;
      word-break: keep-all;
      white-space: normal;
      overflow: hidden;
    }

    &:not(:last-child) {
      border-right: 2px solid $bg-main;
    }
  }

  td {
    &:not(:first-child) {
      border-left: 2px solid $black-09;
    }

    &:first-child {
      padding-right: 4rem;

      & > a {
        padding: 2rem 1.6rem;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.shield svg {
      position: absolute;
      left: 50%;
      margin-left: -2.5rem;
      top: 50%;
      margin-top: -2.5rem;
    }
  }

  thead,
  tbody {
    border-color: $bg-main;
  }

  tbody {
    tr {
      &:hover {
        background: $table-bg;
      }

      &:not(:last-child) {
        border-bottom: 2px solid $black-09;
      }
    }
  }
}

.shield {
  position: relative;
  font-family: Economica, sans-serif;
  font-size: 1.6rem;
  border-left: 0;

  span {
    width: 100%;
    position: absolute;
    text-align: center;
    display: block;
    top: 1rem;
  }

  &.loading {
    animation: rotation 1.5s infinite;

    .sector1, .sector2, .sector3, .sector4 {
      fill: $black-03;
    }
  }

  svg {
    width: 4rem;
    height: 4rem;
    display: block;
    margin: auto;

    .sector1, .sector2, .sector3, .sector4 {
      fill: #5a5a5a;
    }

  }

  &:hover {
    background-color: inherit;
  }

  &.danger {
    .sector1 {
      fill: $brand-danger;
    }
  }

  &.warning {
    .sector1, .sector2 {
      fill: $brand-warning;
    }

  }

  &.success {
    .sector1, .sector2, .sector3 {
      fill: $brand-primary;
    }

  }

  &.winner {
    .sector1, .sector2, .sector3, .sector4 {
      fill: $brand-primary;
    }

  }
}


/* Components Style */

.calendar-wrapper {
  color: $black-01;
}

.modal-window {
  .modal-header {
    border-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
  }

  > div {
    background: $bg-main;
  }

  .index-data {
    font-size: 4rem;
    line-height: 4rem;
  }
}

a.button,
.button-wrapper,
button.button {
  background-color: transparent;
  border-color: $black-05;
  color: inherit;

  > .count {
    margin-right: 0;
    vertical-align: middle;
  }

  &:active {
    background-color: $bg-main;
    border-color: $btn-outline-hover;
  }
}

.button-wrapper {
  &.disabled {
    > * {
      color: $button-disabled-text !important;
    }
  }

  &.blank {
    color: $white !important;

    &.disabled {
      color: $black-03 !important;
      background-color: transparent !important;
    }
  }
}

a.button.blank {
  color: $link-color;

  &:hover {
    text-decoration: underline;
    color: $link-color;
  }
}

.button-wrapper.border:hover,
.button-wrapper.border:focus {
  background: transparent !important;
}

.primary.button-wrapper,
.success.button-wrapper,
.primary.button,
.success.button,
.success.tag:before,
.success.count,
.chunkbar > .progress,
.chunkbar > .success,
.statusbar > .bar,
.progressbar > .bar {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

a.primary.button,
a.success.button,
.primary.button-wrapper,
.success.button-wrapper {
  &:active {
    background-color: $primary-01;
    border-color: $brand-primary;
  }

  &.disabled {
    background-color: $brand-primary-disabled !important;
    border-color: $brand-primary-disabled !important;
  }

  &:hover {
    background-color: $brand-primary-hover;
  }
}

.button-group-wrapper {
  .button-wrapper {
    border-color: darken($input-bg, 5%);

    &:last-child,
    &:first-child {
      border-radius: 0;
    }
  }

  &.primary,
  &.success {
    .button-wrapper.active {
      background-color: darken($input-bg, 5%);
      border-color: darken($input-bg, 5%);

      + .button-wrapper {
        border-left-color: darken($input-bg, 5%);
      }
    }
  }
}

.warning.button,
.warning.button-wrapper {
  &:active,
  &:hover {
    background-color: $btn-warning-hover;
    border-color: $btn-warning-hover;
  }
}

.warning.button-wrapper,
.warning.button,
.chunkbar > .warning,
.warning > .bar,
.primary > .bar {
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: $black-01 !important;

  &.loading {
    color: transparent !important;
  }
}

.danger.button-wrapper,
.chunkbar > .danger,
.danger > .bar {
  background-color: $brand-danger;
}

.button-wrapper.border {
  border-color: initial !important;
}

.border.button.disabled,
.button-wrapper.border.disabled {
  background-color: $bg-main !important;
  border-color: $button-disabled-text !important;
}

.warning.button.disabled {
  background-color: $brand-warning-disabled !important;
  border-color: $brand-warning-disabled !important;
}

.danger.button.disabled {
  background-color: $brand-danger-disabled !important;
  border-color: $brand-danger-disabled !important;
}

.count.warning,
.warning.tag:before,
.warning.count {
  background-color: $brand-warning;
}

a.txt-success:hover,
a.txt-warning:hover {
  color: $white;
}

.bside {
  .list {
    max-height: calc(100vh - 27rem);
    overflow-y: auto;
  }

  li {
    a {
      display: block;
      padding: 1rem;
      background: $black-09;
      position: relative;
      border-radius: 4px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        width: 0;
        height: 2px;
        background: $white;
        transition: .1s ease;
      }

      &:hover, &.active {
        text-decoration: none;
        background: $td-hover;

        &:before {
          width: 100%;
          transition: .3s ease;
        }
      }
    }
  }
}

.box, .message {
  background: $black-09;
  border: 0;
  border-radius: .4rem;
  &.warning {
    background: transparent;
    border: 1px solid $accent-01;
  }
}

.inner {
  border-radius: .4rem;

  &.secondary {
    background: #48719a;
  }

  &.warning {
    background: transparent;
    border: 1px dashed $brand-warning;
  }
}

.title {
  border-bottom: 2px solid $black-09;
  padding-bottom: 1.2rem;
}

.list {
  &.units-list {
    li {
      margin-bottom: 1rem;
      padding: 1rem;
      max-height: 10.4rem;
      min-height: 10.4rem;

      > div {
        overflow: hidden;
      }
    }
  }
}

.menu-h {
  a {
    &.active {
      color: $brand-warning;
    }
  }
}

.icon-big {
  font-size: 3rem;
}

.dash-nav {
  line-height: 1;

  .year {
    font-size: 2rem;
  }

  .this-year {
    font-size: 3rem;
  }

  li button.quarter {
    background: $black-09;
    border-radius: .4rem;
    min-width: auto;
    border: 1px solid $black-09;
    padding: .4rem .8rem;

    &:not(.blank):focus {
      border-width: 1px;
      padding: .4rem .8rem;
    }

    &:hover {
      background-image: url(https://cdn.esphere.ru/images/hover.png);
      background-repeat: repeat;
      border-color: $black-09;
    }

    &.active {
      background-color: $brand-primary;
      border-color: $brand-primary;

      &:hover {
        background-color: $brand-primary !important;
        border-color: $brand-primary !important;
      }
    }

    &.disabled {
      background: transparent !important;
      border: 1px solid;
      color: $button-disabled-text !important;
    }
  }
}

.txt-index {
  font-size: 1.6rem;
  font-family: Economica, sans-serif;
}

.tooltip {
  background-color: $black-01;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;

  &.top {
    margin-top: -1.4rem;

    &::after {
      border-top-color: $black-01;
    }
  }
}

.table-layout > * > * {
  vertical-align: middle;
}

.suggestion-wrapper {
  z-index: 41;
  color: $black-01;
}

.tabs-wrapper {
  border-radius: 4px 4px 0 0;

  .tabs-arrow-right,
  .tabs-arrow-left {
    z-index: 1;
    &::before {
      box-shadow: 0 2px 7px 0 rgba($arrow-bg, 70%);
      background: $brand-warning;
      top: calc(50% - .77rem);
      color: $base-7;
    }
  }

  .tabs-arrow-right {
    right: 0;

    &::after {
      min-height: 5rem;
      background-image: linear-gradient(to right, rgba($arrow-bg, 0%), $arrow-bg 60%);
    }
  }

  .tabs-arrow-left {
    left: 0;

    &::after {
      min-height: 5rem;
      background-image: linear-gradient(to left, rgba($arrow-bg, 0%), $arrow-bg 60%);
    }
  }
}

.tabs-content {
  .box {
    z-index: 1;
  }
}

.tabs-bar {
  border-bottom: 0;

  .tabs-item {
    white-space: nowrap;
    padding: 1.2rem 1.6rem;
    border-bottom: 0;
    border-radius: .4rem .4rem 0 0;
    background: $base-7;

    &::after {
      content: none;
    }

    &:not(:last-child) {
      margin-right: 0;

      i {
        color: $black-03;

        &:hover {
          color: $white;
          transition: .3s ease;
        }
      }
    }

    &:not(.active):hover {
      color: $brand-warning;
    }

    &.active {
      border-bottom-color: $black-09;
      background: $black-09;
    }
  }
}

button.button-wrapper.icon-button {
  padding: 0;
  min-width: 0 !important;
  background-color: transparent;
  border: none;

  &:hover {
    background-image: none;
    color: $brand-warning;
  }

  &.disabled {
    background-color: transparent !important;
    color: $black-03 !important;

    &:hover {
      background-color: transparent !important;
      background-image: none;
      color: $black-03 !important;
    }
  }
}

.loader-container {
  background: linear-gradient(-45deg, rgba($gray-base, 0) 49.9%,
    $black-09 49.9%, $black-09 60%,
    rgba($gray-base, 0) 60%
  ),
  linear-gradient(-45deg,
      $black-09 10%,
      rgba($gray-base, 0) 10%
  );
  background-size: .8rem .8rem;
  background-color: rgba($bg-main, .8);

  .loader-element {
    width: $loader-element-size;
    height: $loader-element-size;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    animation: r-to-left 2s linear infinite;
    transform-origin: 50%;
    background: linear-gradient(200deg, $primary-01 0%, rgba($white, 0) 100%);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      margin-left: -.45rem;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      width: calc(#{$loader-element-size} / 2);
      height: $loader-element-size;
      background: linear-gradient(180deg, rgba($white, 0) 0%, $brand-primary 100%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: calc((-#{$loader-element-size} + 1rem) / 2);
      margin-top: calc((-#{$loader-element-size} + 1rem) / 2);
      border-radius: 50%;
      width: calc(#{$loader-element-size} - 1rem);
      height: calc(#{$loader-element-size} - 1rem);
      background: rgba($bg-main, .8);
    }

    @keyframes r-to-left {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      50% {
        transform: translate(-50%, -50%) rotate(180deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}

@keyframes rotation {
  100% {
    transform: rotate(180deg);
  }
}

.markdown {
  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & ul, & ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 4rem;
  }
}

.dropdownselect,
.autocomplete,
.numeric-text-box,
.multiselect, .datepicker, .input {
  &-input-wrapper,
  &-element-wrapper {
    background-color: darken($input-bg, 5%);
    color: $white;
    border-radius: .4px;
    border: none;

    &:hover, &.focused {
      border: none;
      background-color: darken($input-bg, 10%);
    }

    &.disabled {
      background-color: $td-hover !important;
    }

    &.danger:not(.focused):not(.disabled) {
      border-bottom: 1px solid $error-03;
    }

    & input {
      color: $white;
      caret-color: $white;

      &::placeholder {
        color: $black-05;
      }
    }
  }

  &-select-icon {
    font-family: 'novicon' !important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;

    &::before {
      background: none;
      content: "\e908";
    }
  }

  &-arrow-up {
    font-family: 'novicon' !important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;

    &::before {
      transform: none;
      background: none;
      content: "\e90a";
      height: 12px;
    }
  }

  &-arrow-buttons {
    height: 32px;
  }

  &-arrow-down {
    font-family: 'novicon' !important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;

    &::before {
      background: none;
      content: "\e908";
      height: 12px;
    }
  }
}

.tags-item {
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover, &.focused {
    border-color: transparent;
    background-color: $brand-primary-hover;

    .tags-icon {
      color: $white;
    }
  }
}

.tags-icon {
  &.icon-default {
    color: $white;
  }
}

input::placeholder {
  color: $black-05;
}

@-webkit-keyframes autofill {
  to {
    color: $white;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.checkbox-input:checked + .checkbox-label::before,
.checkbox-input:checked + .checkbox-label::after,
.checkbox-input:checked + .checkbox-label:hover::before,
.checkbox-input:checked + .checkbox-label:not(.semi):hover::after {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.checkbox-label:hover::before {
  border-color: $brand-primary;
}

.checkbox-input:disabled {
  + .checkbox-label::before {
    background-color: $black-04;
    border-color: $black-08;
  }

  + .checkbox-label::after {
    color: $black-03;
    background-color: transparent;
  }

  &[checked] {
    + .checkbox-label::before {
      background-color: $primary-04;
    }
  }
}

.suggestion {

  &-wrapper {
    background-color: rgba(lighten($input-bg, 5%), 1);
    box-shadow: $shadow-level-1;
  }

  &-item {
    border-radius: 4px;
    color: $white;

    &:hover {
      color: $white;
      background-color: lighten($input-bg, 10%);
    }

    &.selected, &.highlighted {
      background-color: lighten($input-bg, 10%);
      color: $white;

      &:hover {
        background-color: lighten($input-bg, 10%);
      }
    }
  }
}

.textarea-input {
  background-color: darken($input-bg, 5%);
  color: $white;
  padding: 6px;
  border-radius: 0;
  border: none;
  caret-color: $white;
  resize: vertical;
  min-height: 100px;

  &:hover, &.focused {
    border: none;
    background-color: darken($input-bg, 10%);
  }

  &.danger {
    border-bottom: 1px solid $error-03;
  }
}

.tool-panel {
  position: relative;
  padding: .4rem;
  box-shadow: 0 1px 2px darken($input-bg, 10%);
  margin: 0 0 -4.1rem 0;
  background: $input-bg;

  ul {
    button {
      border-radius: 2px;
    }
  }

  &:hover {
    opacity: 1;
  }

  + .textarea-wrapper {
    padding-top: 4.2rem;

    .textarea-input {
      padding: .6rem .6rem .6rem 1rem;
    }
  }
}

.collapse-container {
  background: transparent;

  &:first-child {
    border-top: 2px solid $black-02;
  }

  .collapse-heading {
    &-wrapper {
      border-radius: 0;
      border: 0;
      position: relative;

      .icon-button {
        position: relative;
        right: -7rem;
      }
    }

    &-icon {
      right: -1.2rem;
      font-family: 'novicon' !important;
      speak: none;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1.3;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;

      &::before {
        background: none;
        content: "\e908";
        width: 20px;
        height: 20px;
      }
    }
  }
}

.user-box {
  .personal-box {
    .menu-h {
      .level-1 > a {
        color: $white;
        justify-content: center;

        &:not(.button) {
          padding: 1rem;
          margin: .4rem .25rem;
          min-width: 12rem;
          color: $black-05;
        }

        &:hover {
          color: $white;
        }

        &.active {
          color: $brand-warning;
          background-color: transparent;
        }
      }
    }
  }
}

.modal-body .loader-wrapper {
  border-radius: 2.4rem;
  overflow: hidden;
}

.loading-strip {
  position: relative;
  background-color: transparent;
  height: 1.2rem;
  width: 100%;
  display: inline-block;
  overflow: hidden;

  &::after {
    display: block;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(#555555, .5), transparent);
    animation: loading 1.5s infinite;
  }

  &.area {
    height: 12rem;
  }

  &.heading {
    height: 2.4rem;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

[class^="novicon-"], [class*=" novicon-"] {
  font-size: 1.6rem;
  line-height: 1.3;
}

.numeric-text-box-arrow-buttons {
  margin-right: 4px;
}

.justify-content-end {
  justify-content: flex-end;
}

.bottompanel-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid $bg-main;
  background-color: $black-09;
  padding: 1.9rem 2rem;
  transition: .3s;
  left: 0;

  .wrapper {
    padding: 0;
  }
}

.flame-hell {
  border-bottom: 2px solid $black-09;
  padding: 0 2rem;
}

.sorted, .sorted-asc, .sorted-desc {
  &:after {
    top: 50%;
    right: 0;
    margin-top: -1.7rem;
    font-size: 2rem;
    background: $table-bg;
    padding: 0 2px;
  }

  &:hover {
    &:after {
      background: $td-hover;
    }
  }
}

.notifications-item {
  box-shadow: $shadow-level-1;
  color: $white;
  background-color: $black-09;

  .notifications-content {
    border-left: 0;
  }

  .notifications-icon {
    font-size: 28px !important;
  }

  .notifications-icon-close {
    margin: 10px 10px 0 0;
    align-self: flex-start;
  }
}

.content-scroll {
  max-height: calc(100vh - 31rem);
  overflow-y: auto;
}

.scroll-ti-management {
  max-height: 33rem;
  overflow-y: auto;
}

.index-direct-wrapper {
  .index-direct {
    padding: 1rem;
    border-bottom: 2px solid $black-02;

    &:first-child {
      border-top: 2px solid $black-02;
    }
  }
}

.list-staffers {
  li {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.sub-box {position: relative;}

.index-track {
  height: .2rem;
  margin-bottom: 2rem;
  background-color: $black-02;

  &:nth-last-child(2) {
    background-color: transparent;
    background-image:
      linear-gradient(90deg, $black-02, $black-02 75%, transparent 75%, transparent 100%);
    background-size: 2rem 100%;
  }
}

pre {
  background-color: $black-09;
}

/*Markdown-editor*/

.rc-md-container {
  .rc-md-editor {
    height: 40rem;
    border-color: $black-09 !important;
    background-color: $black-09;

    .editor-container {
      box-shadow: 0 1px 2px $shadow-color;

      .sec-md .input {
        background-color: darken($input-bg, 5%) !important;
        color: $black-05 !important;

        &:focus {
          background-color: darken($input-bg, 10%) !important;
        }
      }
    }

    .drop-wrap {
      border-radius: .8rem;
      border-color: $table-bg;
      background-color: $table-bg;
      box-shadow: 0 .3rem .8rem .1rem $black-09;
    }

    .header-list {
      background-color: $table-bg;
      color: $brand-warning;

      .list-item{
        &:hover, &:focus {
          background-color: rgba($td-hover, .6);
        }
      }
    }

    .table-list.wrap {
      .list-item {
        background-color: $input-upload-file;

        &.active {
          background-color: $white;
        }
      }
    }
  }

  .button,
  .rc-md-editor .tool-bar .button,
  .rc-md-navigation .button-wrap .button {
    padding: 0;
    border: none;
    background-color: transparent !important;
    color: $input-upload-file;

    &:hover, &:focus {
      color: $white;
    }

    &:active {
      color: $bg-main;
    }

    &.disabled {
      color: $button-disabled-text !important;
      & > * {
        color: inherit !important;
      }
    }
  }

  .rc-md-navigation {
    background-color: $input-bg !important;
    border-color: $input-bg !important;
    box-shadow: 0 1px 2px $shadow-color;

    ul {
      padding: 0 !important;
    }
  }
}


/*Markdown-output*/

.rc-md-output {
  margin-bottom: 2.4rem;
  background-color: transparent;

  table {
    background-color: $table-bg;

    thead {
      border-color: $black-09 !important;
      border-bottom-width: .7rem;
      border-style: solid;
    }

    tbody {
      border-color: $black-09;
    }

    tr, th, td {
      &:not(:last-child),
      &:not(:first-child) {
        border-color: inherit;
      }
    }

    th {
      border-color: inherit;
      border-bottom-width: .1rem;
    }
  }

  code, pre {
    white-space: pre;
    background-color: $table-bg;
  }

  pre {
    padding: 1rem;
    overflow-x: auto;
  }

  table, pre, ol, ul, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  strong {
    font-weight: 700;
  }

  ol, ul {
    padding-left: 2rem;
    li {
      margin-bottom: .4rem;
    }
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: decimal;
  }
}

.control-element-wrapper {
  height: 3.8rem;
}
