@import "../variables/themes/_nova.scss";

$success: $primary-01;
$success-lighter: $primary-05;
$documents-list-bg: $black-08;
$border-gray: $black-05;
$hover-gray: $black-06;
$required-field: #ffffe0;
$box-shadow-color: #797979;

$tab-with-filters-height: calc(100vh - 17rem);
$filter-width: 31rem;

@keyframes resize-table {
  from {
    width: 100%;
  }
  to {
    width: 70%;
    display: inline-block;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-radius-none {
  border-radius: 0 !important;
}

.rotate {
  animation: rotation 3s linear infinite;
}

.bg-gray {
  background-color: $documents-list-bg;
}

.bg-white {
  background-color: $white;
}

.i-button {
  &:hover, &.active {
    &::before {
      color: $black-01;
    }
  }
}

.table {
  table {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
}

%coustom-dropdown-decoration {
  a {
    border-left: 4px solid transparent;
    border-radius: 0 .6rem .6rem 0 !important;
  }
  &.active {
    a {
      border-left-color: $success;
      background-color: $black-07 !important;
    }
  }
}

@mixin text-to-dots($i) {
  max-width: $i;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow:ellipsis;
}

.to-dots-100 {
  @include text-to-dots(100%);
  padding-left: 0 !important;
}

.max-w-50 {
  max-width: 50%;
}

%no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

%bottompanel-settings {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid $border-gray;
  background-color: $white;
  padding: 1rem;
  transition: .3s;
}

.document-create-body {
  [class*='w-'] {
    .flex-row {
      padding-left: .8rem !important;
    }
  }
}

.count {
  min-width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0 .5rem;
}

.inner-large {
  padding: 2rem;
}

.margin-top-minus {
  margin-top: -1rem;
}

.margin-left-minus {
  margin-left: -1rem;
}

.margin-x-minus {
  margin-left: -1rem;
  margin-right: -1rem;
}

.required {
  &:not(.disabled) {
    &.textarea-input, &.autocomplete-input-wrapper,
    &.dropdownselect-input-wrapper, &.input-element,
    &.masked-input-element, &.multiselect-input,
    &.input-element-wrapper,
    .numeric-text-box-input-wrapper, .datepicker-input-wrapper {
      background-color: $required-field;
    }
  }
}

.autocomplete-wrapper {
  ul {
    padding: 0 !important;
  }
  li {
    list-style: none;
  }
}

.size-normal {
  font-size: 1.4rem;
  line-height: 2rem;
}

.preview-content {
  background: $white;
  height: 50rem;
  overflow: auto;
}

//IE Fix Браузер игнорирует list-style: none; --------------------------------------------------------------------------
.dropdown {
  ul {
    li {
      list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
      float: left;
      width: 100%;
      a{
        float: left;
        width: 100%;
      }
    }
  }
}

.ie {
  %bottompanel-settings {
    position: relative !important;
  }
}
//End IE Fix Браузер игнорирует list-style: none; ----------------------------------------------------------------------

// HEADER --------------------------------------------------------------------------------------------------------------
header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .header-products-list {
    left: -1.6rem !important;
    top: calc(100% + 1.5rem) !important;
    min-width: 25rem !important;
    display: block !important;
    li {
      @extend %coustom-dropdown-decoration;
    }
  }

  .novicon-success-fill.txt-success,
  .novicon-error-circle-fill.txt-danger  {
    margin-top: .2rem;
    margin-right: .5rem;
    &::before {
      border: .3rem solid rgba($brand-primary, .2);
      border-radius: 50%;
      font-size: 1.5rem;
    }
    &+.novicon-signed {
      margin-top: -.6rem;
      &::before {
        font-size: 3rem;
      }
    }
  }
  .novicon-error-circle-fill.txt-danger {
    &::before {
      border: .3rem solid rgba($brand-danger, .2);
    }
  }

  .personal-info, .personal-info p {
    @include text-to-dots(100%);
  }

  .header-custom-title {
    width: 32rem;
  }

  .header-custom-dropdown {
    width: 31.5rem;
    display: block;
    top: calc(100% + 1.5rem);
  }

  .dropdown-notifications, .dropdown-notifications-loading {
    ul {
      display: block;
      right: 0;
      left: inherit !important;
      top: calc(100% + 1.5rem);
      width: 28rem;

      li {
        white-space: normal !important;
        padding: 1rem;

        .list {
          max-height: 40rem;
          overflow-y: auto;
        }

        a {
          color: $success;
        }
      }
    }
  }

  .dropdown-notifications-loading {
    ul {
      right: -6rem;
      width: 36rem;

      .progressbar-wrapper {
        height: .6rem;
        border-radius: .3rem;
        .progressbar-fill {
          color: transparent;
          border-radius: .3rem;
        }
      }
    }
  }

  .more {
    &.count-to-upper {
      .count {
        top: 0;
        right: 1rem;
      }
    }
  }
}
// END HEADER ----------------------------------------------------------------------------------------------------------

// ASIDE ---------------------------------------------------------------------------------------------------------------
aside {
  padding-top: 7rem !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;

  .aside-companies-actions, .aside-companies-menu {
    li {
      padding: .8rem .6rem .8rem 0;
      @extend %coustom-dropdown-decoration;
      .novicon-close {
        opacity: 0;
        transition: .3s;
      }
      &:hover {
        .novicon-close {
          opacity: 1;
        }
      }
      &.active, &:hover {
        a {
          .txt-micro, .count {
            font-weight: normal;
          }
        }
      }
      a {
        padding: 1rem;
        display: block;
        overflow: hidden;
        ul {
          li {
            list-style: none;
            .tooltip-wrapper {
              display: block;
              @include text-to-dots(70%);
            }
          }
        }
      }
    }
  }
  .aside-companies-menu {
    height: 70vh;
    overflow-y: auto;
    @extend %no-scrollbar;
  }
}
// END ASIDE -----------------------------------------------------------------------------------------------------------

// DocumentsList -------------------------------------------------------------------------------------------------------
.documents-list-wrapper {
  height: 100vh;
  padding: 7rem 0 0 25rem;
  @extend .bg-gray;

  .documents-list-header {
    padding: 2.5rem 1.5rem 0 4.8rem;

    .search-panel {
      width: 40rem;
      margin: 1rem 0 -1rem 0;
    }
  }
  .documents-list-body {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 13.5rem);
    .tabs-bar {
      width: 100%;
      padding: 0 1.5rem 0 4.8rem;
    }

    .tabs-content {
      @extend .bg-white;
      .table-tab {
        position: relative;
        padding-bottom: 9rem;

        .bottompanel-wrapper {
          padding: 1rem 3rem;
          position: sticky;

          .dropdown {
            position: relative;
            ul {
              top: inherit;
              bottom: calc(100% - 2rem);
            }
          }
        }

        .first {
          padding-left: 3rem;
        }

        .tag {
          &::before {
            left: -3.5rem;
          }
        }
      }
    }
  }
}

.count-to-upper {
  display: block;
  overflow: unset;
  position: relative;

  .count {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }
}

.tab-filters-stub {
  .common-loader {
    margin: 0 auto;
  }
  padding-top: 10rem;
  text-align: center;
}

.bottompanel-wrapper {
  @extend %bottompanel-settings;

  &.hidden {
    bottom: -15rem !important;
  }
}
// END DocumentsList ---------------------------------------------------------------------------------------------------

// END DocumentsList - Table -------------------------------------------------------------------------------------------

.scrolled-table {
  height: calc(100vh - 21.5rem);
  overflow-y: auto;
  padding-bottom: 7rem;
  @extend %no-scrollbar;
}

.documents-list-wrapper {
  .table-header, tbody {
    background-color: $white;
    th {
      font-size: 1.2rem;
    }

    th, td {

      &:nth-child(1) {
        padding-left: 4.8rem;
        text-overflow: unset;
        label {
          padding-top: 0;
          margin-top: -.4rem;
        }
      }

      &:nth-child(7) {
        padding-right: 4.8rem;
      }
    }

    tr {
      td {
        .novicon-doc-list {
          font-size: 3.5rem;
        }

        a {
          color: $text;
          .document-cutted-name {
            vertical-align: middle;
            @include text-to-dots(100%);
          }
        }

        .tag {
          position: absolute;
        }

        .dropdown {
          position: relative;

          ul {
            width: 25rem;
            right: 0;
            left: inherit;
          }

          .dropdown-separator {
            height: 1px;
            background-color: $border-gray;
            padding: 0;
          }
        }
      }
    }
  }
}
// END DocumentsList - Table -------------------------------------------------------------------------------------------

// DocumentsList - Filters ---------------------------------------------------------------------------------------------
.filters {
  display: block;
  flex-shrink: 0;
  width:$filter-width;
  height: $tab-with-filters-height;
  @extend .bg-gray;
  margin-top: 4.1rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: .3s;

  &.hidden {
    margin-right: -$filter-width;
  }

  .filters-custom-height {
    position: relative;
    height: calc(100vh - 18.5rem);

    & > ul {
      padding-bottom: 10rem;

      li {
        padding: .5rem 0;
      }
    }

    .bottompanel-wrapper {
      @extend %bottompanel-settings;
      width: $filter-width;
      height: 10rem;
    }
  }

  .suggestion-list {
    padding: 0 !important;
    li {
      margin: 0;
      &.suggestion-item {
        padding: .3rem 1rem .5rem 1rem;
        list-style: none !important;
      }
    }
  }
}
// END DocumentsList - Filter ------------------------------------------------------------------------------------------

// DocumentView --------------------------------------------------------------------------------------------------------
.content-wrapper {
  padding-top: 7rem;
  min-height: 100vh;
  &-gray {
    @extend .bg-gray;
    padding-bottom: 2rem;
  }
}

.document-view-header {
  padding: 3.5rem 0;
}

.document-view-body {
  .box {
    padding: 2rem 3rem;
  }

  .collapse-title {
    @include text-to-dots(100%);
    padding-right: 5rem;
  }

  .sender {
    margin-bottom: -2rem;
  }
}

.collapsible-icon {
  font-size: 3rem;
}

.novicon-signed {
  position: relative;
  &.unsigned {
    &::after {
      content: "";
      position: absolute;
      left: -.25rem;
      top: 1rem;
      width: 2.5rem;
      height: .1rem;
      background-color: $black-04;
    }
  }
}


.collapse-heading-wrapper {
  border: 0 !important;
}

.radio-wrapper {
  display: block !important;
}

.window-content-x {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important;
}
// END DocumentView ----------------------------------------------------------------------------------------------------

// DocumentCreate ------------------------------------------------------------------------------------------------------
.document-create-body, .document-view-body {
  padding-bottom: 9rem;

  .collapsible-icon {
    font-size: 3rem;
  }
}
// DocumentCreate ------------------------------------------------------------------------------------------------------

// dropdown-actions - button + .dropdown(см. DocumentView.tsx) ---------------------------------------------------------
.dropdown-actions {
  position: relative;
  padding: 0 !important;
  button {
    width: 23rem;
    position: relative;
    z-index: 41;

    .novicon-expand {
      transition: .3s;
    }
  }

  ul {
    top: 0;
    z-index: 40;
    padding-top: 3.2rem;
    border-radius: 2.4rem 2.4rem 0 0;
    display: none;
    margin-bottom: 0;
  }

  &.top {
    ul {
      top: inherit;
      bottom: 0;
      padding-top: 0;
      padding-bottom: 3.2rem;
      border-radius: 0 0 2.4rem 2.4rem;
    }
  }

  &.active {
    button {
      border-color: $text;
    }

    ul {
      display: block;
    }

    .novicon-expand {
      transform: rotate(180deg);
    }
  }
}
// END dropdown-actions - button + .dropdown(см. DocumentView.tsx) -----------------------------------------------------

// list-tree - Древовидный список(см. DocumentView.tsx) ----------------------------------------------------------------
.list-tree {
  .card {
    padding: .5rem 2rem;
    background-color: $black-07;
    border-radius: .4rem;
    margin-bottom: 1rem;

    [class*="novicon"] {
      padding: 1rem;
      margin-left: -2rem;
    }
  }

  li {
    ul{
      padding-left: 4rem;
      li {
        &::before {
          border-color: transparent;
        }
        &::after {
          left: -1rem;
          border-color: $border-gray;
        }
        .card {
          position: relative;
          &::before {
            position: absolute;
            top: -1rem;
            left: -2.5rem;
            content: "";
            width: 2rem;
            height: calc(50% + 1rem);
            border-width: 0 0 .1rem .1rem;
            border-style: solid;
            border-color: $border-gray;
          }
          &::after {
            position: absolute;
            top: calc(50% - .5rem);
            left: -.5rem;
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: $border-gray;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
// END list-tree - Древовидный список(см. DocumentView.tsx) ------------------------------------------------------------

// Skeleton loader -----------------------------------------------------------------------------------------------------
.loading {
  position: relative;
  background-color: $hover-gray;
  overflow: hidden;
  color: transparent;
  &::after {
    display: block;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
    animation: loading 1.5s infinite;
  }
  .small-margin-bottom {
    margin-bottom: .2rem;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
// END Skeleton loader -------------------------------------------------------------------------------------------------

// Custom tags ---------------------------------------------------------------------------------------------------------
.tag {
  &.checked, &.checked-double {
    &::before {
      font-family: novicon;
      content: "\e96c";
      color: $success;
      background: transparent;
      width: auto;
      height: auto;
      margin: 0;
      font-size: 2rem;
      position: absolute;
      left: -3.8rem !important;
      top: 0;
    }
  }
  &.checked-double {
    &::after {
      font-family: novicon;
      content: "\e96c";
      color: $success;
      font-size: 2rem;
      position: absolute;
      left: -4.4rem;
      top: 0;
    }
  }
}
// END Custom tags -----------------------------------------------------------------------------------------------------

// Modals --------------------------------------------------------------------------------------------------------------
.modal-wrapper {
  &.landscape-doc {
    .modal-window {
      width: 90% !important;
      max-width: 140rem;
    }
  }
}

.modal-controls {
  position: fixed;
  z-index: 40;
  right: 2rem;
  top: 5rem;
  .fz-3-rem {
    font-size: 3rem;
  }
}

.success {
  &.modal-header, &.modal-body {
    background-color: $success;
    border-width: 0;
    color: $white;
    &+.modal-footer {
      border-width: 0;
    }
  }
}

.document-constructor {
  text-align: center;
  img {
    width: 7rem;
    height: 7rem;
  }
}

.full-version-img {
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  img {
    width: 14rem;
    height: 14rem;
  }
}
// END Modals ----------------------------------------------------------------------------------------------------------

// Settings Page -------------------------------------------------------------------------------------------------------
.documents-list-wrapper {
  .settings-page-content {
    padding: 2rem 4.8rem;
    display: block !important;
    height: auto;

    .number-input {
      width: 4rem;
      display: inline-block !important;
      margin: 0 .5rem;
    }
  }
}

.counter-component {
  display: flex !important;
  align-items: stretch;
  border: 1px solid $border-gray;
  border-radius: .5rem;

  .button-wrapper  {
    min-width: 4rem;
    padding: 0 .5rem;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .numeric-text-box-input-wrapper {
    height: 100%;
    width: 4rem;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;

    input {
      padding: 0 .4rem;
      text-align: center;
    }

    &:hover, &.focused {
      border-color: $border-gray;
    }
  }
}
// END Settings Page ---------------------------------------------------------------------------------------------------

.not-found-centered {
  padding-top: calc(50vh - 20rem);
}

// Filter Horisontal ---------------------------------------------------------------------------------------------------
.filters-horisontal {
  display: none;
  height: 32rem;
  transition: .3s;
  &.hidden{
    height: 0;
  }
}

@media screen and (max-width: 1279px) {

  .filters-horisontal {
    display: block;
  }

  .filters {
    display: none;
  }
}
// END Filter Horisontal -----------------------------------------------------------------------------------------------

.react-pdf-page {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: $documents-list-bg;
  canvas {
    margin: 1rem auto 2rem;
    box-shadow: .1rem .5rem 1.5rem rgba($box-shadow-color, 0.4);
  }
}

.error-height-restriction {
  max-height: 30rem;
  overflow-y: auto;
}
