@import '../variables/themes/_nova.scss';

// VARIABLES -----------------------------------------------------------------------------------------------------------
$success: $primary-01;
$warning: $accent-02;
$border-gray: $black-05;
$box-shadow-color: #797979;
$indicator-color-success: $primary-02;
$indicator-color-warning: $accent-02;
$indicator-bg-success: $primary-02;
$indicator-bg-warning: $accent-02;
$label-bg-success: $primary-05;
$label-bg-warning: $accent-05;
$time-step: #8A8A8A;
$time-step-danger: #FF0000;
$time-step-warning: #FF9900;
$time-line: $black-05;
$time-line-danger: #FF6A3B;
$time-line-warning: #FFB13B;
$document-box-border-active: $primary-02;
$color-link: $secondary-02;
$color-link-hover: $primary-02;
// END VARIABLES -------------------------------------------------------------------------------------------------------

// CUSTOM --------------------------------------------------------------------------------------------------------------
#app {
  height: 100%;
}

.document-tabs-wrapper {
  height: calc(100% - 8rem);
}

.document-flow-table {
  position: relative;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.tabs-content {
  position: relative;
  height: 100%;
  &:after {
    content: "";
    position: absolute;
    top: .1rem;
    right: 0;
    width: 3.2rem;
    height: calc(100% - 1.6rem);
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.add-tab-button {
  &:hover i {
    color: $primary-02;
    transition: all .5s;
  }
  &::after {
    content: none;
  }
}

.row .flow-table-col {
  min-width: 25.9rem;
  max-width: 25.9rem;
  padding-right: 0.2rem;
}

.scrollbars {
  height: calc(100% - 9rem)!important;

  &:hover div {
    opacity: 1!important;
  }
}

.tabs-container {
  position: relative;
}

.documents-view-selector {
  position: absolute;
  top: -1.2rem;
  right: 3.2rem;
  .dropdownselect-input-wrapper{
    background-color: transparent;
    border: none;
    max-width: 11rem;
  }
}

.documents-flow-wrapper {
  position: relative;
  .documents-display-settings {
    position: absolute;
  }
}

.document-box {
  position: relative;
  transition: all .3s;
  cursor: pointer;
  margin-right: 2rem;

  .document-status-indicator {
    position: absolute;
    top: 1.2rem;
    left: -.1rem;
    width: .6rem;
    height: 2.3rem;
    background-color: $indicator-bg-warning;
    border-radius: 4rem;
    &.success {
      background-color: $indicator-bg-success;
    }
  }

  &:hover,
  &.active {
    border-color: $document-box-border-active;
  }

  &:last-child {
    margin-bottom: 0.9rem;
  }
}

.document-control-label {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
  padding: .8rem;
  &.warning {
    color: $indicator-color-warning;
    background-color: $label-bg-warning;
  }
  &.success {
    color: $indicator-color-success;
    background-color: $label-bg-success;
  }
}

.time-indicator {
  width: 100%;
  display: flex;
  .step {
    position: relative;
    width: 20%;
    height: .4rem;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: .4rem;
      height: .4rem;
      border-radius: 50%;
      background-color: $time-step;
    }
    &.progress {
      .line {
        background: linear-gradient(90deg, $time-line 0%, rgba(255, 255, 255, 0) 104.63%);
      }
    }
  }

  .line {
    position: absolute;
    left: .2rem;
    top: 0;
    width: 100%;
    height: .4rem;
    background: $time-line;
  }

  &.danger {
    .step:after {
      background-color: $time-step-danger;
    }
    .line {
      background: $time-line-danger;
    }
    .progress .line {
      background: linear-gradient(90deg, $time-line-danger 0%, rgba(255, 255, 255, 0) 104.63%);
    }
  }

  &.warning {
    .step:after {
      background-color: $time-step-warning;
    }
    .line {
      background: $time-line-warning;
    }
    .progress .line {
      background: linear-gradient(90deg, $time-line-warning 0%, rgba(255, 255, 255, 0) 104.63%);
    }
  }
}

.gray-box {
  border-radius: .8rem;
  background-color: $black-06;
}

.panel-color {
  background-color: $black-07;
}

.txt-light-gray {
  color: $black-04;
}

.txt-lighter-gray {
  color: $black-05;
}

.etax-card-icon {
  font-size: 4.2rem;
}

.card-info-list li {
  padding: 1.6rem 1.2rem;
  transition: all .3s;
  &:hover {
    background-color: $black-06;
    border-radius: .6rem;
  }
}

.button-wrapper {
  .link-icon {
    color: $color-link;
  }

  &:hover .link-icon {
    color: $color-link-hover;
  }
}

// END CUSTOM ----------------------------------------------------------------------------------------------------------

// HEADER --------------------------------------------------------------------------------------------------------------
header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .user-box {
    box-shadow: none;
  }

  .header-button.more {
    padding: 0 1.2rem;
  }

  .user-name.more {
    padding: 0 1.6rem;
  }

  .personal-box {
    .nav-tabs {
      > ul {
        padding: 0;
        background: none;
        border-radius: 0;
      }
    }
  }

  .search-wrapper {
    .input-element-wrapper {
      border-width: 0;
    }
  }

  .menu-h > .nav-tabs-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 6rem;
    max-height: 6rem;
    padding: 0 .8rem;
    border-radius: 0;
    &:hover,
    &.active,
    &:active {
      background-color: $black-06;
      font-weight: normal;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .4rem;
        border-radius: .4rem .4rem 0 0;
        background-color: $indicator-bg-success;
      }
      a {
        font-weight: normal;
      }
    }
    > a:hover:not(.button):not(.active) {
      background-color: transparent;
      border-radius: 0;
    }
  }
}
// END HEADER ----------------------------------------------------------------------------------------------------------

// DOCUMENT BODY -------------------------------------------------------------------------------------------------------
.document-body {
  padding-left: 0;
  padding-top: 6rem;
  .tabs-bar {
    @extend .panel-color;
    padding: 0 3.2rem;
    width: 100%;
  }
}
// END DOCUMENT BODY ---------------------------------------------------------------------------------------------------

// CARD INFO ----------------------------------------------------------------------------------------------------------
.card-info-sidebar {
  overflow-y: auto;
  margin-right: -43rem;
  width: 42rem;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  padding-top: 6rem;
  box-shadow: $shadow-menu-top-bar;
  transition: .3s;

  &.visible {
    margin-right: 0;
    transition: .3s;
  }

  &-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
// END CARD INFO ------------------------------------------------------------------------------------------------------

// Login page
.login-page-bg {
  background-image: url("https://cdn.esphere.ru/images/hypotheses/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page-title {
  font-size: 4.8rem;
  line-height: 1.17;
  margin: 0 4.8rem;
}

.login-page-row {
  min-height: 100vh;

  > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// delete tab icon
.delete-tab-icon {
  display: none;
  position: absolute;
  left: .3rem;
  top: 1.4rem;
  min-width: auto;
  padding: 0;
  border: none;
  cursor: pointer;
  i {
    font-size: 1.6rem;
  }
}

.tabs-item {
  padding-left: 2.4rem;
  &.active,
  &:hover {
    .delete-tab-icon {
      display: block;
      transition: all .5s;
    }
  }
}

// Media queries
@media (max-width: 1200px) {
  header {
    .button-desc {
      font-size: 1.2rem;
    }
  }
}
