@font-face {
  font-family: "sbbol-icons";
  src: url(../fonts/sb/sbbol-icons.eot?v=e4c277d3aa9997cb892e78bd1957911d);
  src: url(../fonts/sb/sbbol-icons.eot?v=e4c277d3aa9997cb892e78bd1957911d#iefix) format("embedded-opentype"), url(../fonts/sb/sbbol-icons.ttf?v=a8d1e3af98a4b548eb4bf8a35aa5a540) format("truetype"), url(../fonts/sb/sbbol-icons.woff?v=9d199163b161c3e24c002f0742dcc36d) format("woff"), url(../fonts/sb/sbbol-icons.svg?v=deb65f1fa1afe2c1287eff56e6fb6e0d#sbbol-icons) format("svg");
  font-weight: normal;
  font-style: normal; }

[class*="sbicon"] {
  font-family: "sbbol-icons" !important;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top; }

.sbicon-inline {
  font-size: inherit; }

.inline-icon {
  vertical-align: middle; }

[class*="sbicon"].large {
  font-size: 10rem;
  opacity: .25; }

[class*="sbicon"].big {
  font-size: 8rem;
  opacity: .4; }

.sbicon-envelope-plus::before {
  content: "\e979";
  color: #f2f2f2; }

.sbicon-calendar::before {
  content: "\e973"; }

.sbicon-complex-accounts-group::before {
  content: "\e972"; }

.sbicon-military-order-item::before {
  content: "\e96f"; }

.sbicon-overhaul-item::before {
  content: "\e971"; }

.sbicon-icon-preapproved::before {
  content: "\e96a"; }

.sbicon-icon-eye::before {
  content: "\e969"; }

.sbicon-regress::before {
  content: "\e966"; }

.sbicon-progress::before {
  content: "\e967"; }

.sbicon-upto::before {
  content: "\e962"; }

.sbicon-downto::before {
  content: "\e963"; }

.sbicon-rub::before {
  content: "\e95d"; }

.sbicon-goz-doc::before {
  content: "\e95e"; }

.sbicon-goz::before {
  content: "\e95f"; }

.sbicon-euro::before {
  content: "\e960"; }

.sbicon-value-drop::before {
  content: "\e95b"; }

.sbicon-value-arrow::before {
  content: "\e95c"; }

.sbicon-receipt::before {
  content: "\e959"; }

.sbicon-write-off::before {
  content: "\e95a"; }

.sbicon-mail1::before {
  content: "\e957"; }

.sbicon-checkbox1::before {
  content: "\e958"; }

.sbicon-prolongation::before {
  content: "\e952"; }

.sbicon-phone1::before {
  content: "\e953"; }

.sbicon-question1::before {
  content: "\e954"; }

.sbicon-right-arrow::before {
  content: "\e955"; }

.sbicon-side-arrow-left::before {
  content: "\e961"; }

.sbicon-side-arrow-right::before {
  content: "\e94f"; }

.sbicon-1c-download::before {
  content: "\e950"; }

.sbicon-e-inv-small::before {
  content: "\e951"; }

.sbicon-close-in-circle::before {
  content: "\e900"; }

.sbicon-e-inv-main::before {
  content: "\e901"; }

.sbicon-banner-expand::before {
  content: "\e902"; }

.sbicon-check-small::before {
  content: "\e903"; }

.sbicon-exclamation-in-circle::before {
  content: "\e904"; }

.sbicon-deposites::before {
  content: "\e905"; }

.sbicon-valuta::before {
  content: "\e906"; }

.sbicon-military-bill-small::before {
  content: "\e907"; }

.sbicon-blocked::before {
  content: "\e908"; }

.sbicon-plus-in-circle::before {
  content: "\e909"; }

.sbicon-ruble-in-circle::before {
  content: "\e90a"; }

.sbicon-military-bill::before {
  content: "\e90b"; }

.sbicon-main-military-bill::before {
  content: "\e90c"; }

.sbicon-valuta-bill::before {
  content: "\e90d"; }

.sbicon-ruble-bill::before {
  content: "\e90e"; }

.sbicon-arrowup::before {
  content: "\e90f"; }

.sbicon-arrowdown::before {
  content: "\e910"; }

.sbicon-add-template::before {
  content: "\e911"; }

.sbicon-pdf2::before {
  content: "\e912"; }

.sbicon-word::before {
  content: "\e913"; }

.sbicon-excel::before {
  content: "\e914"; }

.sbicon-archive::before {
  content: "\e915"; }

.sbicon-newfile::before {
  content: "\e916"; }

.sbicon-add-state::before {
  content: "\e917"; }

.sbicon-question-empty::before {
  content: "\e918"; }

.sbicon-corporate-cards::before {
  content: "\e919"; }

.sbicon-mail::before {
  content: "\e91a"; }

.sbicon-tasks::before {
  content: "\e91b"; }

.sbicon-triangle-in-circle-fill::before {
  content: "\e91c"; }

.sbicon-triangle-in-circle-empty::before {
  content: "\e91d"; }

.sbicon-service-availability::before {
  content: "\e91f"; }

.sbicon-paper-clip::before {
  content: "\e92e"; }

.sbicon-signed::before {
  content: "\e924"; }

.sbicon-outbox::before {
  content: "\e925"; }

.sbicon-inbox::before {
  content: "\e926"; }

.sbicon-draft::before {
  content: "\e927"; }

.sbicon-times::before {
  content: "\e923"; }

.sbicon-search::before {
  content: "\e922"; }

.sbicon-list::before {
  content: "\e956"; }

.sbicon-list2::before {
  content: "\e920"; }

.sbicon-exit::before {
  content: "\e921"; }

.sbicon-cloud::before {
  content: "\e928"; }

.sbicon-copy::before {
  content: "\e929"; }

.sbicon-datepicker::before {
  content: "\e92a"; }

.sbicon-details::before {
  content: "\e92b"; }

.sbicon-download::before {
  content: "\e92c"; }

.sbicon-edit::before {
  content: "\e92d"; }

.sbicon-error-circle-fill::before {
  content: "\e92f"; }

.sbicon-error-circle-empty::before {
  content: "\e930"; }

.sbicon-exclamation-triangle::before {
  content: "\e931"; }

.sbicon-exclamation::before {
  content: "\e932"; }

.sbicon-expand::before {
  content: "\e933"; }

.sbicon-export::before {
  content: "\e934"; }

.sbicon-external-url::before {
  content: "\e935"; }

.sbicon-lock::before {
  content: "\e936"; }

.sbicon-mail2::before {
  content: "\e937"; }

.sbicon-pdf::before {
  content: "\e938"; }

.sbicon-phone::before {
  content: "\e939"; }

.sbicon-print::before {
  content: "\e93a"; }

.sbicon-question::before {
  content: "\e93b"; }

.sbicon-refresh::before {
  content: "\e93c"; }

.sbicon-settings::before {
  content: "\e93d"; }

.sbicon-spinner::before {
  content: "\e93e"; }

.sbicon-star::before {
  content: "\e93f"; }

.sbicon-success-empty::before {
  content: "\e940"; }

.sbicon-guide::before {
  content: "\e941"; }

.sbicon-add::before {
  content: "\e942"; }

.sbicon-trash::before {
  content: "\e943"; }

.sbicon-bell::before {
  content: "\e944"; }

.sbicon-success-fill::before {
  content: "\e945"; }

.sbicon-clone::before {
  content: "\e946"; }

.sbicon-check::before {
  content: "\e947"; }

.sbicon-document-with-clip::before {
  content: "\e948"; }

.sbicon-document-overdue::before {
  content: "\e949"; }

.sbicon-document-processing::before {
  content: "\e94a"; }

.sbicon-document-success::before {
  content: "\e94b"; }

.sbicon-document-error2::before {
  content: "\e94c"; }

.sbicon-i-document-with-clip-success::before {
  content: "\e94d"; }

.sbicon-document-with-clip-error::before {
  content: "\e94e"; }

.sbicon-clock::before {
  content: "\e964"; }

.sbicon-percent::before {
  content: "\e965"; }

.sbicon-percent-in-circle::before {
  content: "\e91e"; }

.sbicon-manage-request::before {
  content: "\e968"; }

.sbicon-ellips-eye::before {
  content: "\e96b"; }

.sbicon-corpcard::before {
  content: "\e96c"; }

.sbicon-transit::before {
  content: "\e96d"; }

.sbicon-success::before {
  content: "\e96e"; }

.sbicon-deadline::before {
  content: "\e970"; }

.sbicon-link::before {
  content: "\e974"; }

.sbicon-direct-control::before {
  content: "\e975"; }

.sbicon-house::before {
  content: "\e976"; }

.sbicon-human::before {
  content: "\e977"; }

.sbicon-calendar-empty::before {
  content: "\e978";
  color: #f2f2f2; }

.sbicon-star.off {
  color: #bbb; }

.sbicon-star.on,
a.sbicon-star:hover,
a:hover > .sbicon-star {
  color: #f49530; }

/*# sourceMappingURL=fonts.sbicon.css.map */