/* Box, Message */
.box {
  padding: 0.9rem;
  border: 1px solid #e5e5e5; }

.box-group {
  box-shadow: 0 0 0 1px #e5e5e5;
  margin-bottom: 1rem; }

.box,
.message {
  background-color: #fff; }

.box,
.message {
  margin-bottom: 1.6rem; }

.items .item {
  margin-bottom: 2rem; }

.inner,
.ending {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.box,
.inner,
[class^="inner-"],
[class*=" inner-"],
.ending,
.message {
  position: relative; }

.inner {
  padding-left: 1rem;
  padding-right: 1rem; }

.message {
  padding: 1.6rem; }

.first.inner, .first[class^="inner-"], .first[class*=" inner-"] {
  padding-left: 4rem; }

.first.message {
  padding-left: 4.4rem; }

.message .button {
  background: #fff; }

.message .inner,
.message [class^="inner-"],
.message [class*=" inner-"] {
  border-color: inherit; }

.info-box .message {
  margin: 0; }

.inner + h1,
.inner + h2,
.inner + h3,
.inner + .inner > h1:first-child,
.inner + .inner > h2:first-child,
.inner + .inner > h3:first-child,
.inner + .title,
.k-grid + h1,
.k-grid + h2,
.k-grid + h3,
.k-grid + .title {
  margin-top: 2rem; }

/* Tiles */
.tiles {
  margin: 0 0.5rem 2rem; }
  .tiles:after {
    content: " ";
    display: block;
    clear: both; }
  .tiles .tile {
    float: left;
    width: 20%;
    box-sizing: border-box;
    text-align: left; }
  .tiles.pointer .tile {
    cursor: pointer; }

.tile > * {
  box-sizing: border-box;
  border: 1px solid #eee;
  position: relative;
  border-radius: 0.5rem;
  margin: 0.5rem;
  overflow: hidden; }
  .tile > *:hover {
    border-color: #e5e5e5;
    box-shadow: 0 0 1rem #ccc;
    z-index: 2; }
    .tile > *:hover .button {
      visibility: visible; }

.tile .title {
  margin: 0; }

.tile .txt-large {
  font-size: 2.4rem;
  line-height: 4rem; }

.tile .list-item {
  margin-left: -1rem; }

.tile:hover .tile-warning {
  color: #f49530; }

.tile .button {
  visibility: hidden;
  display: block;
  padding: 1rem; }

.tile.active > * {
  border-color: #4ea31e; }
  .tile.active > *:hover {
    border-color: #e5e5e5;
    box-shadow: 0 0 1rem #ccc;
    z-index: 2; }

.tile.disable > * {
  color: #949494;
  background: #fafafa;
  box-shadow: none;
  border-style: dashed;
  cursor: not-allowed;
  filter: grayscale(1); }

/* Badge */
.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
  z-index: 40; }

[class*="ribbon-"] {
  position: absolute;
  z-index: 40;
  color: #949494;
  font-size: 1rem;
  text-align: center;
  width: 8rem;
  line-height: 2rem;
  background-color: #e5e5e6; }
  [class*="ribbon-"].success {
    background-color: #01a500;
    color: #fff; }
  [class*="ribbon-"].warning {
    background-color: #ff961f;
    color: #fff; }

.ribbon-top-right {
  transform: rotate(45deg);
  top: 1rem;
  right: -2rem; }

.ribbon-top-left {
  transform: rotate(-45deg);
  top: 1rem;
  left: -2rem; }

.ribbon-bottom-right {
  transform: rotate(-45deg);
  bottom: 1rem;
  right: -2rem; }

/* co-browsing
----------------------------------------------------------------------------- */
.co-browsing {
  display: block;
  width: 2rem;
  height: 2rem; }

@keyframes move {
  0% {
    right: -40rem;
    opacity: 0; }
  to {
    right: 2rem;
    opacity: 1; } }

.personal-box .co-browsing-eye {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1.6rem;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  cursor: pointer;
  transition: background-color .3s; }
  .personal-box .co-browsing-eye:hover {
    background-color: #f2f4f7; }
  .personal-box .co-browsing-eye:active {
    background-color: #e4e8eb; }
  .personal-box .co-browsing-eye.co-browsing-eye_load:hover, .personal-box .co-browsing-eye.co-browsing-eye_load:active {
    background-color: transparent; }

.personal-box .co-browsing-notify {
  position: fixed;
  top: 12rem;
  right: -40rem;
  width: 37.6rem;
  background-color: #fff;
  padding: 1.6rem 2.4rem 1.6rem 1.6rem;
  box-shadow: 0 0.2rem 0.7rem rgba(25, 25, 25, 0.25);
  border-radius: .6rem;
  box-sizing: border-box;
  transition: opacity .25s;
  z-index: 30; }
  .personal-box .co-browsing-notify__title {
    font-size: 1.6rem;
    padding-right: 1.6rem;
    line-height: 2.4rem;
    color: #1f1f22;
    font-weight: 500; }
  .personal-box .co-browsing-notify__text {
    padding-right: .8rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #1f1f22;
    margin-top: .8rem; }
  .personal-box .co-browsing-notify__button-container {
    display: flex;
    margin-top: 2.2rem;
    justify-content: flex-end; }
  .personal-box .co-browsing-notify__close {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 1rem;
    right: 1rem;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.293.293a1 1 0 011.414 1.414L6.414 5l3.293 3.293a1 1 0 01-1.414 1.414L5 6.414 1.707 9.707A1 1 0 01.293 8.293L3.586 5 .293 1.707A1 1 0 011.707.293L5 3.586 8.293.293z' fill='%23B2B8BF'/%3E%3C/svg%3E");
    cursor: pointer; }
    .personal-box .co-browsing-notify__close:hover {
      opacity: .7; }
  .personal-box .co-browsing-notify_load {
    right: 2rem;
    -webkit-animation: move .25s linear;
    animation: move .25s linear; }

.personal-box .co-browsing-button {
  padding: .6rem 2.4rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border-radius: 1.4rem;
  cursor: pointer; }
  .personal-box .co-browsing-button_green {
    background: #0eb757;
    color: #fff;
    transition: opacity .3s; }
    .personal-box .co-browsing-button_green:hover {
      opacity: .75; }
    .personal-box .co-browsing-button_green:active {
      background-color: #0aa63f;
      border-color: #17bb4f; }

.personal-box .uikit-co-browsing-eye {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.233 19.518l3.631-4.07c.075-.084.193-.213.117-.298v0l-3.384-3.792a12.868 12.868 0 00-19.463.184l-3.104 3.61a.126.126 0 000 .164l3.46 4.025a12.391 12.391 0 0018.743.177z' stroke='%23B2B8BF' stroke-width='2'/%3E%3Cpath d='M12.327 14.921A2.871 2.871 0 0015 11l.113-.002a4.179 4.179 0 11-4.137 3.586c.402.215.862.337 1.35.337z' fill='%23565B62'/%3E%3C/svg%3E"); }
  .personal-box .uikit-co-browsing-eye:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.233 19.518l3.631-4.07c.075-.084.193-.213.117-.298v0l-3.384-3.792a12.868 12.868 0 00-19.463.184l-3.104 3.61a.126.126 0 000 .164l3.46 4.025a12.391 12.391 0 0018.743.177z' stroke='%23565B62' stroke-width='2'/%3E%3Cpath d='M12.327 14.921A2.871 2.871 0 0015 11l.113-.002a4.179 4.179 0 11-4.137 3.586c.402.215.862.337 1.35.337z' fill='%23565B62'/%3E%3C/svg%3E"); }
  .personal-box .uikit-co-browsing-eye:active {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.233 19.518l3.631-4.07c.075-.084.193-.213.117-.298v0l-3.384-3.792a12.868 12.868 0 00-19.463.184l-3.104 3.61a.126.126 0 000 .164l3.46 4.025a12.391 12.391 0 0018.743.177z' stroke='%23565B62' stroke-width='2'/%3E%3Cpath d='M12.327 14.921A2.871 2.871 0 0015 11l.113-.002a4.179 4.179 0 11-4.137 3.586c.402.215.862.337 1.35.337z' fill='%230EB757'/%3E%3C/svg%3E"); }
  .personal-box .uikit-co-browsing-eye.co-browsing-eye_load {
    cursor: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.3' d='M24.233 19.518l3.631-4.07c.075-.084.193-.213.117-.298v0l-3.384-3.792a12.868 12.868 0 00-19.463.184l-3.104 3.61a.126.126 0 000 .164l3.46 4.025a12.391 12.391 0 0018.743.177z' stroke='%23B2B8BF' stroke-width='2'/%3E%3Cpath d='M24.597 11.358c-2.46-2.756-5.757-4.203-9.097-4.346' stroke='%230EB757' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12.327 14.921A2.871 2.871 0 0015 11l.113-.002a4.179 4.179 0 11-4.137 3.586c.403.215.863.337 1.351.337z' fill='%230EB757'/%3E%3C/svg%3E"); }
    .personal-box .uikit-co-browsing-eye.co-browsing-eye_load:active, .personal-box .uikit-co-browsing-eye.co-browsing-eye_load:hover {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.3' d='M24.233 19.518l3.631-4.07c.075-.084.193-.213.117-.298v0l-3.384-3.792a12.868 12.868 0 00-19.463.184l-3.104 3.61a.126.126 0 000 .164l3.46 4.025a12.391 12.391 0 0018.743.177z' stroke='%23B2B8BF' stroke-width='2'/%3E%3Cpath d='M24.597 11.358c-2.46-2.756-5.757-4.203-9.097-4.346' stroke='%230EB757' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12.327 14.921A2.871 2.871 0 0015 11l.113-.002a4.179 4.179 0 11-4.137 3.586c.403.215.863.337 1.351.337z' fill='%230EB757'/%3E%3C/svg%3E");
      cursor: auto; }

/* snackbar
----------------------------------------------------------------------------- */
.snackbar {
  max-width: 60rem;
  min-height: 4rem;
  position: relative;
  background: #fff;
  display: flex; }

.snackbar-icon,
.snackbar-close {
  display: flex;
  align-items: center; }

.snackbar-icon {
  border-right-style: solid;
  border-right-color: #e5e5e5;
  margin-left: .3rem; }
  .snackbar-icon i {
    font-size: 2.3rem; }

.snackbar-content {
  flex-grow: 1;
  padding: 1rem 1.6rem; }

.snackbar-content,
.snackbar-content a {
  color: #1f1f22;
  text-align: left; }

.snackbar-close i {
  font-size: 3rem; }

.snackbar-container.notifications-top {
  position: absolute;
  right: 0rem;
  top: 7rem;
  z-index: 50; }
  .snackbar-container.notifications-top .snackbar {
    background-color: #565b62;
    margin-bottom: .8rem; }
  .snackbar-container.notifications-top .snackbar-content {
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-right: 0;
    color: #fff; }
    .snackbar-container.notifications-top .snackbar-content a {
      color: #93b7ed; }
      .snackbar-container.notifications-top .snackbar-content a:hover {
        color: #198cfe; }
  .snackbar-container.notifications-top .inner.first {
    padding-left: 2rem; }
    .snackbar-container.notifications-top .inner.first .i-label {
      left: 0; }

/* q-tip
----------------------------------------------------------------------------- */
.k-tooltip {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: #505050;
  border-color: #303030;
  color: #f3f3f3; }

.k-tooltip-content {
  font-size: 1.05rem;
  text-align: left;
  word-wrap: break-word; }

/*# sourceMappingURL=notices.css.map */