[class^="uicon-"],
[class*=" uicon-"] {
  font-family: 'novicon' !important; }

/* reset.css
----------------------------------------------------------------------------- reset.css */
a {
  color: #1358bf;
  transition-duration: .2s; }
  a:hover {
    color: #107f8c; }
  a:active {
    color: #0f5498; }
  a.alt {
    color: inherit;
    border-bottom: 1px dashed; }
    a.alt:hover, a.alt:active {
      color: #b2b8bf;
      border-bottom-color: #b2b8bf; }

::selection {
  color: white;
  background: rgba(31, 31, 34, 0.6) !important; }

/* layouts.css
----------------------------------------------------------------------------- layouts.css */
.sidebar {
  background-color: #fff;
  border-right: transparent;
  height: 100%;
  width: 22.4rem;
  border-right: 1px solid #d0d7dd;
  transition: margin-top 170ms ease-in-out;
  overflow-x: hidden; }
  .sidebar::-webkit-scrollbar {
    width: 0; }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #7d838a;
    border-radius: .5rem; }
  .sidebar::-webkit-scrollbar-track-piece {
    margin: .8rem 0; }
  .sidebar:hover::-webkit-scrollbar {
    width: .8rem; }
  .sidebar .aside-menu-list {
    padding: .8rem 0;
    margin-bottom: 0; }
  .sidebar a:focus,
  .sidebar a {
    box-shadow: none; }
  .sidebar ul > li {
    padding: .4rem 0;
    position: relative;
    transition: .3s; }
    .sidebar ul > li::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform-origin: 50%;
      width: .4rem;
      height: 4.8rem;
      border-radius: 0 .4rem .4rem 0;
      background: #107f8c;
      transition: transform .3s ease,-webkit-transform .3s ease;
      transform: scaleY(0); }
    .sidebar ul > li:not(.active):hover > a {
      background-color: #f2f4f7; }
      .sidebar ul > li:not(.active):hover > a [class^="prodicon-"].active, .sidebar ul > li:not(.active):hover > a [class*=" prodicon-"].active {
        color: #b2b8bf; }
    .sidebar ul > li.active {
      padding: 0; }
      .sidebar ul > li.active::after {
        transform: scaleY(1); }
      .sidebar ul > li.active > a {
        padding: 1.4rem 0 1.4rem 1.6rem;
        background-color: #e4e8eb;
        margin-left: 0;
        border-radius: 0; }
      .sidebar ul > li.active [class^="prodicon-"], .sidebar ul > li.active [class*=" prodicon-"] {
        color: #107f8c; }
    .sidebar ul > li.create a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/create.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.import a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/import.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.payments a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/payments.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.report a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/report.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.agents a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/agents.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.templates a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/templates.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.helps a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/helps.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.cards a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/cards.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.salary a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/salary.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.credits a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/credits.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.acquiring a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/acquiring.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.collection a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/collection.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.deposites a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/deposites.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li.einv a {
      background-image: url("https://cdn.esphere.ru/images/nova/icons/einv.svg");
      padding-left: 3.2rem; }
    .sidebar ul > li > a {
      position: relative;
      padding: 1rem 0 1rem 1.2rem;
      color: #1f1f22;
      line-height: 2rem;
      background: no-repeat .6rem;
      margin-left: .4rem;
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
      transition: .3s;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis; }
    .sidebar ul > li [class^="prodicon-"].active, .sidebar ul > li [class*=" prodicon-"].active {
      color: #107f8c; }
  .sidebar ul.nova-nav > li,
  .sidebar ul.nova-nav > li > ul li {
    padding: 0;
    border-width: 0; }
    .sidebar ul.nova-nav > li.active::after,
    .sidebar ul.nova-nav > li > ul li.active::after {
      display: none; }
    .sidebar ul.nova-nav > li:hover,
    .sidebar ul.nova-nav > li > ul li:hover {
      background-color: transparent; }
    .sidebar ul.nova-nav > li > a:hover, .sidebar ul.nova-nav > li > span:hover,
    .sidebar ul.nova-nav > li > ul li > a:hover,
    .sidebar ul.nova-nav > li > ul li > span:hover {
      background-color: #f2f4f7; }
    .sidebar ul.nova-nav > li.active > span:not(.count),
    .sidebar ul.nova-nav > li > ul li.active > span:not(.count) {
      font-weight: 500; }
    .sidebar ul.nova-nav > li [class*="level-"].active,
    .sidebar ul.nova-nav > li > ul li [class*="level-"].active {
      font-weight: 500; }
    .sidebar ul.nova-nav > li > span a,
    .sidebar ul.nova-nav > li > ul li > span a {
      color: #1f1f22; }
    .sidebar ul.nova-nav > li > a,
    .sidebar ul.nova-nav > li > ul li > a {
      position: relative;
      padding: 1rem 1rem 1rem 3rem;
      color: #1f1f22;
      line-height: inherit;
      background: no-repeat .6rem;
      border: 0; }
    .sidebar ul.nova-nav > li > a, .sidebar ul.nova-nav > li > span,
    .sidebar ul.nova-nav > li > ul li > a,
    .sidebar ul.nova-nav > li > ul li > span {
      padding-left: 2rem; }
  .sidebar ul.nova-nav .menu-v [class*=level-] > a,
  .sidebar ul.nova-nav .menu-v [class*=level-] > span {
    border-left: 1rem solid transparent; }
  .sidebar ul.nova-nav li ul li ul li > a,
  .sidebar ul.nova-nav li ul li ul li > span {
    padding-left: 3rem; }
  .sidebar .accordion {
    padding: .8rem 0;
    color: #1f1f22; }
    .sidebar .accordion > li {
      border: 0;
      padding-left: .4rem; }
      .sidebar .accordion > li > a,
      .sidebar .accordion > li > span {
        padding: 1rem 1rem 1rem 1.2rem;
        margin-left: 0;
        border-top-left-radius: 1.6rem;
        border-bottom-left-radius: 1.6rem;
        position: relative;
        line-height: 2rem;
        background: none;
        transition: background-color .3s;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; }
        .sidebar .accordion > li > a:hover,
        .sidebar .accordion > li > span:hover {
          background-color: #f2f4f7; }
      .sidebar .accordion > li > span [class^="prodicon-"],
      .sidebar .accordion > li > span [class*=" prodicon-"] {
        transition: transform .3s; }
      .sidebar .accordion > li > span.open [class^="prodicon-"],
      .sidebar .accordion > li > span.open [class*=" prodicon-"] {
        transform: rotate(180deg); }
      .sidebar .accordion > li > ul {
        padding: 0; }
        .sidebar .accordion > li > ul > li:first-child {
          padding-top: .8rem; }
        .sidebar .accordion > li > ul > li:after {
          display: none; }
        .sidebar .accordion > li > ul > li > a,
        .sidebar .accordion > li > ul > li > span {
          border-top-left-radius: 1.6rem;
          border-bottom-left-radius: 1.6rem;
          border: 0;
          padding: 1rem 1rem 1rem 1.2rem;
          margin: 0; }
          .sidebar .accordion > li > ul > li > a:hover,
          .sidebar .accordion > li > ul > li > span:hover {
            background-color: #f2f4f7; }
        .sidebar .accordion > li > ul > li > span {
          color: #7d838a;
          cursor: default; }
          .sidebar .accordion > li > ul > li > span:hover {
            background: none; }
        .sidebar .accordion > li > ul > li.active {
          padding: .4rem 0 0 1.6rem; }
          .sidebar .accordion > li > ul > li.active > a:hover {
            background-color: #e4e8eb; }
        .sidebar .accordion > li > ul > li > ul li {
          padding: .4rem 0 0 1.6rem; }
          .sidebar .accordion > li > ul > li > ul li:after {
            display: none; }
          .sidebar .accordion > li > ul > li > ul li > a,
          .sidebar .accordion > li > ul > li > ul li > span {
            border-top-left-radius: 1.6rem;
            border-bottom-left-radius: 1.6rem;
            border: 0;
            padding: 1rem 1rem 1rem 1.2rem;
            margin: 0; }
      .sidebar .accordion > li.active {
        padding-left: 0; }
        .sidebar .accordion > li.active > span {
          background-color: #e4e8eb;
          border-radius: 0;
          padding: 1.4rem 1rem 1.4rem 1.6rem; }
          .sidebar .accordion > li.active > span:hover {
            border-radius: 0; }
        .sidebar .accordion > li.active > ul > li {
          padding: .4rem 0 0 .4rem; }
          .sidebar .accordion > li.active > ul > li:last-child {
            padding-bottom: .4rem; }
  .sidebar .logo a,
  .sidebar .logo:hover a {
    display: block;
    height: 5.6rem;
    background-image: url("https://cdn.esphere.ru/images/nova/SBLogo.svg");
    background-position-y: 1rem;
    background-color: transparent; }
  .sidebar > nav {
    width: 22.4rem; }

.header {
  margin-bottom: 4.8rem;
  margin-top: 2.4rem; }

.user-box + .top-box {
  border-top: 1px solid #e5e5e5; }

.user-box {
  position: relative;
  border-bottom: 1px solid #d0d7dd; }

.top-box {
  padding: 2rem; }

.wrapper {
  max-width: 140rem; }

body.aside .wrapper {
  margin: 0;
  padding-left: 22.4rem; }

body.aside .head-service {
  padding-left: 26rem; }

body.aside .header,
body.aside .header-box,
body.aside .content-box,
body.aside .footer-box {
  margin-left: 3.2rem; }

body.aside.courier .user-box {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 91; }

.head-service {
  background: #f2f4f7;
  padding: 2.4rem 1.6rem; }

/* Content
----------------------------------------------------------------------------- Content */
.content-box {
  padding-bottom: 4rem; }

.new > td:first-child {
  border-left-color: #4ea31e; }

/* Lists
----------------------------------------------------------------------------- Content */
.list-check > li:before {
  color: #107f8c; }

/* nav.css
----------------------------------------------------------------------------- nav.css */
.header .menu-h {
  border-radius: 2.4rem; }
  .header .menu-h li.level-1 > a, .header .menu-h li.level-1 > span, .header .menu-h li.level-1 > div {
    padding: .5rem 1.2rem .7rem 1.2rem; }
  .header .menu-h li.level-1.active {
    background: transparent;
    color: #ff9900; }
  .header .menu-h.menu-nova {
    background: transparent; }

.personal-box .summ, .personal-box .company {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.personal-box {
  padding: .6rem 1.6rem .5rem; }
  .personal-box > nav:not(.m-menu) > * {
    display: inline-flex;
    align-items: center;
    height: 4.8rem; }
  .personal-box .menu-h > li > a,
  .personal-box .menu-h > li > span,
  .personal-box .menu-h > li > div:not(.clear),
  .personal-box .list-h > li > a,
  .personal-box .list-h > li > span,
  .personal-box .list-h > li > div:not(.clear) {
    display: inline-flex;
    align-items: center;
    padding: 1.4rem 1.6rem;
    max-height: 4.8rem;
    border-radius: 1.6rem;
    transition: background-color .3s; }
    .personal-box .menu-h > li > a.inner-12,
    .personal-box .menu-h > li > span.inner-12,
    .personal-box .menu-h > li > div:not(.clear).inner-12,
    .personal-box .list-h > li > a.inner-12,
    .personal-box .list-h > li > span.inner-12,
    .personal-box .list-h > li > div:not(.clear).inner-12 {
      padding: 1.2rem; }
    .personal-box .menu-h > li > a:hover:not(.button):not(.active),
    .personal-box .menu-h > li > span:hover:not(.button):not(.active),
    .personal-box .menu-h > li > div:not(.clear):hover:not(.button):not(.active),
    .personal-box .list-h > li > a:hover:not(.button):not(.active),
    .personal-box .list-h > li > span:hover:not(.button):not(.active),
    .personal-box .list-h > li > div:not(.clear):hover:not(.button):not(.active) {
      background-color: #f2f4f7; }
    .personal-box .menu-h > li > a:active:not(.button):not(.active),
    .personal-box .menu-h > li > span:active:not(.button):not(.active),
    .personal-box .menu-h > li > div:not(.clear):active:not(.button):not(.active),
    .personal-box .list-h > li > a:active:not(.button):not(.active),
    .personal-box .list-h > li > span:active:not(.button):not(.active),
    .personal-box .list-h > li > div:not(.clear):active:not(.button):not(.active) {
      background-color: #e4e8eb; }
  .personal-box .menu-h > li > div:not(.clear),
  .personal-box .list-h > li > div:not(.clear) {
    max-width: 28rem; }
  .personal-box .menu-h > li > a > i,
  .personal-box .list-h > li > a > i {
    transition: color .3s; }
  .personal-box .menu-h > li > a:active:not(.button):not(.active) > i,
  .personal-box .list-h > li > a:active:not(.button):not(.active) > i {
    color: #107f8c; }
  .personal-box .list-h > li {
    padding-top: 0;
    padding-bottom: 0; }
  .personal-box .menu-h .button {
    margin: 0; }
  .personal-box .hover-element:hover {
    background-color: #f2f4f7 !important; }
  .personal-box .hover-element.active, .personal-box .hover-element:active {
    background-color: #e4e8eb !important; }
  .personal-box .hover-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.8rem;
    height: 4.8rem;
    padding: 0 .7rem;
    border-radius: 1.6rem; }
    .personal-box .hover-item:hover {
      background-color: #f2f4f7; }
  .personal-box a {
    box-shadow: none; }
    .personal-box a:focus {
      box-shadow: none; }
    .personal-box a:not(.link) {
      color: #1f1f22; }
  .personal-box .active:not(a) {
    background-color: #f2f4f7;
    border-radius: 1.6rem; }
  .personal-box .dropdown .active,
  .personal-box .dropdown-wrapper .active {
    border-radius: 0; }
  .personal-box button.more {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4.8rem;
    height: 4.8rem;
    padding: 0 .8rem;
    border-radius: 1.6rem; }
    .personal-box button.more:hover {
      background-color: #f2f4f7; }
    .personal-box button.more.active, .personal-box button.more:active {
      background-color: #e4e8eb; }
      .personal-box button.more.active i, .personal-box button.more:active i {
        color: #107f8c; }
  .personal-box img {
    max-height: 3.6rem; }
  .personal-box .summ {
    line-height: 1; }
    .personal-box .summ .txt-large {
      line-height: 1.4rem;
      margin-bottom: .2rem; }
  .personal-box .company-name {
    margin-left: .8rem; }
  .personal-box .company .user {
    line-height: 1.2rem;
    margin-bottom: .4rem; }
  .personal-box .refresh {
    padding-right: 1.6rem; }
  .personal-box .uicon-expand {
    color: #e4e8eb;
    font-size: 1.4rem;
    padding-left: 1.6rem; }
  .personal-box .border-x, .personal-box .border-left, .personal-box .border-right {
    border: none; }
  .personal-box .search-wrapper {
    padding: .4rem; }
    .personal-box .search-wrapper.active {
      background-color: #e4e8eb; }
      .personal-box .search-wrapper.active .input-element,
      .personal-box .search-wrapper.active .input-element-wrapper {
        background-color: #e4e8eb;
        border-color: #e4e8eb;
        border-radius: 1.6rem; }

/* Controls
----------------------------------------------------------------------------- Controls */
a.button,
.button,
.button.border {
  color: inherit; }

.button:hover,
.button.border:hover {
  border-color: #1f1f22; }

.button.disabled:hover, .button.disabled:active {
  border-color: #d0d7dd; }

a.button:focus {
  box-shadow: none;
  border-color: #ffdd64; }

a.button,
button.button,
.button,
button {
  background-color: #fff;
  border-color: #d0d7dd;
  border-radius: 1.6rem;
  color: inherit;
  line-height: 1.6rem;
  min-width: 9.6rem;
  padding: 0.7rem 2.4rem;
  transition: background-color .2s, border-color .2s, color .2s; }
  a.button.small,
  button.button.small,
  .button.small,
  button.small {
    padding: 0.5rem 1.6rem;
    min-width: 8rem; }
    a.button.small:not(.blank):focus,
    button.button.small:not(.blank):focus,
    .button.small:not(.blank):focus,
    button.small:not(.blank):focus {
      padding: 0.4rem 1.5rem; }
  a.button.large,
  button.button.large,
  .button.large,
  button.large {
    border-radius: 2.4rem; }
    a.button.large:not(.blank):focus,
    button.button.large:not(.blank):focus,
    .button.large:not(.blank):focus,
    button.large:not(.blank):focus {
      padding: 0.8rem 2.2rem; }
  a.button > .count,
  button.button > .count,
  .button > .count,
  button > .count {
    margin-right: 0; }
  a.button:active,
  button.button:active,
  .button:active,
  button:active {
    background-color: #d0d7dd;
    border-color: transparent; }
  a.button.disabled,
  button.button.disabled,
  .button.disabled,
  button.disabled {
    color: #d0d7dd !important;
    background-color: #fff !important; }
    a.button.disabled > *,
    button.button.disabled > *,
    .button.disabled > *,
    button.disabled > * {
      color: #d0d7dd !important; }
  a.button:hover,
  button.button:hover,
  .button:hover,
  button:hover {
    background-image: none; }
  a.button:not(.blank):focus,
  button.button:not(.blank):focus,
  .button:not(.blank):focus,
  button:not(.blank):focus {
    border-color: #ffdd64;
    border-width: .2rem;
    padding: 0.6rem 2.3rem; }
  a.button.blank,
  button.button.blank,
  .button.blank,
  button.blank {
    color: #1358bf;
    background: transparent;
    border-color: transparent; }
    a.button.blank:hover,
    button.button.blank:hover,
    .button.blank:hover,
    button.blank:hover {
      color: #107f8c; }
    a.button.blank:active,
    button.button.blank:active,
    .button.blank:active,
    button.blank:active {
      color: #0f5498; }
  a.button:not(.more) [class^="novicon-"],
  a.button:not(.more) [class^="prodicon-"],
  a.button:not(.more) [class^="uicon-"],
  button.button:not(.more) [class^="novicon-"],
  button.button:not(.more) [class^="prodicon-"],
  button.button:not(.more) [class^="uicon-"],
  .button:not(.more) [class^="novicon-"],
  .button:not(.more) [class^="prodicon-"],
  .button:not(.more) [class^="uicon-"],
  button:not(.more) [class^="novicon-"],
  button:not(.more) [class^="prodicon-"],
  button:not(.more) [class^="uicon-"] {
    line-height: unset; }

.button-group > .button:hover, .button-group button:hover {
  border-color: #1f1f22; }
  .button-group > .button:hover + .button, .button-group > .button:hover + button, .button-group button:hover + .button, .button-group button:hover + button {
    border-left-color: #1f1f22; }

.button-group > .button.active, .button-group button.active {
  background-color: #d0d7dd;
  border-color: transparent; }
  .button-group > .button.active:hover, .button-group button.active:hover {
    background-color: #d0d7dd; }
    .button-group > .button.active:hover + .button, .button-group > .button.active:hover + button, .button-group button.active:hover + .button, .button-group button.active:hover + button {
      border-left-color: transparent; }

.button-group > .button:focus, .button-group button:focus {
  border-width: 1px 0 1px 1px !important;
  padding: 0.7rem 2.4rem !important; }
  .button-group > .button:focus + .button:not(:hover), .button-group > .button:focus + button:not(:hover), .button-group button:focus + .button:not(:hover), .button-group button:focus + button:not(:hover) {
    border-left-color: #ffdd64; }

.dropdown:not(.new-notice) .button:not(.more) {
  padding-right: 4rem; }
  .dropdown:not(.new-notice) .button:not(.more)::after {
    content: "\e998";
    font-family: 'prodicon';
    display: inline-block;
    transition: transform .3s;
    position: absolute;
    right: 1.9rem;
    line-height: 1.6rem;
    font-size: 1.6rem; }
  .dropdown:not(.new-notice) .button:not(.more):focus {
    padding-right: 3.9rem; }

.dropdown:not(.new-notice):hover .button::after {
  transform: rotate(180deg); }

.tags {
  padding: 0; }
  .tags .tag {
    background-color: #fff;
    padding: .4rem 1.2rem;
    margin: .8rem 1.2rem .8rem 0;
    border-radius: 1.6rem;
    display: inline-flex;
    min-height: 3.2rem;
    align-items: center; }
    .tags .tag [class*="icon"] {
      width: 1.6rem;
      margin-left: .4rem;
      padding-left: 0; }
    .tags .tag:hover [class*="icon"] {
      color: #7d838a; }

.tag {
  background-color: transparent;
  padding: 0;
  line-height: 2rem;
  margin-left: 1.3rem;
  position: relative; }

.tag:before {
  content: " ";
  display: block;
  position: absolute;
  left: -1.3rem;
  top: 0;
  background: #b2b8bf;
  border-radius: 50%;
  overflow: hidden;
  height: .8rem;
  width: .8rem;
  margin: .6rem 0; }

.count.primary, .button.primary,
.count.success, .button.success,
.count.warning, .button.warning,
.count.danger, .button.danger,
.progressbar {
  color: white !important;
  border-color: transparent; }

.statusbar,
.progressbar,
.chunkbar > .bar {
  background-color: #7d838a; }

.primary.button,
.success.button,
.chunkbar > .progress,
.chunkbar > .success,
.statusbar > .bar,
.progressbar > .bar {
  background-color: #107f8c; }

.primary.button,
.success.button {
  font-weight: 500; }
  .primary.button:hover,
  .success.button:hover {
    background-color: #21a19a;
    border-color: transparent; }
  .primary.button:active,
  .success.button:active {
    background-color: #005e7f; }

.warning.button {
  font-weight: 500; }
  .warning.button:hover {
    background-color: #ffb13b;
    border-color: transparent; }
  .warning.button:active {
    background-color: #e58a00;
    border-color: #e58a00; }

.warning.button,
.chunkbar > .warning,
.warning > .bar,
.primary > .bar {
  background-color: #ff9900; }

.danger.button,
.chunkbar > .danger,
.danger > .bar {
  background-color: #c11030; }

.danger.button {
  font-weight: 500; }
  .danger.button:hover {
    background-color: #db1237;
    border-color: transparent; }
  .danger.button:active {
    background-color: #a80e2a; }

.primary.button.disabled,
.success.button.disabled {
  background-color: #90d0cc !important;
  color: #fff !important; }
  .primary.button.disabled > *,
  .success.button.disabled > * {
    color: #fff !important; }

.warning.button.disabled {
  background-color: #ffd9a0 !important;
  border-color: #ffd9a0 !important;
  color: #fff !important; }

.danger.button.disabled {
  background-color: #ffbdc5 !important;
  color: #fff !important; }

.count.danger,
.danger.tag:before,
.danger.count {
  background-color: #db1237; }

.count.warning,
.warning.tag:before,
.warning.count {
  background-color: #ff9900; }

.count.primary,
.count.success,
.success.tag:before,
.success.count {
  background-color: #21a19a; }

.count.black {
  background-color: #1f1f22; }

.loading.count:before, .loading.button:before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  float: none; }

.loading.count, .loading.button {
  position: relative;
  color: transparent !important;
  opacity: 1; }

.loading.count::before {
  background-image: url(https://cdn.esphere.ru/images/loader-white.svg);
  background-size: 2rem; }

.loading.button {
  padding-left: 2.4rem;
  padding-right: 2.4rem; }
  .loading.button.success::before, .loading.button.primary::before, .loading.button.warning::before, .loading.button.danger::before {
    background-image: url(https://cdn.esphere.ru/images/loading-spinner-small-white.svg); }
  .loading.button::before {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    background-size: auto;
    background-image: url(https://cdn.esphere.ru/images/loading-spinner-small.svg);
    background-position: center;
    background-repeat: no-repeat;
    animation: rotate-clockwise 1s linear infinite; }

@keyframes rotate-clockwise {
  from {
    transform: translate(-50%, -50%) rotate(0); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
  .loading.button .count {
    color: transparent;
    background-color: transparent; }

.button .count.loading {
  color: transparent;
  background-color: transparent; }

/* Notices
----------------------------------------------------------------------------- */
.box {
  border-radius: .8rem; }

.border {
  border-radius: .6rem; }
  .border-radius-16 {
    border-radius: 1.6rem; }

.message {
  background-color: #f2f8ff;
  border: solid 1px #1358bf;
  border-radius: .8rem; }
  .message ul, .message li, .message .inner {
    border-color: inherit; }
  .message .message-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
  .message .message-list li {
    position: relative;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 1.2rem; }
    .message .message-list li::before {
      content: "\2022";
      display: inline-block;
      position: absolute;
      left: 0;
      color: #1f1f22;
      font-weight: 500;
      margin-right: .8rem; }
    .message .message-list li:first-child {
      padding-top: 0; }
    .message .message-list li:last-child {
      padding-bottom: 0; }
  .message .i-label {
    left: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.2; }

.message.success {
  background-color: #e3fbf6;
  border-color: #005e7f; }

.message.warning {
  background-color: #fff5e6;
  border-color: #ff9900; }

.message.danger {
  background-color: #ffe5e8;
  border-color: #c11030; }

.message.info {
  background-color: #f2f8ff;
  border-color: #1358bf; }

.secondary.box,
.inner.secondary,
.secondary[class^="inner-"],
.secondary[class*=" inner-"] {
  background-color: #f2f8ff; }

.inner.success,
.success[class^="inner-"],
.success[class*=" inner-"] {
  background-color: #e3fbf6; }

.inner.warning,
.warning[class^="inner-"],
.warning[class*=" inner-"] {
  background-color: #fff5e6; }

.inner.danger,
.danger[class^="inner-"],
.danger[class*=" inner-"] {
  background-color: #ffe5e8; }

bside .inner.secondary,
.secondary .inner.secondary,
bside .secondary[class^="inner-"],
bside .secondary[class*=" inner-"],
.secondary .secondary[class^="inner-"],
.secondary .secondary[class*=" inner-"] {
  background-color: #f2f8ff; }

.snackbar {
  padding: 0;
  border-radius: 0.6rem; }

.snackbar-content {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem; }

.snackbar-icon {
  padding: 1.6rem; }

.snackbar-close {
  padding-right: 1rem; }

.snackbar-icon {
  border-right-width: 1px; }

/* Icons
----------------------------------------------------------------------------- Icons */
i.i-logo {
  background-image: url(https://cdn.esphere.ru/images-2x/sb/logo.png); }

i.icon-20 {
  background-image: url(https://cdn.esphere.ru/images-2x/sb/icons-20.png); }

i.icon-40 {
  background-image: url(https://cdn.esphere.ru/images-2x/sb/icons-40.png); }

i.i-refresh {
  background-image: url(https://cdn.esphere.ru/images-2x/sb/preloader.gif); }

.animated-revert-icon {
  fill: none;
  stroke-width: 10; }
  .animated-revert-icon.default {
    stroke: #b2b8bf; }
  .animated-revert-icon.progress {
    stroke: #565b62;
    stroke-dasharray: 54;
    stroke-dashoffset: 54; }

/* i-80
----------------------------------------------------------------------------- i-80 */
.i-80 {
  background-image: url(https://cdn.esphere.ru/images/sb/icons-80.png); }

/* i-270
----------------------------------------------------------------------------- i-270 */
.i-270 {
  background-image: url(https://cdn.esphere.ru/images/sb/icons-270.png); }

/* responsive
----------------------------------------------------------------------------- */
/* Helpers
----------------------------------------------------------------------------- */
.txt-success {
  color: #107f8c; }

.txt-warning {
  color: #ff9900; }

.txt-danger {
  color: #c11030; }

.txt-info {
  color: #1358bf; }

.txt-gray {
  color: #7d838a !important; }

/* Quick-view
----------------------------------------------------------------------------- */
.quick-view-table tr th {
  border-width: 1px 0; }

.quick-view-table tr td {
  border-top-width: 1px;
  border-bottom-width: 1px; }

.quick-view {
  background-color: #fff; }
  .quick-view:hover {
    background-color: #f2f4f7; }
  .quick-view td {
    border: 1px solid transparent; }
  .quick-view + tr td {
    border-width: 0 1px;
    border-color: transparent; }
  .quick-view.quick-view-selected {
    background-color: #f2f4f7; }
    .quick-view.quick-view-selected > td {
      border-top-color: #e4e8eb;
      border-bottom-color: #e4e8eb; }
      .quick-view.quick-view-selected > td:first-child {
        border-bottom-left-radius: 0; }
      .quick-view.quick-view-selected > td:last-child {
        border-bottom-right-radius: 0; }
    .quick-view.quick-view-selected + tr > td {
      padding: 1.6rem 1.2rem 1.2rem;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom: 1px solid #e4e8eb;
      background-color: #fbfbfd; }
      .quick-view.quick-view-selected + tr > td .inner.ending {
        padding: 1.2rem 1.2rem 0 1.2rem;
        margin: 1.6rem -1.2rem 0;
        border-width: 1px; }
  .quick-view.disabled {
    opacity: 1; }
    .quick-view.disabled .subtitle, .quick-view.disabled .txt-small.txt-gray, .quick-view.disabled small.txt-gray {
      opacity: .65; }
    .quick-view.disabled [class^='uicon-'] {
      opacity: .35; }

/* Table
----------------------------------------------------------------------------- */
table th.active,
table td.active {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-color: #e4e8eb;
  border-right-color: #e4e8eb;
  box-shadow: none; }
  table th.active:last-child,
  table td.active:last-child {
    border-right-color: transparent; }

/* Filter ----------------------------------------------------------------------------- */
.filter {
  background: #f2f4f7;
  border-radius: .8rem .8rem 0 0;
  box-shadow: 0 0.8rem #f2f4f7;
  padding: 2.4rem; }

.k-sms-box {
  position: relative;
  width: 16.4rem; }
  .k-sms-box input, .k-sms-box .button, .k-sms-box a.button {
    border: .1rem solid;
    border-radius: 2.4rem; }
  .k-sms-box input {
    border-color: #e4e8eb;
    width: 100%; }
  .k-sms-box .button, .k-sms-box a.button {
    position: absolute;
    right: .2rem;
    top: .1rem;
    padding: .4rem;
    background-color: #90d0cc;
    color: #fff; }
  .k-sms-box:hover input, .k-sms-box:active input, .k-sms-box:focus input, .k-sms-box:focus-within input {
    border-color: #565b62; }
  .k-sms-box input:not(:placeholder-shown) + a.button, .k-sms-box input:not(:placeholder-shown) + .button {
    background-color: #107f8c; }
  .k-sms-box input:not(:placeholder-shown) + i[class^="novicon-"] {
    color: #107f8c; }
  .k-sms-box.active .button, .k-sms-box.active a.button {
    background-color: #107f8c; }
  .k-sms-box.primary .button, .k-sms-box.primary a.button, .k-sms-box.success .button, .k-sms-box.success a.button {
    background-color: #90d0cc; }
  .k-sms-box.primary input:not(:placeholder-shown) + a.button, .k-sms-box.primary input:not(:placeholder-shown) + .button, .k-sms-box.success input:not(:placeholder-shown) + a.button, .k-sms-box.success input:not(:placeholder-shown) + .button {
    background-color: #107f8c; }
  .k-sms-box.primary.active .button, .k-sms-box.primary.active a.button, .k-sms-box.success.active .button, .k-sms-box.success.active a.button {
    background-color: #107f8c; }
  .k-sms-box.danger input {
    border-color: #a80e2a; }
  .k-sms-box .input-element-wrapper {
    border-radius: 10rem; }
  .k-sms-box i {
    color: #90d0cc; }
    .k-sms-box i:nth-child(2) {
      margin-left: .6rem; }
    .k-sms-box i:last-child {
      margin-right: .6rem; }

.common-loader {
  width: 4.8rem;
  height: 4.8rem;
  background: url(https://cdn.esphere.ru/images/loading-spinner.svg);
  animation-duration: 1s; }
  .common-loader::before, .common-loader::after {
    content: none; }

/* table.zebra */
.zebra th,
.zebra td {
  padding: 1.2rem;
  word-wrap: break-word; }

.zebra tbody tr:nth-child(odd) td {
  background-color: rgba(0, 0, 0, 0.025); }

/* nova SBBOL 3.0*/
.dropdown.new-notice .pos-right {
  min-width: 45rem; }
  .dropdown.new-notice .pos-right a {
    display: inline;
    margin-left: auto; }

.pointline .success .point {
  border-color: transparent;
  background: #107f8c; }

.pointline .success:after, .pointline .success:before {
  background: #107f8c; }

.pointline .danger .point {
  border-color: transparent; }

.pointline .danger:before {
  background: #107f8c; }

.pointline .progress .point {
  border-color: #107f8c; }

.pointline .progress:before {
  background: #107f8c; }

.pointline .progress:after {
  background: -webkit-linear-gradient(left, #107f8c 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(left, #107f8c 0%, #e5e5e5 100%);
  background: linear-gradient(to right, #107f8c 0%, #e5e5e5 100%); }

.pointline .warning .point {
  border-color: #ffb13b; }

.pointline .warning:before {
  background: #107f8c; }

.pointline .warning:after {
  background: -webkit-linear-gradient(left, #ffb13b 0%, #e5e5e5 100%);
  background: -moz-linear-gradient(left, #ffb13b 0%, #e5e5e5 100%);
  background: linear-gradient(to right, #ffb13b 0%, #e5e5e5 100%); }

.pointline .danger .point {
  background: #db1237; }

.pointline .danger:before {
  background: #107f8c;
  background: -webkit-linear-gradient(left, #107f8c 0%, #db1237 100%);
  background: -moz-linear-gradient(left, #107f8c 0%, #db1237 100%);
  background: linear-gradient(to right, #107f8c 0%, #db1237 100%); }

.timeline .step.progress {
  color: #107f8c; }
  .timeline .step.progress .line {
    background: -webkit-linear-gradient(left, #107f8c 0%, #e5e5e5 100%);
    background: -moz-linear-gradient(left, #107f8c 0%, #e5e5e5 100%);
    background: linear-gradient(to right, #107f8c 0%, #e5e5e5 100%); }

.timeline .step.success {
  color: #107f8c; }
  .timeline .step.success:after {
    border-color: transparent;
    background-color: #107f8c; }
  .timeline .step.success .line {
    background-color: #107f8c; }

.timeline .step.warning {
  color: #ff9900; }
  .timeline .step.warning .line {
    background: -webkit-linear-gradient(left, #ff9900 0%, #e5e5e5 100%);
    background: -moz-linear-gradient(left, #ff9900 0%, #e5e5e5 100%);
    background: linear-gradient(to right, #ff9900 0%, #e5e5e5 100%); }

.timeline .step.danger {
  color: #c11030; }
  .timeline .step.danger:after {
    border-color: #c11030;
    background-color: #c11030; }
  .timeline .step.danger .line {
    background-color: #c11030; }

.timeline .step:first-child:before {
  background-color: #107f8c; }

.statusline > .success:before {
  background-color: #107f8c; }

.statusline > .danger:before {
  background-color: #c11030; }

.menu-tabs .level-1 {
  border-bottom: .3rem solid transparent; }
  .menu-tabs .level-1.active {
    border-bottom-color: #005e7f; }
  .menu-tabs .level-1:not(.active):hover {
    border-bottom-color: #21a19a; }

.qtip {
  font-size: 1.4rem;
  line-height: 2rem;
  max-width: 38.4rem; }
  .qtip-dark {
    background-color: #1f1f22;
    border-color: #1f1f22;
    color: #fff; }
  .qtip-content {
    padding: 1.6rem; }
  .qtip-rounded {
    border-radius: .8rem; }
  .qtip-tip {
    top: 100%;
    width: 1.6rem !important; }
    .qtip-tip canvas {
      display: none !important; }
    .qtip-tip::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      left: 50%;
      transform: translateX(-50%);
      border-width: .8rem .8rem 0;
      border-top-color: #1f1f22; }
  .qtip-pos-tc .qtip-tip {
    transform: rotate(180deg);
    margin-left: -0.8rem !important; }
  .qtip-pos-lc .qtip-tip {
    transform: rotate(90deg);
    left: -1.2rem !important; }
  .qtip-pos-rc .qtip-tip {
    transform: rotate(-90deg);
    right: -1.2rem !important; }
  .qtip-pos-bc .qtip-tip {
    margin-left: -0.8rem !important; }

.tools a {
  box-shadow: none; }

hr {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  border-color: #d0d7dd; }

/*# sourceMappingURL=ui.sb.nova.css.map */