@font-face {
  font-family: 'sbbol-icons';
  src:
    url('../fonts/sb-alt/fonts/sbbol-icons.ttf?wen3co') format('truetype'),
    url('../fonts/sb-alt/fonts/sbbol-icons.woff?wen3co') format('woff'),
    url('../fonts/sb-alt/fonts/sbbol-icons.svg?wen3co#sbbol-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sbicon-"],
[class*=" sbicon-"] {
  display: inline-block;
  font-family: 'sbbol-icons' !important;
  speak: none;
  font-size: 2rem;
  font-style:     normal;
  font-weight:    normal;
  font-variant:   normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sbicon-inline {font-size: inherit;}

.inline-icon {vertical-align: middle;}

[class*="sbicon"].large {
  font-size: 10rem;
  opacity: .25;
}

[class*="sbicon"].big {
  font-size: 8rem;
  opacity: .4;
}

.sbicon-operator:before {
  content: "\e991";
}
.sbicon-revert:before {
  content: "\e992";
}
.sbicon-chain:before {
  content: "\e993";
}
.sbicon-comment-add:before {
  content: "\e990";
}
.sbicon-comment-empty:before {
  content: "\e940";
}
.sbicon-comment:before {
  content: "\e95f";
}
.sbicon-users:before {
  content: "\e96b";
}
.sbicon-user-empty:before {
  content: "\e989";
}
.sbicon-user:before {
  content: "\e98a";
}
.sbicon-flag-empty:before {
  content: "\e98b";
}
.sbicon-flag:before {
  content: "\e98c";
}
.sbicon-cloud-up2:before {
  content: "\e98d";
}
.sbicon-cloud-up3:before {
  content: "\e98e";
}
.sbicon-cloud-down:before {
  content: "\e98f";
}
.sbicon-lock:before {
  content: "\e951";
}
.sbicon-key:before {
  content: "\e959";
}
.sbicon-arrow-down:before {
  content: "\e909";
}
.sbicon-arrow-left:before {
  content: "\e960";
}
.sbicon-swap:before {
  content: "\e994";
}
.sbicon-arrow-right:before {
  content: "\e985";
}
.sbicon-arrow-up:before {
  content: "\e986";
}
.sbicon-check:before {
  content: "\e987";
}
.sbicon-del:before {
  content: "\e988";
}
.sbicon-close:before {
  content: "\e995";
}
.sbicon-start:before {
  content: "\e941";
}
.sbicon-prev:before {
  content: "\e93d";
}
.sbicon-next:before {
  content: "\e938";
}
.sbicon-end:before {
  content: "\e90b";
}
.sbicon-paper-clip:before {
  content: "\e900";
}
.sbicon-doc:before {
  content: "\e901";
}
.sbicon-document-with-clip:before {
  content: "\e952";
}
.sbicon-document-with-clip-success:before {
  content: "\e957";
}
.sbicon-document-with-clip-error:before {
  content: "\e958";
}
.sbicon-document-overdue:before {
  content: "\e953";
}
.sbicon-document-success:before {
  content: "\e955";
}
.sbicon-document-error:before {
  content: "\e956";
}
.sbicon-document-processing:before {
  content: "\e954";
}
.sbicon-direct-control:before {
  content: "\e97f";
}
.sbicon-pdf:before {
  content: "\e942";
}
.sbicon-pdf2:before {
  content: "\e91d";
}
.sbicon-add-template:before {
  content: "\e91c";
}
.sbicon-add-state:before {
  content: "\e921";
}
.sbicon-copy:before {
  content: "\e933";
}
.sbicon-ruble-in-circle:before {
  content: "\e915";
}
.sbicon-exclamation-in-circle:before {
  content: "\e90f";
}
.sbicon-exclamation-triangle:before {
  content: "\e93b";
}
.sbicon-exclamation:before {
  content: "\e93c";
}
.sbicon-triangle-in-circle-fill:before {
  content: "\e926";
}
.sbicon-triangle-in-circle-empty:before {
  content: "\e927";
}
.sbicon-error-circle-fill:before {
  content: "\e939";
}
.sbicon-close-in-circle:before {
  content: "\e90c";
}
.sbicon-error-circle-empty:before {
  content: "\e93a";
}
.sbicon-success-empty:before {
  content: "\e94a";
}
.sbicon-success-fill:before {
  content: "\e94f";
}
.sbicon-success:before {
  content: "\e978";
}
.sbicon-blocked:before {
  content: "\e913";
}
.sbicon-plus-in-circle:before {
  content: "\e914";
}
.sbicon-percent-in-circle:before {
  content: "\e928";
}
.sbicon-phone1:before {
  content: "\e95d";
}
.sbicon-clock:before {
  content: "\e96e";
}
.sbicon-question1:before {
  content: "\e95e";
}
.sbicon-question:before {
  content: "\e945";
}
.sbicon-value-drop:before {
  content: "\e965";
}
.sbicon-prolongation:before {
  content: "\e95c";
}
.sbicon-cloud:before {
  content: "\e902";
}
.sbicon-more:before {
  content: "\e903";
}
.sbicon-token:before {
  content: "\e904";
}
.sbicon-air-landing:before {
  content: "\e905";
}
.sbicon-air-take-off:before {
  content: "\e906";
}
.sbicon-aircraft:before {
  content: "\e907";
}
.sbicon-expand:before {
  content: "\e908";
}
.sbicon-collapse:before {
  content: "\e90a";
}
.sbicon-check-small:before {
  content: "\e90e";
}
.sbicon-banner-expand:before {
  content: "\e90d";
}
.sbicon-add:before {
  content: "\e94c";
}
.sbicon-times:before {
  content: "\e92d";
}
.sbicon-deposites:before {
  content: "\e910";
}
.sbicon-valuta:before {
  content: "\e911";
}
.sbicon-iconSchetSmall:before {
  content: "\e97c";
}
.sbicon-military-bill-small:before {
  content: "\e912";
}
.sbicon-goz:before {
  content: "\e969";
}
.sbicon-goz-doc:before {
  content: "\e968";
}
.sbicon-military-bill:before {
  content: "\e916";
}
.sbicon-main-military-bill:before {
  content: "\e917";
}
.sbicon-valuta-bill:before {
  content: "\e918";
}
.sbicon-ruble-bill:before {
  content: "\e919";
}
.sbicon-arrowup:before {
  content: "\e91a";
}
.sbicon-arrowdown:before {
  content: "\e91b";
}
.sbicon-excel:before {
  content: "\e983";
}
.sbicon-word:before {
  content: "\e91e";
}
.sbicon-archive:before {
  content: "\e91f";
}
.sbicon-newfile:before {
  content: "\e920";
}
.sbicon-question-empty:before {
  content: "\e922";
}
.sbicon-corporate-cards:before {
  content: "\e923";
}
.sbicon-mail:before {
  content: "\e924";
}
.sbicon-tasks:before {
  content: "\e925";
}
.sbicon-service-availability:before {
  content: "\e929";
}
.sbicon-list:before {
  content: "\e92a";
}
.sbicon-exit:before {
  content: "\e92b";
}
.sbicon-search:before {
  content: "\e92c";
}
.sbicon-signed:before {
  content: "\e92e";
}
.sbicon-outbox:before {
  content: "\e92f";
}
.sbicon-inbox:before {
  content: "\e930";
}
.sbicon-draft:before {
  content: "\e931";
}
.sbicon-mail1:before {
  content: "\e961";
}
.sbicon-datepicker:before {
  content: "\e934";
}
.sbicon-details:before {
  content: "\e935";
}
.sbicon-download:before {
  content: "\e936";
}
.sbicon-edit:before {
  content: "\e937";
}
.sbicon-export:before {
  content: "\e93e";
}
.sbicon-external-url:before {
  content: "\e93f";
}
.sbicon-phone:before {
  content: "\e943";
}
.sbicon-print:before {
  content: "\e944";
}
.sbicon-refresh:before {
  content: "\e946";
}
.sbicon-settings:before {
  content: "\e947";
}
.sbicon-spinner:before {
  content: "\e948";
}
.sbicon-star:before {
  content: "\e949";
}
.sbicon-guide:before {
  content: "\e94b";
}
.sbicon-trash:before {
  content: "\e94d";
}
.sbicon-bell:before {
  content: "\e94e";
}
.sbicon-clone:before {
  content: "\e950";
}
.sbicon-c-download:before {
  content: "\e95a";
}
.sbicon-e-inv-small:before {
  content: "\e95b";
}
.sbicon-checkbox1:before {
  content: "\e962";
}
.sbicon-receipt:before {
  content: "\e963";
}
.sbicon-write-off:before {
  content: "\e964";
}
.sbicon-value-arrow:before {
  content: "\e966";
}
.sbicon-rub:before {
  content: "\e967";
}
.sbicon-euro:before {
  content: "\e96a";
}
.sbicon-upto:before {
  content: "\e96c";
}
.sbicon-downto:before {
  content: "\e96d";
}
.sbicon-percent:before {
  content: "\e96f";
}
.sbicon-regress:before {
  content: "\e970";
}
.sbicon-progress:before {
  content: "\e971";
}
.sbicon-manage-request:before {
  content: "\e972";
}
.sbicon-iconEye:before {
  content: "\e973";
}
.sbicon-icon-preapproved:before {
  content: "\e974";
}
.sbicon-ellips-eye:before {
  content: "\e975";
}
.sbicon-corpcard:before {
  content: "\e976";
}
.sbicon-transit:before {
  content: "\e977";
}
.sbicon-iconGOZ:before {
  content: "\e979";
}
.sbicon-deadline:before {
  content: "\e97a";
}
.sbicon-iconTSJ:before {
  content: "\e97b";
}
.sbicon-calendar:before {
  content: "\e97d";
}
.sbicon-house:before {
  content: "\e980";
}
.sbicon-human:before {
  content: "\e981";
}
.sbicon-iconCalendarEmpty:before {
  content: "\e982";
}
.sbicon-iconLink:before {
  content: "\e97e";
}
.sbicon-Envelopeplus:before {
  content: "\e984";
}
.sbicon-cloud-up:before {
  content: "\e932";
}



.sbicon-star.off {color: #bbb;}
.sbicon-star.on,
a.sbicon-star:hover,
a:hover > .sbicon-star {color: #f49530;}
