@font-face {
  font-family: 'spk';
  src:
    url('../fonts/spk/fonts/spk.ttf?g62uw7') format('truetype'),
    url('../fonts/spk/fonts/spk.woff?g62uw7') format('woff'),
    url('../fonts/spk/fonts/spk.svg?g62uw7#spk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="spk-"],
[class*=" sbk-"] {
  display: inline-block;
  font-family: 'spk' !important;
  speak: none;
  font-size: 2rem;
  font-style:     normal;
  font-weight:    normal;
  font-variant:   normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-inline {font-size: inherit;}

.inline-icon {vertical-align: middle;}

.spk-other:before {
  content: "\e900";
}
.spk-house:before {
  content: "\e901";
}
.spk-box:before {
  content: "\e902";
}
.spk-people:before {
  content: "\e903";
}
.spk-shop:before {
  content: "\e904";
}
.spk-auto:before {
  content: "\e905";
}
.spk-fabrika:before {
  content: "\e906";
}
.spk-malt:before {
  content: "\e907";
}

