body {
  font-family: "Roboto", "Arial", "PT_sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #172a3f;
}

body.aside {
  background: white;
}

body.auth .content-box,
body.error .content-box {
  background: aliceblue;
}

body.auth .personal-box,
body.auth .header-box,
body.auth .promo-box,
body.auth .top-box,
body.auth .title-box,
body.auth .search-box,
body.auth .timeline-box,
body.error .personal-box,
body.error .header-box,
body.error .promo-box,
body.error .top-box,
body.error .title-box,
body.error .search-box,
body.error .timeline-box {
  display: none;
}

body.auth .content-box,
body.error .content-box {
  background: transparent;
}

/* reset.css
----------------------------------------------------------------------------- reset.css */

a {
  color: rgba(11, 31, 53, .95);
  border-bottom: 1px solid rgba(11, 31, 53, .3);
}

a:hover {
  border-bottom-color: rgba(11, 31, 53, .6);
}

a.k-icon,
a.tag {
  border-bottom: none;
}

h1,
h3 {
  font-weight: 500;
}

h1,
h3,
h5 {
  text-transform: none;
}

.alt {
  border-color: rgba(11, 31, 53, .3);
}

.alt:hover {
  border-color: rgba(11, 31, 53, .6);
}

/* layouts.css
----------------------------------------------------------------------------- layouts.css */
body.aside .content-box {
  margin-left: 21rem;
}

.content-box {
  background-color: white;
}

.header-box,
.header-fix {
  background-color: white;
  border-bottom: 1px solid rgba(10, 30, 50, 0.15);
}

.search-box,
.title-box,
.timeline-box {
  background: aliceblue;
}

body,
aside,
.personal-box,
.sub-box {
  background: whitesmoke;
}

.header-fix .personal-box {
  background-color: white;
}

.aside .content-box,
.sidebar {
  padding-top: 7rem;
}

.sidebar {
  background-color: #212a33;
  color: #fff;
}

aside {
  padding-right: 2rem;
}

bside {
  padding-left: 2rem;
}

aside,
bside {
  width: 20rem;
}

.header-box {
  padding: 1rem 0;
  font-size: 1.6rem;
  position: relative;
}

.header-fix,
.sidebar {
  font-size: 1.6rem;
}

.sub-box {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Filter
----------------------------------------------------------------------------- Filter */

.search-box .filter-box {
  border-top: 1px solid #e5e5e5;
}

/* Content
----------------------------------------------------------------------------- Content */

.wrapper > .content {
  padding: 2rem 0 5rem;
}

.new > td:first-child {
  border-left-color: steelblue;
}

/* nav.css
----------------------------------------------------------------------------- nav.css */

.menu-v [class*="level-"].active > a {
  border-width: 0;
}

/* Nav & Main */
.nav-box .level-1 > a,
.nav-box .level-1 > span,
.menu-box .level-1 > a,
.menu-box .level-1 > span {
  padding: 0;
}

.nav-box .level-1,
.menu-box .level-1 {
  padding: 1rem 2rem;
}

.nav-box .level-1.active > a,
.nav-box .level-1.active > span,
.menu-box .level-1.active > a,
.menu-box .level-1.active > span {
  border-bottom: none;
}

.header-fix {
  padding: 1.5rem 0 1.4rem;
}

.personal-box .menu-h .level-1 > a {
  border-bottom: none;
}


/* Main */

.menu-box nav .level-1:first-child > a,
.menu-box nav .level-1:first-child > span {
  box-shadow: none;
}

.dropdown [class*="level-"] > a,
.dropdown [class*="level-"] > div,
.dropdown [class*="level-"] > span {
  border-bottom: none;
}

/* Sub */

.sub-box nav .level-1 {
  border-radius: 0.3rem;
}

.sub-box nav .level-1 > a,
.sub-box nav .level-1 > span {
  padding: 0.9rem 1.5rem;
  border-bottom: 0;
}

.sub-box nav .level-1:hover {
  background: #eee;
}
.sub-box nav .level-1.active {
  background: #949494;
  color: white;
}

/* Controls
----------------------------------------------------------------------------- Controls */

a.button,
.button,
button {
  border-radius: 0.3rem;
  padding: 0.5rem 1.9rem;
  min-width: 12rem;

  &.small {
    padding: 0.3rem 1.9rem;
  }
  &.large {
    padding: 0.9rem 1.9rem;
  }
}

button,
a.button,
.button,
.button.border,
button.border,
.danger.button,
button.danger,
table .button.primary,
table button.primary {
  background-color: rgb(255, 255, 255);
  border-color: rgba(11, 31, 53, 0.4);
  color: rgba(11, 31, 53, 0.95);
}

button:hover,
button.border:hover,
button.danger:hover,
.button:hover,
.button.border:hover,
.button.danger:hover,
table .button.primary:hover,
table button.primary:hover {
  background: rgb(255, 255, 255);
  border-color: rgba(11, 31, 53, 0.95);
}

.button.blank, .button.blank:hover,
button.blank, button.blank:hover {
  color: rgba(11, 31, 53, .95);
}

.button.warning,
button.warning {
  background-color: rgba(240, 50, 38, .85);
  border-color: rgba(240, 50, 38, .85);
  color: rgb(255, 255, 255);
}

.button.warning:hover,
button.warning:hover {
  background: rgb(240, 50, 38);
  border-color: rgb(240, 53, 40);
}

.button.success,
.button.primary,
button.success,
button.primary {
  background-color: rgba(13, 186, 38, .85);
  border-color: rgba(13, 186, 38, .85);
  color: rgb(255, 255, 255);
}

.button.success:hover,
.button.primary:hover,
button.success:hover,
button.primary:hover {
  background: rgb(13, 186, 38);
  border-color: rgb(13, 186, 38);
}

.tag {
  background-color: transparent;
  padding: 0;
}

.tag:before {
  content: none;
}

.tags .tag,
.tags .tag [class*="icon"],
.button .count,
button .count {
  color: rgba(11, 31, 53, 0.95);
}

.tags .tag,
.count {
  background-color: rgba(11, 31, 53, 0.05);
  border-radius: 3rem;
}

.tags .tag [class*="icon"] {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.count.primary,
.count.success,
.count.warning,
.count.danger,
.progressbar {
  color: white !important;
  border-color: transparent;
}

.statusbar,
.progressbar {
  background-color: #fafafa;
}
.chunkbar > .bar {
  background-color: #e5e5e5;
}

.primary.tag:before,
.primary.count {
  background-color: #ef3124;
}

.success.tag:before,
.success.count,
.button .success.count,
button .sucess.count,
.chunkbar > .progress,
.chunkbar > .success,
.progressbar > .bar {
  background-color: #ef3124;
}

.warning.tag:before,
.warning.count,
.chunkbar > .warning,
.warning > .bar,
.primary > .bar {
  background-color: #ef3124;
}

.danger.tag:before,
.danger.count,
.chunkbar > .danger,
.statusbar > .bar,
.danger > .bar {
  background-color: #ef3124;
}

a.txt-success:hover,
.txt-warning {
  color: #ef3124;
}

/* popup.css
----------------------------------------------------------------------------- popup.css */
.window-content {
  padding: 2rem 2.4rem;
}

body.alpha .k-window-content .ending {
  padding: 2.4rem;
}

/* Notices
----------------------------------------------------------------------------- */

.box {
  border-radius: 0.3rem;
}

.message {
  border-style: solid;
  border-width: 0 0 0 0.2rem;
  padding-left: 1.8rem;
}

.message.first {
  padding-left: 3.8rem;
}

.message {
  border-color: #212a33;
}

.message.secondary {
  border-color: #e5e5e5;
}

.message.success {
  border-color: #2dba59;
}

.message.warning {
  border-color: #ffac21;
}

.message.danger {
  border-color: #ef3124;
}

.message {
  background-color: #fff;
}

.secondary.box,
.secondary.inner,
.secondary.message {
  background-color: #fafafa;
}

.success.inner,
.success.message {
  background-color: honeydew;
}

.warning.inner,
.warning.message {
  background-color: lightyellow;
}

.danger.inner,
.danger.message {
  background-color: lavenderblush;
}

/* Icons
----------------------------------------------------------------------------- Icons */

i.i-refresh {
  background-image: url(../images-2x/sphere/preloader.gif);
}

i.icon-20 {
  background-image: url(../images-2x/sphere/icons-20.png);
}

i.icon-40 {
  background-image: url(../images-2x/sphere/icons-40.png);
}

/* SVG Icons
----------------------------------------------------------------------------- SVG Icons */

.svg-primary-dark {
  fill: #0083b7 !important;
}

.svg-primary {
  fill: #74a1c7 !important;
}

/* i-80
----------------------------------------------------------------------------- i-40 */
.i-80 {
  background-image: url(../images/sphere/i-80.png);
}

/* i-270
----------------------------------------------------------------------------- i-40 */
.i-270 {
  background-image: url(../images/sphere/i-270.png);
}

/* responsive
----------------------------------------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 120rem;
  }
  .aside .wrapper {
    max-width: 140rem;
  }
}
@media (max-width: 1199px) {
  body {
    min-width: 95.9rem;
  }
}

/* Мультиселект с ограниченными по ширине элементами списка*/

.k-multiselect-maxWidth .k-multiselect-wrap .k-button span {
  max-width: 335px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.txt-danger {
  color: #ef3124;
}

.txt-success {
  color: #0dba26;
}
/* Errors
----------------------------------------------------------------------------- Errors */

body.error h1 {
  font-size: 8em;
  line-height: 100%;
}

.error-box {
  position: relative;
  margin-top: 4rem;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
}

.error-box .box {
  padding: 4rem 3rem 6rem;
}

.error-box .button-box {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
}

.dropdown ul [class*="level-"].active > a {
  background-color: aliceblue;
}

.k-checkbox.outbreak + .k-checkbox-label:before,
.k-textbox.outbreak {
  box-shadow: 0 0 0 0 rgba(239, 49, 36, 0.85);
}

@-webkit-keyframes pulsating {
  0% {
    box-shadow: 0 0 0 0 #ef3124;
  }
  50% {
    box-shadow: 0 0 2rem 0 #ef3124;
  }
  100% {
    box-shadow: 0 0 0 0 #ef3124;
  }
}

.panel:not(.active) .title:hover {
  border-color: #858f9a;
}

.logo {
  position: absolute;
  display: block;
  border-radius: 0.2rem;
  border-bottom: none;
  width: 18rem;
  height: 7rem;
  background: url(https://cdn.esphere.ru/images/alpha/logo-h.svg) center center no-repeat #212a33;
  z-index: 1;
  top: -1.5rem;
  padding: 0 1rem;
  margin-left: 1rem;
}

.logo:hover {
  border-bottom: none;
}

.header-fix .logo {
  top: -1.5rem;
  width: 19rem;
  margin-left: 0;
  border-radius: 0;
  border-bottom: 1px solid #212a33;
}

.menu-box,
.nav-box {
  width: calc(100% - 22rem);
  margin-left: 21rem;
}

.dropdown [class*="level-"]:hover > a[href] {
  color: inherit;
}

/* accordion items */

.accordion > li > * > h5 {
  font-size: 1.6rem;
}

.accordion .menu-v .level-1 > a,
.accordion .menu-v .level-1 > div,
.accordion .menu-v .level-1 > span {
  border-left: 0;
  border-bottom: 0;
}

.menu-v [class*="level-"]:hover,
.menu-v [class*="level-"].hover,
.menu-v [class*="level-"].active {
  background: rgba(255, 255, 255, 0.1);
}

.menu-v [class*="level-"] > a:hover,
.menu-v [class*="level-"].active > a,
.menu-v [class*="level-"].active > span {
  background: rgba(255, 255, 255, 0.1);
}

/* ссылки в меню без бордера */
main .menu-h .level-1 a {
  border-width: 0;
}

i {
  color: #0b1f35;
}

.accordion > li {
  border-width: 0;
}

li.level-2 > a, li.level-3 > a {
  color: #fff;
}

// иконки избранное
.uicon-star.on,
a.uicon-star:hover,
a:hover > .uicon-star {
  color: #ef3124;
}

.common-loader {
  background: #ef3124;
  background: linear-gradient(200deg, rgba(#ef3124,1) 0%, rgba(#fff,0) 100%);
  &:before {
    content: "";
    background: linear-gradient(180deg, rgba(#fff,0) 0%, rgba(#ef3124,1) 100%);
  }
  &::after {
    background: #fff;
  }
  .loader-logo {
    background: #fff;
    background-position: center;
    background-size: 100% 100%;
  }
}
