@import "variables/_base.scss";
@import "variables/themes/_sphere.scss";
/* reset.css
----------------------------------------------------------------------------- reset.css */

/*
a,  .link[href], .alt,
a > .link {
	border-width: 0;
	text-decoration: none;
}
*/
a:hover {color: #4a8ed2;}

/* layouts.css
----------------------------------------------------------------------------- layouts.css */

body {
	font-style: normal;
	font-weight: 400;
}

body,
.fixed .toolbar {background-color: white;}

.sidebar {
	background-color: aliceblue;
	border-right: 1px solid #e5e5e5;
}

.header-fix {
	background-color: white;
	border-bottom: 1px solid #e5e5e5;
}

.header     {background-color: steelblue;}
.header,
.header a:not(.link) {color: white;}

.header .dropdown.new-notice {
  color: $text-color;
  .pos-right {
    min-width: 45rem;
    a {
      display: inline;
      margin-left: auto;
    }
  }
}

.aside .content-box,
.sidebar {padding-top: 7rem;}

/* Content
----------------------------------------------------------------------------- Content */

.content-box {
	padding-top:    3rem;
	padding-bottom: 4rem;
}

.header-fix + .content-box {
  padding-top:    7rem;
}

.new > td:first-child {border-left-color: steelblue;}

/* nav.css
----------------------------------------------------------------------------- nav.css */

.menu-v [class*="level-"].active  > a {border-color: steelblue;}

.nav-box nav [class*="level-"].active {
	background: rgba(255,255,255,.25);
	border-radius: .3rem;
}

.personal-box {
  .menu-h,
  .list-h {
    > li {
      > {
        div:not(.clear) {
          display: inline-flex;
          align-items: center;
          padding: 0.4rem;
          max-height: 4.4rem;
          max-width: 28rem;
          &.inner-12 {
            padding: 1.2rem;
          }
          &:hover:not(.button):not(.active) {
            border-radius: $btn-small-radius;
          }
        }
      }
    }
  }
}
/* Main */

.menu-box nav {padding: 0 .5rem; }

.menu-box nav .level-1 > a,
.menu-box nav .level-1 > span {
	box-shadow: inset 1px 0 0 rgba(0,0,0,.1);
	padding: .5rem 1.5rem;
	margin:  .5rem 0;
}

.menu-box nav .level-1:first-child > a,
.menu-box nav .level-1:first-child > span {box-shadow: none;}

.menu-box nav li:hover > a,
.menu-box nav .active  > a,
.menu-box nav .active  > span {color: steelblue;}

/* Sub */

.sub-box nav .menu-h {
	background: #fafafa;
	padding: 1rem;
}

.sub-box nav .level-1 {margin-right: 1rem;}

.sub-box nav .level-1,
.sub-box nav .level-1  > a {border-radius: .3rem;}

.sub-box nav .level-1:hover  {background: rgba(0,0,0,.07);}
.sub-box nav .level-1.active {background: rgba(0,0,0,.2);}

/* Controls
----------------------------------------------------------------------------- Controls */

a.button,
.button,
.button.border {
	background-color: #fafafa;
	border-color:     #e5e5e5;
	color: black;
  &:hover {
    background-color: #eee;
    border-color: $btn-border-hover;
  }
  &:active {
    background-color: $black-06;
    border-color: $black-01;
  }
  &.more {
    .uicon-more {
      line-height: .65;
    }
  }
}

.tag {
	background-color: transparent;
	padding: 0;
}

.tag:before {
	content: " ";
	display: block;
	float: left;
	background: #e5e5e5;
	border-radius: 50%;
	overflow: hidden;
	height: .7rem;
	width:  .7rem;
	margin: .7rem .5rem .6rem 0;
}

.count.primary, .button.primary, a.button.primary,
.count.success, .button.success, a.button.success,
.count.warning, .button.warning, a.button.warning,
.count.danger,  .button.danger, a.button.danger,
.progressbar {
	color: white;
	border-color: transparent;
}

.statusbar,
.progressbar     {background-color: #fafafa;}
.chunkbar > .bar {background-color: #e5e5e5;}

.primary.tag:before,
.primary.count,
.primary.button,
a.primary.button,
.success.button,
a.success.button {background-color: steelblue;}
.success.tag:before,
.success.count,
.chunkbar    > .progress,
.chunkbar    > .success,
.progressbar > .bar {background-color: #4ea31e;}

.warning.tag:before,
.warning.count,
.warning.button,
a.warning.button,
.warning.button-support,
.chunkbar    > .warning,
.warning     > .bar,
.primary     > .bar {background-color: #f49530;}

.danger.tag:before,
.danger.count,
.danger.button,
a.danger.button,
.chunkbar    > .danger,
.statusbar   > .bar,
.danger      > .bar {background-color: #e84040;}

.dropdown:not(.new-notice) {
  .button:not(.more) {
    padding-right: 4rem;
    &::after {
      content: "\e998";
      font-family: 'prodicon';
      display: inline-block;
      transition: transform .3s;
      position: absolute;
      right: 1.9rem;
      font-size: 2rem;
    }
  }
  &:hover .button::after {
    transform: rotate(180deg);
  }
}

/* Notices
----------------------------------------------------------------------------- */

.box {border-radius: .4rem;}

.message {
	border-style: solid;
	border-width: 0 0 0 .2rem;
	padding-left:  1.8rem;

  ul, li {
    border-color: inherit;
  }

  .i-label {
    left: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}

.message.first     {padding-left: 3.8rem;}

.message           {border-color: steelblue;}
.message.secondary {border-color: #e5e5e5;}
.message.success   {border-color: #4ea31e;}
.message.warning   {border-color: #f49530;}
.message.danger    {border-color: #e84040;}

.message           {background-color: aliceblue;}

.txt-info {color: steelblue;}

.secondary.box,
.secondary.inner,
.secondary[class^="inner-"],
.secondary[class*=" inner-"],
.secondary.message {background-color: #fafafa;}

.success.inner,
.success[class^="inner-"],
.success[class*=" inner-"],
.success.message {background-color: honeydew;}

.warning.inner,
.warning[class^="inner-"],
.warning[class*=" inner-"],
.warning.message {background-color: lightyellow;}

.danger.inner,
.danger[class^="inner-"],
.danger[class*=" inner-"],
.danger.message {background-color: lavenderblush;}

/* Icons
----------------------------------------------------------------------------- Icons */

i.i-refresh {background-image: url(../images/sphere/preloader.gif);}

i.icon-20   {background-image: url(../images/sphere/icons-20.png) ;}

i.icon-40.i-logo {
  background-image: url(../images/sphere/logo-color.svg);
  background-size: 4rem 4rem;
  background-position: 0 0;
}

/* SVG Icons
----------------------------------------------------------------------------- SVG Icons */

/*.svg-primary-light {fill: #B9DBF0 !important;}*/

.svg-primary-dark {fill: #0083B7 !important;}
.svg-primary      {fill: #74A1C7 !important;}

/* login
----------------------------------------------------------------------------- */

.login .content-box	{
	background-image: url(../images/sphere/bg-login.png);
	background-position: 50% 1rem;
	background-size: 80rem 48rem;
	background-repeat: no-repeat;
}

/* i-80
----------------------------------------------------------------------------- i-40 */
.i-80 {background-image: url(../images/sphere/i-80.png);}

/* i-270
----------------------------------------------------------------------------- i-40 */
.i-270 {background-image: url(../images/sphere/i-270.png);}

/* responsive
----------------------------------------------------------------------------- */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


	i.i-refresh {background-image: url(../images-2x/sphere/preloader.gif);}

	i.icon-20   {background-image: url(../images-2x/sphere/icons-20.png);}
	i.icon-40   {background-image: url(../images/sphere/logo-color.svg);}

	.login .content-box	{background-image: url(../images-2x/sphere/bg-login.png);}

}

@media (min-width: 1200px) {

	.wrapper {max-width: 140rem;}

	.header {padding: .5rem;}

}
@media (max-width: 1199px) {

	body {min-width: 95.9rem;}

}

.common-loader {
  background: steelblue;
  background: linear-gradient(200deg, rgba(steelblue,1) 0%, rgba(#fff,0) 100%);
  &:before {
    content: "";
    background: linear-gradient(180deg, rgba(#fff,0) 0%, rgba(steelblue,1) 100%);
  }
  &::after {
    background: #fff;
  }
  .loader-logo {
    background: #fff;
    background-position: center;
    background-size: 100% 100%;
  }
}
