@import "../_base.scss";

// brand
$brand-primary: #4ea31e;
$brand-warning: #f49530;
$brand-danger: #eb6762;

$link-color: $brand-primary;
$link-hover: #4a792f;

$icon-color: $gray-darker;

$hr-color: $gray;

$base-action: #828282;

$bg-info: #748698;
$bg-marquee: #78d237;
$bg-nonwork: #f7f7f7;
$bg-hover: #f2f2f2;

// hover
$hover: $gray-light;

$base-check-focus: rgba($brand-warning, 0.3);

// k-block, k-widget, .k-content, .k-window, .k-popup, k-toolbar
$overlay-bg-2: $gray-lighter;
$border: $gray;
$border-reverse: $reverse;

// only active
$active-item-color: $gray-darker;

// selected and active, marque, ::selection
$selected-item: $base-action;

// buttons
$btn-color: $text-reverse;
$btn-default-bg: $gray-lighter;

$btn-outline: $gray-darker;
$btn-outline-hover-color: $gray-light;
$btn-outline-hover: $black-01;

$btn-primary: $brand-primary;
$btn-primary-hover: #359b1d;

// info
$info-color: #50607f;
$info-bg: #f0f9ff;
$info-border: #d0d9df;

$info-success-color: #507f50;
$info-success-bg: #f0fff0;
$info-success-border: #d0dfd0;

$info-error-color: #7f5050;
$info-error-bg: #fff0f0;
$info-error-border: #dfd0d0;

// switch
$switch-color: $text-reverse;
$switch: #359B1D;

$switch-off-color: $gray-darker;
$switch-off-bg: $gray-lighter;

// progressbar
$progressbar-bg: $gray;
$progressbar-selected: #359B1D;
$progressbar-item-border: $reverse;

// scroollbar
$scrollbar-bg: #858585;
$scrollbar-touch-bg: $gray-darker;
$scrollbar-border: #8a8a8a;

// input
$input-color: $black-01;
$input-placeholder-color: rgba($black-01, 0.5);
$input-upload-color: $gray-dark;
$input-progress-color: $gray-darker;
$input-upload-file: #bababa;

$input-hover-bg: $gray-light;
$input-progress-bg: $bg-info;

$input-ng-danger-border: rgba($brand-danger, 0.5);
$input-danger-upload-file-border: #fce6e5;

// form
$form-info-color: #545454;

// popup group
$group: $brand-primary;
$group-button-bg: $base-action;

// pager
$pager-color: $gray-darker;
$pager-hover-bg: $gray-light;
$pager-select-bg: $base-action;

// panelbar
$panelbar-base-color: $black-01;
$panelbar-color: $gray-darker;
$panelbar-hover-bg: #787878;
$panelbar-border: $reverse;
$panelbar-darker-border: $gray;

// dropzone
$dropzone-hover-bg: $gray-light;
$dropzone-border: $reverse;

// table
$table-color: $gray-darker;
$table-th-color: $gray-dark;
$table-cell-color: $black-01;
$table-header-filter-color: $text-reverse;

$table-cell-bg: #ededed;
$table-hover-bg: $gray-lighter;
$table-header-filter-bg: $gray-light;
$table-header-filter-active-bg: $base-action;
$table-dropclue: $gray-darker;

// spreadsheet
$spreadsheet-cell-color: $black-01;
$spreadsheet-selection-bg: rgba(130, 130, 130, 0.25);
$spreadsheet-punch-bg: rgba($white, 0.5);
$spreadsheet-selection-border: $base-action;
$spreadsheet-selection-full-border: rgba($black-01, 0.25);

// slider
$slider-bg: #e6e6e6;

// calendar
$calendar-bg: $gray-lighter;
$calendar-weekend-bg: #f2f2f2;
$calendar-weekend-hover-bg: #7d7d7d;

// h.k-item:hover.k-state-selected
$item-color: $black-01;
$item-clue-bg: $base-action;
$item-hover-bg: #7d7d7d;

// time
$time-current: #f00;

// tooltip
$tooltip: #646464;

// splitbar
$splitbar-bg: rgba(235, 235, 235, 0.8);
$splitbar-hover-bg: #ebebeb;

// task
$task-color: #0d0d0d;
$task-hover-color: $text-reverse;
$task-selected-color: #9b9b9b;
$task-selected-complete-color: #787878;

$task: $black-01;
$task-selected-bg: $base-action;
$task-single-bg: $gray-darker;
$task-single-selected-bg: #a8a8a8;

