@import "../variables/_base.scss";
@import "../variables/themes/_nova.scss";

@media screen and (max-width: 1399.98px) {
  .top-menu {
    right: -100%;
    transition: .3s;
    &.open {
      right: 0;
      + .top-menu-wrap .hamburger-black .bar {
        background-color: $white;
      }
    }
  }

  .m-menu {
    background: $primary-02;
    max-width: 48rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 300;
    padding: 0 0 1.5rem !important;

    .menu-h > li > a:hover:not(.button) {
      background-color: $primary-03 !important;
    }

    li {
      float: none;
      margin-bottom: 1rem;
    }

    .level-1 {
      > a, > span {
        box-shadow: none !important;
        font-size: 2rem;
        color: $text-reverse;
      }
    }
    .level-1 > a svg {
      fill: $white;
    }
    .m-menu-text {
      display: inline-block !important;
    }
  }

}

@media screen and (max-width: 947px) {
  .sub-box.m-sub-box {
    box-shadow: 0 0 .3rem .1rem rgba($black-01, .1);
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: $white;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    padding: 0;

    ul.menu-h {
      display: flex;
      justify-content: center;
      padding: 0;
      position: relative;
      background-color: $white;
    }

    .level-1 {
      margin: 0;
      border-radius: 0 !important;
      span {
        display: none !important;
      }
      &.active {
        background: rgba($black-01, .05) !important;
      }
      > {
        a, span, img {
          padding: .6rem 1rem;
          line-height: 1rem;
        }
      }
    }

    li img {
      height: 3rem;
      display: block !important;
    }

    .dropdown {
      ul {
        top: auto;
        bottom: 100%;
      }
      &::before, &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 801px) {
  .m-toggle, .sub-box .m-sub-none {
    display: none;
  }

  .mainmenu {
    border-width: 0 0 1px !important;
    border-radius: 0 !important;
  }

  .decolor-item {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: $black-04;
  }

  .i-triangle {
    &::after, &::before {
      border: solid transparent;
      border-width: .8rem .5rem;
      content: " ";
      overflow: hidden;
      position: absolute;
      height: 0;
      width: 0;
      z-index: 5;
    }
    &.pos-left {
      &::after, &::before {
        left: 1.2rem;
      }
    }
    &.pos-right {
      &::after, &::before {
        right: 1.2rem;
      }
    }
    &::after {
      border-bottom-color: $white;
      top: -1.5rem;
    }
    &::before {
      border-bottom-color: $black-05;
      top: -1.6rem;
    }
  }

  bside .m-bside-menu {
    position: absolute;
    padding: 0;
    top: .6rem;
    right: .6rem;
    text-align: right;
    z-index: 100;

    .list-h {
      border: 1px solid $gray;
      border-radius: .3rem;
      background-color: $body-bg;
      text-align: left;
      display: none;
    }

    .m-bside-gamburger {
      padding: .8rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      background-color: $white;
    }

    &:hover > ul.list-h {
      display: block;
    }

    .list-h li {
      display: block;
      margin: 0;
      padding: 0;
      button {
        padding: .5rem 0;
        background-color: $white;
        color: $gray-base;
        border-width: 0;
        text-align: left;
        span {
          color: $gray-base;
          font-size: 1.4rem;
          font-family: "SBSans", roboto, sans-serif;
        }
        &:hover span {
          color: #f49530;
        }
      }
    }
  }

  .spk-hamburger {
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    display: block;
    margin: .3rem auto;
    right: 1rem;
    background-color: $gray-lighter;
    border: 1px solid $gray;
    padding: .8rem;
    border-radius: .3rem;
    z-index: 101;
    font-size: inherit;
    line-height: 2rem;
    font-family: inherit !important;
    &.dropdown {
      position: absolute;
      display: block;
    }

    &:hover, &:active {
      background-color: $white;
    }

    &.dropdown {
      &::after, &::before {
        display: none !important;
      }
    }

    .line {
      display: block;
      background: $black-04;
      width: 2rem;
      height: .3rem;
      position: absolute;
      left: .8rem;
      border-radius: 2px;
      top: .8rem;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
    }

    &:hover .line {
      background-color: #f49530;
    }

    .line {
      &:nth-child(2) {
        top: calc(50% - 2px);
      }
      &:nth-child(3) {
        top: auto;
        bottom: .8rem;
      }
    }
  }

  .top-menu-right {
    text-align: left;
  }

  .menu-box {
    min-height: 4rem;
    &.open {
      .spk-hamburger {
        .line {
          background-color: #f49530;
        }
        &.dropdown {
          &::after, &::before {
            display: block !important;
          }
        }
      }

      .m-toggle {
        display: block;
        max-width: 28rem;
        position: absolute;
        top: calc(100% - .5rem);
        right: 0;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: .3rem;
        z-index: 101;
        .menu-h {
          float: none;
          box-shadow: none;
          padding: 0;
          li {
            float: none;
            box-shadow: none;
            padding: 0;
          }
        }

        nav {
          float: none;
          box-shadow: none;
          padding: 0;
        }

        .menu-h a {
          padding: .5rem 1.5rem;
          box-shadow: none;
        }
      }

    }
  }

  // max-width -- 801
  .menu-fz {
    flex-direction: column;
    a {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 100%;
      padding: 1rem 1.2rem;
    }
  }
}

@media screen and (min-width: 1279px) {
  .spk-hamburger, .dropdown.spk-hamburger {
    display: none;
  }
  .sub-box {
    .m-sub-block, .m-sub-item {
      display: none;
    }
  }
}
