@charset "UTF-8";
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0; }

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled].rbc-btn {
  cursor: not-allowed; }

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit; }

.rbc-abs-full, .rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rbc-rtl {
  direction: rtl; }

.rbc-off-range {
  color: #999999; }

.rbc-off-range-bg {
  background: #e6e6e6; }

.rbc-header {
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  border-bottom: 1px solid #DDD; }
  .rbc-header + .rbc-header {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-header + .rbc-header {
    border-left-width: 0;
    border-right: 1px solid #DDD; }
  .rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-content {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4; }

.rbc-today {
  background-color: #eaf6ff; }

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px; }
  .rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center; }
  .rbc-toolbar button {
    color: #fff;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid #ccc;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap; }
    .rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      background-color: #e6e6e6;
      border-color: #adadad; }
      .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
        color: #fff;
        background-color: #d4d4d4;
        border-color: #8c8c8c; }
    .rbc-toolbar button:focus {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #adadad; }
    .rbc-toolbar button:hover {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #adadad; }

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap; }
  .rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .rbc-btn-group button + button {
    margin-left: -1px; }
  .rbc-rtl .rbc-btn-group button + button {
    margin-left: 0;
    margin-right: -1px; }
  .rbc-btn-group + .rbc-btn-group,
  .rbc-btn-group + button {
    margin-left: 10px; }

.rbc-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #3174ad;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left; }
  .rbc-slot-selecting .rbc-event {
    cursor: inherit;
    pointer-events: none; }
  .rbc-event.rbc-selected {
    background-color: #265985; }
  .rbc-event:focus {
    outline: 5px auto #3b99fc; }

.rbc-event-label {
  font-size: 80%; }

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5); }

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-row {
  display: flex;
  flex-direction: row; }

.rbc-row-segment {
  padding: 0 1px 1px 1px; }

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1); }

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal; }

.rbc-month-view {
  position: relative;
  border: 1px solid #d0d7dd;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  height: 100%; }

.rbc-month-header {
  display: flex;
  flex-direction: row; }

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%; }
  .rbc-month-row + .rbc-month-row {
    border-top: 1px solid #DDD; }

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right; }
  .rbc-date-cell.rbc-now {
    font-weight: bold; }
  .rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden; }

.rbc-day-bg {
  flex: 1 0 0%; }
  .rbc-day-bg + .rbc-day-bg {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-day-bg + .rbc-day-bg {
    border-left-width: 0;
    border-right: 1px solid #DDD; }

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px; }
  .rbc-overlay > * + * {
    margin-top: 1px; }

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px; }

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto; }
  .rbc-agenda-view table.rbc-agenda-table {
    width: 100%;
    border: 1px solid #DDD;
    border-spacing: 0;
    border-collapse: collapse; }
    .rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
      padding: 5px 10px;
      vertical-align: top; }
    .rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
      padding-left: 15px;
      padding-right: 15px;
      text-transform: lowercase; }
    .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
      border-left: 1px solid #DDD; }
    .rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
      border-left-width: 0;
      border-right: 1px solid #DDD; }
    .rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
      border-top: 1px solid #DDD; }
    .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
      padding: 3px 5px;
      text-align: left;
      border-bottom: 1px solid #DDD; }
      .rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead > tr > th {
        text-align: right; }

.rbc-agenda-time-cell {
  text-transform: lowercase; }
  .rbc-agenda-time-cell .rbc-continues-after:after {
    content: ' »'; }
  .rbc-agenda-time-cell .rbc-continues-prior:before {
    content: '« '; }

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap; }

.rbc-agenda-event-cell {
  width: 100%; }

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .rbc-time-column .rbc-timeslot-group {
    flex: 1; }

.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap; }

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none; }

.rbc-label {
  padding: 0 5px; }

.rbc-day-slot {
  position: relative; }
  .rbc-day-slot .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0; }
    .rbc-day-slot .rbc-events-container.rbc-rtl {
      left: 10px;
      right: 0; }
  .rbc-day-slot .rbc-event {
    border: 1px solid #265985;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute; }
  .rbc-day-slot .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto; }
  .rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em; }
  .rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #f7f7f7; }

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #DDD;
  z-index: 10;
  margin-right: -1px; }

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden; }

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 1 0 0;
  flex-basis: 0px; }

.rbc-time-view-resources .rbc-time-header-cell-single-day {
  display: none; }

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px; }

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  flex: 1 1 0;
  flex-basis: 0 px; }

.rbc-time-header-content + .rbc-time-header-content {
  margin-left: -1px; }

.rbc-time-slot {
  flex: 1 0 0; }
  .rbc-time-slot.rbc-now {
    font-weight: bold; }

.rbc-day-header {
  text-align: center; }

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px; }

.rbc-slot-selecting {
  cursor: move; }

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #d0d7dd;
  min-height: 0; }
  .rbc-time-view .rbc-time-gutter {
    white-space: nowrap; }
  .rbc-time-view .rbc-allday-cell {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    position: relative; }
  .rbc-time-view .rbc-allday-cell + .rbc-allday-cell {
    border-left: 1px solid #DDD; }
  .rbc-time-view .rbc-allday-events {
    position: relative;
    z-index: 4; }
  .rbc-time-view .rbc-row {
    box-sizing: border-box;
    min-height: 20px; }

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row; }
  .rbc-time-header.rbc-overflowing {
    border-right: 1px solid #DDD; }
  .rbc-rtl .rbc-time-header.rbc-overflowing {
    border-right-width: 0;
    border-left: 1px solid #DDD; }
  .rbc-time-header > .rbc-row:first-child {
    border-bottom: 1px solid #DDD; }
  .rbc-time-header > .rbc-row.rbc-row-resource {
    border-bottom: 1px solid #DDD; }

.rbc-time-header-cell-single-day {
  display: none; }

.rbc-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-time-header-content {
    border-left-width: 0;
    border-right: 1px solid #DDD; }
  .rbc-time-header-content > .rbc-row.rbc-row-resource {
    border-bottom: 1px solid #DDD;
    flex-shrink: 0; }

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #d0d7dd;
  overflow-y: auto;
  position: relative; }
  .rbc-time-content > .rbc-time-gutter {
    flex: none; }
  .rbc-time-content > * + * > * {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-time-content > * + * > * {
    border-left-width: 0;
    border-right: 1px solid #DDD; }
  .rbc-time-content > .rbc-day-slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none; }

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none; }

body {
  color: #333;
  font-size: 1.6rem;
  font-family: 'Roboto', 'Arial', 'PT_sans', sans-serif; }
  body > div {
    position: relative; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 2rem #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f1f22; }

h2,
h3,
h4,
h5,
h6 {
  padding-top: 1.6rem;
  padding-bottom: 0.8rem; }

h4 {
  font-size: 1.6rem; }

.txt-primary {
  color: #bf8e44; }

.txt-success {
  color: #0aa63f; }

.txt-warning {
  color: #e0c04b; }

.txt-info {
  color: #198cfe; }

a:not(.pagination-button):focus {
  box-shadow: none; }

a:focus {
  box-shadow: none; }

.loader-element {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0);
  animation: r-to-left 2s linear infinite;
  transform-origin: 50%;
  background: linear-gradient(200deg, #c9984e 0%, rgba(255, 255, 255, 0) 100%); }
  .loader-element::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: -0.45rem;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    width: calc(6rem / 2);
    height: 6rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #c9984e 100%); }
  .loader-element::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc((-6rem + 1rem) / 2);
    margin-top: calc((-6rem + 1rem) / 2);
    border-radius: 50%;
    width: calc(6rem - 1rem);
    height: calc(6rem - 1rem);
    background: #fff; }

@keyframes r-to-left {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  50% {
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

.personal-box {
  z-index: 12;
  background: #fff;
  min-height: 8rem;
  padding: 0 3.4rem 0 2.4rem;
  width: 100%;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(31, 31, 34, 0.09); }
  .personal-box img {
    max-height: 7.6rem; }
  .personal-box .company-name {
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: .94rem;
    line-height: 1.4;
    padding-top: .5rem; }
    .personal-box .company-name > div {
      font-family: Serif;
      font-size: 1.8rem;
      font-weight: 600; }
  .personal-box .dropdown-wrapper {
    min-width: 40rem; }
    .personal-box .dropdown-wrapper > ul {
      padding: 0;
      border: none; }
      .personal-box .dropdown-wrapper > ul > li, .personal-box .dropdown-wrapper > ul > li a {
        border-radius: 0 !important; }
      .personal-box .dropdown-wrapper > ul > li a {
        padding: 0.7rem 1.2rem 0.9rem; }
      .personal-box .dropdown-wrapper > ul > li.active a {
        background-color: #f2f4f7; }
  .personal-box .main-menu .level-1 > a,
  .personal-box .main-menu .level-1 > div,
  .personal-box .main-menu .level-1 > span {
    padding: 1.2rem 1.6rem 2rem; }
  .personal-box > nav:not(.m-menu) > * {
    display: block;
    height: 5.4rem; }
  .personal-box .menu-h > li > a,
  .personal-box .menu-h > li > span,
  .personal-box .menu-h > li > div:not(.clear),
  .personal-box .list-h > li > a,
  .personal-box .list-h > li > span,
  .personal-box .list-h > li > div:not(.clear) {
    display: block;
    max-height: 5.4rem;
    color: inherit; }
    .personal-box .menu-h > li > a:hover:not(.button):not(.active),
    .personal-box .menu-h > li > span:hover:not(.button):not(.active),
    .personal-box .menu-h > li > div:not(.clear):hover:not(.button):not(.active),
    .personal-box .list-h > li > a:hover:not(.button):not(.active),
    .personal-box .list-h > li > span:hover:not(.button):not(.active),
    .personal-box .list-h > li > div:not(.clear):hover:not(.button):not(.active) {
      border-radius: 0;
      background-color: transparent; }
  .personal-box .active > a,
  .personal-box .active > span {
    font-weight: 400; }
  .personal-box button.more {
    flex-direction: column; }
    .personal-box button.more > i {
      color: #333;
      font-size: 2.6rem;
      margin-top: .7rem; }
    .personal-box button.more svg {
      width: 2.6rem;
      margin-left: .2rem; }
    .personal-box button.more:hover {
      background-color: transparent !important; }

.backward-link {
  position: absolute;
  left: -2.6rem;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #b2b8bf; }
  .backward-link:hover {
    color: #7d838a; }
  .backward-link:active {
    color: #b2b8bf; }

.title-block {
  background: #fafafa;
  border-bottom: 1px solid #e4e8eb; }
  .title-block .wrapper {
    padding-bottom: 2.8rem; }
  .title-block .title {
    position: relative;
    padding-top: 4rem;
    margin: 0;
    border: 0; }

.wrapper {
  max-width: 100%;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
  padding-bottom: 6rem; }

.subtitle {
  font-size: 1.4rem; }

.auth {
  min-height: 100vh; }
  .auth .form-block {
    width: 34rem; }
    .auth .form-block label {
      display: inline-block;
      margin-bottom: .2rem; }
    .auth .form-block a {
      margin-top: .2rem; }
  .auth .logo {
    width: 20.6rem;
    margin-bottom: 4.9rem; }
  .auth .button-wrapper,
  .auth .input-element-wrapper,
  .auth .message {
    background: transparent; }
  .auth input:-webkit-autofill,
  .auth input:-webkit-autofill:hover,
  .auth input:-webkit-autofill:focus,
  .auth input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .auth {
    padding-top: 10rem;
    padding-bottom: 10rem; } }

dl.list {
  max-width: 130rem; }

.list > dd,
.list > dt {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem; }

.list dt .subtitle {
  line-height: 1.4rem; }

.form.list dt > label {
  margin-top: 1.06rem; }

.form.list .form-line-height {
  line-height: 2.5; }

.form.list .form-radiogroup-margin {
  margin-top: 1rem; }

.wizard .success:before,
.wizard .progress:before,
.wizard .success .line {
  background-color: #c9984e; }

.wizard .step label {
  font-size: 1.4rem; }

.wizard .step.active label {
  color: #bf8e44; }

.autocomplete-input-wrapper > input[class*='input'],
.datepicker-input-wrapper > input[class*='input'],
.dropdownselect-input-wrapper > input[class*='input'],
.input-element-wrapper > input[class*='input'],
.masked-input-wrapper > input[class*='input'],
.multiselect-input-wrapper > input[class*='input'],
.numeric-text-box-input-wrapper > input[class*='input'],
.autocomplete-input-wrapper,
.datepicker-input-wrapper,
.dropdownselect-input-wrapper,
.input-element-wrapper,
.masked-input-wrapper,
.multiselect-input-wrapper,
.multiselect-input-wrapper,
.numeric-text-box-input-wrapper,
.checkbox-label::before,
.checkbox-label::after,
.dropdown-wrapper > ul,
.autocomplete-wrapper,
.dropdownselect-filter-wrapper,
.textarea-input,
.suggestion-wrapper,
.suggestion-item,
.password-element-wrapper,
.password-element-wrapper > input[class*='input'] {
  border-radius: 0.2rem;
  font-size: 1.6rem; }

.dropzone-file-upload {
  padding: 1.6rem 1.2rem 3.2rem;
  border-radius: .2rem;
  text-align: center; }
  .dropzone-file-upload i {
    display: none; }

.modal-body {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  min-height: 8rem !important; }
  .modal-body:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }

.modal-header {
  border-radius: 0.2rem 0.2rem 0 0; }

.modal-footer {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

.checkbox-label:hover::before,
.checkbox-input:focus + .checkbox-label::before {
  border-color: #c9984e; }

.pagination-label-options,
.pagination-label-info {
  font-size: 1.6rem; }
  .pagination-label-options .dropdownselect-input-wrapper,
  .pagination-label-info .dropdownselect-input-wrapper {
    width: 8rem; }

.main-menu {
  margin-left: -1.1rem; }
  .main-menu .level-1 {
    margin-left: 0.2rem;
    margin-right: 0.2rem; }
    .main-menu .level-1.active, .main-menu .level-1:hover {
      position: relative;
      border-bottom: 0;
      color: #bf8e44;
      background-color: transparent; }
      .main-menu .level-1.active::after, .main-menu .level-1:hover::after {
        content: '';
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem 0.2rem 0 0;
        background-color: #c9984e;
        position: absolute;
        bottom: 0; }

.menu-tabs {
  margin-top: 1.9rem; }
  .menu-tabs .tabs-container {
    margin-bottom: -0.1rem; }
    .menu-tabs .tabs-container .scroll .tabs-item {
      white-space: nowrap; }
    .menu-tabs .tabs-container ul {
      height: 4.1rem; }
    .menu-tabs .tabs-container li {
      border: 1px solid transparent;
      border-bottom: 0;
      margin: 0 0.2rem; }
      .menu-tabs .tabs-container li:hover, .menu-tabs .tabs-container li.active {
        color: #bf8e44;
        border: 1px solid #e4e8eb;
        border-bottom: 0;
        padding: 1rem 1.6rem;
        background-color: #fff;
        transition-duration: .2s; }
        .menu-tabs .tabs-container li:hover:after, .menu-tabs .tabs-container li.active:after {
          display: none; }
    .menu-tabs .tabs-container i:after {
      background-image: none; }
    .menu-tabs .tabs-container i:before {
      margin-top: .4rem; }
  .menu-tabs .level-1 {
    margin: 0 0.2rem; }
    .menu-tabs .level-1 > a {
      padding: 1rem 1.6rem;
      border: 1px solid transparent;
      border-bottom: 0; }
    .menu-tabs .level-1.active, .menu-tabs .level-1:hover {
      position: relative;
      border-bottom: 0;
      background-color: #fff; }
      .menu-tabs .level-1.active > a, .menu-tabs .level-1:hover > a {
        color: #bf8e44;
        border: 1px solid #e4e8eb;
        border-bottom: 0; }

.checkbox-input:checked + .checkbox-label::before,
.checkbox-input:checked + .checkbox-label::after,
.checkbox-input:checked:focus + .checkbox-label::after,
.checkbox-input:checked + .checkbox-label:hover::before,
.checkbox-input:checked + .checkbox-label:not(.semi):hover::after,
.checkbox-input:checked:focus + .checkbox-label:not(.semi)::after {
  background-color: #bf8e44;
  border-color: #c9984e;
  font-size: 1.2rem; }

.radio-wrapper {
  display: inline-block; }

.radio-button-input:checked + .radio-button-label::before, .radio-button-input:checked + .radio-button-label:hover::before,
.radio-button-input:checked:focus + .radio-button-label::before,
.radio-button-input:checked:focus + .radio-button-label:hover::before {
  background-color: #bf8e44;
  border-color: #c9984e; }

.radio-button-label:hover::before {
  border-color: #c9984e; }

.button-wrapper,
.button {
  border-radius: 0.2rem;
  color: #bf8e44;
  border-color: #c9984e;
  padding: 0.9rem 2.4rem;
  line-height: 2rem; }
  .button-wrapper.delete.blank,
  .button.delete.blank {
    color: #A7A7AB; }
    .button-wrapper.delete.blank i,
    .button.delete.blank i {
      margin-top: -0.2rem; }
    .button-wrapper.delete.blank:hover,
    .button-wrapper.delete.blank:hover i,
    .button.delete.blank:hover,
    .button.delete.blank:hover i {
      color: #7d838a;
      transition: .2s; }
  .button-wrapper.loading:hover,
  .button.loading:hover {
    background-color: transparent; }
  .button-wrapper.loading:before,
  .button.loading:before {
    background-image: url("https://cdn.esphere.ru/images/arpn/loading-spinner-small.svg"); }
  .button-wrapper.primary, .button-wrapper.success,
  .button.primary,
  .button.success {
    background-color: #c9984e;
    font-weight: 500;
    border-color: transparent; }
    .button-wrapper.primary.disabled, .button-wrapper.primary.disabled:hover, .button-wrapper.success.disabled, .button-wrapper.success.disabled:hover,
    .button.primary.disabled,
    .button.primary.disabled:hover,
    .button.success.disabled,
    .button.success.disabled:hover {
      background-color: #c9984e !important;
      border-color: #c9984e;
      opacity: 0.4; }
    .button-wrapper.primary:hover, .button-wrapper.success:hover,
    .button.primary:hover,
    .button.success:hover {
      background-color: #E3B875; }
    .button-wrapper.primary:active, .button-wrapper.success:active,
    .button.primary:active,
    .button.success:active {
      background-color: #C38423; }
  .button-wrapper:hover,
  .button:hover {
    border-color: #c9984e;
    background-color: #c9984e;
    color: #fff;
    background-image: none; }
  .button-wrapper:active,
  .button:active {
    background-color: #C38423;
    color: #fff; }
  .button-wrapper:focus,
  .button:focus {
    border-color: #c9984e; }
  .button-wrapper.disabled,
  .button.disabled {
    border-color: #d0d7dd; }
    .button-wrapper.disabled:not(.blank):focus,
    .button.disabled:not(.blank):focus {
      padding: 0.8rem 2.3rem; }

.button-wrapper:not(.blank):focus {
  border-color: #B3710D;
  padding: 0.8rem 2.3rem; }

.button-wrapper.blank:focus {
  border-color: transparent; }

.button-wrapper.blank:active {
  background-color: transparent; }

.button-wrapper .link-icon {
  color: #1358bf; }

.button-wrapper:hover .link-icon {
  color: #107f8c; }

.tag {
  margin-left: 1.8rem; }
  .tag::before {
    left: -1.8rem;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 0.4rem; }

.count.info,
.info.tag:before {
  background-color: #198cfe;
  color: #fff; }

.count.warning,
.warning.tag:before {
  background-color: #e0c04b; }

.count.success,
.success.tag:before {
  background-color: #0aa63f; }

.table .table-header {
  text-transform: none;
  white-space: normal; }

.list li,
.list-item li,
.list-tree li {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem; }

.dropdown-wrapper li {
  margin-bottom: 0;
  margin-top: 0; }

.timer {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.8rem;
  color: #bf8e44; }

.secondary.box,
.inner.secondary {
  background-color: #fbfbfd; }

.empty-page-icon {
  height: 18rem;
  margin: 6.8rem auto 3.6rem; }

.empty-page {
  margin-top: 10rem; }

.panel {
  border-radius: 0.6rem;
  border: 1px solid #d0d7dd;
  margin-bottom: 1.6rem; }
  .panel-body {
    border-top: 1px solid #d0d7dd; }
  .panel .collapse-heading-wrapper {
    border: 0;
    padding: 1.6rem; }

.add-area-list ol {
  margin-left: 4rem; }

.region-tree ol {
  margin-left: 3rem; }

.region-tree li,
.region-tree label {
  cursor: pointer; }

.region-tree .active {
  color: #c9984e; }
  .region-tree .active:after {
    content: '\e94f';
    margin-left: 0.4rem;
    font-family: 'novicon' !important;
    vertical-align: top; }

.switcher-wrapper.active {
  background: #c9984e; }
  .switcher-wrapper.active.disabled {
    background: #e0c397 !important; }

.list.more .button-wrapper.blank {
  color: #333 !important; }

.calendar {
  min-height: 64rem; }
  .calendar .rbc-toolbar {
    margin-bottom: 2.4rem; }
  .calendar .rbc-off-range-bg {
    background-color: rgba(31, 31, 34, 0.06); }
  .calendar .rbc-btn-group .period {
    background-color: #fff;
    border: 1px solid #d0d7dd;
    color: #333;
    padding: 1rem 3.5rem; }
    .calendar .rbc-btn-group .period:active {
      box-shadow: none;
      border-color: #d0d7dd;
      background-color: #fff;
      color: #333; }
    .calendar .rbc-btn-group .period.rbc-active {
      box-shadow: none;
      background-color: rgba(31, 31, 34, 0.06); }
      .calendar .rbc-btn-group .period.rbc-active:hover, .calendar .rbc-btn-group .period.rbc-active:focus {
        color: #333;
        background-color: rgba(31, 31, 34, 0.06);
        border-color: #d0d7dd; }
  .calendar .rbc-btn-group .manage {
    color: #c9984e;
    border: 1px solid #c9984e;
    padding: 1rem 1rem;
    min-width: auto; }
    .calendar .rbc-btn-group .manage:nth-of-type(2) {
      padding: 1rem 2rem; }
    .calendar .rbc-btn-group .manage i {
      padding-top: 0.92rem;
      line-height: 0; }
    .calendar .rbc-btn-group .manage:active {
      box-shadow: none;
      border-color: #c9984e; }
    .calendar .rbc-btn-group .manage:focus, .calendar .rbc-btn-group .manage:active {
      background-color: inherit; }
    .calendar .rbc-btn-group .manage:hover {
      color: #fff;
      background-color: #c9984e; }
  .calendar .rbc-event {
    font-size: 1.6rem;
    flex-wrap: nowrap; }
  .calendar .rbc-time-view {
    border-top: none;
    border-bottom: none; }
  .calendar .rbc-time-header {
    border-bottom: 1px solid #d0d7dd;
    border-top: 1px solid #d0d7dd; }
    .calendar .rbc-time-header .rbc-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      border-bottom: none; }
    .calendar .rbc-time-header .rbc-allday-cell {
      height: auto; }
      .calendar .rbc-time-header .rbc-allday-cell .rbc-row .rbc-event {
        padding-top: .8rem;
        padding-bottom: .8rem; }
      .calendar .rbc-time-header .rbc-allday-cell .rbc-row + .rbc-row {
        display: none; }
  .calendar .rbc-time-gutter .rbc-timeslot-group {
    height: 4.5rem; }
    .calendar .rbc-time-gutter .rbc-timeslot-group .rbc-time-slot {
      display: flex;
      align-items: center;
      padding-left: .5rem; }
      .calendar .rbc-time-gutter .rbc-timeslot-group .rbc-time-slot:nth-of-type(2) {
        display: none; }
  .calendar .rbc-timeslot-group {
    min-height: 4.5rem; }
  .calendar .rbc-month-header .rbc-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem; }
  .calendar .rbc-month-view .rbc-row-segment {
    margin-bottom: 1px; }
  .calendar .rbc-row-segment {
    padding: 0; }
    .calendar .rbc-row-segment .rbc-event-content {
      white-space: normal; }
  .calendar .rbc-date-cell.rbc-now {
    font-weight: normal; }
  .calendar .rbc-current-time-indicator {
    display: none; }

.rbc-label,
.rbc-header {
  font-size: 1.4rem;
  color: #7d838a;
  font-weight: normal;
  line-height: normal; }

.rbc-today {
  background-color: transparent; }

.rbc-time-content {
  border-top: none; }

.rbc-toolbar button {
  border-radius: 0.2rem; }
  .rbc-toolbar button.primary, .rbc-toolbar button:hover {
    background-color: #c9984e;
    border-color: #c9984e; }

.rbc-day-slot .rbc-events-container {
  margin-right: 0; }

.rbc-day-slot .rbc-show-more,
.rbc-row .rbc-show-more {
  padding-left: .2rem;
  font-weight: normal; }
  .rbc-day-slot .rbc-show-more:focus,
  .rbc-row .rbc-show-more:focus {
    box-shadow: none; }

.rbc-day-slot .rbc-event,
.rbc-row .rbc-event {
  border-color: #bf8e44;
  border-radius: 0;
  background-color: #d3a258; }
  .rbc-day-slot .rbc-event:focus,
  .rbc-row .rbc-event:focus {
    outline: none; }
  .rbc-day-slot .rbc-event.rbc-selected,
  .rbc-row .rbc-event.rbc-selected {
    background-color: #c9984e; }
  .rbc-day-slot .rbc-event .rbc-event-label,
  .rbc-row .rbc-event .rbc-event-label {
    width: calc(100% + .5rem); }
  .rbc-day-slot .rbc-event .rbc-event-content,
  .rbc-day-slot .rbc-event .rbc-event-label,
  .rbc-row .rbc-event .rbc-event-content,
  .rbc-row .rbc-event .rbc-event-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.not-found {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%; }

.data-fail img, .not-found img {
  height: 40vh; }

ul li.company-info {
  background: #f2f4f7;
  color: #7d838a;
  padding: 0.7rem 1.2rem 0.9rem;
  font-size: 1.5rem; }

.table table {
  border-bottom: 1px solid #e4e8eb;
  padding-bottom: .6rem; }

.table th,
.table td {
  padding: 1.2rem; }

.table th {
  color: #7d838a;
  background-color: transparent;
  font-size: 1.6rem;
  text-transform: uppercase; }
  .table th:first-child {
    border-top-left-radius: 0; }
  .table th:last-child {
    border-top-right-radius: 0; }

.table tr.txt-small th {
  font-size: inherit; }

.table td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.table td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.table .table-header {
  border-bottom-width: 1px;
  border-top-width: 1px; }
  .table .table-header[class*="sorted"] {
    cursor: pointer; }

.txt-hover-success {
  color: #b2b8bf; }
  .txt-hover-success:hover {
    color: #0aa63f; }

.txt-hover-warning {
  color: #b2b8bf; }
  .txt-hover-warning:hover {
    color: #ff9900; }

.txt-hover-danger {
  color: #b2b8bf; }
  .txt-hover-danger:hover {
    color: #c11030; }

.txt-hover-primary {
  color: #b2b8bf; }
  .txt-hover-primary:hover {
    color: #c9984e; }

.counter-component {
  display: flex !important;
  align-items: stretch;
  border: 1px solid #d0d7dd;
  border-radius: 0.5rem;
  width: 14rem;
  box-sizing: content-box; }
  .counter-component .button-wrapper {
    min-width: 4rem;
    padding: 0 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: transparent; }
    .counter-component .button-wrapper.disabled {
      background-color: transparent; }
  .counter-component .numeric-text-box-input-wrapper {
    height: 100%;
    width: 6rem;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0; }
    .counter-component .numeric-text-box-input-wrapper input {
      padding: 0 0.4rem;
      text-align: center; }
    .counter-component .numeric-text-box-input-wrapper:hover, .counter-component .numeric-text-box-input-wrapper.focused {
      border-color: #1f1f22; }

.sidebar.menu-bar {
  min-height: 100vh;
  background-color: #fff;
  margin-left: -25.5rem;
  z-index: 11;
  padding-top: 9rem;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(48, 53, 97, 0.15), 0 0.2rem 3rem 0 rgba(31, 31, 34, 0.06);
  border-right: none;
  transition: 0.3s; }
  .sidebar.menu-bar.visible {
    margin-left: 0;
    transition: 0.3s; }
  .sidebar.menu-bar ul > li {
    padding: 0.4rem 0;
    position: relative; }
    .sidebar.menu-bar ul > li::after {
      height: 100%;
      background: #c9984e; }
    .sidebar.menu-bar ul > li > p, .sidebar.menu-bar ul > li > a {
      padding: 1rem 0 1rem 1.2rem;
      margin-left: 0.4rem;
      line-height: 2rem; }
    .sidebar.menu-bar ul > li > a {
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;
      white-space: normal; }
    .sidebar.menu-bar ul > li > p {
      cursor: default; }
    .sidebar.menu-bar ul > li:hover::after {
      transform: scaleY(1); }
    .sidebar.menu-bar ul > li:hover > a {
      color: #bf8e44;
      background-color: transparent; }
    .sidebar.menu-bar ul > li.active {
      padding: 0; }
      .sidebar.menu-bar ul > li.active::after {
        transform: scaleY(1); }
      .sidebar.menu-bar ul > li.active > a {
        padding: 1.4rem 0 1.4rem 1.6rem;
        background-color: transparent;
        color: #bf8e44;
        margin-left: 0;
        border-radius: 0; }
  .sidebar.menu-bar .menu-aps {
    background-color: #f2f4f7; }
    .sidebar.menu-bar .menu-aps > li {
      padding-left: 1.6rem; }
      .sidebar.menu-bar .menu-aps > li.active {
        padding-left: 1.6rem; }
    .sidebar.menu-bar .menu-aps > li.aps-parent {
      padding-left: 0; }
      .sidebar.menu-bar .menu-aps > li.aps-parent:after {
        display: none; }
      .sidebar.menu-bar .menu-aps > li.aps-parent:hover a {
        color: #1f1f22; }

.document-body {
  padding-top: 8rem;
  min-height: calc( 100vh - 8rem); }

.react-checkbox-tree ol ol {
  margin-left: 1.8rem; }

.react-checkbox-tree ol > li.rct-node > .rct-text:hover {
  color: #bf8e44; }

.react-checkbox-tree button,
.react-checkbox-tree .button,
.react-checkbox-tree a.button {
  border: 0;
  padding: 0;
  min-width: 2rem;
  margin-top: -0.2rem; }
  .react-checkbox-tree button:focus,
  .react-checkbox-tree .button:focus,
  .react-checkbox-tree a.button:focus {
    padding: 0; }
  .react-checkbox-tree button:active,
  .react-checkbox-tree .button:active,
  .react-checkbox-tree a.button:active {
    background-color: transparent; }

.react-checkbox-tree input[type='checkbox'] {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute; }

.react-checkbox-tree .rct-node label {
  padding-left: 2.5rem;
  padding-top: 0.2rem;
  vertical-align: text-top;
  cursor: pointer;
  position: relative; }
  .react-checkbox-tree .rct-node label::before, .react-checkbox-tree .rct-node label::after,
  .react-checkbox-tree .rct-node label .rct-checkbox {
    position: absolute;
    top: 0.4rem;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem; }
  .react-checkbox-tree .rct-node label .rct-icon.rct-icon-check {
    background-color: #c9984e;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;
    position: absolute;
    margin-left: 0.2rem; }
    .react-checkbox-tree .rct-node label .rct-icon.rct-icon-check::after {
      content: '\e96c';
      color: #fff;
      font-family: 'novicon', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: bolder;
      text-align: center;
      line-height: 1.5;
      transform: scale(0);
      transition: transform 0.2s ease-out;
      position: relative;
      left: 0.2rem;
      top: -0.2rem; }
  .react-checkbox-tree .rct-node label .rct-icon.rct-icon-half-check {
    background-color: transparent;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.2rem;
    position: absolute;
    margin-left: 0.2rem; }
    .react-checkbox-tree .rct-node label .rct-icon.rct-icon-half-check::after {
      content: ' ';
      width: 1.1rem;
      height: 0.2rem;
      background-color: #c9984e;
      top: 0.7rem;
      left: 0.2rem;
      position: absolute; }
  .react-checkbox-tree .rct-node label::before {
    content: ' ';
    background-color: #fff;
    border: 1px solid #d0d7dd;
    margin-left: 0.2rem; }
  .react-checkbox-tree .rct-node label:hover::before {
    border-color: #e0c04b; }

.react-checkbox-tree span.rct-collapse * {
  padding: 0 1rem; }
  .react-checkbox-tree span.rct-collapse * * {
    display: inline-block;
    margin: 0;
    width: 1.4rem; }

.react-checkbox-tree .checked > .rct-text {
  color: #c9984e;
  position: relative; }
  .react-checkbox-tree .checked > .rct-text::after {
    content: '\e94f';
    margin-left: 0.4rem;
    font-family: 'novicon' !important;
    vertical-align: top; }

.advocate-select .pick-all {
  padding-left: 2.2rem; }
  .advocate-select .pick-all:hover {
    color: #bf8e44; }

.advocate-select li {
  margin-bottom: 0.8rem; }

.advocate-select ol li {
  margin-bottom: 0.4rem; }

.advocate-select ol ol {
  margin-bottom: 1.6rem;
  margin-top: 0.8rem; }

.compare-settings .tag {
  margin-left: 1.6rem; }
  .compare-settings .tag:before {
    width: .8rem;
    height: .8rem;
    margin-top: .6rem;
    left: -1.6rem; }

.compare-settings li {
  margin-bottom: 1.6rem; }
  .compare-settings li .subtitle {
    margin-bottom: .6rem; }

.order {
  width: 60rem;
  border: 1px solid #d0d7dd;
  padding: 3rem 3rem 4rem;
  margin-top: 2.4rem;
  position: relative;
  z-index: 1;
  float: left;
  font-size: 1.4rem;
  margin-right: 1rem; }
  .order .subtitle {
    font-size: 1.2rem; }
  .order h2 {
    font-size: 2.6rem;
    line-height: 4rem;
    padding: 0;
    margin-top: 1.8rem;
    margin-bottom: 2rem; }
  .order li {
    display: flex;
    margin-bottom: 2.2rem; }
  .order .order-content {
    flex-grow: 1;
    margin-left: 1rem;
    text-align: center; }
    .order .order-content .order-caption {
      border-bottom: 1px solid #7d838a;
      font-style: italic;
      padding-bottom: 0.2rem;
      margin-bottom: 0.2rem; }

.filter-table td:first-of-type {
  min-height: 5.6rem; }

.row-quick-view table {
  width: 50%; }
  .row-quick-view table:nth-of-type(n+3) {
    padding-top: 2.6rem; }

.quick-view-content {
  font-size: 1.4rem; }
  .quick-view-content tbody tr:hover {
    background-color: inherit; }
  .quick-view-content td {
    padding: 0.52rem 1.2rem; }
  .quick-view-content .quick-view-title td {
    background-color: #f2f4f7;
    padding: 0.7rem 1.2rem; }
  .quick-view-content .quick-view-title + tr td {
    padding-top: 1.2rem; }
  .quick-view-content .quick-view-divider {
    height: 2.6rem; }

.general-settings-table th, .general-settings-table td {
  padding-left: 0;
  padding-bottom: 0.2rem; }

.general-settings-table thead:after {
  height: 0; }

.general-settings-table thead th {
  border: none; }

.general-settings-table tr:hover {
  background-color: transparent !important; }

.general-settings-table li {
  padding-top: 1.2rem;
  padding-bottom: 0.2rem; }

[class*='sorted'].untitled:after {
  margin-left: 0.25rem;
  margin-top: -1rem; }

.card-comments {
  max-width: 80rem; }

.custom-list li {
  padding-left: .8rem;
  padding-right: .8rem;
  padding-bottom: .4rem; }
  .custom-list li span {
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
    .custom-list li span:before {
      content: "\e98d";
      font-family: 'prodicon' !important;
      font-size: 16px;
      margin-right: .8rem; }

.dropdown-action ul {
  padding: .4rem !important; }

footer.footer {
  position: relative;
  padding: 0 3.4rem;
  font-size: 1.3rem;
  background: #fafafa;
  height: 8rem; }

.registry-number .invalid-message-list {
  white-space: nowrap; }

.addendum-phone {
  width: 11rem; }

.user-add-phone {
  width: 10rem; }

.email {
  width: calc(30% + 14.2rem); }

.profile-email {
  width: calc( 15% + 24.6rem); }

.modal-email {
  width: calc( 55% + 14.2rem); }

.profile-contacts-label {
  width: 6.2rem; }

.notifications-wrapper {
  z-index: 600; }
  .notifications-wrapper.notifications-top .notifications-item {
    background-color: #4A4A4A;
    color: #fff; }

.loading {
  position: relative;
  background-color: #e4e8eb;
  overflow: hidden;
  color: transparent; }
  .loading::after {
    display: block;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: loading 1.5s infinite; }
  .loading .input-element-wrapper, .loading .multiselect-input-wrapper {
    opacity: 0; }
  .loading .checkbox-label:before, .loading .checkbox-label:after {
    display: none; }
  .loading * {
    cursor: progress; }

label.loading {
  height: 4rem;
  margin-top: 0 !important;
  margin-bottom: -1rem; }

@keyframes loading {
  100% {
    transform: translateX(100%); } }

@media (max-width: 1399px) {
  .timer {
    font-size: 1.8rem;
    line-height: 1.8rem; } }

@media (max-width: 1279px) {
  .personal-box {
    padding: 0 2.6rem 0 2rem; }
  .wrapper {
    padding-left: 2rem;
    padding-right: 2rem; }
  .title-block .backward-link {
    left: -0.6rem; }
    .title-block .backward-link + h1 {
      margin-left: 2.2rem; }
  .title-block .subheading {
    margin-left: 2.2rem; }
  footer.footer {
    padding: 0 2.6rem; } }

@media (max-width: 1200px) {
  .email {
    width: calc(40% + 14.2rem); } }

@media (max-width: 575.98px) {
  .auth .logo {
    width: 20rem;
    margin-bottom: 3.4rem; } }

@media (max-width: 320px) {
  .auth .form-block {
    width: 28rem; } }

/*# sourceMappingURL=arpn.css.map */