@charset "UTF-8";
body.courier img {
  max-width: 100%; }

body.start-page .content-box {
  margin-left: 0; }

body:not(.nova) .filter-container {
  background-color: #fafafa;
  padding: 1rem;
  border-top: 0; }

body.sphere .wrapper {
  padding-right: 4.4rem; }

body.sphere .header .menu-h .level-1 .dropdown i,
body.sphere .header .menu-h .level-1 > a i {
  color: #fff; }

body.sphere .sidebar {
  height: auto;
  top: 5.1rem;
  padding: .8rem 0 0; }

body.sphere .k-grid tr.secondary {
  background-color: #fafafa; }

body.nova .personal-box .right .menu-h > li > div:not(.clear) {
  padding: 0.8rem 1.6rem; }

body.nova .sidebar {
  height: auto;
  top: 6rem;
  padding-bottom: 0; }
  body.nova .sidebar ul > li {
    transition: 0s; }
  body.nova .sidebar .prodicon-caretdown {
    display: inline-block; }

body.nova .content-box {
  padding-bottom: 6rem; }

body.nova .k-grid tr.secondary {
  background-color: #e4e8eb; }

body.alpha .sidebar {
  height: auto;
  top: 7.1rem;
  padding: 0; }

.personal-box .count.sup {
  top: .4rem;
  right: .4rem; }

.personal-box .co-browsing-eye {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 1.6rem;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  cursor: pointer;
  transition: background-color .3s; }
  .personal-box .co-browsing-eye:hover {
    background-color: #f2f4f7; }
  .personal-box .co-browsing-eye:active {
    background-color: #e4e8eb; }
  .personal-box .co-browsing-eye.co-browsing-eye_load:hover, .personal-box .co-browsing-eye.co-browsing-eye_load:active {
    background-color: transparent; }

/* special fix aside */
.dcb .menu-box .menu-h, .sphere .menu-box .menu-h {
  padding: 0.3rem 0 0; }

.dcb .menu-box .button, .sphere .menu-box .button {
  line-height: 1.6rem; }

/* treeview */
.dropdown.treeview [class*="level-"]:hover > a, .dropdown.treeview .active[class*="level-"] > a, .dropdown.treeview ul:hover [class*="level-"] > a,
.dropdown.treeview [class*="level-"]:hover > span,
.dropdown.treeview .active[class*="level-"] > span,
.dropdown.treeview ul:hover [class*="level-"] > span {
  background-color: transparent; }

.dropdown:hover {
  z-index: 90; }

.dropdown.treeview > ul {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 60vh;
  width: 60vw; }

.dropdown.treeview [class*="level-"]:not(.level-2) ul {
  padding-left: 1rem; }

.dropdown.treeview [class*="level-"] > a,
.dropdown.treeview [class*="level-"] > div,
.dropdown.treeview [class*="level-"] > span {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  white-space: normal; }

.dropdown-multiselect .dropdown-button > a:not(.button) {
  padding-left: 3.6rem; }

.dropdown > ul.saved-filter {
  overflow-y: auto;
  max-height: 60vh;
  max-width: 24vw;
  scrollbar-width: thin; }
  .dropdown > ul.saved-filter a:not(.button) {
    max-width: 16rem;
    white-space: normal; }
  .dropdown > ul.saved-filter a.button {
    width: 5rem;
    padding: .5rem 1.5rem;
    margin: 0; }

/* Notification */
.info-dcb .message {
  background-color: #fcf7cc;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #fecb00;
  color: inherit; }
  .info-dcb .message a {
    color: inherit; }
  .info-dcb .message .button {
    border-color: inherit; }
  .info-dcb .message .uicon-multiply {
    font-size: 1rem;
    vertical-align: middle; }

/*Authorization*/
.auth .header {
  display: none; }

.auth .content-box > * > .box {
  background: transparent;
  border: none;
  padding: 0; }

.auth > * > .wrapper {
  background: transparent; }

/* table */
table td ul.list-in-cell li {
  padding-bottom: .5rem; }
  table td ul.list-in-cell li:last-child {
    padding: 0; }

table .dropdown-multiselect {
  overflow: visible; }
  table .dropdown-multiselect .dropdown {
    text-transform: none; }

.form-table {
  color: gray;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0; }
  .form-table thead {
    color: gray; }
  .form-table th {
    background: #f5f5f5;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    white-space: normal;
    font-weight: 700;
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    padding: 0.2rem; }
    .form-table th .k-header {
      font-size: 1.1rem;
      white-space: normal; }
  .form-table td {
    border: 1px solid #dcdcdc;
    vertical-align: middle;
    padding: 0.2rem; }
    .form-table td.first {
      border-left-color: #fff; }
    .form-table td.last {
      border-right-color: #fff; }
  .form-table tfoot {
    color: gray; }
    .form-table tfoot td {
      white-space: nowrap; }
      .form-table tfoot td.first, .form-table tfoot td.last {
        border-bottom-color: #fff; }
  .form-table .txt-table, .form-table .number-table {
    padding: 0.6rem;
    color: #1f1f22;
    text-align: right;
    display: block; }
  .form-table .txt-table {
    text-align: right; }
  .form-table .number-table {
    text-align: left; }
  .form-table .content-show:hover {
    padding: 0; }
    .form-table .content-show:hover > * {
      display: inherit;
      width: 100%;
      padding: 0.8rem;
      background-color: #fff;
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.06);
      overflow: visible;
      z-index: 1; }
  .form-table .content-show > * {
    position: relative;
    overflow: hidden; }

.textarea-string {
  resize: none;
  min-height: 0 !important; }

/* toolbar */
.uvhd .toolbar {
  padding: 0.5rem; }

/* saved filters dropdown li */
.flex-justify-between {
  display: flex;
  justify-content: space-between; }
  .flex-justify-between:hover {
    background-color: #f5f5f5; }

/* для статусов в списке связанных док-ов */
.status-table {
  width: 15rem;
  margin-left: 1rem; }

/* icon margin */
.icon-left {
  margin: 0 0.5rem 0 -2.5rem; }

.icon-15 {
  font-size: 1.5rem;
  vertical-align: middle; }

/* Login */
.login .header {
  display: none; }

.login .box > .inner {
  padding: 7% 13%; }

.login ul.branch-list {
  border-color: #d0d7dd;
  height: 12rem;
  overflow: auto;
  border-radius: .6rem; }
  .login ul.branch-list:hover {
    border-color: #4a4a4a; }
  .login ul.branch-list > li {
    padding: 0.2rem 0.5rem;
    cursor: pointer; }
    .login ul.branch-list > li.k-state-selected {
      color: #1f1f22;
      background-color: #e4e8eb; }
    .login ul.branch-list > li:hover {
      background-color: #f3f5f7; }

.login .content-box {
  padding-top: 7rem; }

.login.aside .content-box {
  margin-left: 0; }

/* input-box in create doc*/
.input-box .left {
  float: left;
  padding-right: 1rem; }

.input-box:after {
  content: " ";
  display: block;
  float: none !important;
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/* список dl>dt+dd */
.form .txt-form {
  display: block;
  margin-top: 0.6rem; }

.count-more {
  background-color: #f1f1f1; }

.sub-box .menu-h {
  margin-bottom: 2rem; }

.nova .menu-h > li.dropdown > span:after {
  content: "\e998";
  font-family: 'prodicon';
  font-size: 1.6rem;
  vertical-align: middle; }

.nova .menu-h > li.dropdown > span .count {
  transform: scale(0.7);
  margin-top: -0.5rem; }

.nova .menu-h > li.dropdown > span:after {
  padding-left: 0.1rem; }

.nova .menu-h > li.dropdown > span .count:empty {
  transform: none;
  min-width: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff9900;
  border-radius: 50%;
  margin-top: -0.2rem;
  margin-right: -0.4rem;
  margin-left: -0.2rem; }

.nova .logo a,
.nova .logo:hover a {
  display: block;
  height: 3.5rem;
  width: 16rem;
  background-image: url(https://cdn.esphere.ru/images/nova/SBLogo.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0; }

.filter-container .dropdown > a.txt-black .count {
  margin-top: -0.3rem;
  padding: 0.2rem 0.4rem; }

.filter-container .dropdown .button .count {
  margin-right: -0.2rem; }

.menu-h > li.logo + li > span {
  box-shadow: none; }

/* Pagination */
.k-pager-wrap .k-pager-sizes .k-combobox {
  margin: 0 2rem 0 .4rem;
  max-width: 8rem; }

.k-pager-wrap .k-pager-sizes .k-input {
  padding: .5rem .9rem; }

.k-pager-wrap .k-pager-sizes .k-dropdown-wrap {
  border-width: 1px;
  padding-right: 2.8rem; }

.k-pager-wrap .k-pager-sizes .k-select {
  width: 2.8rem; }

/* empty list with icon */
.empty-list {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.margin-5 {
  margin-left: 5%; }

.filter-minheight {
  min-height: 36rem; }

.visibility-filter > .k-tabstrip-items {
  background-color: transparent;
  border-bottom: 1px solid #e4e8eb; }

.spoiler-content {
  display: inline; }

.button-support {
  position: fixed;
  bottom: 50%;
  right: 0;
  min-width: 2rem;
  padding: 1.2rem 0 1.2rem .2rem;
  color: #fff;
  border-radius: 1rem 0 0 1rem;
  transition: .3s; }
  .button-support:hover {
    transition: .3s;
    padding: 1.2rem;
    color: #fff; }

.online-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #107f8c;
  box-shadow: -0.4rem 0 2rem rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  padding: 0;
  transition: background-color .3s ease 0s;
  z-index: 700; }
  .online-chat:hover {
    background-color: #21a19a; }
  .online-chat [class*="prodicon-"] {
    color: #fff;
    font-size: 2.4rem; }
  .online-chat [class*="prodicon-closemedium"] {
    font-size: 2rem; }

@-moz-document url-prefix() {
  .button > .count, button > .count {
    margin-right: 0; } }

.menu-h:focus li {
  border: 2px solid; }

.k-i-arrow-60-down.k-i-loading:before {
  background: none;
  font-size: 21px; }

.k-i-arrow-60-down.k-i-loading:after {
  font-size: 17px; }

.tree-table-item {
  position: relative;
  clear: both; }
  .tree-table-item p {
    overflow: hidden; }
  .tree-table-item i {
    float: left;
    padding-right: .5rem; }

.list-tree > li.tree-table-item > div:nth-child(2) {
  position: relative; }
  .list-tree > li.tree-table-item > div:nth-child(2)::after {
    border-left: 0.1rem solid #949494;
    content: " ";
    display: block;
    position: absolute;
    top: 60%;
    left: 1rem;
    height: 40%; }

.list-tree li li.tree-table-item {
  padding-left: 2.5rem;
  color: #949494; }
  .list-tree li li.tree-table-item::before, .list-tree li li.tree-table-item::after {
    left: 1rem;
    width: 1rem; }

.tree-data {
  width: 40rem;
  float: right; }
  .tree-data i {
    float: none;
    clear: both; }

li .tree-data {
  color: #949494; }

.tree-header {
  font-weight: 500; }

.dropdown-doclist {
  width: 50rem; }
  .dropdown-doclist [class*="level-"] > a, .dropdown-doclist [class*="level-"] span {
    white-space: normal; }

.background-none {
  background-color: transparent !important; }

.overflow-hidden {
  overflow: hidden; }

.user-box {
  position: relative; }
  .user-box + .head-service:not(:empty) {
    padding-top: 8rem; }
  .user-box + .content-wrapper {
    padding-top: 7.2rem; }

.sidebar nav .nova-nav {
  padding-top: 8rem;
  height: calc(100% - 8rem); }

.sidebar .prodicon-caretdown {
  display: none; }

.total-preloader-container {
  z-index: 91; }

.common-loader {
  margin: 0 auto; }

.scrolled-table {
  width: 100%;
  overflow-y: auto;
  max-height: 30rem; }
  .scrolled-table::-webkit-scrollbar {
    width: .5rem;
    height: .8rem; }

.verification-table-header {
  min-height: 2rem;
  border: 1px solid #e5e5e5;
  border-bottom: 0; }
  .verification-table-header th {
    line-height: 2.1rem; }
    .verification-table-header th > i {
      margin-top: -.2rem; }

.verification-table-body {
  overflow: auto;
  border: 1px solid #e5e5e5;
  height: 44rem;
  position: relative;
  overflow-y: hidden;
  scrollbar-width: thin; }
  .verification-table-body td {
    word-wrap: break-word; }
  .verification-table-body .k-grid-content {
    height: 43.3rem !important; }
  .verification-table-body.small {
    height: 10.8rem;
    margin-bottom: 1rem; }
    .verification-table-body.small .k-grid-header {
      display: none; }
    .verification-table-body.small .k-grid-content {
      height: inherit !important; }

.k-calendar .k-content .k-state-selected a.checked,
.k-calendar .k-state-focused a.checked,
.k-calendar .k-state-hover a.checked,
.k-calendar .k-content a.checked,
.k-calendar .k-content a.checked {
  background: #ffd9a0; }

/* хак под IE10 IE11 для отображения левого меню */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sidebar {
    height: auto !important; }
  .nova .sidebar .accordion > li > a, .nova .sidebar .accordion > li > span {
    padding-right: 2rem !important; }
  .nova .sidebar .accordion > li > ul > li > a, .nova .sidebar .accordion > li > ul > li > span {
    padding-right: 2rem !important; } }

/*# sourceMappingURL=courier.css.map */