.margin-left-5 {
  margin-left: 5%; }

.margin-right-5 {
  margin-right: 5%; }

.margin-left-10 {
  margin-left: 10%; }

.margin-right-10 {
  margin-right: 10%; }

.margin-left-15 {
  margin-left: 15%; }

.margin-right-15 {
  margin-right: 15%; }

.margin-left-20 {
  margin-left: 20%; }

.margin-right-20 {
  margin-right: 20%; }

.dms-logo {
  width: 13rem;
  height: 100%; }

.wrapper {
  max-width: 160rem; }

.sidebar + .content-box .wrapper {
  margin: initial; }

.user-box {
  position: fixed;
  width: 100%;
  box-shadow: 0.1rem 0.5rem 1.5rem rgba(125, 131, 138, 0.4);
  background: #fff;
  z-index: 91; }

.personal-box .novicon-expand {
  color: #d0d7dd;
  font-size: 1.4rem;
  padding-left: 1.6rem; }

.dms-content {
  display: flex;
  flex: auto; }

.content-box {
  padding-top: 10rem; }

.sidebar {
  background-color: #f2f4f7;
  width: 10.6rem;
  padding-top: 8rem; }

.sidebar.sidebar-full {
  width: 38.9rem;
  flex: 0 0 38.9rem;
  position: unset !important;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 100vh;
  padding-bottom: 10rem; }

.sidebar + .content-box {
  padding-left: 16.85rem; }

.sidebar.sidebar-full + .content-box {
  flex: 1 1 100%;
  display: flex;
  padding-left: 2rem;
  margin-bottom: auto; }

.avatar {
  background-color: #90d0cc;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: #1f1f22;
  font-size: 1.8rem;
  line-height: 2.2; }

.empty-page-icon {
  margin: 2rem auto; }

.icon-2rem, .icon-2-rem {
  width: 2rem;
  height: 2rem; }

.icon-3rem, .icon-3-rem {
  width: 3rem;
  height: 3rem; }

.icon-account {
  width: 3.6rem;
  height: 3.6rem; }

.system-menu {
  margin-left: calc(10.6rem + 5rem); }

.sidebar ul.icon-menu {
  height: 100%;
  width: 8rem; }
  .sidebar ul.icon-menu > li {
    background-size: 3.2rem;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    padding: 0; }
    .sidebar ul.icon-menu > li.active, .sidebar ul.icon-menu > li:hover {
      font-weight: 500;
      background-color: transparent; }
      .sidebar ul.icon-menu > li.active > a, .sidebar ul.icon-menu > li:hover > a {
        background-color: transparent; }
      .sidebar ul.icon-menu > li.active::after, .sidebar ul.icon-menu > li:hover::after {
        content: none; }
    .sidebar ul.icon-menu > li.account {
      background-size: 4.6rem;
      background-position: top center;
      background-image: url("https://cdn.esphere.ru/images/dms/account.svg"); }
      .sidebar ul.icon-menu > li.account.active, .sidebar ul.icon-menu > li.account:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/account_active.svg"); }
    .sidebar ul.icon-menu > li.employees {
      background-image: url("https://cdn.esphere.ru/images/dms/profile.svg"); }
      .sidebar ul.icon-menu > li.employees.active, .sidebar ul.icon-menu > li.employees:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/profile_active.svg"); }
    .sidebar ul.icon-menu > li.cart {
      background-image: url("https://cdn.esphere.ru/images/dms/cart.svg"); }
      .sidebar ul.icon-menu > li.cart.active, .sidebar ul.icon-menu > li.cart:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/cart_active.svg"); }
    .sidebar ul.icon-menu > li.settings {
      background-image: url("https://cdn.esphere.ru/images/dms/settings.svg"); }
      .sidebar ul.icon-menu > li.settings.active, .sidebar ul.icon-menu > li.settings:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/settings_active.svg"); }
    .sidebar ul.icon-menu > li.market {
      background-image: url("https://cdn.esphere.ru/images/dms/market.svg"); }
      .sidebar ul.icon-menu > li.market.active, .sidebar ul.icon-menu > li.market:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/market_active.svg"); }
    .sidebar ul.icon-menu > li.templatecreator {
      background-image: url("https://cdn.esphere.ru/images/dms/templates.svg"); }
      .sidebar ul.icon-menu > li.templatecreator.active, .sidebar ul.icon-menu > li.templatecreator:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/templates_active.svg"); }
    .sidebar ul.icon-menu > li.usersclient {
      background-image: url("https://cdn.esphere.ru/images/dms/users_client.svg"); }
      .sidebar ul.icon-menu > li.usersclient.active, .sidebar ul.icon-menu > li.usersclient:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/users_client_active.svg"); }
    .sidebar ul.icon-menu > li.productselection {
      background-position: 60% 20%;
      background-image: url("https://cdn.esphere.ru/images/dms/selection.svg"); }
      .sidebar ul.icon-menu > li.productselection.active, .sidebar ul.icon-menu > li.productselection:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/selection_active.svg"); }
    .sidebar ul.icon-menu > li.promotion {
      background-image: url("https://cdn.esphere.ru/images/dms/promotion.svg"); }
      .sidebar ul.icon-menu > li.promotion.active, .sidebar ul.icon-menu > li.promotion:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/promotion_active.svg"); }
    .sidebar ul.icon-menu > li.help {
      position: absolute;
      left: 1.4rem;
      width: 8rem;
      bottom: 0;
      background-image: url("https://cdn.esphere.ru/images/dms/helpdesk.svg"); }
      .sidebar ul.icon-menu > li.help.active, .sidebar ul.icon-menu > li.help:hover {
        background-image: url("https://cdn.esphere.ru/images/dms/helpdesk_active.svg"); }
    .sidebar ul.icon-menu > li > a {
      padding: 4.8rem 0 0;
      line-height: 1.43;
      margin-left: 0; }

img + .count {
  font-size: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  min-width: 1.6rem;
  padding: 0 0.1rem;
  line-height: 1.6;
  position: absolute;
  left: 2.4rem;
  top: 0; }

.button-wrapper.blank {
  color: #0f5498; }

.list > dt,
.list > dd {
  padding-top: 0.2rem;
  margin-bottom: 1rem; }

.blocked {
  background-color: #f2f4f7;
  color: #949494; }

.mail {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem; }

.scroll-data {
  max-height: 40rem;
  overflow-y: auto;
  scrollbar-width: thin; }

.scroll-data-min {
  max-height: 30rem;
  overflow-y: auto;
  scrollbar-width: thin; }

.constructor table {
  border-collapse: collapse; }
  .constructor table td,
  .constructor table th {
    border: 1px solid #e4e8eb;
    padding: 1.6rem; }
  .constructor table th {
    text-align: left;
    font-weight: normal; }

.constructor .turn-left {
  position: relative;
  height: 40rem; }
  .constructor .turn-left .add-option {
    transform: rotate(-90deg);
    width: 24rem;
    right: calc(100% - 13.6rem);
    position: absolute;
    top: 35%; }

.constructor .col-height {
  height: 44rem; }

.constructor .list-tree li {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }
  .constructor .list-tree li li {
    padding-left: 2rem; }
    .constructor .list-tree li li::before {
      height: 1.5rem; }
    .constructor .list-tree li li::after, .constructor .list-tree li li::before {
      left: 1rem;
      width: 1rem; }

.constructor .list-tree i {
  color: #d0d7dd; }

.constructor .bg-gray {
  background-color: #f2f4f7; }

.constructor .txt-lightgray {
  color: #b2b8bf; }

.constructor .col-width-2 {
  width: calc((100% - 50rem) / 2); }

.constructor .col-width-3 {
  width: calc((100% - 50rem) / 3); }

.constructor .col-width-4 {
  width: calc((100% - 50rem) / 4); }

.constructor .col-width-5 {
  width: calc((100% - 50rem) / 5); }

.constructor .flex-10-auto {
  flex: 1 0 auto; }

.constructor .collapsible {
  padding: 1.6rem 0 0 1.6rem;
  position: relative; }
  .constructor .collapsible .collapse-btn {
    width: 1.6rem;
    position: relative;
    background-color: #e4e8eb;
    cursor: pointer;
    height: calc(100% + 1.6rem);
    float: right;
    margin-top: -1.6rem; }
    .constructor .collapsible .collapse-btn::after {
      position: absolute;
      content: '\e970';
      font-family: 'novicon' !important;
      width: 1.6rem;
      height: 100%;
      left: 0;
      top: 45%; }
  .constructor .collapsible.turn-left {
    background-color: #fbfbfd; }

.constructor .factor-table .factor-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }
  .constructor .factor-table .factor-row:nth-child(n + 2) {
    border-top: 0.1rem solid #d0d7dd;
    padding-top: 1rem; }

::-webkit-scrollbar-track {
  background: #f2f4f7; }

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(31, 31, 34, 0.3);
  background-color: #d0d7dd; }

.button-group-wrapper.button-group-min .button-group-item {
  min-width: 1rem;
  padding: 0.5rem 1.2rem; }

.dropdown-list li > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.dropdown-list ol,
.dropdown-list ul {
  margin-left: 4.2rem; }

.dropdown-list i {
  color: #7d838a; }

.feature-list .checkbox-label {
  display: inline-block; }

.product-item, .product-catalog-item, .sale-item {
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09); }

.product-item {
  width: 35.2rem;
  min-height: 30rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column; }
  .product-item > img {
    width: 100%;
    height: 15.2rem;
    object-fit: contain; }
  .product-item div[class*='ending'] {
    width: 100%;
    margin-top: auto; }
  .product-item .item-price {
    font-size: 2.1rem;
    font-weight: 600;
    margin-top: 0.5rem; }

.flex-wrap {
  flex-wrap: wrap; }

.filter-fixed {
  background-color: #f2f4f7;
  width: 38.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-right: 1px solid #d0d7dd; }

.scroll-x {
  padding: 1rem;
  overflow-x: auto;
  width: 98%;
  height: 35rem;
  white-space: nowrap; }

.product-catalog-item {
  width: 42.4rem;
  height: 30.8rem;
  display: inline-block;
  margin-right: 1.6rem; }
  .product-catalog-item > img {
    width: 100%;
    height: 20.4rem;
    object-fit: cover; }

.sale-item {
  height: auto;
  padding: 1.6rem 0.4rem 1.6rem 2.4rem;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .sale-item .item-price {
    font-size: 2.1rem;
    line-height: 3.2rem;
    font-weight: 500;
    margin: 0 1.6rem; }

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 23rem; }
  .table-responsive th:first-child,
  .table-responsive td:first-child {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 5; }
  .table-responsive tr:hover td:first-child {
    background-color: #f2f4f7; }

.bank-label {
  align-content: center; }

.chat {
  width: 46.6rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 2rem;
  padding-left: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: #f2f4f7;
  transition: right;
  transition-duration: 500ms; }
  .chat .chat-hide-button {
    position: absolute;
    left: 1.1rem;
    top: 7.8rem;
    z-index: 3;
    height: 100vh; }
  .chat .chat-header {
    position: absolute;
    top: 0;
    background: #f2f4f7;
    padding-top: 15.8rem;
    padding-bottom: 1.2rem;
    z-index: 2;
    font-weight: 500;
    width: 100%; }
  .chat .chat-footer {
    position: absolute;
    bottom: 1.2rem;
    background: #f2f4f7;
    z-index: 3;
    width: 100%;
    padding-top: 1.2rem; }
  .chat .chat-body {
    height: 100%;
    overflow-y: scroll;
    padding-top: 18.2rem;
    padding-bottom: 18.2rem; }
    .chat .chat-body .chat-messages {
      margin-bottom: 3.2rem; }
      .chat .chat-body .chat-messages .chat-message {
        position: relative;
        width: fit-content;
        max-width: 92%;
        background: #fff;
        padding: 1.2rem 2.4rem;
        border-radius: 2.4rem;
        margin-bottom: 1.6rem; }
        .chat .chat-body .chat-messages .chat-message.new:after {
          content: '';
          position: absolute;
          height: 0.7rem;
          width: 0.7rem;
          border-radius: 50%;
          background: #005e7f;
          right: -1.2rem;
          top: 0; }

.chat-hide {
  right: -42.5rem; }

.content-wrapper-chat-hide {
  transition: max-width;
  transition-duration: 500ms;
  padding-right: 4.1rem; }

.content-wrapper-chat {
  padding-right: 46.6rem; }

.dropdown > ul {
  min-width: max-content; }

@media (max-width: 1200px) {
  .dropdown > ul:not(.pos-right) {
    left: -10rem; } }

.radio-button label {
  padding-top: 1px; }

.warning-message {
  color: #ff9900; }

.reg-footer {
  border-radius: 0 0 0.8rem 0.8rem;
  margin: -0.9rem;
  padding: 1.6rem;
  background-color: #f2f4f7; }

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -0.4rem; }

.precalc-dialog-list > li:not(:last-child) {
  margin-bottom: 1.6rem; }

.dnd-container {
  padding-right: 41.6rem; }
  .dnd-container .dnd-header {
    border: 0.1rem solid #f2f4f7;
    box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09);
    border-radius: .6rem; }
    .dnd-container .dnd-header li {
      display: flex;
      align-items: center;
      justify-content: start;
      height: content-box;
      min-height: 4rem;
      border: 0.1rem solid #f2f4f7;
      border-radius: .6rem;
      background: #fff; }
  .dnd-container .dnd-group {
    border: 0.1rem solid #f2f4f7;
    box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09);
    border-radius: .6rem;
    padding-top: 1.6rem; }
    .dnd-container .dnd-group .dnd-empty-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: content-box;
      min-height: 4rem;
      border: 0.1rem dashed #d0d7dd;
      border-radius: .6rem;
      background: #fff; }
      .dnd-container .dnd-group .dnd-empty-item .dnd-fix-position {
        position: relative;
        right: -.2rem; }
    .dnd-container .dnd-group .dnd-filled-item {
      display: flex;
      align-items: center;
      height: content-box;
      min-height: 4rem;
      border: 0.1rem solid #d0d7dd;
      border-radius: .6rem;
      box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09);
      background: white; }
      .dnd-container .dnd-group .dnd-filled-item .dnd-drag-n-drop {
        cursor: pointer;
        width: 2.2rem;
        height: 2.2rem;
        align-self: center;
        padding: 0 1.6rem;
        margin-left: 1.6rem;
        background: no-repeat;
        background-image: url("https://cdn.esphere.ru/images/dms/ic_drag_n_drop.svg"); }
        .dnd-container .dnd-group .dnd-filled-item .dnd-drag-n-drop:hover {
          background-image: url("https://cdn.esphere.ru/images/dms/ic_drag_n_drop_hover.svg"); }
      .dnd-container .dnd-group .dnd-filled-item .dnd-button-container {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: flex-end; }
        .dnd-container .dnd-group .dnd-filled-item .dnd-button-container .dnd-checkbox {
          padding-top: .3rem; }
      .dnd-container .dnd-group .dnd-filled-item:hover .dnd-scale {
        position: absolute;
        right: 0;
        top: 1rem;
        width: 2.2rem;
        height: 2.2rem;
        background: no-repeat;
        background-image: url("https://cdn.esphere.ru/images/dms/ic_scale.svg"); }
        .dnd-container .dnd-group .dnd-filled-item:hover .dnd-scale:hover {
          background-image: url("https://cdn.esphere.ru/images/dms/ic_scale_hover.svg"); }

.dnd-available-fields-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  padding-right: 2rem;
  padding-left: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: #f2f4f7; }
  .dnd-available-fields-container .dnd-available-fields-header {
    position: relative;
    top: 0;
    background: #f2f4f7;
    padding-top: 11.8rem;
    padding-bottom: 1.2rem;
    padding-right: 2rem;
    z-index: 2;
    width: 100%; }
  .dnd-available-fields-container .dnd-available-fields-body {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 24.2rem; }
    .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list {
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: column;
      padding-right: 1.6rem;
      border-radius: .5rem;
      padding-top: 1.2rem; }
      .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list .dnd-available-field-item {
        position: relative;
        min-width: 25rem;
        height: 4.5rem;
        margin-bottom: 1rem;
        justify-content: start;
        border-radius: .5rem;
        align-items: center;
        background: white;
        border: 0.1rem solid #f2f4f7; }
        .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list .dnd-available-field-item:hover {
          box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09); }
          .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list .dnd-available-field-item:hover .dnd-available-field-item-button {
            position: absolute;
            width: 2.2rem;
            height: 2.2rem;
            left: 1.6rem;
            background: no-repeat;
            background-image: url("https://cdn.esphere.ru/images/dms/ic_drag_n_drop.svg"); }
        .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list .dnd-available-field-item .dnd-available-field-item-header {
          height: 4.5rem;
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 5.2rem; }
      .dnd-available-fields-container .dnd-available-fields-body .dnd-available-field-list .dnd-available-field-item-open {
        height: 100%; }

.content-wrapper-selection {
  margin-right: 38.8rem; }

.selection-content-box {
  padding-top: 10rem;
  margin-left: 10.6rem; }

.selection {
  width: 38.8rem;
  flex: 0 0 38.8rem;
  padding-bottom: 8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 8rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  min-height: 100%;
  height: 100vh;
  background: #f2f4f7;
  transition: right;
  transition-duration: 500ms; }
  .selection .filter-fixed {
    left: auto;
    right: 0;
    border: none; }

.selection + .selection-content-box {
  flex: 1 1 100%;
  display: flex;
  padding-left: 2rem;
  margin-bottom: auto; }

.selection-category-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.2rem; }
  .selection-category-container .selection-category-item {
    position: relative;
    width: 35.2rem;
    margin-top: 2.4rem;
    margin-right: 2.4rem;
    box-shadow: 0 0.2rem 0.7rem rgba(31, 31, 34, 0.09);
    border-radius: .6rem; }
    .selection-category-container .selection-category-item > h4 {
      width: 70%;
      padding-top: .8rem;
      padding-bottom: 1.6rem;
      padding-left: 2.4rem; }
    .selection-category-container .selection-category-item > img {
      width: 35.2rem;
      height: auto;
      object-fit: contain; }
    .selection-category-container .selection-category-item > button {
      position: absolute;
      width: 4rem;
      height: 4rem;
      right: 1.6rem;
      top: 14.8rem;
      border: 0.2rem solid #fff;
      border-radius: 50%; }

.selection-promo-container {
  display: flex;
  flex-wrap: wrap; }
  .selection-promo-container .selection-promo-item {
    position: relative;
    width: 25.4rem;
    height: 14.6rem;
    margin-top: 2.4rem;
    margin-right: 2.4rem;
    border-radius: .6rem; }
    .selection-promo-container .selection-promo-item > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .6rem; }
    .selection-promo-container .selection-promo-item > h6 {
      position: absolute;
      left: 1.6rem;
      right: 1.6rem;
      bottom: .8rem;
      color: #fff;
      text-shadow: 0.1rem 0.1rem 0.1rem #1f1f22; }

.promotion-filedrop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.2rem;
  height: 31.6rem;
  margin-top: 2.4rem;
  margin-right: 2.4rem; }

/*# sourceMappingURL=dms.css.map */