body.main .first {
  padding-top: 3rem; }

body.main.promo.kit .content-box {
  padding: 0; }

.landing {
  font-family: 'PT Sans', sans-serif; }
  .landing .wrapper {
    width: 100rem;
    margin: 0 auto;
    position: relative; }
  .landing h1 {
    font-size: 9rem;
    line-height: .85;
    font-family: "Hammersmith One", sans-serif;
    text-transform: none; }
  .landing h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: none;
    font-size: 8rem;
    line-height: 1;
    margin: 0 0 2rem 0; }
  .landing p {
    font-size: 2.4rem;
    line-height: 1.3;
    margin: 0 0 2rem 0;
    padding: 0; }
  .landing .header {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff; }
    .landing .header p {
      font-size: 3rem;
      line-height: 1.1;
      margin: 0 0 1.5rem 0; }

.landing-item {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100vh; }
  .landing-item > * {
    display: table-row; }
  .landing-item > * > * {
    display: table-cell;
    vertical-align: middle; }

.pos-r {
  position: relative; }

.nav-services a, .nav-main a {
  margin: .4rem;
  padding: .9rem 3rem;
  border-radius: .5rem;
  color: #ffffff; }
  .nav-services a:hover, .nav-main a:hover {
    background-color: #199884;
    color: #ffffff; }

.nav-services a {
  display: block;
  font-size: 2rem; }

.nav-main a {
  display: inline-block;
  font-size: 1.8rem; }
  .nav-main a.cta:hover {
    background-color: #20bba3; }

.cta {
  background-color: #199884; }

.technologies li a, .underline {
  display: inline-block;
  padding: 0 0 .3rem 0;
  border-bottom: .3rem solid;
  font-size: 2.1rem;
  line-height: 2rem; }

.technologies li a {
  padding-top: 1.5rem; }

.technologies li:first-child {
  padding-top: 0; }

.technologies li.main {
  font-size: 2.4rem;
  line-height: 1;
  padding: 0; }

.analytics .pictures,
.designers .pictures,
.developers .pictures,
.qa .pictures {
  position: absolute;
  height: 30rem;
  width: 40rem;
  top: 50%;
  margin-top: -15rem;
  right: 0;
  background: no-repeat 50% 50%;
  background-size: contain; }

.analytics .pictures {
  background-image: url("https://cdn.esphere.ru/images/main/analytics.svg"); }

.designers .pictures {
  background-image: url("https://cdn.esphere.ru/images/main/designers.svg"); }

.developers .pictures {
  background-image: url("https://cdn.esphere.ru/images/main/developers.svg"); }

.qa .pictures {
  background-image: url("https://cdn.esphere.ru/images/main/qa.svg"); }

.angular {
  margin: 2rem 0 0 0; }
  .angular p {
    margin: 0; }
  .angular * {
    display: inline-block;
    vertical-align: middle;
    padding: 0; }

.logo-angular {
  height: 8rem;
  width: 8rem;
  margin: 0 2rem 0 0;
  background: url("https://cdn.esphere.ru/images/main/angular.png") no-repeat 50% 50%;
  background-size: contain; }

.whale-logo {
  height: 5rem;
  width: 8rem;
  margin: 0 0 3rem 0; }

.whale-in {
  position: absolute;
  height: 11rem;
  width: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.body path {
  transform: translate(-10px, -10px); }

.body-filter {
  stroke: #cacaca; }

.light .technologies li a, .light .underline {
  border-bottom-color: #199884; }
  .light .technologies li a:hover, .light .underline:hover {
    color: #199884; }

.light {
  color: #000000; }
  .light .landing .header {
    background: #67597A url("https://cdn.esphere.ru/images/main/light-header-background.jpg") no-repeat 0 70%;
    background-size: cover; }
  .light .technologies {
    background-color: #ffe490; }
    .light .technologies li a {
      color: #2db9a6; }
  .light .underline {
    color: #FFFDE1; }
  .light .analytics {
    background-color: #91c8d6; }
  .light .designers {
    background-color: #68c5c2; }
  .light .developers {
    background-color: #9acb9f; }
  .light .qa {
    background-color: #cbd17e; }

.dark .technologies li a, .dark .underline {
  border-bottom-color: #edff8f;
  color: #FFFDE1; }
  .dark .technologies li a:hover, .dark .underline:hover {
    color: #edff8f; }

.dark {
  color: #ffffff; }
  .dark .landing .header {
    background: #a4457e url("https://cdn.esphere.ru/images/main/dark.jpg") no-repeat 0 0;
    background-size: cover; }
  .dark .technologies {
    background-color: #1697b7; }
  .dark .analytics {
    background-color: #533073; }
  .dark .designers {
    background-color: #a4457e; }
  .dark .developers {
    background-color: #9055a2; }
  .dark .qa {
    background-color: #0c6c8c; }

/*# sourceMappingURL=kit.css.map */