.content-box {
  min-height: calc(100vh - 10rem); }

.logo {
  width: 12rem; }

.instruction {
  width: 100%;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(31, 31, 34, 0.09);
  padding: 1.6rem 0; }
  .instruction > div {
    display: flex;
    justify-content: space-between;
    text-align: center; }
  .instruction-stage {
    padding: 0 1rem;
    flex: 1 1;
    position: relative; }
    .instruction-stage.counter:after {
      content: '';
      width: 30%;
      height: 0.5rem;
      border-radius: 1rem;
      background-color: #f5f5f5;
      position: absolute;
      top: 29%;
      right: -13%; }
  .instruction-icon {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.5rem; }
    .instruction-icon svg,
    .instruction-icon img {
      height: 100%;
      width: 100%; }
  .instruction-open {
    height: 4.5rem;
    width: 4.5rem; }
    .instruction-open img {
      opacity: 1; }
    .instruction-open svg {
      height: 6rem; }
    .instruction-open:hover {
      opacity: 0.54; }

.table th.table-header {
  overflow: visible;
  text-transform: unset;
  position: relative;
  background-color: #fff;
  border-bottom-width: 1px;
  border-top-width: 1px;
  font-size: inherit;
  padding: 1.2rem; }
  .table th.table-header:first-child {
    border-top-left-radius: 0; }
  .table th.table-header:last-child {
    border-top-right-radius: 0; }

.table .table table,
.table .add-pack table {
  padding-bottom: 0;
  border-bottom: none; }

.table .table thead::after,
.table .add-pack thead::after {
  content: none; }

.table .table thead tr + tr th,
.table .add-pack thead tr + tr th {
  border-top: 0; }

.table .table td:first-child, .table .table td:last-child,
.table .add-pack td:first-child,
.table .add-pack td:last-child {
  border-radius: 0; }

.table .table .quick-view-selected + tr > td,
.table .add-pack .quick-view-selected + tr > td {
  padding-left: 0;
  padding-right: 0; }
  .table .table .quick-view-selected + tr > td .inner.ending,
  .table .add-pack .quick-view-selected + tr > td .inner.ending {
    margin: 0; }

.empty-page-icon {
  margin: 2rem auto; }

.add-pack td,
.add-pack th {
  padding: 1rem; }

.add-pack .tools {
  padding: 0; }
  .add-pack .tools i {
    visibility: hidden; }
  .add-pack .tools a {
    visibility: visible; }
  .add-pack .tools:hover i {
    visibility: visible; }
  .add-pack .tools .top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem; }

.scroll-table {
  flex-direction: row; }
  .scroll-table:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0; }
  .scroll-table-fixed {
    position: relative;
    width: 30%;
    border-bottom: 0.1rem solid #d0d7dd; }
    .scroll-table-fixed:after {
      border-right: 0.1rem solid #d0d7dd;
      content: '';
      position: absolute;
      right: -1px;
      width: 1px;
      height: 100%;
      top: 0; }
    .scroll-table-fixed tr:first-child > th.table-header:nth-of-type(1) {
      height: 4rem; }
    .scroll-table-fixed tr:nth-child(1) > th.table-header:nth-of-type(1) {
      height: 5.1rem; }
  .scroll-table-scrolled {
    overflow-x: auto;
    overflow-y: visible;
    width: 70%;
    position: relative; }
    .scroll-table-scrolled thead tr {
      position: relative; }
      .scroll-table-scrolled thead tr:last-child {
        min-height: 3.5rem; }
    .scroll-table-scrolled tbody tr:hover td {
      background-color: #f2f4f7; }

.list.form > dd,
.list.form > dt {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem; }

.textarea-input {
  height: 10rem; }

/* print styles */
.print-wrapper {
  position: relative;
  margin: 2rem auto;
  padding: 2rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.print-portrait {
  width: 72rem; }

/*# sourceMappingURL=nd.css.map */