.preview-content {
  background: #fff;
  height: 50rem;
  overflow: auto; }

/* Login & Registration
----------------------------------------------------------------------------- */
body.dcb.auth.nds {
  background-image: none; }

.presentation-footer {
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee; }

.dropdown.tur-next:hover > ul, .dropdown.tur-next.hover:after, .dropdown.tur-next.hover:before {
  display: none; }

.dropdown > ul.block {
  display: block !important;
  z-index: 100; }

.warranty-form-icon {
  width: 10rem; }

/* main-v1
----------------------------------------------------------------------------- */
.main-left-col {
  width: 66%;
  overflow: hidden; }

.main-right-col {
  width: 32%;
  margin-top: 8px;
  box-sizing: border-box; }
  .main-right-col-box {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e5e5e5; }
  .main-right-col-img {
    width: 40%;
    height: 150px;
    background-image: url(https://cdn.esphere.ru/images/nds/mainpage.png);
    background-position: 338px -10px; }
  .main-right-col-info {
    width: 50%;
    padding: 12px;
    margin-bottom: 12px; }
  .main-right-col-text {
    font-weight: 700;
    font-size: 16px; }
  .main-right-col-news {
    padding: 16px; }

/* main-v2
----------------------------------------------------------------------------- */
.top-menu ul li {
  float: none;
  display: inline-block;
  vertical-align: middle; }

.top-menu-right {
  text-align: right; }

.hidden-ch {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 2rem;
  width: 2rem;
  left: 0;
  margin: -1px;
  padding: 0;
  border: 0; }

.padding-large {
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem; }

.padding-top-large {
  padding-top: 3rem; }

.padding-left-large {
  padding-left: 3rem; }

.promo-main {
  position: relative;
  z-index: 10; }
  .promo-main .pm-top {
    background: url(https://cdn.esphere.ru/images/nds/content.png) no-repeat 50% 0;
    background-size: cover;
    height: 35.5rem;
    padding: 1rem 1.5rem;
    position: relative; }
    .promo-main .pm-top .winner {
      position: absolute;
      right: 4rem;
      top: 2rem;
      width: 8rem;
      z-index: 10; }
  .promo-main .pm-bottom {
    position: absolute;
    bottom: -4rem;
    height: 8rem;
    width: 100%;
    left: 0;
    right: 0; }

.pm-bottom ul li {
  padding: 1rem 2rem;
  background: #fff;
  border: 1px solid #52a81f;
  box-sizing: border-box;
  border-radius: 0.4rem;
  vertical-align: top;
  display: inline-block;
  width: 24.5%;
  height: 8rem;
  min-height: 8rem;
  text-align: center; }
  .pm-bottom ul li:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""; }
  .pm-bottom ul li:hover {
    border-color: #f49530; }
    .pm-bottom ul li:hover a {
      color: #f49530; }
  .pm-bottom ul li a {
    vertical-align: middle;
    display: inline-block; }
  .pm-bottom ul li span {
    line-height: 1.3; }

.wrapper-main {
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative; }
  .wrapper-main .wrapper-pic {
    overflow: hidden; }
    .wrapper-main .wrapper-pic img {
      max-height: 29rem;
      height: 29rem; }

.search .list-h li {
  padding-top: 0;
  padding-bottom: 0; }

.margin-3x, .margin-3-x {
  margin-left: 3rem;
  margin-right: 3rem; }

.reverse-content img {
  max-height: 24rem; }

.reverse-content .reverse-content-item:nth-child(odd) .wrapper-pic {
  margin-right: 2rem; }

.reverse-content .reverse-content-item:nth-child(odd) .wrapper-text {
  margin-left: 1rem; }

.reverse-content .reverse-content-item:nth-child(even) .wrapper-pic {
  position: relative;
  left: 100%;
  margin-left: 2rem; }

.reverse-content .reverse-content-item:nth-child(even) .wrapper-text {
  position: relative;
  right: 100%;
  margin-right: 1rem; }

.link-underline {
  font-weight: 700;
  color: #000;
  text-decoration: underline; }

.personal-box {
  width: 100%; }

/*# sourceMappingURL=nds.css.map */