body {
  background-color: #f2f4f7; }

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100; }
  header .more.count-to-upper {
    position: relative;
    margin-top: 0; }
    header .more.count-to-upper .count {
      margin: 0;
      padding: 0;
      min-width: 0;
      width: .7rem;
      height: .7rem;
      top: .7rem;
      right: .7rem;
      border-radius: 50%; }

.wrapper {
  max-width: 102.4rem; }

.subtitle {
  color: #7d838a; }

.personal-box {
  padding-right: 1.6rem;
  padding-left: 1.6rem; }
  .personal-box .header-button.more {
    display: block;
    max-width: 20rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
    .personal-box .header-button.more.active .prodicon-signed, .personal-box .header-button.more:active .prodicon-signed {
      color: #b2b8bf; }
      .personal-box .header-button.more.active .prodicon-signed.txt-success, .personal-box .header-button.more:active .prodicon-signed.txt-success {
        color: #107f8c; }
      .personal-box .header-button.more.active .prodicon-signed.txt-warning, .personal-box .header-button.more:active .prodicon-signed.txt-warning {
        color: #ff9900; }
      .personal-box .header-button.more.active .prodicon-signed.txt-danger, .personal-box .header-button.more:active .prodicon-signed.txt-danger {
        color: #c11030; }

.sidebar {
  padding-top: 6rem;
  margin-left: -22.4rem;
  overflow-x: hidden;
  z-index: 90;
  transition: .3s ease margin-left; }
  .sidebar.visible {
    margin-left: 0; }

.content-box, .document-body {
  padding-top: 6rem;
  min-height: 100vh;
  background-color: #fff; }

.content-box {
  padding-bottom: 0; }

.document-body {
  transition: .3s ease padding-left; }
  .document-body .content-box {
    padding-top: 0;
    min-height: calc(100vh - 6rem); }
  .document-body.with-sidebar {
    padding-left: 22.4rem; }

.dropdown-wrapper button.more {
  width: 3.2rem; }
  .dropdown-wrapper button.more.small {
    width: 2.8rem; }

.panel-color,
.box-gray {
  background-color: #f2f4f7; }

.settings-list > dt {
  padding-top: .8rem; }

.settings-list > dd {
  padding-top: .8rem;
  padding-bottom: .8rem; }

.txt-light-gray {
  color: #b2b8bf; }

.etax-tabs .tabs-bar {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  background-color: #f2f4f7; }

.checkbox-single.checkbox-wrapper {
  position: relative;
  top: -.4rem; }

.quick-view-table table tr:hover {
  background-color: transparent; }
  .quick-view-table table tr:hover td {
    background-color: #F3F5F7; }

.quick-view-table table .quick-view + tr:hover td {
  background-color: transparent; }

.quick-view.quick-view-selected + tr > td,
.quick-view.is-open > td {
  background-color: #F3F5F7;
  border-bottom: 1px solid #e4e8eb; }
  .quick-view.quick-view-selected + tr > td:first-child,
  .quick-view.is-open > td:first-child {
    border-bottom-left-radius: 0; }
  .quick-view.quick-view-selected + tr > td:last-child,
  .quick-view.is-open > td:last-child {
    border-bottom-right-radius: 0; }

.quick-view + tr {
  background-color: transparent; }
  .quick-view + tr td {
    border-width: 0;
    background-color: transparent; }
  .quick-view + tr .quick-view-body {
    background-color: #F3F5F7;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem; }
  .quick-view + tr .ending {
    border-top-color: #e4e8eb;
    padding-left: 5.2rem; }

.quick-view + tr > td:first-child {
  border-top-left-radius: 0; }

.quick-view + tr > td:last-child {
  border-top-right-radius: 0; }

.empty-list-wrapper {
  padding-top: 6.4rem; }

.sidebar-panel {
  overflow-y: auto;
  margin-right: -42.4rem;
  width: 42rem;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  padding-top: 6rem;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(48, 53, 97, 0.15), 0 0.2rem 3rem 0 rgba(31, 31, 34, 0.06);
  transition: .3s; }
  .sidebar-panel.visible {
    margin-right: 0;
    transition: .3s; }

.wizard .step::before {
  border-width: .2rem; }

.wizard .step.active::before {
  border-color: #107f8c; }

.wizard .active label {
  font-size: 1.2rem;
  color: #7d838a; }

.wizard .line {
  left: 0;
  width: 100%; }

.etax-collapse {
  border-radius: .8rem; }
  .settings-page .etax-collapse, .etax-collapse.is-open, .etax-collapse:hover {
    background-color: #f2f4f7; }
  .etax-collapse .collapse-heading-wrapper {
    border-width: 0;
    border-radius: .8rem .8rem 0 0;
    padding: 1.6rem 2.4rem; }
  .etax-collapse .heading-with-label {
    padding-left: 5.5rem; }
  .etax-collapse .collapse-heading-wrapper + div[aria-expanded="true"] {
    border-top: 1px solid #e4e8eb; }

.row-with-label {
  position: relative; }
  .row-with-label .i-label {
    left: -3rem; }

.preview-box {
  background-color: #7d838a; }

.preview-page {
  max-width: 125.2rem;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fff; }

.preview-wrapper {
  border: 1px solid #d0d7dd;
  min-height: calc(100vh - 16.4rem); }
  .preview-wrapper img {
    width: 100%; }

.list-h a:hover > i {
  color: #21a19a;
  transition: color .3s; }

.etax-list > li {
  padding-bottom: .8rem; }
  .etax-list > li:last-child {
    padding-bottom: 0; }

.etax-table-gray table {
  border: 1px solid #e4e8eb;
  border-radius: .8rem; }

.etax-table tr th:first-child,
.etax-table tr td:first-child {
  padding-left: 2rem; }

.etax-table tr th:last-child,
.etax-table tr td:last-child {
  padding-right: 2rem; }

.etax-table .loader-wrapper {
  margin-top: 6.4rem; }

.settings-body,
.settings-box-height {
  height: 100%; }

.settings-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  min-height: calc(100vh - 13.2rem); }

.settings-footer {
  width: 100%; }
  .settings-footer > .footer-panel {
    padding: 2.4rem;
    background-color: #f2f4f7;
    border-radius: .8rem; }

.icon-18 {
  font-size: 1.8rem;
  line-height: 2rem; }

.icon-24 {
  font-size: 2.4rem; }

.files-list > li {
  border-radius: .8rem;
  margin-bottom: .8rem; }
  .files-list > li:hover {
    background-color: #f2f4f7;
    transition: background-color .5s; }

.button-link.disabled {
  background-color: transparent !important; }

.button-link i {
  transition: .3s color; }

.button-link:hover i, .button-link:hover {
  color: #7d838a; }

.list-success li {
  position: relative;
  padding-left: 2.4rem;
  margin-bottom: .8rem; }
  .list-success li::before {
    content: "";
    position: absolute;
    left: 0;
    top: .55rem;
    width: .9rem;
    height: .9rem;
    background-color: #107f8c;
    border-radius: 50%; }
  .list-success li:last-child {
    margin-bottom: 0; }

.table .sub-table-title {
  border-top: 1px solid #e4e8eb;
  padding-top: 2.4rem; }
  .table .sub-table-title:last-child, .table .sub-table-title:first-child {
    border-radius: 0; }

.table .sub-table::before {
  content: '';
  display: block;
  height: 1.2rem;
  width: 100%; }

.table .sub-table-first::before {
  height: 3.8rem; }

.dropzone-wrapper {
  border-radius: .8rem; }

.box-icon {
  padding-top: .6rem; }

.button-group-item.notify {
  position: relative; }
  .button-group-item.notify::after {
    content: "";
    position: absolute;
    top: .8rem;
    right: 1.2rem;
    width: .8rem;
    height: .8rem;
    background-color: #ff9900;
    border-radius: 50%; }

.start-page {
  max-width: 66.4rem; }

.demo-overlay {
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  opacity: .15;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.esphere.ru/images/etax/demo-bg.png");
  background-repeat: repeat;
  pointer-events: none; }

.demo-component {
  position: relative;
  z-index: 10002 !important; }
  .demo-component .modal-cross,
  .demo-component .no-events {
    pointer-events: none; }
  .demo-component.notary-modal ~ .tour-overlay {
    fill: rgba(33, 33, 33, 0.1); }
  .demo-component.light-box-wrapper, .demo-component.notary-modal {
    position: fixed; }
  .demo-component.light-box-wrapper .light-box-window > .light-box-content::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.7);
    z-index: 2; }
  .demo-component.light-box-wrapper .light-box-footer.fixed {
    position: relative;
    z-index: auto; }
  .demo-component.light-box-wrapper .light-box-overlay {
    z-index: auto; }
  .demo-component.light-box-wrapper .demo-component {
    background: #fff;
    border-radius: .8rem; }
  .demo-component.light-box-wrapper .demo-checkbox {
    padding: .4rem .4rem .6rem; }
  .demo-component.light-box-wrapper .demo-button {
    position: relative;
    z-index: 10002 !important;
    background: #fff;
    border-radius: 1.6rem;
    padding: .4rem; }

.demo-sub-table .sub-table-title:first-child, .demo-sub-table .sub-table-title:last-child {
  border-top-right-radius: .8rem;
  border-top-left-radius: .8rem; }

.demo-sub-table td {
  position: relative;
  z-index: 10002 !important;
  background: #fff; }
  .demo-sub-table td:first-child {
    border-top-left-radius: 0; }
  .demo-sub-table td:last-child {
    border-top-right-radius: 0; }

.table tbody .demo-table-row:hover {
  background-color: transparent; }

.demo-table-row td {
  position: relative;
  z-index: 10002 !important;
  background: #fff; }

.demo-table-row.is-open + tr td {
  position: relative;
  z-index: 10002 !important; }

.etax-table-gray .demo-table-row td {
  background: #f2f4f7; }

.demo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.scenarios-page .wrapper {
  max-width: 87.2rem; }

.scenarios-page .box {
  height: 19.2rem; }

.divider {
  max-width: 121.6rem;
  width: 100%; }

.daterange-delimiter {
  max-width: 1.8rem; }

.tour-modal {
  border-radius: 1.6rem;
  z-index: 600; }

.tour-active-element.notifications-wrapper {
  position: fixed;
  z-index: 600; }

.hamburger .bar {
  background-color: #107f8c;
  transition: .3s; }

.hamburger.open .bar-1 {
  top: .8rem;
  transform: rotate(45deg); }

.hamburger.open .bar-2 {
  top: .8rem;
  transform: rotate(-45deg); }

.hamburger.open .bar-4 {
  opacity: 0; }

.hamburger.button-wrapper {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 2rem;
  border: none; }
  .hamburger.button-wrapper:focus {
    padding: 0; }
  .hamburger.button-wrapper:active {
    background-color: transparent; }

.loader-with-text .loader-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.loader-with-text .loader-element {
  position: relative;
  transform: none; }

.filter-toggler {
  min-height: 3.2rem; }

.icon-96 {
  width: 9.6rem;
  height: 9.6rem; }

.link-icon {
  color: inherit; }

.error-list-wrapper {
  padding-top: 12.8rem; }

tr.txt-gray > td {
  color: #7d838a; }

.tag.small {
  margin-left: 1.2rem; }
  .tag.small::before {
    left: -1.2rem;
    height: .4rem;
    width: .4rem;
    margin-top: .8rem;
    margin-bottom: .8rem; }

.pagination-wrapper .pagination-label-options .dropdownselect-input {
  padding-right: 0;
  padding-left: 1.1rem; }

.box[class*="shadow"] {
  border: none; }

.erep-modal,
.notifications-wrapper {
  z-index: 600; }

.border-radius-16 {
  border-radius: 1.6rem; }

/*# sourceMappingURL=newetax.css.map */