* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  *::-webkit-scrollbar {
    width: 0.5rem;
    height: auto; }
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  *::-webkit-scrollbar-thumb {
    background-color: #474b4d;
    outline: 1px solid slategrey; }

.k-list-scroller::-webkit-scrollbar {
  width: 0.5rem;
  height: auto; }

.k-list-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.k-list-scroller::-webkit-scrollbar-thumb {
  background-color: #474b4d;
  outline: 1px solid slategrey; }

.sidebar::-webkit-scrollbar {
  display: none; }

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.sidebar::-webkit-scrollbar-thumb {
  background-color: #474b4d;
  outline: 1px solid slategrey; }

.sidebar .aside-menu {
  width: 4.8rem;
  height: 100%;
  background-color: #222426;
  position: fixed;
  top: 0;
  bottom: inherit;
  left: 0;
  right: inherit;
  z-index: 70; }
  .sidebar .aside-menu ul a {
    display: block;
    margin: auto;
    text-align: center;
    color: #7c8086;
    position: relative; }
  .sidebar .aside-menu ul li.active {
    background: #171a1c; }
    .sidebar .aside-menu ul li.active a {
      color: #ffffff; }
  .sidebar .aside-menu ul li:hover {
    background: #1c1e20; }
  .sidebar .aside-menu ul li:first-child a {
    color: #ffffff; }

.sidebar .aside-tasks {
  position: relative;
  padding-left: 4.8rem;
  padding-top: 4.6rem; }
  .sidebar .aside-tasks > .title {
    position: fixed;
    top: 0;
    bottom: inherit;
    left: 4.8rem;
    right: inherit;
    width: 37.2rem;
    height: auto;
    background: #2a2c2e;
    z-index: 42;
    box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.6); }

.count-tasks {
  background: #ffffff;
  color: #2a2c2e;
  font-size: 1rem;
  padding: 0 0.3rem;
  text-align: center; }

.tasks-container {
  border-bottom: 1px solid #3a3c3e;
  text-align: left; }

.manager-container {
  border-bottom: 1px solid #3a3c3e;
  text-align: left; }
  .manager-container:hover {
    background-color: #55585b; }

table .tasks-container {
  border-bottom: 0;
  text-align: center; }

.add-group {
  padding: 1.3rem 0; }

.vertical-middle {
  position: absolute;
  top: 50%;
  bottom: inherit;
  left: 50%;
  right: inherit;
  transform: translate(0%, -50%);
  text-align: center; }

.sidebar.closed {
  width: 4.8rem;
  height: auto; }
  .sidebar.closed .aside-tasks {
    display: none; }
  .sidebar.closed + .content-box {
    margin-left: 4.8rem; }
    .sidebar.closed + .content-box .vertical-middle {
      transform: translate(-50%, -50%); }

.pledge-icon {
  display: inline-block;
  left: 0.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  border: 2px solid #ffffff;
  border-radius: 50%; }

.pledge-icon.no-data {
  border: 2px dotted #ffffff; }

.pledge-icon.add {
  border: solid 2px #56585a;
  font-size: 2.5rem;
  text-align: center; }

.pledge-icon.picon-add_new_app::before, .pledge-icon.picon-add-new-app::before {
  position: absolute;
  top: 50%;
  bottom: inherit;
  left: 50%;
  right: inherit;
  margin-top: -1.2rem;
  margin-left: -1.2rem; }

.menu-control {
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  border-bottom: 1px solid #303234; }
  .menu-control nav li > a {
    color: #646d70;
    padding: 0.6rem;
    margin-right: 2.5rem; }
    .menu-control nav li > a.active {
      color: #ffffff;
      border-bottom: 1px solid #ffffff; }

.title-new {
  position: absolute;
  top: 0.9rem;
  bottom: inherit;
  left: inherit;
  right: 6rem; }

.title-label {
  height: 1.2rem;
  min-width: 1.2rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.3rem;
  text-transform: uppercase; }

.aside-menu-indicator {
  position: absolute;
  top: inherit;
  bottom: 2rem;
  left: 2rem;
  right: inherit;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%; }

.add-item {
  margin-top: 0.5rem; }
  .add-item i {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border: 1px solid #56585a;
    border-radius: 0.5rem;
    font-size: 2rem;
    left: 0;
    vertical-align: middle; }
  .add-item i.pledge-icon.picon-add_new_app::before, .add-item i.pledge-icon.picon-add-new-app::before {
    margin-top: -1rem;
    margin-left: -1rem; }

.pledge-loader {
  position: fixed;
  top: 0;
  bottom: inherit;
  left: 0;
  right: inherit;
  width: 100%;
  height: 100%;
  background: rgba(34, 36, 38, 0.8);
  z-index: 800; }
  .pledge-loader img {
    position: absolute;
    top: 50%;
    bottom: inherit;
    left: 50%;
    right: inherit;
    width: 5rem;
    height: auto;
    margin-left: -2rem;
    margin-top: -2rem; }

.pledge-loader-inner {
  position: relative;
  width: 100%;
  height: 100%; }

.scroll-fixed {
  position: fixed;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  background: #3a3c3e;
  z-index: 81; }

.scroll-x {
  overflow-y: hidden;
  width: auto;
  height: 100vh; }

.k-grid td.photo {
  background: #55585b;
  text-align: center;
  box-shadow: 0 0 1px #000 inset; }
  .k-grid td.photo [class^="picon-"] {
    font-size: 2rem !important; }
  .k-grid td.photo [class*="picon-"] {
    font-size: 2rem !important; }

.table-trans th {
  padding: 2rem;
  min-height: 1.6rem; }

.table-trans td {
  padding: 2rem;
  min-height: 1.6rem; }

.k-dropdown .k-dropdown-wrap {
  background-color: #222426; }

.table-fixed {
  table-layout: fixed;
  position: relative;
  left: 0;
  top: 3.8rem; }
  .table-fixed td, .table-fixed th {
    word-break: break-all;
    width: 20rem;
    height: auto;
    position: relative; }
  .table-fixed thead {
    position: absolute;
    top: -4rem;
    bottom: inherit;
    left: inherit;
    right: inherit;
    z-index: 82; }
  .table-fixed .cell-fixed {
    border: 0;
    background: #3a3c3e;
    position: relative;
    left: 0;
    padding: 0 3.5rem 0 0;
    width: 1rem;
    height: 100%;
    z-index: 80; }
    .table-fixed .cell-fixed:hover {
      border: 0;
      box-shadow: none; }
  .table-fixed th.cell-fixed {
    padding: 0 2.8rem 0 0; }
    .table-fixed th.cell-fixed.cell-scrolled {
      box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3); }

.width-fixed {
  width: 20rem;
  height: auto; }

.cell-fixed .tasks-container {
  position: absolute;
  top: 50%;
  bottom: inherit;
  left: inherit;
  right: inherit;
  margin-top: -1.5rem; }
  .cell-fixed .tasks-container .check-all {
    position: relative;
    left: 4px; }

td.success {
  background: #298e3a; }

td.warning {
  background: #907120; }

td.danger {
  background: #9b4733; }

.table-trans {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }
  .table-trans > .k-grid-header > tr > .k-header {
    border-right: 1px solid #56585a;
    border-top: 1px solid #56585a; }
  .table-trans thead {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch; }
    .table-trans thead tr {
      background-color: #56585a;
      display: flex;
      flex-direction: column;
      min-width: min-content;
      flex-shrink: 0; }
      .table-trans thead tr:hover {
        background-color: #56585a !important; }
      .table-trans thead tr th:nth-child(1) .k-checkbox-label {
        padding-left: 1rem; }
  .table-trans tbody {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch; }
    .table-trans tbody tr {
      display: flex;
      flex-direction: column;
      min-width: min-content;
      flex-shrink: 0; }
  .table-trans tr td {
    display: block;
    align-items: stretch;
    min-width: 15rem; }
    .table-trans tr td:nth-child(1) {
      border-top: 1px solid #56585a;
      border-bottom: 1px solid #56585a;
      margin-right: 0; }
  .table-trans tr th {
    display: block;
    align-items: stretch;
    min-width: 15rem; }
  .table-trans .width-fixed {
    width: inherit;
    height: 1.6rem; }
  .table-trans .tasks-container {
    text-align: left; }
  .table-trans .selected .k-input {
    background-color: #222426; }
  .table-trans .selected .k-select {
    background-color: #222426; }
  .table-trans .k-grid-header {
    padding-right: 0; }
    .table-trans .k-grid-header .k-header {
      position: relative !important; }
  .table-trans .k-grid th {
    border-right: 0; }
  .table-trans .button-group > .button {
    margin-bottom: 0; }

.auth {
  background: url("https://cdn.esphere.ru/images/pledge/pledge-auth.jpg") no-repeat;
  background-size: cover; }
  .auth .content-box {
    padding: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7); }
  .auth .wrapper {
    padding: 0; }
  .auth .k-textbox {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
    .auth .k-textbox:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent; }
  .auth .k-list-container .k-nodata {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
  .auth .k-list-filter {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
  .auth .k-dropdown .k-dropdown-wrap {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
    .auth .k-dropdown .k-dropdown-wrap:hover {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.08);
      border-color: transparent; }
  .auth .k-list {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
    .auth .k-list .k-item:hover.k-state-selected {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: transparent;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.08);
      border-color: transparent; }
  .auth .k-multiselect-wrap {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
  .auth .k-animation-container > .k-popup {
    background: rgba(20, 47, 35, 0.8);
    border-color: transparent; }
  .auth .k-textbox.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
    border-color: transparent; }
  .auth input.k-textbox:focus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
    border-color: transparent; }
  .auth .k-combobox .k-dropdown-wrap.k-state-focused {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
    border-color: transparent; }
  .auth .k-multiselect.k-state-focused .k-multiselect-wrap {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.08);
    border-color: transparent; }
  .auth .uicon-check-light {
    font-size: 6rem;
    line-height: 1.1; }
  .auth .k-button {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff; }
  .auth .k-textbox.disabled {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed; }
    .auth .k-textbox.disabled input {
      color: rgba(255, 255, 255, 0.5);
      cursor: not-allowed; }
    .auth .k-textbox.disabled .picon {
      color: rgba(255, 255, 255, 0.5);
      cursor: not-allowed; }
  .auth input::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .auth input.k-input::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .auth select::placeholder {
    color: rgba(255, 255, 255, 0.5); }

.login-logo {
  position: absolute;
  top: 3rem;
  bottom: inherit;
  left: 3rem;
  right: inherit;
  width: 17rem;
  height: auto; }

.login-center {
  margin: 0 auto; }

.login-form {
  width: 76.8rem;
  height: auto;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  bottom: inherit;
  left: 50%;
  right: inherit; }
  .login-form .k-textbox.k-space-left input {
    padding-left: 4rem; }
  .login-form .k-textbox.k-space-left input[type="password"] {
    padding-right: 4rem;
    font-size: 2rem; }
  .login-form .k-combobox .k-dropdown-wrap {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: transparent; }
  .login-form .k-icon.k-i-arrow-60-down {
    color: #ffffff; }
  .login-form .list > li {
    padding-top: 1rem;
    padding-bottom: 1rem; }

a.button.login-button, .button.login-button {
  padding: 0.9rem 1rem; }

.primary.button.login-button {
  background: #00ad4e;
  border: 1px solid #00ad4e; }

.disabled.button.login-button {
  color: #ffffff !important;
  border: 1px solid #7c8086 !important;
  background: #7c8086 !important; }

.picon {
  font-size: 2.6rem;
  position: absolute;
  top: 0.6rem;
  bottom: inherit;
  left: 0.4rem;
  right: inherit;
  color: #ffffff; }

.picon-close {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  bottom: inherit;
  left: inherit;
  right: 0.5rem;
  left: inherit;
  transform: rotate(45deg);
  color: #ffffff; }

.login-chat {
  position: absolute;
  top: inherit;
  bottom: 7.4rem;
  left: inherit;
  right: 4.5rem;
  font-size: 4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.08);
  width: 6.4rem;
  height: 6.4rem; }

.picon-chat::before {
  position: absolute;
  top: 1.2rem;
  bottom: inherit;
  left: 1.2rem;
  right: inherit; }

.k-list .k-item.k-state-hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: transparent; }

.k-list .k-item.k-state-selected {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: transparent; }

.k-dropdown-wrap .k-clear-value {
  top: 1rem; }

.login-register {
  position: absolute;
  top: inherit;
  bottom: 9.6rem;
  left: 0;
  right: inherit;
  width: 100%;
  height: auto; }

.alt.button.login-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0 4rem;
  border-radius: 1rem; }
  .alt.button.login-button:hover {
    background-color: rgba(255, 255, 255, 0.08); }

.picon-directions-back.picon-back_one_step:before, .picon-directions-back.picon-back-one-step:before {
  position: absolute;
  top: 0.6rem;
  bottom: inherit;
  left: -3rem;
  right: inherit; }

.picon-directions-forward.picon-back_one_step:before, .picon-directions-forward.picon-back-one-step:before {
  position: absolute;
  top: 0.6rem;
  bottom: inherit;
  left: -3rem;
  right: inherit;
  transform: rotate(180deg); }

.login-min-h {
  min-height: 35rem; }

.login-empty-li {
  width: 100%;
  height: 5.6rem; }

@media screen and (-ms-high-contrast: active) {
  .table-trans thead tr {
    min-width: 20rem; }
  .table-trans .k-dropdown-wrap .k-select {
    width: auto;
    height: 1rem; }
  .items.scroll-fixed .scroll-x {
    background-color: #3a3c3e; }
  .cell-fixed .tasks-container {
    margin-top: 0.5rem; } }

@media (-ms-high-contrast: none) {
  .table-trans thead tr {
    min-width: 20rem; }
  .table-trans .k-dropdown-wrap .k-select {
    width: auto;
    height: 1rem; }
  .items.scroll-fixed .scroll-x {
    background-color: #3a3c3e; }
  .cell-fixed .tasks-container {
    margin-top: 0.5rem; } }

/*# sourceMappingURL=pledge.css.map */