@charset "UTF-8";
@font-face {
  font-family: 'WebComponentsIcons';
  src: url("../../fonts/kendo-glyphs/WebComponentsIcons.woff2"), url("../../fonts/kendo-glyphs/WebComponentsIcons.woff"), url("../../fonts/kendo-glyphs/WebComponentsIcons.ttf");
  font-weight: normal;
  font-style: normal; }

.login.sphere {
  background: #fff url(https://cdn.esphere.ru/images/bg-cloud.png) 50% 0 no-repeat;
  background-size: 100%; }

.login .banner {
  background: url(../../images/scanner/spk-bg-8.jpg) 50% 50% no-repeat;
  background-size: 150%;
  padding: 2rem 0;
  border-radius: .3rem;
  transition: 800ms; }
  .login .banner:hover {
    background-size: 160%; }

.login .wrapper {
  max-width: 100rem; }

.login .content-box {
  background-repeat: no-repeat;
  padding: 5% 0; }

.login .box {
  border-color: #e2f0fb; }

.login .textbox {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  line-height: 2rem;
  height: 4rem;
  text-indent: .9rem;
  padding: .9rem 0;
  position: relative;
  outline: 0;
  overflow: visible;
  vertical-align: middle;
  -webkit-appearance: none; }

.login .avatar {
  background: #fafafa;
  border: 1px solid #e5e5e5;
  margin: 1rem auto;
  height: 12.8rem;
  width: 12.8rem; }

.banner {
  color: #fff; }
  .banner .allert {
    background: #fff;
    color: #000;
    padding: 1rem;
    border: 0.5rem solid #000;
    margin: auto;
    width: 70%; }
  .banner .text,
  .banner .note,
  .banner .title {
    text-shadow: 0 1px 2px #000; }
  .banner h3 {
    font-size: 2.4rem; }
  .banner .title {
    border: none;
    margin: 0 0 1rem; }
  .banner .text {
    padding: 2rem 0; }
  .banner .note {
    padding: 1rem 0 0;
    opacity: .7; }

.reg {
  background: #fff url(https://cdn.esphere.ru/images/bg-cloud.png) 50% 0 no-repeat;
  background-size: 100%; }
  .reg .content-box {
    padding-top: 5rem; }
  .reg header {
    padding-bottom: 3rem;
    color: #09526d; }
    .reg header .k-grid {
      color: #09526d;
      border-color: transparent; }
      .reg header .k-grid td {
        border-color: #fff; }
    .reg header .button {
      background: transparent;
      color: inherit;
      border-color: inherit; }
      .reg header .button:hover {
        background: #fff; }
  .reg .wrapper {
    max-width: 65rem;
    min-width: 0; }
  .reg .box {
    padding: 1.6rem 3.2rem;
    box-shadow: 0 -1.5rem 2rem #e2f0fb;
    border-color: #e2f0fb #e2f0fb transparent;
    min-height: 40rem; }
  .reg.bill .box, .reg.manager .box {
    padding: 3rem 6rem; }
  .reg.bill .k-grid, .reg.manager .k-grid {
    margin: 1rem 0; }

body.error h1 {
  font-size: 8em;
  line-height: 100%; }

.error-box {
  position: relative;
  margin-top: 4rem;
  box-shadow: 0.7rem 0.7rem 0 rgba(0, 0, 0, 0.1); }
  .error-box .box {
    padding: 4rem 3rem 6rem; }
  .error-box .button-box {
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0; }

* html ul li {
  zoom: 1; }

body.browsers .box.blank {
  box-shadow: none; }

/* Browser Icons */
.i-browser {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url(https://cdn.esphere.ru/images/browser_sprite.png); }

.i-chrome {
  background-position: -265px 0; }

.i-ff {
  background-position: -67px  0; }

.i-ie {
  background-position: -134px 0; }

.i-ya {
  background-position: 0   0; }

.i-edge {
  background-position: -199px 0; }

.i-safari {
  background-position: -402px 0; }

.i-opera {
  background-position: -333px 0; }

.k-dropzone em {
  width: 60%; }

/* анимация пульсации ошибок на инпутах */
.sphere .k-checkbox.outbreak + .k-checkbox-label:before,
.sphere .k-textbox.outbreak {
  -webkit-animation: pulsating-sphere 1s ease-in-out;
  -webkit-animation-delay: .25s; }

.nova .k-checkbox.outbreak + .k-checkbox-label:before,
.nova .k-textbox.outbreak {
  -webkit-animation: pulsating-nova 1s ease-in-out;
  -webkit-animation-delay: .25s; }

@-webkit-keyframes pulsating-sphere {
  0% {
    border-color: #e5e5e5; }
  50% {
    border-color: #f7142f; }
  100% {
    border-color: #e5e5e5; } }

@-webkit-keyframes pulsating-nova {
  0% {
    border-color: #e4e8eb; }
  50% {
    border-color: #c11030; }
  100% {
    border-color: #e4e8eb; } }

/* Карточки сервисов и услуг */
.service-card {
  box-sizing: border-box;
  width: 25.6rem;
  margin-right: 2.4rem;
  margin-bottom: 2.4rem;
  border: 1px solid #e4e8eb;
  border-radius: 1.6rem;
  padding: 1.6rem 2.4rem;
  transition: border-color .2s; }
  .service-card:hover {
    border-color: #7d838a; }
  .service-card:nth-child(2n) {
    margin-right: 0; }

.sphere .service-card.active {
  border-color: #09526d; }

.sphere .service-card .button.small {
  padding: .3rem 1.6rem;
  min-width: 8rem; }

.padding-top-120 {
  padding-top: 12rem; }

.scroll-vertical-40 {
  min-height: 30rem;
  max-height: 40rem;
  margin-right: -2.4rem;
  overflow-y: auto; }

/* хелпер для сброса высоты */
.height-auto {
  min-height: auto !important; }

/* ширина лейбла в формах */
.w-50[class*="list"] dt {
  width: 49%; }

.w-50[class*="list"] dd {
  padding-left: 50%; }

/* сообщение об ошибке под инпутом */
.invalid-message {
  position: relative;
  padding-top: .8rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  line-height: 1.2rem; }
  .invalid-message i {
    left: 0;
    top: 1rem;
    font-size: 1.6rem;
    line-height: 1.2rem; }

.sphere .invalid-message {
  color: #f7142f; }

.nova .invalid-message {
  color: #c11030; }

/* заголовок в окнах 2 и более строки */
.k-window-titlebar {
  white-space: normal; }

/*# sourceMappingURL=sso.css.map */