@font-face {
  font-family: Economica;
  src: url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.woff2") format("woff2"), url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.woff") format("woff"), url("https://cdn.esphere.ru/fonts/tiger/Economica-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body {
  background: #454545;
  color: #fff; }

*::-webkit-scrollbar {
  width: .5rem;
  height: .8rem; }

*::-webkit-scrollbar-thumb {
  background-color: #5c5c65; }

*::-webkit-scrollbar-track {
  background-color: #7d838a; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #fbe04e; }
  h1.txt-index, h2.txt-index, h3.txt-index, h4.txt-index, h5.txt-index, h6.txt-index {
    font-size: 6rem;
    font-family: Economica;
    color: #fff;
    line-height: 6rem; }

a {
  color: #fff; }
  a:hover {
    color: #fbe04e; }
  a.button:active {
    background: transparent; }
  a:focus, a:not(.pagination-button):focus {
    box-shadow: none; }

a.button, .button-wrapper, button.button {
  border-radius: .4rem; }

ul.form > li {
  margin-bottom: 1.6rem; }

.txt-success {
  color: #2fc069; }

.txt-warning {
  color: #fbe04e; }

.txt-danger {
  color: #f41a1a; }

.user-box {
  background: #393939;
  border-bottom: none; }

.wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: content-box; }

.form-block .item {
  margin-bottom: 4rem; }

.logo {
  font-family: Economica;
  font-size: 4rem;
  color: #fff !important;
  width: 15rem;
  height: 5.7rem;
  padding-left: 7.4rem !important;
  background: url(https://cdn.esphere.ru/images/tiger/logo-tiger.svg) no-repeat 0 50%;
  background-size: 6.7rem;
  padding-top: 1.8rem !important; }

.table thead::after {
  content: "";
  display: block;
  height: .6rem; }

.table {
  background: #414141;
  box-sizing: border-box; }
  .table .table-header {
    flex: 0 0 auto;
    border-bottom-width: .6rem;
    border-top-width: 2px;
    border-style: solid;
    border-color: #454545;
    text-align: left; }
    .table .table-header th {
      border-bottom-width: .1rem !important;
      background-color: transparent; }
      .table .table-header th:first-child {
        border-top-left-radius: 0; }
      .table .table-header th:last-child {
        border-top-right-radius: 0; }
  .table table {
    margin: 0;
    width: 100%;
    max-width: none;
    border-width: 0;
    border-color: inherit;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    outline: 0;
    table-layout: fixed; }
  .table th,
  .table td {
    padding: .8rem;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    vertical-align: middle; }
    .table th:hover,
    .table td:hover {
      background: #4a4a4a; }
    .table th.txt-index,
    .table td.txt-index {
      cursor: default; }
    .table th.txt-index.index-info,
    .table td.txt-index.index-info {
      cursor: pointer;
      font-size: 1.4rem; }
  .table th {
    font-size: 1rem;
    font-weight: 500;
    color: #bababa;
    text-transform: uppercase;
    background-color: transparent; }
    .table th:first-child {
      border-top-left-radius: 0; }
    .table th:last-child {
      border-top-right-radius: 0; }
    .table th span,
    .table th a {
      display: inline-block;
      width: 100%;
      max-height: 5rem;
      word-break: keep-all;
      white-space: normal;
      overflow: hidden; }
    .table th:not(:last-child) {
      border-right: 2px solid #454545; }
  .table td:not(:first-child) {
    border-left: 2px solid #393939; }
  .table td:first-child {
    padding-right: 4rem; }
    .table td:first-child > a {
      padding: 2rem 1.6rem;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
  .table td.shield svg {
    position: absolute;
    left: 50%;
    margin-left: -2.5rem;
    top: 50%;
    margin-top: -2.5rem; }
  .table thead,
  .table tbody {
    border-color: #454545; }
  .table tbody tr:hover {
    background: #414141; }
  .table tbody tr:not(:last-child) {
    border-bottom: 2px solid #393939; }

.shield {
  position: relative;
  font-family: Economica, sans-serif;
  font-size: 1.6rem;
  border-left: 0; }
  .shield span {
    width: 100%;
    position: absolute;
    text-align: center;
    display: block;
    top: 1rem; }
  .shield.loading {
    animation: rotation 1.5s infinite; }
    .shield.loading .sector1, .shield.loading .sector2, .shield.loading .sector3, .shield.loading .sector4 {
      fill: #7d838a; }
  .shield svg {
    width: 4rem;
    height: 4rem;
    display: block;
    margin: auto; }
    .shield svg .sector1, .shield svg .sector2, .shield svg .sector3, .shield svg .sector4 {
      fill: #5a5a5a; }
  .shield:hover {
    background-color: inherit; }
  .shield.danger .sector1 {
    fill: #c02f2f; }
  .shield.warning .sector1, .shield.warning .sector2 {
    fill: #fbe04e; }
  .shield.success .sector1, .shield.success .sector2, .shield.success .sector3 {
    fill: #2fc069; }
  .shield.winner .sector1, .shield.winner .sector2, .shield.winner .sector3, .shield.winner .sector4 {
    fill: #2fc069; }

/* Components Style */
.calendar-wrapper {
  color: #1f1f22; }

.modal-window .modal-header {
  border-bottom: 0; }

.modal-window .modal-footer {
  border-top: 0; }

.modal-window > div {
  background: #454545; }

.modal-window .index-data {
  font-size: 4rem;
  line-height: 4rem; }

a.button,
.button-wrapper,
button.button {
  background-color: transparent;
  border-color: #d0d7dd;
  color: inherit; }
  a.button > .count,
  .button-wrapper > .count,
  button.button > .count {
    margin-right: 0;
    vertical-align: middle; }
  a.button:active,
  .button-wrapper:active,
  button.button:active {
    background-color: #454545;
    border-color: #1f1f22; }

.button-wrapper.disabled > * {
  color: #74797c !important; }

.button-wrapper.blank {
  color: #fff !important; }
  .button-wrapper.blank.disabled {
    color: #7d838a !important;
    background-color: transparent !important; }

a.button.blank {
  color: #fff; }
  a.button.blank:hover {
    text-decoration: underline;
    color: #fff; }

.button-wrapper.border:hover,
.button-wrapper.border:focus {
  background: transparent !important; }

.primary.button-wrapper,
.success.button-wrapper,
.primary.button,
.success.button,
.success.tag:before,
.success.count,
.chunkbar > .progress,
.chunkbar > .success,
.statusbar > .bar,
.progressbar > .bar {
  background-color: #2fc069;
  border-color: #2fc069; }

a.primary.button:active,
a.success.button:active,
.primary.button-wrapper:active,
.success.button-wrapper:active {
  background-color: #2fc069;
  border-color: #2fc069; }

a.primary.button.disabled,
a.success.button.disabled,
.primary.button-wrapper.disabled,
.success.button-wrapper.disabled {
  background-color: #b4e9c6 !important;
  border-color: #b4e9c6 !important; }

a.primary.button:hover,
a.success.button:hover,
.primary.button-wrapper:hover,
.success.button-wrapper:hover {
  background-color: #65d08f; }

.button-group-wrapper .button-wrapper {
  border-color: rgba(35, 35, 35, 0.6); }
  .button-group-wrapper .button-wrapper:last-child, .button-group-wrapper .button-wrapper:first-child {
    border-radius: 0; }

.button-group-wrapper.primary .button-wrapper.active, .button-group-wrapper.success .button-wrapper.active {
  background-color: rgba(35, 35, 35, 0.6);
  border-color: rgba(35, 35, 35, 0.6); }
  .button-group-wrapper.primary .button-wrapper.active + .button-wrapper, .button-group-wrapper.success .button-wrapper.active + .button-wrapper {
    border-left-color: rgba(35, 35, 35, 0.6); }

.warning.button:active, .warning.button:hover,
.warning.button-wrapper:active,
.warning.button-wrapper:hover {
  background-color: #fce87e;
  border-color: #fce87e; }

.warning.button-wrapper,
.warning.button,
.chunkbar > .warning,
.warning > .bar,
.primary > .bar {
  background-color: #fbe04e;
  border-color: #fbe04e;
  color: #1f1f22 !important; }
  .warning.button-wrapper.loading,
  .warning.button.loading,
  .chunkbar > .warning.loading,
  .warning > .bar.loading,
  .primary > .bar.loading {
    color: transparent !important; }

.danger.button-wrapper,
.chunkbar > .danger,
.danger > .bar {
  background-color: #c02f2f; }

.button-wrapper.border {
  border-color: initial !important; }

.border.button.disabled,
.button-wrapper.border.disabled {
  background-color: #454545 !important;
  border-color: #74797c !important; }

.warning.button.disabled {
  background-color: #ffd5a9 !important;
  border-color: #ffd5a9 !important; }

.danger.button.disabled {
  background-color: #ffbdc5 !important;
  border-color: #ffbdc5 !important; }

.count.warning,
.warning.tag:before,
.warning.count {
  background-color: #fbe04e; }

a.txt-success:hover,
a.txt-warning:hover {
  color: #fff; }

.bside .list {
  max-height: calc(100vh - 27rem);
  overflow-y: auto; }

.bside li a {
  display: block;
  padding: 1rem;
  background: #393939;
  position: relative;
  border-radius: 4px; }
  .bside li a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .1s ease; }
  .bside li a:hover, .bside li a.active {
    text-decoration: none;
    background: #4a4a4a; }
    .bside li a:hover:before, .bside li a.active:before {
      width: 100%;
      transition: .3s ease; }

.box, .message {
  background: #393939;
  border: 0;
  border-radius: .4rem; }
  .box.warning, .message.warning {
    background: transparent;
    border: 1px solid #fbe04e; }

.inner {
  border-radius: .4rem; }
  .inner.secondary {
    background: #48719a; }
  .inner.warning {
    background: transparent;
    border: 1px dashed #fbe04e; }

.title {
  border-bottom: 2px solid #393939;
  padding-bottom: 1.2rem; }

.list.units-list li {
  margin-bottom: 1rem;
  padding: 1rem;
  max-height: 10.4rem;
  min-height: 10.4rem; }
  .list.units-list li > div {
    overflow: hidden; }

.menu-h a.active {
  color: #fbe04e; }

.icon-big {
  font-size: 3rem; }

.dash-nav {
  line-height: 1; }
  .dash-nav .year {
    font-size: 2rem; }
  .dash-nav .this-year {
    font-size: 3rem; }
  .dash-nav li button.quarter {
    background: #393939;
    border-radius: .4rem;
    min-width: auto;
    border: 1px solid #393939;
    padding: .4rem .8rem; }
    .dash-nav li button.quarter:not(.blank):focus {
      border-width: 1px;
      padding: .4rem .8rem; }
    .dash-nav li button.quarter:hover {
      background-image: url(https://cdn.esphere.ru/images/hover.png);
      background-repeat: repeat;
      border-color: #393939; }
    .dash-nav li button.quarter.active {
      background-color: #2fc069;
      border-color: #2fc069; }
      .dash-nav li button.quarter.active:hover {
        background-color: #2fc069 !important;
        border-color: #2fc069 !important; }
    .dash-nav li button.quarter.disabled {
      background: transparent !important;
      border: 1px solid;
      color: #74797c !important; }

.txt-index {
  font-size: 1.6rem;
  font-family: Economica, sans-serif; }

.tooltip {
  background-color: #1f1f22;
  font-size: 1.2rem;
  padding: 1.2rem 2rem; }
  .tooltip.top {
    margin-top: -1.4rem; }
    .tooltip.top::after {
      border-top-color: #1f1f22; }

.table-layout > * > * {
  vertical-align: middle; }

.suggestion-wrapper {
  z-index: 41;
  color: #1f1f22; }

.tabs-wrapper {
  border-radius: 4px 4px 0 0; }
  .tabs-wrapper .tabs-arrow-right,
  .tabs-wrapper .tabs-arrow-left {
    z-index: 1; }
    .tabs-wrapper .tabs-arrow-right::before,
    .tabs-wrapper .tabs-arrow-left::before {
      box-shadow: 0 2px 7px 0 #2b2b2d;
      background: #fbe04e;
      top: calc(50% - .77rem);
      color: rgba(31, 31, 34, 0.7); }
  .tabs-wrapper .tabs-arrow-right {
    right: 0; }
    .tabs-wrapper .tabs-arrow-right::after {
      min-height: 5rem;
      background-image: linear-gradient(to right, rgba(43, 43, 45, 0), #2b2b2d 60%); }
  .tabs-wrapper .tabs-arrow-left {
    left: 0; }
    .tabs-wrapper .tabs-arrow-left::after {
      min-height: 5rem;
      background-image: linear-gradient(to left, rgba(43, 43, 45, 0), #2b2b2d 60%); }

.tabs-content .box {
  z-index: 1; }

.tabs-bar {
  border-bottom: 0; }
  .tabs-bar .tabs-item {
    white-space: nowrap;
    padding: 1.2rem 1.6rem;
    border-bottom: 0;
    border-radius: .4rem .4rem 0 0;
    background: rgba(31, 31, 34, 0.7); }
    .tabs-bar .tabs-item::after {
      content: none; }
    .tabs-bar .tabs-item:not(:last-child) {
      margin-right: 0; }
      .tabs-bar .tabs-item:not(:last-child) i {
        color: #7d838a; }
        .tabs-bar .tabs-item:not(:last-child) i:hover {
          color: #fff;
          transition: .3s ease; }
    .tabs-bar .tabs-item:not(.active):hover {
      color: #fbe04e; }
    .tabs-bar .tabs-item.active {
      border-bottom-color: #393939;
      background: #393939; }

button.button-wrapper.icon-button {
  padding: 0;
  min-width: 0 !important;
  background-color: transparent;
  border: none; }
  button.button-wrapper.icon-button:hover {
    background-image: none;
    color: #fbe04e; }
  button.button-wrapper.icon-button.disabled {
    background-color: transparent !important;
    color: #7d838a !important; }
    button.button-wrapper.icon-button.disabled:hover {
      background-color: transparent !important;
      background-image: none;
      color: #7d838a !important; }

.loader-container {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #393939 49.9%, #393939 60%, rgba(0, 0, 0, 0) 60%), linear-gradient(-45deg, #393939 10%, rgba(0, 0, 0, 0) 10%);
  background-size: .8rem .8rem;
  background-color: rgba(69, 69, 69, 0.8); }
  .loader-container .loader-element {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0);
    animation: r-to-left 2s linear infinite;
    transform-origin: 50%;
    background: linear-gradient(200deg, #2fc069 0%, rgba(255, 255, 255, 0) 100%); }
    .loader-container .loader-element::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      margin-left: -.45rem;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      width: calc(6rem / 2);
      height: 6rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2fc069 100%); }
    .loader-container .loader-element::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: calc((-6rem + 1rem) / 2);
      margin-top: calc((-6rem + 1rem) / 2);
      border-radius: 50%;
      width: calc(6rem - 1rem);
      height: calc(6rem - 1rem);
      background: rgba(69, 69, 69, 0.8); }

@keyframes r-to-left {
  0% {
    transform: translate(-50%, -50%) rotate(0); }
  50% {
    transform: translate(-50%, -50%) rotate(180deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes rotation {
  100% {
    transform: rotate(180deg); } }

.markdown ul {
  list-style: disc; }

.markdown ol {
  list-style: decimal; }

.markdown ul, .markdown ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 4rem; }

.dropdownselect-input-wrapper, .dropdownselect-element-wrapper,
.autocomplete-input-wrapper,
.autocomplete-element-wrapper,
.numeric-text-box-input-wrapper,
.numeric-text-box-element-wrapper,
.multiselect-input-wrapper,
.multiselect-element-wrapper, .datepicker-input-wrapper, .datepicker-element-wrapper, .input-input-wrapper, .input-element-wrapper {
  background-color: rgba(35, 35, 35, 0.6);
  color: #fff;
  border-radius: .4px;
  border: none; }
  .dropdownselect-input-wrapper:hover, .dropdownselect-input-wrapper.focused, .dropdownselect-element-wrapper:hover, .dropdownselect-element-wrapper.focused,
  .autocomplete-input-wrapper:hover,
  .autocomplete-input-wrapper.focused,
  .autocomplete-element-wrapper:hover,
  .autocomplete-element-wrapper.focused,
  .numeric-text-box-input-wrapper:hover,
  .numeric-text-box-input-wrapper.focused,
  .numeric-text-box-element-wrapper:hover,
  .numeric-text-box-element-wrapper.focused,
  .multiselect-input-wrapper:hover,
  .multiselect-input-wrapper.focused,
  .multiselect-element-wrapper:hover,
  .multiselect-element-wrapper.focused, .datepicker-input-wrapper:hover, .datepicker-input-wrapper.focused, .datepicker-element-wrapper:hover, .datepicker-element-wrapper.focused, .input-input-wrapper:hover, .input-input-wrapper.focused, .input-element-wrapper:hover, .input-element-wrapper.focused {
    border: none;
    background-color: rgba(23, 23, 23, 0.6); }
  .dropdownselect-input-wrapper.disabled, .dropdownselect-element-wrapper.disabled,
  .autocomplete-input-wrapper.disabled,
  .autocomplete-element-wrapper.disabled,
  .numeric-text-box-input-wrapper.disabled,
  .numeric-text-box-element-wrapper.disabled,
  .multiselect-input-wrapper.disabled,
  .multiselect-element-wrapper.disabled, .datepicker-input-wrapper.disabled, .datepicker-element-wrapper.disabled, .input-input-wrapper.disabled, .input-element-wrapper.disabled {
    background-color: #4a4a4a !important; }
  .dropdownselect-input-wrapper.danger:not(.focused):not(.disabled), .dropdownselect-element-wrapper.danger:not(.focused):not(.disabled),
  .autocomplete-input-wrapper.danger:not(.focused):not(.disabled),
  .autocomplete-element-wrapper.danger:not(.focused):not(.disabled),
  .numeric-text-box-input-wrapper.danger:not(.focused):not(.disabled),
  .numeric-text-box-element-wrapper.danger:not(.focused):not(.disabled),
  .multiselect-input-wrapper.danger:not(.focused):not(.disabled),
  .multiselect-element-wrapper.danger:not(.focused):not(.disabled), .datepicker-input-wrapper.danger:not(.focused):not(.disabled), .datepicker-element-wrapper.danger:not(.focused):not(.disabled), .input-input-wrapper.danger:not(.focused):not(.disabled), .input-element-wrapper.danger:not(.focused):not(.disabled) {
    border-bottom: 1px solid #ff6970; }
  .dropdownselect-input-wrapper input, .dropdownselect-element-wrapper input,
  .autocomplete-input-wrapper input,
  .autocomplete-element-wrapper input,
  .numeric-text-box-input-wrapper input,
  .numeric-text-box-element-wrapper input,
  .multiselect-input-wrapper input,
  .multiselect-element-wrapper input, .datepicker-input-wrapper input, .datepicker-element-wrapper input, .input-input-wrapper input, .input-element-wrapper input {
    color: #fff;
    caret-color: #fff; }
    .dropdownselect-input-wrapper input::placeholder, .dropdownselect-element-wrapper input::placeholder,
    .autocomplete-input-wrapper input::placeholder,
    .autocomplete-element-wrapper input::placeholder,
    .numeric-text-box-input-wrapper input::placeholder,
    .numeric-text-box-element-wrapper input::placeholder,
    .multiselect-input-wrapper input::placeholder,
    .multiselect-element-wrapper input::placeholder, .datepicker-input-wrapper input::placeholder, .datepicker-element-wrapper input::placeholder, .input-input-wrapper input::placeholder, .input-element-wrapper input::placeholder {
      color: #d0d7dd; }

.dropdownselect-select-icon,
.autocomplete-select-icon,
.numeric-text-box-select-icon,
.multiselect-select-icon, .datepicker-select-icon, .input-select-icon {
  font-family: 'novicon' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.3;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }
  .dropdownselect-select-icon::before,
  .autocomplete-select-icon::before,
  .numeric-text-box-select-icon::before,
  .multiselect-select-icon::before, .datepicker-select-icon::before, .input-select-icon::before {
    background: none;
    content: "\e908"; }

.dropdownselect-arrow-up,
.autocomplete-arrow-up,
.numeric-text-box-arrow-up,
.multiselect-arrow-up, .datepicker-arrow-up, .input-arrow-up {
  font-family: 'novicon' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.3;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }
  .dropdownselect-arrow-up::before,
  .autocomplete-arrow-up::before,
  .numeric-text-box-arrow-up::before,
  .multiselect-arrow-up::before, .datepicker-arrow-up::before, .input-arrow-up::before {
    transform: none;
    background: none;
    content: "\e90a";
    height: 12px; }

.dropdownselect-arrow-buttons,
.autocomplete-arrow-buttons,
.numeric-text-box-arrow-buttons,
.multiselect-arrow-buttons, .datepicker-arrow-buttons, .input-arrow-buttons {
  height: 32px; }

.dropdownselect-arrow-down,
.autocomplete-arrow-down,
.numeric-text-box-arrow-down,
.multiselect-arrow-down, .datepicker-arrow-down, .input-arrow-down {
  font-family: 'novicon' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.3;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }
  .dropdownselect-arrow-down::before,
  .autocomplete-arrow-down::before,
  .numeric-text-box-arrow-down::before,
  .multiselect-arrow-down::before, .datepicker-arrow-down::before, .input-arrow-down::before {
    background: none;
    content: "\e908";
    height: 12px; }

.tags-item {
  background-color: #2fc069;
  border-color: #2fc069; }
  .tags-item:hover, .tags-item.focused {
    border-color: transparent;
    background-color: #65d08f; }
    .tags-item:hover .tags-icon, .tags-item.focused .tags-icon {
      color: #fff; }

.tags-icon.icon-default {
  color: #fff; }

input::placeholder {
  color: #d0d7dd; }

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

.checkbox-input:checked + .checkbox-label::before,
.checkbox-input:checked + .checkbox-label::after,
.checkbox-input:checked + .checkbox-label:hover::before,
.checkbox-input:checked + .checkbox-label:not(.semi):hover::after {
  background-color: #2fc069;
  border-color: #2fc069; }

.checkbox-label:hover::before {
  border-color: #2fc069; }

.checkbox-input:disabled + .checkbox-label::before {
  background-color: #b2b8bf;
  border-color: #fbfbfd; }

.checkbox-input:disabled + .checkbox-label::after {
  color: #7d838a;
  background-color: transparent; }

.checkbox-input:disabled[checked] + .checkbox-label::before {
  background-color: #b4e9c6; }

.suggestion-wrapper {
  background-color: #3d3d3d;
  box-shadow: 0 0.5rem 1.1rem 0.5rem #393939; }

.suggestion-item {
  border-radius: 4px;
  color: #fff; }
  .suggestion-item:hover {
    color: #fff;
    background-color: rgba(74, 74, 74, 0.6); }
  .suggestion-item.selected, .suggestion-item.highlighted {
    background-color: rgba(74, 74, 74, 0.6);
    color: #fff; }
    .suggestion-item.selected:hover, .suggestion-item.highlighted:hover {
      background-color: rgba(74, 74, 74, 0.6); }

.textarea-input {
  background-color: rgba(35, 35, 35, 0.6);
  color: #fff;
  padding: 6px;
  border-radius: 0;
  border: none;
  caret-color: #fff;
  resize: vertical;
  min-height: 100px; }
  .textarea-input:hover, .textarea-input.focused {
    border: none;
    background-color: rgba(23, 23, 23, 0.6); }
  .textarea-input.danger {
    border-bottom: 1px solid #ff6970; }

.tool-panel {
  position: relative;
  padding: .4rem;
  box-shadow: 0 1px 2px rgba(23, 23, 23, 0.6);
  margin: 0 0 -4.1rem 0;
  background: rgba(48, 48, 48, 0.6); }
  .tool-panel ul button {
    border-radius: 2px; }
  .tool-panel:hover {
    opacity: 1; }
  .tool-panel + .textarea-wrapper {
    padding-top: 4.2rem; }
    .tool-panel + .textarea-wrapper .textarea-input {
      padding: .6rem .6rem .6rem 1rem; }

.collapse-container {
  background: transparent; }
  .collapse-container:first-child {
    border-top: 2px solid #565b62; }
  .collapse-container .collapse-heading-wrapper {
    border-radius: 0;
    border: 0;
    position: relative; }
    .collapse-container .collapse-heading-wrapper .icon-button {
      position: relative;
      right: -7rem; }
  .collapse-container .collapse-heading-icon {
    right: -1.2rem;
    font-family: 'novicon' !important;
    speak: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    vertical-align: top;
    -webkit-font-smoothing: antialiased; }
    .collapse-container .collapse-heading-icon::before {
      background: none;
      content: "\e908";
      width: 20px;
      height: 20px; }

.user-box .personal-box .menu-h .level-1 > a {
  color: #fff;
  justify-content: center; }
  .user-box .personal-box .menu-h .level-1 > a:not(.button) {
    padding: 1rem;
    margin: .4rem .25rem;
    min-width: 12rem;
    color: #d0d7dd; }
  .user-box .personal-box .menu-h .level-1 > a:hover {
    color: #fff; }
  .user-box .personal-box .menu-h .level-1 > a.active {
    color: #fbe04e;
    background-color: transparent; }

.modal-body .loader-wrapper {
  border-radius: 2.4rem;
  overflow: hidden; }

.loading-strip {
  position: relative;
  background-color: transparent;
  height: 1.2rem;
  width: 100%;
  display: inline-block;
  overflow: hidden; }
  .loading-strip::after {
    display: block;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(85, 85, 85, 0.5), transparent);
    animation: loading 1.5s infinite; }
  .loading-strip.area {
    height: 12rem; }
  .loading-strip.heading {
    height: 2.4rem; }

@keyframes loading {
  100% {
    transform: translateX(100%); } }

[class^="novicon-"], [class*=" novicon-"] {
  font-size: 1.6rem;
  line-height: 1.3; }

.numeric-text-box-arrow-buttons {
  margin-right: 4px; }

.justify-content-end {
  justify-content: flex-end; }

.bottompanel-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #454545;
  background-color: #393939;
  padding: 1.9rem 2rem;
  transition: .3s;
  left: 0; }
  .bottompanel-wrapper .wrapper {
    padding: 0; }

.flame-hell {
  border-bottom: 2px solid #393939;
  padding: 0 2rem; }

.sorted:after, .sorted-asc:after, .sorted-desc:after {
  top: 50%;
  right: 0;
  margin-top: -1.7rem;
  font-size: 2rem;
  background: #414141;
  padding: 0 2px; }

.sorted:hover:after, .sorted-asc:hover:after, .sorted-desc:hover:after {
  background: #4a4a4a; }

.notifications-item {
  box-shadow: 0 0.5rem 1.1rem 0.5rem #393939;
  color: #fff;
  background-color: #393939; }
  .notifications-item .notifications-content {
    border-left: 0; }
  .notifications-item .notifications-icon {
    font-size: 28px !important; }
  .notifications-item .notifications-icon-close {
    margin: 10px 10px 0 0;
    align-self: flex-start; }

.content-scroll {
  max-height: calc(100vh - 31rem);
  overflow-y: auto; }

.scroll-ti-management {
  max-height: 33rem;
  overflow-y: auto; }

.index-direct-wrapper .index-direct {
  padding: 1rem;
  border-bottom: 2px solid #565b62; }
  .index-direct-wrapper .index-direct:first-child {
    border-top: 2px solid #565b62; }

.list-staffers li {
  page-break-inside: avoid;
  break-inside: avoid; }

.sub-box {
  position: relative; }

.index-track {
  height: .2rem;
  margin-bottom: 2rem;
  background-color: #565b62; }
  .index-track:nth-last-child(2) {
    background-color: transparent;
    background-image: linear-gradient(90deg, #565b62, #565b62 75%, transparent 75%, transparent 100%);
    background-size: 2rem 100%; }

pre {
  background-color: #393939; }

/*Markdown-editor*/
.rc-md-container .rc-md-editor {
  height: 40rem;
  border-color: #393939 !important;
  background-color: #393939; }
  .rc-md-container .rc-md-editor .editor-container {
    box-shadow: 0 1px 2px rgba(23, 23, 23, 0.6); }
    .rc-md-container .rc-md-editor .editor-container .sec-md .input {
      background-color: rgba(35, 35, 35, 0.6) !important;
      color: #d0d7dd !important; }
      .rc-md-container .rc-md-editor .editor-container .sec-md .input:focus {
        background-color: rgba(23, 23, 23, 0.6) !important; }
  .rc-md-container .rc-md-editor .drop-wrap {
    border-radius: .8rem;
    border-color: #414141;
    background-color: #414141;
    box-shadow: 0 0.3rem 0.8rem 0.1rem #393939; }
  .rc-md-container .rc-md-editor .header-list {
    background-color: #414141;
    color: #fbe04e; }
    .rc-md-container .rc-md-editor .header-list .list-item:hover, .rc-md-container .rc-md-editor .header-list .list-item:focus {
      background-color: rgba(74, 74, 74, 0.6); }
  .rc-md-container .rc-md-editor .table-list.wrap .list-item {
    background-color: #bababa; }
    .rc-md-container .rc-md-editor .table-list.wrap .list-item.active {
      background-color: #fff; }

.rc-md-container .button,
.rc-md-container .rc-md-editor .tool-bar .button,
.rc-md-container .rc-md-navigation .button-wrap .button {
  padding: 0;
  border: none;
  background-color: transparent !important;
  color: #bababa; }
  .rc-md-container .button:hover, .rc-md-container .button:focus,
  .rc-md-container .rc-md-editor .tool-bar .button:hover,
  .rc-md-container .rc-md-editor .tool-bar .button:focus,
  .rc-md-container .rc-md-navigation .button-wrap .button:hover,
  .rc-md-container .rc-md-navigation .button-wrap .button:focus {
    color: #fff; }
  .rc-md-container .button:active,
  .rc-md-container .rc-md-editor .tool-bar .button:active,
  .rc-md-container .rc-md-navigation .button-wrap .button:active {
    color: #454545; }
  .rc-md-container .button.disabled,
  .rc-md-container .rc-md-editor .tool-bar .button.disabled,
  .rc-md-container .rc-md-navigation .button-wrap .button.disabled {
    color: #74797c !important; }
    .rc-md-container .button.disabled > *,
    .rc-md-container .rc-md-editor .tool-bar .button.disabled > *,
    .rc-md-container .rc-md-navigation .button-wrap .button.disabled > * {
      color: inherit !important; }

.rc-md-container .rc-md-navigation {
  background-color: rgba(48, 48, 48, 0.6) !important;
  border-color: rgba(48, 48, 48, 0.6) !important;
  box-shadow: 0 1px 2px rgba(23, 23, 23, 0.6); }
  .rc-md-container .rc-md-navigation ul {
    padding: 0 !important; }

/*Markdown-output*/
.rc-md-output {
  margin-bottom: 2.4rem;
  background-color: transparent; }
  .rc-md-output table {
    background-color: #414141; }
    .rc-md-output table thead {
      border-color: #393939 !important;
      border-bottom-width: .7rem;
      border-style: solid; }
    .rc-md-output table tbody {
      border-color: #393939; }
    .rc-md-output table tr:not(:last-child), .rc-md-output table tr:not(:first-child), .rc-md-output table th:not(:last-child), .rc-md-output table th:not(:first-child), .rc-md-output table td:not(:last-child), .rc-md-output table td:not(:first-child) {
      border-color: inherit; }
    .rc-md-output table th {
      border-color: inherit;
      border-bottom-width: .1rem; }
  .rc-md-output code, .rc-md-output pre {
    white-space: pre;
    background-color: #414141; }
  .rc-md-output pre {
    padding: 1rem;
    overflow-x: auto; }
  .rc-md-output table, .rc-md-output pre, .rc-md-output ol, .rc-md-output ul, .rc-md-output h1, .rc-md-output h2, .rc-md-output h3, .rc-md-output h4, .rc-md-output h5, .rc-md-output h6 {
    margin-bottom: 1.2rem; }
    .rc-md-output table:last-child, .rc-md-output pre:last-child, .rc-md-output ol:last-child, .rc-md-output ul:last-child, .rc-md-output h1:last-child, .rc-md-output h2:last-child, .rc-md-output h3:last-child, .rc-md-output h4:last-child, .rc-md-output h5:last-child, .rc-md-output h6:last-child {
      margin-bottom: 0; }
  .rc-md-output h1, .rc-md-output h2, .rc-md-output h3, .rc-md-output h4, .rc-md-output h5, .rc-md-output h6 {
    margin-top: 1.2rem; }
    .rc-md-output h1:first-child, .rc-md-output h2:first-child, .rc-md-output h3:first-child, .rc-md-output h4:first-child, .rc-md-output h5:first-child, .rc-md-output h6:first-child {
      margin-top: 0; }
  .rc-md-output strong {
    font-weight: 700; }
  .rc-md-output ol, .rc-md-output ul {
    padding-left: 2rem; }
    .rc-md-output ol li, .rc-md-output ul li {
      margin-bottom: .4rem; }
  .rc-md-output ul {
    list-style: circle; }
  .rc-md-output ol {
    list-style: decimal; }

.control-element-wrapper {
  height: 3.8rem; }

/*# sourceMappingURL=tiger.css.map */