body {
  font-family: SBSans, Arial, PT_sans, sans-serif; }

.rub {
  font-family: "Roboto", "Arial", "PT_sans", sans-serif; }
  .rub::after {
    content: '\20BD'; }

.k-window-content {
  overflow: inherit !important; }

.border-radius-none {
  border-radius: 0; }

.trip .header {
  margin-bottom: .5rem; }

.personal-box {
  float: none; }
  .personal-box .personal-title {
    padding-right: 2.4rem;
    border-right: 1px solid #e4e8eb; }
    .personal-box .personal-title li {
      vertical-align: middle; }
      .personal-box .personal-title li h3, .personal-box .personal-title li div {
        line-height: 2rem;
        padding: 0 !important; }
        .personal-box .personal-title li h3:hover, .personal-box .personal-title li div:hover {
          background-color: transparent !important; }
  .personal-box .personal-nav, .personal-box .personal-controls {
    margin-left: 2.4rem; }
    .personal-box .personal-nav li, .personal-box .personal-controls li {
      padding-left: 1.6rem;
      padding-right: 1.6rem; }
  .personal-box .personal-controls li {
    border-left: 1px solid #e4e8eb; }
    .personal-box .personal-controls li:first-child, .personal-box .personal-controls li:last-child {
      border-left: none; }
    .personal-box .personal-controls li:last-child {
      padding-left: 0rem;
      padding-right: 0rem; }

.padding-x-4_8rem, .padding-x-4-8-rem {
  padding-left: 4.8rem;
  padding-right: 4.8rem; }

.icon-3rem, .icon-3-rem {
  width: 3.5rem;
  height: auto; }

.txt-small.center {
  padding-top: .3rem; }

.trip .tabs-filter {
  margin-left: 0; }

.snackbar-container {
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100%; }
  .snackbar-container .snackbar {
    margin: 0 auto; }

.v-stepper #title-1 .box {
  background-color: transparent; }

.v-stepper .content-item {
  padding-right: 2rem !important; }

.trip .k-grid th, .trip .k-grid td {
  padding: 1.2rem 1rem; }

.settings .menu-v li a {
  white-space: normal; }
  .settings .menu-v li a.disabled {
    background-color: transparent !important; }

.settings .settings-counter {
  padding-top: .6rem; }

.dropdown {
  position: relative; }
  .dropdown.manual > ul {
    display: block; }
  .dropdown .dropdown-container {
    position: absolute;
    z-index: 100;
    top: calc(100% + .5rem);
    padding: 1rem;
    background: white;
    box-shadow: 0 0 1.6rem rgba(31, 31, 34, 0.1);
    border-radius: 0.6rem;
    box-sizing: border-box; }
    .dropdown .dropdown-container > div, .dropdown .dropdown-container > ul {
      max-height: 40rem;
      overflow-y: scroll; }
    .dropdown .dropdown-container li {
      padding: .8rem 1rem; }
    .dropdown .dropdown-container .pointer:hover {
      background-color: #f2f4f7;
      border-radius: .6rem; }
    .dropdown .dropdown-container.w-35 {
      width: 35rem; }
      .dropdown .dropdown-container.w-35.left {
        left: 1rem; }

.w-10rem, .w-10-rem {
  width: 10rem; }

.no-rules-placeholder {
  width: 45rem;
  height: 42rem;
  margin: 2rem auto;
  background: url("https://cdn.esphere.ru/images/trip/images/baloons.svg") no-repeat;
  background-size: cover; }
  .no-rules-placeholder div {
    padding-top: 11rem;
    text-align: center; }

.match-step-padding {
  padding-top: .5rem;
  padding-bottom: .2rem; }

.avia-icon-small {
  transform: rotate(305deg);
  font-size: 1rem;
  margin-top: .4rem; }

/*# sourceMappingURL=trip.css.map */