@keyframes resize-table {
  from {
    width: 100%; }
  to {
    width: 70%;
    display: inline-block; } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.border-radius-none {
  border-radius: 0 !important; }

.rotate {
  animation: rotation 3s linear infinite; }

.bg-gray, .documents-list-wrapper, .filters, .content-wrapper-gray {
  background-color: #fbfbfd; }

.bg-white, .documents-list-wrapper .documents-list-body .tabs-content {
  background-color: #fff; }

.i-button:hover::before, .i-button.active::before {
  color: #1f1f22; }

.table table {
  border-bottom-width: 0;
  padding-bottom: 0; }

header .header-products-list li a, aside .aside-companies-actions li a, aside .aside-companies-menu li a {
  border-left: 4px solid transparent;
  border-radius: 0 .6rem .6rem 0 !important; }

header .header-products-list li.active a, aside .aside-companies-actions li.active a, aside .aside-companies-menu li.active a {
  border-left-color: #005e7f;
  background-color: #f2f4f7 !important; }

.to-dots-100 {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 0 !important; }

.max-w-50 {
  max-width: 50%; }

aside .aside-companies-menu, .scrolled-table {
  -ms-overflow-style: none;
  scrollbar-width: none; }
  aside .aside-companies-menu::-webkit-scrollbar, .scrolled-table::-webkit-scrollbar {
    width: 0;
    background: transparent; }

.bottompanel-wrapper, .filters .filters-custom-height .bottompanel-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #d0d7dd;
  background-color: #fff;
  padding: 1rem;
  transition: .3s; }

.document-create-body [class*='w-'] .flex-row {
  padding-left: .8rem !important; }

.count {
  min-width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1rem;
  padding: 0 .5rem; }

.inner-large {
  padding: 2rem; }

.margin-top-minus {
  margin-top: -1rem; }

.margin-left-minus {
  margin-left: -1rem; }

.margin-x-minus {
  margin-left: -1rem;
  margin-right: -1rem; }

.required:not(.disabled).textarea-input, .required:not(.disabled).autocomplete-input-wrapper, .required:not(.disabled).dropdownselect-input-wrapper, .required:not(.disabled).input-element, .required:not(.disabled).masked-input-element, .required:not(.disabled).multiselect-input, .required:not(.disabled).input-element-wrapper,
.required:not(.disabled) .numeric-text-box-input-wrapper, .required:not(.disabled) .datepicker-input-wrapper {
  background-color: #ffffe0; }

.autocomplete-wrapper ul {
  padding: 0 !important; }

.autocomplete-wrapper li {
  list-style: none; }

.size-normal {
  font-size: 1.4rem;
  line-height: 2rem; }

.preview-content {
  background: #fff;
  height: 50rem;
  overflow: auto; }

.dropdown ul li {
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
  float: left;
  width: 100%; }
  .dropdown ul li a {
    float: left;
    width: 100%; }

.ie .bottompanel-wrapper, .ie .filters .filters-custom-height .bottompanel-wrapper, .filters .filters-custom-height .ie .bottompanel-wrapper {
  position: relative !important; }

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  header .header-products-list {
    left: -1.6rem !important;
    top: calc(100% + 1.5rem) !important;
    min-width: 25rem !important;
    display: block !important; }
  header .novicon-success-fill.txt-success,
  header .novicon-error-circle-fill.txt-danger {
    margin-top: .2rem;
    margin-right: .5rem; }
    header .novicon-success-fill.txt-success::before,
    header .novicon-error-circle-fill.txt-danger::before {
      border: 0.3rem solid rgba(16, 127, 140, 0.2);
      border-radius: 50%;
      font-size: 1.5rem; }
    header .novicon-success-fill.txt-success + .novicon-signed,
    header .novicon-error-circle-fill.txt-danger + .novicon-signed {
      margin-top: -.6rem; }
      header .novicon-success-fill.txt-success + .novicon-signed::before,
      header .novicon-error-circle-fill.txt-danger + .novicon-signed::before {
        font-size: 3rem; }
  header .novicon-error-circle-fill.txt-danger::before {
    border: 0.3rem solid rgba(193, 16, 48, 0.2); }
  header .personal-info, header .personal-info p {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }
  header .header-custom-title {
    width: 32rem; }
  header .header-custom-dropdown {
    width: 31.5rem;
    display: block;
    top: calc(100% + 1.5rem); }
  header .dropdown-notifications ul, header .dropdown-notifications-loading ul {
    display: block;
    right: 0;
    left: inherit !important;
    top: calc(100% + 1.5rem);
    width: 28rem; }
    header .dropdown-notifications ul li, header .dropdown-notifications-loading ul li {
      white-space: normal !important;
      padding: 1rem; }
      header .dropdown-notifications ul li .list, header .dropdown-notifications-loading ul li .list {
        max-height: 40rem;
        overflow-y: auto; }
      header .dropdown-notifications ul li a, header .dropdown-notifications-loading ul li a {
        color: #005e7f; }
  header .dropdown-notifications-loading ul {
    right: -6rem;
    width: 36rem; }
    header .dropdown-notifications-loading ul .progressbar-wrapper {
      height: .6rem;
      border-radius: .3rem; }
      header .dropdown-notifications-loading ul .progressbar-wrapper .progressbar-fill {
        color: transparent;
        border-radius: .3rem; }
  header .more.count-to-upper .count {
    top: 0;
    right: 1rem; }

aside {
  padding-top: 7rem !important;
  padding-bottom: 0 !important;
  overflow: hidden !important; }
  aside .aside-companies-actions li, aside .aside-companies-menu li {
    padding: .8rem .6rem .8rem 0; }
    aside .aside-companies-actions li .novicon-close, aside .aside-companies-menu li .novicon-close {
      opacity: 0;
      transition: .3s; }
    aside .aside-companies-actions li:hover .novicon-close, aside .aside-companies-menu li:hover .novicon-close {
      opacity: 1; }
    aside .aside-companies-actions li.active a .txt-micro, aside .aside-companies-actions li.active a .count, aside .aside-companies-actions li:hover a .txt-micro, aside .aside-companies-actions li:hover a .count, aside .aside-companies-menu li.active a .txt-micro, aside .aside-companies-menu li.active a .count, aside .aside-companies-menu li:hover a .txt-micro, aside .aside-companies-menu li:hover a .count {
      font-weight: normal; }
    aside .aside-companies-actions li a, aside .aside-companies-menu li a {
      padding: 1rem;
      display: block;
      overflow: hidden; }
      aside .aside-companies-actions li a ul li, aside .aside-companies-menu li a ul li {
        list-style: none; }
        aside .aside-companies-actions li a ul li .tooltip-wrapper, aside .aside-companies-menu li a ul li .tooltip-wrapper {
          display: block;
          max-width: 70%;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis; }
  aside .aside-companies-menu {
    height: 70vh;
    overflow-y: auto; }

.documents-list-wrapper {
  height: 100vh;
  padding: 7rem 0 0 25rem; }
  .documents-list-wrapper .documents-list-header {
    padding: 2.5rem 1.5rem 0 4.8rem; }
    .documents-list-wrapper .documents-list-header .search-panel {
      width: 40rem;
      margin: 1rem 0 -1rem 0; }
  .documents-list-wrapper .documents-list-body {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 13.5rem); }
    .documents-list-wrapper .documents-list-body .tabs-bar {
      width: 100%;
      padding: 0 1.5rem 0 4.8rem; }
    .documents-list-wrapper .documents-list-body .tabs-content .table-tab {
      position: relative;
      padding-bottom: 9rem; }
      .documents-list-wrapper .documents-list-body .tabs-content .table-tab .bottompanel-wrapper {
        padding: 1rem 3rem;
        position: sticky; }
        .documents-list-wrapper .documents-list-body .tabs-content .table-tab .bottompanel-wrapper .dropdown {
          position: relative; }
          .documents-list-wrapper .documents-list-body .tabs-content .table-tab .bottompanel-wrapper .dropdown ul {
            top: inherit;
            bottom: calc(100% - 2rem); }
      .documents-list-wrapper .documents-list-body .tabs-content .table-tab .first {
        padding-left: 3rem; }
      .documents-list-wrapper .documents-list-body .tabs-content .table-tab .tag::before {
        left: -3.5rem; }

.count-to-upper {
  display: block;
  overflow: unset;
  position: relative; }
  .count-to-upper .count {
    position: absolute;
    top: -1rem;
    right: -1rem; }

.tab-filters-stub {
  padding-top: 10rem;
  text-align: center; }
  .tab-filters-stub .common-loader {
    margin: 0 auto; }

.bottompanel-wrapper.hidden {
  bottom: -15rem !important; }

.scrolled-table {
  height: calc(100vh - 21.5rem);
  overflow-y: auto;
  padding-bottom: 7rem; }

.documents-list-wrapper .table-header, .documents-list-wrapper tbody {
  background-color: #fff; }
  .documents-list-wrapper .table-header th, .documents-list-wrapper tbody th {
    font-size: 1.2rem; }
  .documents-list-wrapper .table-header th:nth-child(1), .documents-list-wrapper .table-header td:nth-child(1), .documents-list-wrapper tbody th:nth-child(1), .documents-list-wrapper tbody td:nth-child(1) {
    padding-left: 4.8rem;
    text-overflow: unset; }
    .documents-list-wrapper .table-header th:nth-child(1) label, .documents-list-wrapper .table-header td:nth-child(1) label, .documents-list-wrapper tbody th:nth-child(1) label, .documents-list-wrapper tbody td:nth-child(1) label {
      padding-top: 0;
      margin-top: -.4rem; }
  .documents-list-wrapper .table-header th:nth-child(7), .documents-list-wrapper .table-header td:nth-child(7), .documents-list-wrapper tbody th:nth-child(7), .documents-list-wrapper tbody td:nth-child(7) {
    padding-right: 4.8rem; }
  .documents-list-wrapper .table-header tr td .novicon-doc-list, .documents-list-wrapper tbody tr td .novicon-doc-list {
    font-size: 3.5rem; }
  .documents-list-wrapper .table-header tr td a, .documents-list-wrapper tbody tr td a {
    color: #1f1f22; }
    .documents-list-wrapper .table-header tr td a .document-cutted-name, .documents-list-wrapper tbody tr td a .document-cutted-name {
      vertical-align: middle;
      max-width: 100%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis; }
  .documents-list-wrapper .table-header tr td .tag, .documents-list-wrapper tbody tr td .tag {
    position: absolute; }
  .documents-list-wrapper .table-header tr td .dropdown, .documents-list-wrapper tbody tr td .dropdown {
    position: relative; }
    .documents-list-wrapper .table-header tr td .dropdown ul, .documents-list-wrapper tbody tr td .dropdown ul {
      width: 25rem;
      right: 0;
      left: inherit; }
    .documents-list-wrapper .table-header tr td .dropdown .dropdown-separator, .documents-list-wrapper tbody tr td .dropdown .dropdown-separator {
      height: 1px;
      background-color: #d0d7dd;
      padding: 0; }

.filters {
  display: block;
  flex-shrink: 0;
  width: 31rem;
  height: calc(100vh - 17rem);
  margin-top: 4.1rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: .3s; }
  .filters.hidden {
    margin-right: -31rem; }
  .filters .filters-custom-height {
    position: relative;
    height: calc(100vh - 18.5rem); }
    .filters .filters-custom-height > ul {
      padding-bottom: 10rem; }
      .filters .filters-custom-height > ul li {
        padding: .5rem 0; }
    .filters .filters-custom-height .bottompanel-wrapper {
      width: 31rem;
      height: 10rem; }
  .filters .suggestion-list {
    padding: 0 !important; }
    .filters .suggestion-list li {
      margin: 0; }
      .filters .suggestion-list li.suggestion-item {
        padding: .3rem 1rem .5rem 1rem;
        list-style: none !important; }

.content-wrapper {
  padding-top: 7rem;
  min-height: 100vh; }
  .content-wrapper-gray {
    padding-bottom: 2rem; }

.document-view-header {
  padding: 3.5rem 0; }

.document-view-body .box {
  padding: 2rem 3rem; }

.document-view-body .collapse-title {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-right: 5rem; }

.document-view-body .sender {
  margin-bottom: -2rem; }

.collapsible-icon {
  font-size: 3rem; }

.novicon-signed {
  position: relative; }
  .novicon-signed.unsigned::after {
    content: "";
    position: absolute;
    left: -.25rem;
    top: 1rem;
    width: 2.5rem;
    height: .1rem;
    background-color: #b2b8bf; }

.collapse-heading-wrapper {
  border: 0 !important; }

.radio-wrapper {
  display: block !important; }

.window-content-x {
  padding-left: 3.2rem !important;
  padding-right: 3.2rem !important; }

.document-create-body, .document-view-body {
  padding-bottom: 9rem; }
  .document-create-body .collapsible-icon, .document-view-body .collapsible-icon {
    font-size: 3rem; }

.dropdown-actions {
  position: relative;
  padding: 0 !important; }
  .dropdown-actions button {
    width: 23rem;
    position: relative;
    z-index: 41; }
    .dropdown-actions button .novicon-expand {
      transition: .3s; }
  .dropdown-actions ul {
    top: 0;
    z-index: 40;
    padding-top: 3.2rem;
    border-radius: 2.4rem 2.4rem 0 0;
    display: none;
    margin-bottom: 0; }
  .dropdown-actions.top ul {
    top: inherit;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 3.2rem;
    border-radius: 0 0 2.4rem 2.4rem; }
  .dropdown-actions.active button {
    border-color: #1f1f22; }
  .dropdown-actions.active ul {
    display: block; }
  .dropdown-actions.active .novicon-expand {
    transform: rotate(180deg); }

.list-tree .card {
  padding: .5rem 2rem;
  background-color: #f2f4f7;
  border-radius: .4rem;
  margin-bottom: 1rem; }
  .list-tree .card [class*="novicon"] {
    padding: 1rem;
    margin-left: -2rem; }

.list-tree li ul {
  padding-left: 4rem; }
  .list-tree li ul li::before {
    border-color: transparent; }
  .list-tree li ul li::after {
    left: -1rem;
    border-color: #d0d7dd; }
  .list-tree li ul li .card {
    position: relative; }
    .list-tree li ul li .card::before {
      position: absolute;
      top: -1rem;
      left: -2.5rem;
      content: "";
      width: 2rem;
      height: calc(50% + 1rem);
      border-width: 0 0 .1rem .1rem;
      border-style: solid;
      border-color: #d0d7dd; }
    .list-tree li ul li .card::after {
      position: absolute;
      top: calc(50% - .5rem);
      left: -.5rem;
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: #d0d7dd;
      border-radius: 50%; }

.loading {
  position: relative;
  background-color: #e4e8eb;
  overflow: hidden;
  color: transparent; }
  .loading::after {
    display: block;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: loading 1.5s infinite; }
  .loading .small-margin-bottom {
    margin-bottom: .2rem; }

@keyframes loading {
  100% {
    transform: translateX(100%); } }

.tag.checked::before, .tag.checked-double::before {
  font-family: novicon;
  content: "\e96c";
  color: #005e7f;
  background: transparent;
  width: auto;
  height: auto;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  left: -3.8rem !important;
  top: 0; }

.tag.checked-double::after {
  font-family: novicon;
  content: "\e96c";
  color: #005e7f;
  font-size: 2rem;
  position: absolute;
  left: -4.4rem;
  top: 0; }

.modal-wrapper.landscape-doc .modal-window {
  width: 90% !important;
  max-width: 140rem; }

.modal-controls {
  position: fixed;
  z-index: 40;
  right: 2rem;
  top: 5rem; }
  .modal-controls .fz-3-rem {
    font-size: 3rem; }

.success.modal-header, .success.modal-body {
  background-color: #005e7f;
  border-width: 0;
  color: #fff; }
  .success.modal-header + .modal-footer, .success.modal-body + .modal-footer {
    border-width: 0; }

.document-constructor {
  text-align: center; }
  .document-constructor img {
    width: 7rem;
    height: 7rem; }

.full-version-img {
  display: flex;
  justify-content: center;
  padding-top: 4rem; }
  .full-version-img img {
    width: 14rem;
    height: 14rem; }

.documents-list-wrapper .settings-page-content {
  padding: 2rem 4.8rem;
  display: block !important;
  height: auto; }
  .documents-list-wrapper .settings-page-content .number-input {
    width: 4rem;
    display: inline-block !important;
    margin: 0 .5rem; }

.counter-component {
  display: flex !important;
  align-items: stretch;
  border: 1px solid #d0d7dd;
  border-radius: .5rem; }
  .counter-component .button-wrapper {
    min-width: 4rem;
    padding: 0 .5rem;
    border: 0;
    border-radius: 0;
    background-color: transparent; }
  .counter-component .numeric-text-box-input-wrapper {
    height: 100%;
    width: 4rem;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0; }
    .counter-component .numeric-text-box-input-wrapper input {
      padding: 0 .4rem;
      text-align: center; }
    .counter-component .numeric-text-box-input-wrapper:hover, .counter-component .numeric-text-box-input-wrapper.focused {
      border-color: #d0d7dd; }

.not-found-centered {
  padding-top: calc(50vh - 20rem); }

.filters-horisontal {
  display: none;
  height: 32rem;
  transition: .3s; }
  .filters-horisontal.hidden {
    height: 0; }

@media screen and (max-width: 1279px) {
  .filters-horisontal {
    display: block; }
  .filters {
    display: none; } }

.react-pdf-page {
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #fbfbfd; }
  .react-pdf-page canvas {
    margin: 1rem auto 2rem;
    box-shadow: 0.1rem 0.5rem 1.5rem rgba(121, 121, 121, 0.4); }

.error-height-restriction {
  max-height: 30rem;
  overflow-y: auto; }

/*# sourceMappingURL=ucourier.css.map */