body {
  background-color: #f2f4f7; }

.gray-box {
  border-radius: .8rem;
  background-color: #e4e8eb; }

.panel-color {
  background-color: #f2f4f7; }

.dark-panel-color {
  background-color: #e4e8eb; }

.bg-white {
  background-color: #fff; }

.margin-top-60 {
  margin-top: 6rem; }

.txt-light-gray {
  color: #b2b8bf; }

.txt-4-rem {
  font-size: 4rem; }

.size-normal {
  font-size: 1.4rem;
  line-height: 2rem; }

.txt-overflow-clip {
  text-overflow: clip !important; }

.page-panel-container {
  width: 93.4rem; }

.cursor-move {
  cursor: move; }

.cursor-grab {
  cursor: grabbing !important; }

.collapse-panel-wrapper {
  border: 1px solid #d0d7dd;
  border-radius: 1.6rem; }
  .collapse-panel-wrapper .collapse-heading-wrapper {
    border: none;
    align-items: center;
    padding: 2rem 3.2rem; }
    .collapse-panel-wrapper .collapse-heading-wrapper:hover {
      border-color: #d0d7dd; }
    .collapse-panel-wrapper .collapse-heading-wrapper .collapse-heading-icon {
      width: inherit;
      height: inherit; }
      .collapse-panel-wrapper .collapse-heading-wrapper .collapse-heading-icon::before {
        content: "\e998";
        font-family: "prodicon";
        font-size: 16px;
        background: none;
        width: inherit;
        height: inherit;
        position: unset;
        top: 0;
        left: 0;
        transform: unset; }
    .collapse-panel-wrapper .collapse-heading-wrapper + div[aria-expanded="true"] {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #d0d7dd;
      transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, border-top-width 0s 50ms !important; }

.loading-text {
  height: 1rem;
  position: relative;
  border-radius: .6rem;
  background-color: #f2f4f7;
  overflow: hidden; }
  .loading-text::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: loading 1.5s infinite; }
  .loading-text.white {
    background-color: white; }
    .loading-text.white::after {
      background: linear-gradient(90deg, transparent, rgba(242, 244, 247, 0.5), transparent); }

.loader-wrapper.fullscreen .loader-text {
  width: 40rem;
  height: 4.8rem;
  text-align: center;
  position: absolute;
  left: calc(50% - 20rem);
  top: calc(50% + 4.8rem); }

.list > dd,
.list > dt {
  padding-bottom: .6rem;
  padding-top: .6rem; }
  .list > dd > label,
  .list > dt > label {
    margin-top: .6rem; }

.list dt .subtitle {
  line-height: 1.4rem; }

.rotating {
  animation: rotating 1.5s infinite linear; }

.transition {
  transition: transform .3s; }

.suggestion-wrapper {
  padding: 0;
  overflow: hidden; }

.suggestion-list {
  max-height: 22rem;
  margin: .4rem; }
  .suggestion-list::-webkit-scrollbar {
    width: 0; }

.dropdowns-ref-wrapper {
  position: fixed;
  width: 100rem;
  height: 100vh;
  top: 0;
  left: calc(50% - .4rem);
  transform: translateX(-50%); }

.wider-list .suggestion-wrapper {
  width: 30rem; }

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -.4rem;
  width: 1.6rem; }

.border-none .dropzone-content {
  border: none;
  padding: 0; }

.button-dropzone .dropzone-file-upload {
  padding: 0;
  border: none; }
  .button-dropzone .dropzone-file-upload .dropzone-icon {
    display: none; }
  .button-dropzone .dropzone-file-upload .dropzone-hint {
    display: none; }

.table table thead::after {
  content: none; }

.table table tfoot tr {
  background-color: #e4e8eb; }
  .table table tfoot tr td {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem; }
    .table table tfoot tr td:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .table table tfoot tr td:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }

@keyframes rotating {
  100% {
    transform: rotate(360deg); } }

@keyframes loading {
  100% {
    transform: translateX(100%); } }

.input-wrapper.no-border .input-element-wrapper {
  border: 0; }

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  header .personal-box .search-input-wrapper {
    width: 72rem; }
    header .personal-box .search-input-wrapper .input-element-wrapper {
      width: 100%;
      border-color: transparent;
      cursor: pointer; }
      header .personal-box .search-input-wrapper .input-element-wrapper .elements-inside-input {
        position: absolute;
        top: 1px;
        left: 0; }
        header .personal-box .search-input-wrapper .input-element-wrapper .elements-inside-input .fake-placeholder {
          display: block;
          left: 4rem; }
      header .personal-box .search-input-wrapper .input-element-wrapper .input-element {
        margin-left: 3.9rem;
        padding-left: 0;
        cursor: pointer;
        z-index: 2; }
      header .personal-box .search-input-wrapper .input-element-wrapper:hover {
        border-color: transparent;
        background-color: #f2f4f7;
        transition: background-color .3s; }
      header .personal-box .search-input-wrapper .input-element-wrapper.focused {
        border-color: #d0d7dd; }
        header .personal-box .search-input-wrapper .input-element-wrapper.focused .input-element {
          cursor: text; }
        header .personal-box .search-input-wrapper .input-element-wrapper.focused:hover {
          background-color: transparent; }
  header .personal-box .user-name.more {
    max-width: 22.8rem;
    padding: 0 1.6rem; }
  header .personal-box .more.count-to-upper {
    position: relative;
    margin-top: 0; }
    header .personal-box .more.count-to-upper .count {
      margin: 0;
      padding: 0;
      min-width: 0;
      width: .7rem;
      height: .7rem;
      top: .7rem;
      right: .7rem;
      border-radius: 50%; }

.hamburger {
  margin-top: 0;
  margin-bottom: 0; }
  .hamburger .bar {
    background-color: #107f8c;
    transition: .3s; }
  .hamburger.open .bar-1 {
    top: .8rem;
    transform: rotate(45deg); }
  .hamburger.open .bar-2 {
    top: .8rem;
    transform: rotate(-45deg); }
  .hamburger.open .bar-4 {
    opacity: 0; }

.search-backdrop {
  position: fixed;
  z-index: 400;
  background-color: rgba(31, 31, 34, 0.56);
  backdrop-filter: blur(0.4rem);
  top: 6rem;
  right: 0;
  left: 0;
  bottom: 0; }
  .search-backdrop ~ * {
    position: fixed; }

.sidebar {
  padding-top: 6rem !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;
  z-index: 1;
  margin-left: -22.4rem;
  transition: .3s ease margin-left; }
  .sidebar.visible {
    margin-left: 0;
    transition: .3s ease margin-left; }

.document-body {
  padding-left: 0;
  padding-top: 6rem;
  padding-bottom: 9.6rem;
  width: 100%;
  max-width: 168.8rem;
  min-height: 100vh;
  background-color: #fff; }
  .document-body .tabs-bar {
    padding: 0 .8rem; }
    .document-body .tabs-bar .tabs-item.active {
      font-weight: 500; }
  .document-body .tabs-content .table table .table-checkbox {
    display: block;
    margin-bottom: 2.2rem;
    margin-left: 1rem; }
  .document-body .tabs-content .table table .checked-doc-background {
    background-color: #e4e8eb; }
    .document-body .tabs-content .table table .checked-doc-background:hover {
      background-color: #e4e8eb; }

.banner-wrapper {
  position: relative; }

.banner-close-button {
  position: absolute;
  top: 0;
  right: 0; }

.main-table .table-row-button {
  width: 17.3rem; }

.bottompanel-wrapper {
  width: 100%;
  max-width: 168.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: .3s;
  padding-left: 0; }
  .bottompanel-wrapper.hidden {
    bottom: -15rem !important; }
  .bottompanel-wrapper .list-h > li {
    padding-top: 0;
    padding-bottom: 0; }

.with-bottom-panel {
  padding-bottom: 17.2rem; }

.light-box-heading .level-1.disabled {
  pointer-events: none; }

.light-box-body .window-content {
  padding: 2.4rem 3.2rem; }

.light-box-body .facsimile-replaceable {
  position: relative;
  border-radius: .6rem;
  border: 1px dashed #b2b8bf; }

.light-box-body .document-title {
  margin: 8rem 0 5.6rem 0; }

.light-box-body .document-file {
  background-color: #f2f4f7;
  border-radius: .6rem; }

.light-box-body .textarea-input {
  height: 7rem; }

.light-box-body .auto-resize-textarea .textarea-input {
  height: 3.2rem;
  padding-top: .7rem;
  overflow: hidden; }

.light-box-body .table.invoice-grid table,
.page-panel-container .table.invoice-grid table {
  padding-bottom: 0; }

.light-box-body .table.invoice-grid tbody tr:last-child,
.page-panel-container .table.invoice-grid tbody tr:last-child {
  background-color: #f2f4f7; }
  .light-box-body .table.invoice-grid tbody tr:last-child td,
  .page-panel-container .table.invoice-grid tbody tr:last-child td {
    border-radius: 0; }
    .light-box-body .table.invoice-grid tbody tr:last-child td:last-child,
    .page-panel-container .table.invoice-grid tbody tr:last-child td:last-child {
      border-radius: 0 0 .5rem 0 !important; }
  .light-box-body .table.invoice-grid tbody tr:last-child:hover,
  .page-panel-container .table.invoice-grid tbody tr:last-child:hover {
    background-color: #f2f4f7; }

.light-box-body .table.invoice-grid td,
.page-panel-container .table.invoice-grid td {
  padding: .8rem .4rem; }

.light-box-body .table.invoice-grid th,
.page-panel-container .table.invoice-grid th {
  padding: 1.2rem .4rem; }

.light-box-body .table.invoice-grid tr, .light-box-body .table.invoice-grid td, .light-box-body .table.invoice-grid th,
.page-panel-container .table.invoice-grid tr,
.page-panel-container .table.invoice-grid td,
.page-panel-container .table.invoice-grid th {
  border-radius: 0 !important; }

.light-box-body .table.invoice-grid thead:after,
.page-panel-container .table.invoice-grid thead:after {
  display: none; }

.light-box-body .table.ucd-table,
.page-panel-container .table.ucd-table {
  overflow-x: auto; }
  .light-box-body .table.ucd-table thead::after,
  .page-panel-container .table.ucd-table thead::after {
    height: 1.2rem; }
  .light-box-body .table.ucd-table thead th,
  .page-panel-container .table.ucd-table thead th {
    padding-top: .8rem;
    padding-bottom: .8rem; }
  .light-box-body .table.ucd-table tbody tr td.border-bottom, .light-box-body .table.ucd-table tbody tr td.border-y,
  .page-panel-container .table.ucd-table tbody tr td.border-bottom,
  .page-panel-container .table.ucd-table tbody tr td.border-y {
    border-color: #f2f4f7; }
  .light-box-body .table.ucd-table tbody tr td.gray-cell,
  .page-panel-container .table.ucd-table tbody tr td.gray-cell {
    background-color: #e4e8eb; }
  .light-box-body .table.ucd-table tbody tr td:last-child,
  .page-panel-container .table.ucd-table tbody tr td:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .light-box-body .table.ucd-table tbody tr:hover,
  .page-panel-container .table.ucd-table tbody tr:hover {
    background-color: transparent; }

.light-box-body .table.border,
.page-panel-container .table.border {
  border-width: 1px; }

.light-box-body .table.middle td,
.page-panel-container .table.middle td {
  vertical-align: middle; }

.light-box-body .document-title,
.page-panel-container .document-title {
  margin: 8rem 0 5.6rem 0; }

.other-doc-box {
  display: block;
  border: 1px solid #d0d7dd;
  border-radius: .8rem;
  background-color: #fff;
  padding: 1.6rem;
  height: 8rem;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.09);
  cursor: pointer; }
  .other-doc-box.with-subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11.6rem; }

.facsimile-block {
  position: relative; }
  .facsimile-block-image {
    height: 16.8rem;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .facsimile-block-image.logo {
      height: 7.4rem; }
  .facsimile-block-filedrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    padding-left: 1.2rem;
    padding-right: 1.2rem; }
    .facsimile-block-filedrop .filedrop-wrapper {
      position: relative; }
      .facsimile-block-filedrop .filedrop-wrapper .blank.more {
        position: absolute;
        top: 1px;
        right: 1px; }
  .facsimile-block:hover .facsimile-block-filedrop {
    display: block; }

.right-sidebar {
  overflow-y: scroll;
  width: 42.4rem;
  height: calc(100vh - 6rem);
  position: fixed;
  top: 6rem;
  right: 0;
  z-index: 9;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(48, 53, 97, 0.15), 0 0.2rem 3rem 0 rgba(31, 31, 34, 0.06);
  transform: translateX(110%);
  transition: .3s; }
  .right-sidebar.visible {
    margin-right: 0;
    transform: translateX(0);
    transition: .3s; }

.loading-card {
  margin: 0 auto 1.6rem;
  border: none;
  border-radius: .8rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(31, 31, 34, 0.09); }

.loading-card .progressbar-wrapper, .light-box-footer .progressbar-wrapper {
  background: #d0d7dd;
  height: .2rem;
  border-radius: .6rem; }
  .loading-card .progressbar-wrapper.danger .progressbar-fill, .light-box-footer .progressbar-wrapper.danger .progressbar-fill {
    background: #a80e2a; }
  .loading-card .progressbar-wrapper .progressbar-fill, .light-box-footer .progressbar-wrapper .progressbar-fill {
    border-radius: .6rem; }

.light-box-footer .progressbar-wrapper {
  position: absolute;
  margin-top: -2.4rem;
  left: 0;
  width: 100%; }

.counter-component {
  display: flex !important;
  align-items: stretch; }
  .counter-component .button-wrapper {
    min-width: 4rem;
    padding: 0 .5rem;
    border: 0;
    border-radius: 0; }
  .counter-component .numeric-text-box-input-wrapper {
    height: 100%;
    width: 4rem; }
    .counter-component .numeric-text-box-input-wrapper input {
      padding: 0 .4rem;
      text-align: center; }

.notification-row:not(:last-child) {
  border-bottom: 1px solid #e4e8eb; }

.set-up-notifications-modal .modal-body {
  height: 30rem; }

.success.modal-header, .success.modal-body {
  background-color: #005e7f;
  border-width: 0;
  color: #fff; }
  .success.modal-header + .modal-footer, .success.modal-body + .modal-footer {
    border-width: 0; }

.document-constructor {
  text-align: center; }
  .document-constructor img {
    width: 7rem;
    height: 7rem; }

.preview-content {
  background: #fff;
  overflow-x: scroll;
  max-width: 93.6rem;
  height: calc(100vh - 12.9rem);
  overflow-y: scroll;
  border: 1px dashed #d0d7dd; }
  .preview-content.card-print-form {
    height: calc(100vh - 19.9rem); }
  .preview-content .react-pdf-page {
    margin: auto;
    justify-content: center; }
    .preview-content .react-pdf-page canvas {
      margin: 1rem auto 2rem; }

.linked-doc-table {
  background-color: #f2f4f7;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem; }
  .linked-doc-table div[aria-expanded="true"] {
    border-top: none; }
  .linked-doc-table .quick-view {
    background-color: #f2f4f7; }
    .linked-doc-table .quick-view + tr td {
      border: none; }
  .linked-doc-table.table td:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .linked-doc-table.table td:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.number-of-docs-block {
  width: 5rem; }

.document-paid-wrapper {
  height: 100vh;
  background-color: #f2f4f7; }
  .document-paid-wrapper .logo-width {
    width: 35rem; }
  .document-paid-wrapper .message-box {
    width: 56rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.4rem; }

#corpChatv0 .chat {
  z-index: 900;
  bottom: 8.4rem;
  right: 2rem;
  transition: bottom .3s; }

#corpChatv0 button.chat-icon {
  z-index: 900;
  bottom: 2rem;
  right: 2rem;
  transition: bottom .3s; }

#corpChatv0.with-toolbar .chat {
  bottom: 16rem;
  transition: bottom .3s; }

#corpChatv0.with-toolbar button.chat-icon {
  bottom: 9.6rem;
  transition: bottom .3s; }

@media (min-width: 1130px) {
  header .personal-box .user-name.more {
    max-width: 32.8rem; } }

@media (min-width: 1281px) {
  .sidebar {
    margin-left: 0; }
    .sidebar + .document-body {
      padding-left: 22.4rem; }
  .bottompanel-wrapper {
    padding-left: 22.4rem; }
  .xs-none {
    display: none !important; } }

/*# sourceMappingURL=ucourier2.css.map */